[2018-03-28 12:36] #1030 closed

[2018-03-28 13:05] ryandawsonuk opened #1846 "a cloud 'task listener' example"
It's 'task listener' and not task listener because I'm thinking there would be no need to use the extension in the BPMN.

Listeners are quite common in Activiti examples and in implementations. Especially using a task listener to set the assignee of a user task. It probably won't be obvious how to do this in a cloud-native way i.e. without the listener logic being on the same classpath as the engi

[2018-03-29 11:26] ryandawsonuk opened #1847 "error handling"
Many of our controllers handle errors like:

    @ExceptionHandler(ActivitiObjectNotFoundException.class)
    @ResponseStatus(HttpStatus.NOT_FOUND)
    public String handleAppException(ActivitiObjectNotFoundException ex) {
        return ex.getMessage();
    }

The disadvantage of this is that it returns a content type of hal or json but it's neither. It's just plain text. We should really return

[2018-03-29 13:09] mteodori opened #1848 "Update to Spring Cloud Finchley M9"
see: https://spring.io/blog/2018/03/23/spring-cloud-finchley-m9-has-been-released

[2018-03-29 14:12] lucianoprea commented on #1803
List of the PRs

- https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/48
- https://github.com/Activiti/activiti-cloud-query-service/pull/35
- https://github.com/Activiti/activiti-cloud-acceptance-tests/pull/9

[2018-03-29 14:43] ryandawsonuk opened #1850 "use autoconfiguration in spring boot starters"
We would be better not to use annotations like @EnableActivitiQueryService and similar for RB and Audit. Instead we should use Autoconfiguration.

Using @EnableActivitiQueryService (https://github.com/Activiti/activiti-cloud-query/blob/develop/src/main/java/org/actviti/cloud/query/QueryApplication.java#L30 ) ends up breaking the autoconfiguration

Because it imports configuration classes

https://

[2018-03-29 14:59] mteodori opened #1851 "Update Jackson for vulnerability CVE-2018-7489"
Remove workaround #1838 and update to version 2.9.5 released

- [x] develop
- [x] 5.x
- [x] 6.x

[2018-03-29 15:31] Salaboy commented on #1850
Ok this sounds really good.
We just want to make sure that there is a way to enable this.. that was the main reason for the annotations.

[2018-03-29 15:32] Salaboy commented on #1850
Be careful, why other starters in spring are using the @enable.. approach then?

[2018-03-29 15:35] lucianoprea opened #1854 "Engine is returning reversed order of events for creating a new standalone task"
If a new standalone task is created with an assignee using the `TaskService` the engine triggers the **TASK_ASSIGNED** event before **TASK_CREATED**.
Investigate the impact of changing this inside the engine.
@balsarori provided some context:

[2018-03-29 15:44] ryandawsonuk commented on #1850
Interesting question. To make an application a Spring Cloud Config Server you add [@EnableConfigServer](https://github.com/spring-cloud/spring-cloud-config/blob/465bc949534d1ad48bfa20ae5ba947803796a5e9/spring-cloud-config-server/src/main/java/org/springframework/cloud/config/server/EnableConfigServer.java). But to make an application a client of the config server you don't add any annotation, just

[2018-03-29 16:32] Salaboy commented on #1850
Exactly.. we are using the @Enable annotations because we are like the @EnableConfigServer. Exactly the same.. we are not a client of the server..
We should have the AutoConfigurations in the back for sure.
So we all understand what the approach is? I think that what causes confusion is that Autoconfigurations are just broken because our @Enable annotations are not correctly implement just yet.

[2018-03-30 07:27] ryandawsonuk commented on #1854
While this is an issue we should careful with it as it's by design. Activiti in action notes it was done to allow task listeners to change the assignee without getting into an infinite loop.

[2018-03-30 07:31] ryandawsonuk commented on #1850
For query in particular (which is where this convo with Igor started) it makes sense if the @enablequery turns on event consumption and REST and the GraphQL stuff is autoconfig that you can turn off by property. It seems when you want to turn off a whole piece by property then you don't use @Enable. (To get around it I had been putting conditionalonprperty in lots of places but that should be unne

[2018-04-03 09:39] #1851 closed

[2018-04-03 15:46] Salaboy commented on #1692
This was renamed to Activiti Cloud Application Service

[2018-04-03 15:51] Salaboy opened #1856 "Add service meta data and clean up Eureka Dependency from Starters"
As part of the work around the Application Service, each service should register metadata about the service type and also make sure that the Eureka Dependency is at the Docker Image level, not at the starter level.

[2018-04-04 14:12] mteodori opened #1857 "cannot build with dependency-check plugin for 404 on NVD CVE data"
update to 3.1.2 see https://github.com/jeremylong/DependencyCheck/issues/1171

[2018-04-04 14:14] #1857 closed

[2018-04-05 08:21] mteodori commented on #1741
@Salaboy @ryandawsonuk I don't have the rights to make the change in the comment above as I don't see the repo in Docker Cloud I can change, if any of you guys can easily do it then please proceed otherwise we can take this issue off the backlog

[2018-04-05 08:32] ryandawsonuk commented on #1741
We should make sure the whole team has rights on those configurations. Can you check https://hub.docker.com/r/activiti/activiti-cloud-modeling-backend/ again as I've just made changes?

[2018-04-05 08:40] mteodori commented on #1741
I cannot select the activiti org and another repository to build in: https://cloud.docker.com/app/activiti/repository/docker/activiti/activiti-cloud-modeling-backend/builds/edit

[2018-04-05 11:49] mteodori commented on #1741
assigning to @Salaboy as it requires github admin rights on activiti org

[2018-04-05 13:51] mteodori commented on #1741
PR:
- https://github.com/Activiti/activiti-scripts/pull/5
- https://github.com/Activiti/activiti-cloud-modeling/pull/7
- https://github.com/Activiti/activiti-cloud-examples/pull/81

[2018-04-05 14:17] mteodori opened #1858 "exclude commons-logging used by Spring Contracts"
banned via maven-enforcer-plugin

[2018-04-05 14:24] #1858 closed

[2018-04-06 16:13] ryandawsonuk commented on #1769
am working on ryan-1769-typesforvariables branch of activiti-cloud-runtime-bundle-service

[2018-04-06 17:25] mteodori opened #1860 "Update to Spring Boot 2.0.1"
obsoletes the fix for #1851 and the jackson one on activiti-cloud-build https://github.com/Activiti/activiti-cloud-build/commit/40404a6ea0a1db6cbbb99934163ed2c775160f37

[2018-04-06 19:01] mteodori commented on #1860
PR
- https://github.com/Activiti/activiti-build/pull/27
- https://github.com/Activiti/activiti-cloud-build/pull/38

[2018-04-09 05:25] yanwencheng opened #1861 "On the source of the war package program in activiti-6.0.0.zip"
I downloaded activiti resources in official website, including activiti-admin war package. I want to know if there is an open source project of war package in GitHub.

[2018-04-09 05:34] daisuke-yoshimoto commented on #1861
@yanwencheng
Probably, this url.
https://github.com/Activiti/Activiti/tree/activiti-6.0.0/modules/activiti-admin

[2018-04-09 05:49] yanwencheng commented on #1861
@daisuke-yoshimoto What development tools should I use to modify and build?

[2018-04-09 14:45] ryandawsonuk opened #1862 "make audit read permission error consistent with query and RB"
If I try to do a read on a record in RB or query and I don't have permission to read it I get a 404.  But not in audit.

There's a point in the audit code where it throws a RuntimeException - https://github.com/Activiti/activiti-cloud-audit-service/blob/develop/activiti-cloud-services-audit-jpa/src/main/java/org/activiti/cloud/services/audit/jpa/controllers/AuditEventsControllerImpl.java#L89

It s

[2018-04-09 14:53] ryandawsonuk opened #1863 "SecurityPoliciesApplicationService to be moved to common"
In RB it uses a SecurityPoliciesProcessDefinitionRestrictionApplier interface to implement restrictions:

https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-services-runtime-bundle/activiti-cloud-services-core/src/main/java/org/activiti/cloud/services/core/SecurityPoliciesApplicationService.java

The one in query implements this differently but seems like

[2018-04-10 08:35] SashaAV opened #1864 "MybatisHistoricActivityInstanceDataManager"
Hi!
A have found mistake in class MybatisHistoricActivityInstanceDataManager
You have two methods with same statement:

`public List<HistoricActivityInstanceEntity> findUnfinishedHistoricActivityInstancesByExecutionAndActivityId(final String executionId, final String activityId)`

and

[code]

 but in HistoricActivityInstance.xml they are different:

`selectUnfinishedHistoricActivityInstanceExecut

[2018-04-10 08:54] #1848 closed

[2018-04-10 10:22] zhanzhanqi opened #1865 "timeDuration not support PnW"
I test timerEventDefinition. timeDuration with “P2W”, but it does not work and show up with exceptions as below:
[code]

Then I google the timer standard ISO 8601, it says the duration support "YMWDHMS" with "W" designators that follows the value for the number of weeks. (https://en.wikipedia.org/wiki/ISO_8601)

Then I dig into the exception code `DurationImpl` init method using in `org.activiti.e

[2018-04-10 11:18] #1860 closed

[2018-04-10 11:19] mteodori opened #1866 "IllegalArgumentException with illegal-transitive-dependency-check"
See: https://github.com/ImmobilienScout24/illegal-transitive-dependency-check/issues/30

[2018-04-10 13:38] #1866 closed

[2018-04-10 14:11] ffazzini opened #1867 "Service is not unregistered"
After i undeploy services, the actuator/routes endpoint still returns those services
as 'running'(t is not a short delay issue), but they should be disappeared.
[code]

The service is undeployed(i found this problem running on kubernetes)
so when i try to call the service via gateway i get a 500 rather than 404
because it is still registered somehow.

On the gateway logs:
[code]

[2018-04-10 16:04] #1833 closed

[2018-04-11 14:00] constantin-ciobotaru commented on #1808
more PRs: https://github.com/Activiti/Activiti/pull/1868 and https://github.com/Activiti/activiti-cloud-acceptance-tests/pull/11

[2018-04-12 13:25] #1834 closed

[2018-04-12 14:29] bjstcm opened #1869 "how to use activiti 6 together with spring boot 2"
does activiti 6 compatible with Spring boot 2

[2018-04-13 07:56] Salaboy commented on #1854
Yeah, Can we close this? or is this still an issue? Can we handle these at the services layer?

[2018-04-13 08:26] Salaboy commented on #1803
merged in develop

[2018-04-13 08:26] #1803 closed

[2018-04-13 08:55] balsarori commented on #1854
Workarounds can be done by consumers of the events, however it's better to fix it in the engine. The order of events is not correct which will confuse users. I don't think it's hard to fix it in the engine. If it's not fixed in the engine now it will be harder to fix later when there are lots of consumers using them in that incorrect order.

[2018-04-13 09:07] Salaboy commented on #1854
@lucianoprea can you please point me to where we are doing that..

[2018-04-13 09:14] lucianoprea commented on #1854
@Salaboy for creating a new standalone task in RB I had to do this [workaround](https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/baeb4f003dd60266c9ed0b3b2944340b06e89fed/activiti-cloud-services-runtime-bundle/activiti-cloud-services-core/src/main/java/org/activiti/cloud/services/core/ProcessEngineWrapper.java#L216).
Also I've added a test that validates that the order of even

[2018-04-13 09:32] #1856 closed

[2018-04-13 09:57] ryandawsonuk opened #1870 "'Fully qualified' component names using application name, version and component name"
1) Component names

It should be possible to mark each service as part of an application and for the application name to be part of what identifies the service. So for example a runtime bundle 'rb1' might need to be identified as 'app1-v1-rb1' - this is the 'fully qualified' name (or possibly 'app1-v1-rb1-v1'). For query and audit the app name should be optional as we may want to use those compone

[2018-04-13 10:58] Salaboy commented on #1870
I would suggest the following properties based on my spike on the app service:
- spring.application.name -> which is the service name
- activiti.cloud.service.version -> which indicates the version of the service
- activiti.cloud.service.type (audit, query, connector, domain/custom)
- activiti.cloud.application.name
- activiti.cloud.application.version

[2018-04-13 10:59] Salaboy commented on #1870
With those properties as metadata in the service registry we can do a lot of stuff.
Now the question is if we want to include the version in the service name, and that might be a yes to support multiple versions of the same service to be up and running.

[2018-04-13 12:16] ryandawsonuk commented on #1870
So basically use 'service' instead of 'component' and just start with these

[2018-04-13 12:52] Salaboy commented on #1869
@bjstcm hi there, we are working on activiti 7 to be fully compatible with spring boot 2 and spring cloud. Activiti 6 spring boot starter works with spring boot 1.5. I will close this issue because you asked a question. usually it is recommened to ask questions in the forums.
Cheers

[2018-04-13 12:52] #1869 closed

[2018-04-13 12:53] Salaboy commented on #1865
@zhanzhanqi we will appreciate if you can provide a reproducer so we can quickly fix the issue. A simple maven project with a JUnit reproducing the issue will be great. A pull request with a failing test to the activiti repository will be even better.

[2018-04-13 12:53] Salaboy commented on #1865
If you also mention which version are you using that will be great

[2018-04-13 13:01] ryandawsonuk commented on #1870
Re 3 above, the event stream names are already externalised and would just need to be set from the deployment descriptors
https://github.com/Activiti/example-runtime-bundle/blob/develop/src/main/resources/application.properties#L5
https://github.com/Activiti/activiti-cloud-audit/blob/master/src/main/resources/application.properties#L4
https://github.com/Activiti/activiti-cloud-query/blob/master/sr

[2018-04-13 13:05] Salaboy commented on #1864
@balsarori can you check this issue? has this been fixed?

[2018-04-13 13:06] Salaboy commented on #1861
@yanwencheng just maven and the ant scripts.
This is not an issue so I will close it to avoid conflicts

[2018-04-13 13:06] #1861 closed

[2018-04-13 13:07] salaboy opened #1871 "[Core] Application Service working in Kubernetes with spring-cloud-k8s"
We need to make sure that the Application Service project in the incubator also works in kubernetes and not only with Eureka and Spring Cloud Config

[2018-04-13 13:09] mauriziovitale opened #1872 "Process Instances Model is not working with the Accept Image/svg"
When I call the api

http://{{domain}}/myapp-rb/v1/process-instances/4159a15f-3f1b-11e8-aa83-0a586460031e/model
Accept image/svg+xml

I'm getting a 406 error.

The API is working fine if I have in the header
Content-Type  image/svg+xm

[2018-04-13 13:11] mauriziovitale opened #1873 "Process Instance Model is not working with Accept application/json"
When I call the API
http://{{domain}}/myapp-rb/v1/process-instances/4159a15f-3f1b-11e8-aa83-0a586460031e/model
with
Accept: application/json

Current result:
I'm getting a 406

Expecting result:
The JSON as we have for the process-definitions API
http://{{domain}}/myapp-rb/v1/process-definitions/4159a15f-3f1b-11e8-aa83-0a586460031e/model

[2018-04-13 13:13] erdemedeiros commented on #1837
You should use the `Accept` header instead. See https://stackoverflow.com/questions/35722586/header-parameters-accept-and-content-type-in-a-rest-context.

[2018-04-13 13:13] #1837 closed

[2018-04-13 13:16] erdemedeiros commented on #1872
Fix: remove `consumes` from [@RequestMapping](https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-services-runtime-bundle/activiti-cloud-services-rest-api/src/main/java/org/activiti/cloud/services/rest/api/ProcessInstanceController.java#L34).
It's a `GET` so it's not consuming anything.

[2018-04-13 13:16] lucianoprea commented on #1872
changes in this [PR](https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/7/files) introduced the Content-Type and I thinks it should be reviewed again to fix this problem everywhere

[2018-04-14 11:36] daisuke-yoshimoto commented on #1865
@zhanzhanqi @Salaboy

PnW is not supported now.
DurationHelper use DatatypeFactory#newDuration(java.lang.String) for parsing timeDuration.
https://github.com/Activiti/Activiti/blob/develop/activiti-engine/src/main/java/org/activiti/engine/impl/calendar/DurationHelper.java#L213
DatatypeFactory#newDuration(java.lang.String) support only "PnYnMnDTnHnMnS". So, timeDuration doesn't support PnW.
https:/

[2018-04-14 11:37] balsarori commented on #1864
@SashaAV thanks for reporting the issue. Indeed it seems to be a typo. Unit tests run green in both cases. Was there a specific issue that lead you to find this?

[2018-04-14 16:29] SashaAV commented on #1864
I have found this during implement aerospike data modules.
So in my implementation I have found this duplicate statement

On Sat, Apr 14, 2018 at 2:37 PM, Bassam Al-Sarori <notifications@github.com>
wrote:

[2018-04-17 12:52] clickear opened #1875 "When I created the MySQL database (two database ), the property of databaseSchemaUpdate don't working."
Sorry for my poor English.
When i create two catalog, It only create one catalog scheme.
It need to add the property of databaseCatalog.But the document is not explained

[2018-04-17 13:55] Salaboy commented on #1875
@clickear hi there, can you please provide more information? Which version are you using?
How can we reproduce that problem?

[2018-04-18 03:50] clickear commented on #1875
i create two database, eg activitidemo1 , activitidemo2

[2018-04-18 09:39] Salaboy commented on #1875
@clickear ok, but it is not clear what do you want to achieve by having two databases. Can you explain why do you need to have those 2 databases?

[2018-04-18 09:39] Salaboy commented on #1875
@daisuke-yoshimoto you probably can help here, have you seen this scenario before?

[2018-04-18 10:30] daisuke-yoshimoto commented on #1875
@Salaboy
Perhaps it is a multi-tenant use case.
For dividing the database for each tenant, there are two methods below.

1. Creating an instance of the process engine for each tenant -> I'm using this method.

2. Use MultiTenantProcessEngineConfiguration
http://www.jorambarrez.be/blog/2015/10/06/multi-tenancy-separate-database-schemas-in-activiti/
https://github.com/Activiti/Activiti/issues/1537

[2018-04-18 16:07] ryandawsonuk commented on #1870
Query is proving more complex than anticipated. I've started changes there to handle the event metadata. What it is turning up is that 'applicationName' as it is used in query is ambiguous.

For the purposes of the notification routing, I think it needs to be the fully qualified service name. I am not sure if that imposes any restrictions on what format and separators we could use for FQNs.

For s

[2018-04-18 22:08] roneigebert opened #1876 "Improvement - Error "Condition expression returns null""
I suggest adding the sequenceFlowId in the exception message (UelExpressionCondition.java). Why? To easily find the sequence flow with error.

Or change the code:
[code]

[2018-04-19 13:56] balsarori commented on #1876
@roneigebert makes sense to add the sequenceFlowId to the thrown exception. Can you create a PR for that?

[2018-04-19 15:28] roneigebert commented on #1876
@balsarori  https://github.com/Activiti/Activiti/pull/1877

[2018-04-19 15:31] balsarori commented on #1876
@roneigebert thanks!

If you can also create PRs for 5.x and 6.x branches that will great.

[2018-04-19 17:05] roneigebert commented on #1876
@balsarori  https://github.com/Activiti/Activiti/pull/1878 (5.x), https://github.com/Activiti/Activiti/pull/1879 (6.x)

[2018-04-23 14:27] #1812 closed

[2018-04-23 14:37] ryandawsonuk commented on #1870
From query/v1/process-instances
![image](https://user-images.githubusercontent.com/22754674/39133067-35c746bc-470b-11e8-8b1a-e500d37dc11f.png)
From audit/v1/events
![image](https://user-images.githubusercontent.com/22754674/39133097-4b37df8e-470b-11e8-8817-7967541b3960.png)
I didn't specify version. The type is blank because that's set in a different pull request (the metadata ones also referenced

[2018-04-24 05:41] constantin-ciobotaru opened #1880 "Make Modeling REST API return responses conform to Alfresco guidelines"

[2018-04-24 10:01] ryandawsonuk commented on #1870
Doing a [remote debug](https://github.com/Activiti/activiti-cloud-query/pull/6#issuecomment-383859262) suggests that the transformer is the problem:
![image](https://user-images.githubusercontent.com/22754674/39180421-be23c69a-47ae-11e8-8bf3-f48f88763dbc.png)

[2018-04-24 11:46] ryandawsonuk commented on #1870
It does work when all of the service and app attributes are in the routing key. And using '.' in the version doesn't appear to cause any problems, even though that's a separator in the routing key code.

![image](https://user-images.githubusercontent.com/22754674/39184981-6c4d2500-47bd-11e8-8260-57eb811eed3b.png)

[2018-04-24 11:49] Salaboy commented on #1875
@clickear did you tried the method suggested by @daisuke-yoshimoto ?

[2018-04-24 12:34] ryandawsonuk commented on #1870
Actually there does seem to be a problem when specifying restrictions on the subscription. I should be able to get result for the below (or on variations with some of the items removed) but I'm not getting matches:
`subscription {
  ProcessEngineNotification(
	     serviceName: "rb-my-app",
       serviceFullName: "rb-my-app",
       serviceVersion: "0.2",
       appName: "app",
       appVersion:

[2018-04-24 13:38] ryandawsonuk commented on #1870
I've now gone back to taking the versions out of the routing key.

I am able to see that data in an unrestricted subscription:
![image](https://user-images.githubusercontent.com/22754674/39190630-e2753e02-47cc-11e8-9620-12f7713afd3a.png)
and am also able to get restricted subscriptions working:
![image](https://user-images.githubusercontent.com/22754674/39190731-1d505426-47cd-11e8-8611-af37ee41ca7

[2018-04-24 14:57] pressmore opened #1881 "can't understand TaskService to query Task"
recently , i use TaskService to query Tasks , i meet a trouble i cannot figure it out.

description: i use code as below  to search myTasks,  i cannot found any tasks but it absolutely exist in db.
`

    public static List<Task> getMyTasks(String userId) {

		TaskService taskService = processEngine.getTaskService();

		TaskQuery taskQuery = taskService.createTaskQuery();

		return taskQuery.taskA

[2018-04-24 15:01] pressmore commented on #1881
used activiti version: 6.0.0

[2018-04-24 15:34] pressmore commented on #1881
sorry. i just want obtain much attention. sorry.

 in db, it exist task records assgeed to specify user, but i cannot found any result with same user by previous method .

applogize for my behaviour and my poor english.

[2018-04-24 15:51] Salaboy commented on #1881
@pressmore, no worries, but there are better channels for asking those questions. Can you share the code on how did you created the task?
Cheers

[2018-04-24 15:51] #1881 closed

[2018-04-24 15:51] Salaboy commented on #1876
merged the one in develop

[2018-04-25 01:58] pressmore commented on #1881
#### @Salaboy  sir , i print the log when search myTasks , can you help me to explain it ?

`
2018-42-25 09:42:32, 297 [org.activiti.engine.impl.persistence.entity.TaskEntityImpl.selectTaskByQueryCriteria] [DEBUG] ==>  Preparing: select distinct RES.* from ACT_RU_TASK RES WHERE RES.ASSIGNEE_ = ? order by RES.DUE_DATE_ asc LIMIT ? OFFSET ?
2018-42-25 09:42:32, 297 [org.activiti.engine.impl.persiste

[2018-04-25 02:46] pressmore commented on #1881
@Salaboy  i confirm it caused by LIMIT and OFFSET , there  have any method to get rid of  LIMIT and OFFSET , such as :
`select distinct RES.* from ACT_RU_TASK RES WHERE RES.ASSIGNEE_ = 'liushengwei' order by RES.DUE_DATE_ asc  ;
`

[2018-04-25 06:56] Salaboy commented on #1677
@igotu did you manage to sort this problem out?

[2018-04-25 07:00] Salaboy commented on #1881
@pressmore you will need to create a reproducer, so we can reproduce the problem.
@balsarori have you seen something like this before? I remember seeing something that was fixed already regarding limits and pages, but this looks a little bit different.

[2018-04-25 08:20] wuweiit opened #1883 "request.getPathInfo() function question"
![image](https://user-images.githubusercontent.com/4202865/39233941-67950bf8-48a4-11e8-9bbb-54c9ac363654.png)

can look this page：
https://my.oschina.net/sub/blog/182408

[2018-04-25 08:37] balsarori commented on #1876
merged PRs on 5.x and 6.x
Thanks @roneigebert

@Salaboy can you look into the PR for develop?

[2018-04-25 08:41] balsarori commented on #1883
Can you explain the issue/question more? Unfortunately I couldn't understand the link you provided. Maybe @daisuke-yoshimoto can help :)

[2018-04-25 08:52] Salaboy commented on #1876
@balsarori merged already..
can we add in a separate issue and PR the execution ID as suggested by @daisuke-yoshimoto ?
I'm closing this one, because all PRs were merged.

[2018-04-25 08:52] #1876 closed

[2018-04-25 08:55] balsarori commented on #1876
@Salaboy what about this one https://github.com/Activiti/Activiti/pull/1882 ?

[2018-04-25 08:55] Salaboy commented on #1883
This looks to be a recommendation about how to get the PathInfo, but that in itself is not an issue, so we will close this unless it is properly reported as a bug or a feature request/enhancement.

[2018-04-25 08:55] #1883 closed

[2018-04-25 10:01] daisuke-yoshimoto commented on #1883
@balsarori

I'm sorry that I can not understand details as well as you becaseu this page is written in Chinese 😢

[2018-04-25 11:50] daisuke-yoshimoto commented on #1881
@pressmore
How about the following method?

`taskQuery.taskCandidateUser(userId).orderByTaskDueDate().asc().list();`

[2018-04-25 17:04] ryandawsonuk commented on #1870
The changes to security policies are now included so that they can match on long or short name. Outstanding is the concern that app version and service version are populated with empty string when omitted. Makes sense for these to be optional so would like to change RuntimeBundleProperties so that it stops putting that empty string in there.

[2018-04-25 23:56] wuweiit commented on #1883
my project integration  activiti-spring-boot-starter-rest-api jar package .

DeploymentResourceResource.java

`String pathInfo = request.getPathInfo();`

debug startup project,  `pathInfo` equals null in my project， this page  describe  request.getPathInfo() and request.getServletPath()  difference

sorry my english is poor. Maybe I understand it wrong.

[2018-04-25 23:58] wuweiit commented on #1883
if pathInfo equals null that invoke pathInfo.replace() throw NullPointerException.

[2018-04-25 23:59] wuweiit commented on #1883
suggest make verification  pathInfo not null

[2018-04-26 07:33] Salaboy commented on #1883
@wuweiit totally. Can you submit a PR with that verification? it is a great way to contribute with an open source project.

[2018-04-26 08:54] lucianoprea commented on #1814
It seems that for update task no events are triggered by engine so query and audit couldn't be updated. More investigation should be done, maybe I'm missing something.

[2018-04-26 12:59] soliders opened #1884 "activiti spring boot unit test appear problem,how to perform unit test activiti in spring boot?"
## **components:**

- spring boot 1.5.3

- activiti 5.22.0

## **question**

1. when i use the @Rule and @deployment to unit test the deployment of my process definition file, there is an problem appeared.  the exception code blow:
[code]
## **the test code i used is blow**
[code]

[2018-04-27 10:00] soliders opened #1885 "[bug report] i think it is may be a bug!"
# **demo components**

1. spring boot 1.5.3 release

2.  activiti 5.22.0

3. mysql 5.8

4. druid-spring-boot-starter 1.1.9

# **maybe bugs**

- when i used the runtimeService.startProcessInstanceByKey("xxx") to start a process instance, it appeared an exception.
**### console log**
[code]
### **the test java code i  m used**
[code]
i m confirm that the process defination is already deployed.
### *

[2018-04-27 11:28] erdemedeiros opened #1886 "Rename MQServiceTaskBehavior bean to a more generic name"
Change the name of MQServiceTaskBehavior bean to a more generic name i.e. `defaultServiceTaskBehavior`. This will allow the activiti-engine to provide another implementation that is not based on Message Queues.

[2018-04-27 13:05] ryandawsonuk opened #1887 "[Core] Update Acceptance tests for application service"
First need to be able to move project out of incubator by adding an autoconfiguration so we can use on registry and check that it is able to recognise metadata

[2018-04-27 13:33] #1886 closed

[2018-04-27 13:35] ryandawsonuk commented on #1887
Screenshot from running using the referenced PRs
![image](https://user-images.githubusercontent.com/22754674/39365118-2b608dee-4a28-11e8-8952-a8aae3f86365.png)

[2018-04-30 11:41] ryandawsonuk opened #1888 "support json following alfresco guidelines for variables endpoint in RB"
see https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/58/files#r180388507

Key problem is that the data is unpaginated. If we can paginate using https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-services-runtime-bundle/activiti-cloud-services-core/src/main/java/org/activiti/cloud/services/core/pageable/PageRetriever.java#L33 then we

[2018-04-30 13:10] #1870 closed

[2018-04-30 17:17] ryandawsonuk commented on #1887
Let's aim for 'apps/v1/apps', 'apps/config' and 'apps/registry/apps' (which means changing the registry's spring.application.name to 'apps' or at least getting it to use a different route with the gateway and getting the eureka path changed to 'registry')

[2018-04-30 18:59] Salaboy commented on #1863
merged in develop

[2018-04-30 18:59] #1863 closed

[2018-05-01 09:13] Salaboy commented on #1829
merged in develop.

[2018-05-01 09:13] #1829 closed

[2018-05-01 09:15] ryandawsonuk opened #1889 "don't run verify on master in travis"
Do something like:

https://stackoverflow.com/questions/37544306/travis-different-script-for-different-branch

Except we'll want a check for IS master and a check for IS NOT master. If master then just run mvn test. If not master then ok to run verify. The problem is the security vulnerabilities are being flagged in master but those are kinda expected there as we can't change master until the next

[2018-05-01 14:31] ryandawsonuk commented on #1887
Seems like we can't change the '/eureka' path (https://github.com/spring-cloud/spring-cloud-netflix/issues/2046). I tried changing dashboard path, serviceUrl.defaultZone and server.servlet.path but they don't change that 'eureka/apps'.

(Sidenote - we may want to enable eureka reporting of health checks in our examples https://dzone.com/articles/the-mystery-of-eureka-health-monitoring )

[2018-05-01 18:34] krkumar6969 opened #1890 "Deadlock during update of Activiti tables"
We encountered a deadlock during update of one of the Activiti tables in our application. Here is the snippet of the error:

Exception stack is:
1. ORA-00060: deadlock detected while waiting for resource
(java.sgl.SQLException)
oracle.jdbc.driver.DatabaseError:113 (null)
2.
### Error updating database. Cause: jaxa.sgl.SQLException: ORA-00060: deadlock detected while waiting for resource
### The er

[2018-05-02 14:39] Salaboy commented on #1724
@erdemedeiros @ryandawsonuk can you guys check this.. I guess that QueryDSL can be check by searching for classes even here in github.

[2018-05-02 14:40] Salaboy commented on #1748
I'm closing this now that we are looking into pipelines.

[2018-05-02 14:40] #1748 closed

[2018-05-02 14:41] Salaboy commented on #1741
@mteodori all PRs merged.. so I asume that this is done

[2018-05-02 14:41] #1741 closed

[2018-05-02 14:44] Salaboy commented on #1808
same here.. all the PRs are merged. I'm closing it, if this is still not working please reopen @constantin-ciobotaru @mauriziovitale

[2018-05-02 14:44] #1808 closed

[2018-05-02 14:47] Salaboy commented on #1689
we need to analyze the use of fluentd and istio for logging and monitoring, so closing this issue

[2018-05-02 14:47] #1689 closed

[2018-05-02 14:48] Salaboy commented on #1343
@erdemedeiros is this still a problem?

[2018-05-02 14:49] Salaboy commented on #1867
@ffazzini is this still a problem?

[2018-05-02 14:50] erdemedeiros commented on #1343
No work has been done to fix it. However, it might get fixed by boot upgrades.

[2018-05-02 14:53] #1867 closed

[2018-05-02 14:54] Salaboy commented on #1842
@erdemedeiros do we know how to fix this? it sounds like a marshalling/jackson specific problem.. not sure how to deal with this now.

[2018-05-02 15:35] ryandawsonuk commented on #1887
Will need a repo for the apps service and to add its deps to cloud-build then update registry to get version from cloud-build

[2018-05-02 15:46] erdemedeiros commented on #1842
@Salaboy I would change the [controller interface](https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-services-runtime-bundle/activiti-cloud-services-rest-api/src/main/java/org/activiti/cloud/services/rest/api/ProcessInstanceController.java#L26) to don't use commands, but payloads:

[code]
becomes:

[code]

Then in the [controller implementation](https://

[2018-05-02 16:38] Salaboy commented on #1842
@erdemedeiros what about StartProcessInstancePayload? because each action will have it's own payload type (It is not just a ProcessInstance entity). Remember that these are the same that we use in the messaging endpoints.. so we need to make sure that we unify those.

[2018-05-02 17:06] ryandawsonuk commented on #1867
It seems the problem is that our services aren't currently reporting themselves as down to eureka.

I'm currently seeing:

![image](https://user-images.githubusercontent.com/22754674/39538020-403ec05a-4e33-11e8-869a-566f9833e6e7.png)

But those services are all down. Their routes are still in the gateway but if I call query I get "java.net.UnknownHostException: activiti-cloud-query"

[2018-05-03 07:47] constantin-ciobotaru opened #1891 "Empty collections are not assembled like in spring data rest in case of HAL response"
Expected response:
` {
  "_embedded" : {
    "strings" : [ ]
  },
  "_links" : {
    "self" : {
      "href" : "http://localhost/mock/empty-list?page=0&size=100"
    }
  },
  "page" : {
    "size" : 100,
    "totalElements" : 0,
    "totalPages" : 0,
    "number" : 0
  }
}`

Actual response:
`{
  "_links" : {
    "self" : {
      "href" : "http://localhost/mock/empty-list?page=0&size=100"
    }

[2018-05-03 14:25] #1405 closed

[2018-05-03 14:38] Salaboy commented on #1703
@ffazzini @ryandawsonuk @erdemedeiros it will be good to see how the Alfresco Guidelines are suggesting to deal with this. Not sure how much can we change for Beta1

[2018-05-06 12:06] Salaboy commented on #1891
@constantin-ciobotaru @erdemedeiros so are we closing this issue and all the PRs? Or did I understood it wrong?

[2018-05-07 02:15] daisuke-yoshimoto commented on #1685
@balsarori @mteodori
Sorry for my late reply 😢
Is it okay if I create a pull request to modify pom.xml for 6.x and develop each branches?

[2018-05-07 05:00] constantin-ciobotaru commented on #1891
Due to the fact that the default behavior of PagedResourcesAssembler.toResource() is to not add any _embedded element in response for empty collections, even if spring-data-rest add { "_embedded" : { "strings" : [ ] }, and because an eventual fix is more complex than expected implying to modify all controllers that use AlfrescoPagedResourcesAssembler, we decided to not fix this issue.

[2018-05-07 05:00] #1891 closed

[2018-05-08 10:48] erdemedeiros commented on #1550
This seems to be no longer necessary after the pom refactoring done by @mteodori.

[2018-05-08 10:48] #1550 closed

[2018-05-08 11:16] mteodori commented on #1685
thanks @daisuke-yoshimoto ok for me, not sure if we can/should switch to a javax.el 3.0 implementation instead where development is active provided we don't break any existing functionality, WDYT? also @balsarori

[2018-05-08 11:45] balsarori commented on #1685
I don't think we should use javax.el 3.0 especially for 6.x branch. It might be something to consider for develop branch.

[2018-05-09 11:02] mteodori opened #1892 "IdentityService removal cleanup in javadoc and tests"
After the implementation of https://github.com/Activiti/Activiti/pull/1234 there are stil incorrect javadoc and tests referencing IdentityService in the code that should be cleaned up.

[2018-05-09 13:08] mauriziovitale opened #1893 "The API subtasks return a different response compared to the standard"
The api
http://{{domain}}/rb-my-app/v1/tasks/5f716c0b-5383-11e8-ab55-0a5864600352/subtasks
returns
[code]
I was expecting to have something like the getTasks API
[code]
Related to the issue
https://github.com/Activiti/Activiti/issues/1813

[2018-05-10 09:12] lucianoprea commented on #1893
right now to get subtasks the `TaskService >  getSubtasks(parentTaskId) method` is used.
@balsarori suggested to use

or add `parentTaskId` inside `TaskQuery` and create a new method that will return tasks filtered on _parentTaskId_ to support pagination and return the expected response.

[2018-05-10 13:09] mauriziovitale commented on #1893
Right now the task list API returns all the task and subtasks.
[code]
 I'd like to have a filter property to fetch only the parent tasks.
[code]

[2018-05-11 13:55] Salaboy commented on #1801
@igdianov this is great.. I think that the only piece missing is to add some kind of flag to be able to configure the behaviour of those rollbacks..
I'm not 100% sure that you want to rollback if you cannot send the audit message, for some scenarios that is a must, for some others might not be. I'm wondering what is the best approach, and where is the line of what can cause a rollback and what can

[2018-05-11 14:31] ryandawsonuk commented on #1887
Current status of this is that the cloud-example setup from the PR works but it has apps service on different external port and not through GW. This is because it can't be a eureka client since then it comes into conflict with SCK client.

[2018-05-11 23:33] smrobinson commented on #1606
I also ran into this limit while paginating. I tried 5.22 but that did not change the behavior (I'm not sure we can go up to 6.0 but will try that next if needed.)

[2018-05-12 10:12] Salaboy commented on #1606
@smrobinson we appreciate that.

[2018-05-13 12:46] daisuke-yoshimoto commented on #1606
@vgaur @Salaboy @balsarori

This issue is not fixed in 5.22.

But, I added the alternative solution in 5.22. Please check this url.
https://github.com/Activiti/Activiti/pull/891

[2018-05-14 14:47] mteodori opened #1894 "Update to Spring Boot 2.0.2"

[2018-05-14 15:37] mteodori opened #1895 "Update to Spring Cloud Finchley RC1"
see: https://github.com/spring-projects/spring-cloud/wiki/Spring-Cloud-Finchley-Release-Notes#finchleyrc1

[2018-05-14 16:18] mteodori commented on #1894
PR:
* https://github.com/Activiti/activiti-build/pull/29
* https://github.com/Activiti/activiti-cloud-build/pull/43

[2018-05-15 02:16] smrobinson commented on #1606
Thanks for the reference to #891.

I looked at the code modifications we would need to migrate to 6.x and it is too much for the sake of an experiment - so FYI I won't be trying 6.x.

[2018-05-15 03:23] #1875 closed, assigned to nobody

[2018-05-15 10:27] ryandawsonuk commented on #1714
Listing @igdianov 's PRs for this:

https://github.com/Activiti/activiti-cloud-query-service/pull/40
https://github.com/Activiti/activiti-cloud-query/pull/30
https://github.com/Alfresco/alfresco-api-gateway/pull/24

I've checked using docker-compose and am able to use subscriptions with graphiql:

![image](https://user-images.githubusercontent.com/22754674/40051479-cf2e99b2-5832-11e8-98c8-7b8bb3be

[2018-05-15 11:57] Salaboy commented on #1890
@krkumar6969 thanks for reporting this issue, can you please try 5.22? if that issue is not solved in that version we need to find a way to reproduce it.

[2018-05-15 12:00] Salaboy commented on #1885
@soliders but the key in the table is "leaveFromCompanyToHome-foreignForm", so if you use that key it should work.

[2018-05-15 12:05] Salaboy commented on #1885
@soliders please let us know so we can close the issue.

[2018-05-15 14:37] Salaboy commented on #1884
Ok this seems to be more like a question than a bug or an issue. Please ask these questions in the forums. Notice also that the stack trace also mention what the problem is:

org.springframework.beans.factory.BeanDefinitionStoreException: IOException parsing XML document from class path resource [activiti.cfg.xml]; nested exception is java.io.FileNotFoundException: class path resource [activiti.cf

[2018-05-15 14:37] #1884 closed

[2018-05-15 15:29] ffazzini opened #1896 "Improve keycloak common dependency"
I noticed with @ryandawsonuk that adding keycloak
https://github.com/Activiti/activiti-cloud-service-common/tree/develop/activiti-cloud-services-identity-keycloak
in a new service is not enough.

We came across a mix of additional steps based on adding specific componentScan configs and additional dependencies in the pom.

We would like to group all those necessary extra config and dependencies in

[2018-05-15 15:49] ryandawsonuk opened #1897 "subscriptions through demo UI"
I can do a graphql subscription and get websocket responses through the apollo client embedded in the query module:

![image](https://user-images.githubusercontent.com/22754674/40068218-03de707e-5860-11e8-8819-3fce0603f0c7.png)

When I submit the same subscription through the demo-ui client I get told that it's not a query:

![image](https://user-images.githubusercontent.com/22754674/40068293-2cb8

[2018-05-15 15:57] ryandawsonuk opened #1898 "demo ui has old endpoint for graphql"
When I submit a graphql query in the demo ui it tries to do a post to http://activiti-cloud-sso-idm:8080/query/graphql

But now it is on /admin/graphql by default. This is so that only admins can use it unless we override that. Can we make this path configurable and default it to /admin/graphql?

[2018-05-15 16:40] #1714 closed

[2018-05-16 09:46] mteodori commented on #1895
PR: Activiti/activiti-cloud-build#44

[2018-05-16 13:50] #1895 closed

[2018-05-16 13:51] mteodori commented on #1885
closed by mistake due to incorrect issue number in PR related to Activiti/activiti#1895

[2018-05-16 15:50] mteodori commented on #1880
PR:
* Activiti/activiti-cloud-build#45
* Activiti/activiti-cloud-org-service#12
* Activiti/activiti-cloud-modeling#8

[2018-05-17 08:33] #1896 closed

[2018-05-21 09:48] erdemedeiros opened #1900 "Use new Java API inside Runtime Bundle"
Make sure that Runtime Bundle is using the new Java API

[2018-05-23 16:02] erdemedeiros opened #1901 "Create subtask endpoint has the wrong path"
The curent path is `/{taskId}/subtask`. It should be `/{taskId}/subtasks` instead.

Make sure that @mauriziovitale is aware when you are going to fix it.

[2018-05-24 05:50] constantin-ciobotaru commented on #1880
The correct list of PRs is:
https://github.com/Activiti/activiti-cloud-build/pull/45
https://github.com/Activiti/activiti-cloud-modeling/pull/8
https://github.com/Activiti/activiti-cloud-org-service/pull/13
https://github.com/Activiti/activiti-cloud-process-model-service/pull/13

[2018-05-24 05:50] constantin-ciobotaru commented on #1880
All PSs merged.

[2018-05-24 05:50] #1880 closed

[2018-05-25 12:04] harshvardhanv opened #1902 "Nullpointer exception in AsyncExecutor when running concurrent tasks for a process that has all tasks async"
We have a process with 14+ async tasks that are mutually inclusive (need to run one after the other)

The reason for async is to be be able to get a processInstanceId returned when starting the run.

But as we start to run this process with multiple hits, we start seeing the following error :

java.lang.NullPointerException: null
                at org.activiti.engine.impl.persistence.entity.JobEn

[2018-05-29 12:06] mauriziovitale opened #1903 "The Process Instances Query endpoint returns wrong values"
I have a deployed app called
**app4**
When I call the process instances end point
[code]
I'm getting this response
[code]
I think the
serviceName and the appName are wrong.
I was expecting to see
**"serviceName": "rb"**
 **"appName": "app4"**

am I wrong?

[2018-05-29 13:38] erdemedeiros commented on #1903
@ffazzini could you double check which are the values that you are setting when you are deploying to kubernates? `default-app` is [the default name for query](https://github.com/Activiti/activiti-cloud-query/blob/develop/src/main/resources/application.properties#L76). Probably you need to override it.
Still `fullServiceName` and `serviceName` seems to be always the [same](https://github.com/Activi

[2018-05-30 08:50] Salaboy commented on #1692
New service was created and moved out from the incubator: https://github.com/activiti/activiti-cloud-app-service

[2018-05-30 08:50] #1692 closed

[2018-05-31 15:11] pancudaniel7 opened #1904 "Remove application.properties from starters"
Projects that have starter dependency get properties from application.properties|yaml and bootstrap.properties|yaml to be overwritten by the starter properties.
These configuration files should be removed from starters.
As a solution if the starter module needs application properties for specific configuration, this configurations should rather be written in configuration classes.

[2018-05-31 16:00] ffazzini commented on #1903
By setting the env var *ACTIVITI_CLOUD_APPLICATION_NAME* we now have the expected behaviour.

[2018-05-31 16:00] #1903 closed

[2018-06-01 08:17] erdemedeiros commented on #1904
The necessary properties can be loaded via `@PropertySource` in a auto-configuration class.
I.e. https://github.com/Activiti/activiti-cloud-query-service/blob/develop/activiti-cloud-services-query/activiti-cloud-services-query-graphql/src/main/java/org/activiti/cloud/services/query/graphql/autoconfigure/ActivitiGraphQLAutoConfiguration.java#L51

[2018-06-01 09:28] ryandawsonuk commented on #1904
Related issue is https://github.com/Activiti/Activiti/issues/1850

[2018-06-01 12:12] #1904 closed

[2018-06-05 08:26] Salaboy commented on #1687
Initial implementation merged, closing and creating a new one for adding more features.

[2018-06-05 08:26] #1687 closed

[2018-06-05 08:27] Salaboy commented on #1902
@balsarori does this ring a bell?

[2018-06-05 09:07] raja-anbazhagan opened #1905 "ReflectUtil.loadClass(String) throws `java.lang.ClassNotFoundException: int` on primitive types"
We are using activiti version 5.18.0 and it was working fine as a spring mvc application. But since the application is converted to Spring boot 2, the executions fails with a weird ClassNotFoundException for primitive types.

Here is a sample exception.

Caused by: org.activiti.engine.ActivitiException: Couldn't deserialize object in variable 'executionObject'
        at org.activiti.engine.impl.v

[2018-06-05 09:21] balsarori commented on #1902
@Salaboy no bells :)
@harshvardhanv is possible to share your process definition?

[2018-06-05 09:22] zyu opened #1906 "use docker up installed , i can not login with testuser/password."

[2018-06-05 11:03] gonzalocamarero opened #1907 "HistoricTaskInstanceQuery Issue when trying to get Task & Process Variables"
Hi there, i found an error when I execute:

`HistoricTaskInstanceQuery taskQuery = historyService
				.createHistoricTaskInstanceQuery()
				.finished()
				.taskVariableValueEquals(Variable.ESTADO_TAREA, filter.get(Variable.ESTADO_TAREA))
				.includeTaskLocalVariables()
				.includeProcessVariables()
				.orderByHistoricTaskInstanceStartTime()
				.desc();`

It's generate the SQL like this:

`se

[2018-06-05 14:23] Salaboy commented on #1906
@zyu hi there, sorry to hear about that. We are working hard in our first beta1 release for Activiti Cloud.
We are focusing in the service sides, not yet the UI or tooling. So the UI example might be failing. We will aim to fix those UI issues right after the Beta1 release.

We are currently working in updating the examples, if you are interested in helping us out please ping us in our gitter chan

[2018-06-05 14:55] Salaboy commented on #1907
@gonzalocamarero Hi gonzalo, thanks for reporting this issue. Can you please add to your description the version of activiti that you are using and add the correct formatting to the code snippet?

[2018-06-05 15:06] raja-anbazhagan commented on #1905
Raised pull request #1909 for the same.

[2018-06-05 15:10] balsarori commented on #1905
Any reason not to use the latest 5.22? Did you try to re-produce on 5.22?

[2018-06-05 15:28] balsarori commented on #1905
@raja-anbazhagan thanks for confirming the versions.

I'm interested knowing how to reproduce this issue. Can you provide a simple example/unit test to show how can this can be reproduced?

[2018-06-05 16:33] raja-anbazhagan commented on #1905
@balsarori Unfortunately I don't have a reproducible example because it happens in our production. I remote debugged the whole executionObject and i didn't see a thing that matches an `int` type...
My guess is that the spring and hibernate have something do with it(proxy objects may be?).

As per the business logic, the variable goes through a lot of other frameworks like spring and hibernate whic

[2018-06-05 17:30] gonzalocamarero commented on #1907
@balsarori I'm listing all the task for all process with some others criteria. At the frontend I need to show both process and task variable info.  If I remove one of the includes It works, bit oviously I miss part if the information.

O haven't got now the Oracle version, but I think that the issue is that with the SQL I provide, when I execute, I have N (same as task number) times each taskvaria

[2018-06-06 06:48] raja-anbazhagan commented on #1905
@balsarori  Would it be okay if I just add the unit cases for ReflectUtil? I couldn't reproduce this issue via a test case because I have no control on what is happening with the object before it was serialized.

[2018-06-06 09:21] balsarori commented on #1905
@raja-anbazhagan the engine shouldn't serialize primitive type.
An exception like ```java.lang.ClassNotFoundException: int``` should never happen. If you can provide an example where the engine will attempt to seriialize a primitive type that will help.

@Salaboy @erdemedeiros @ryandawsonuk since you guys are using spring boot 2, are you guys aware of this or know if this can happen (engine serial

[2018-06-06 09:55] Salaboy commented on #1905
I think that it should work in Spring Boot 2, mostly because we upgraded the engine to use Spring 5. I guess that if you try to use spring boot 2 with the old version of spring provided in Activiti 5.x and 6.x that will cause issues.

@raja-anbazhagan if you can create a reproducer we can make sure that in Activiti 7 this doesn't happen.

[2018-06-06 10:51] raja-anbazhagan commented on #1905
@balsarori I agree. **`java.lang.ClassNotFoundException: int` should never happen.**  In java, You shouldn't even worry about primitive types being serialized. Because these primitive values will be boxed to their respective Wrapper classes.

This issue was never observed when the application was running with 5.22.0 as a spring MVC application that runs as a war file on tomcat 8.5.29.

@Salaboy As

[2018-06-06 10:54] gonzalocamarero commented on #1907
@balsarori I can't test that because I try to extend the HistoricTaskInstanceEntity class, without success, the query.list returns HistoricTaskInstance type, and it haven't access to "queryVariables", only to the bad method getTaskLocalVariables. Then at that moment I can't edit the return. By now  I have implemented a very ugly workaround, gettin tasklocalvariables with one query, and querying ag

[2018-06-08 04:07] raja-anbazhagan commented on #1905
Team, Are we going to do anything about this?

[2018-06-08 04:51] Salaboy commented on #1905
@raja-anbazhagan I know that @balsarori is investigating the problem. Without a reproducer is hard. Because something that looks like a fix might be hiding the real problem. We are a small team and things might take a lot of time if we need to come up with a reproducer for a complex scenario like yours. We will appreciate help on that front. Regarding "The environment where this is observed is too

[2018-06-08 11:15] harshvardhanv commented on #1902
<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://www.omg.org/spec/BPMN/20100524/MODEL"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:activiti="http://activiti.org/bpmn" xmlns:bpmndi="http://www.omg.org/spec/BPMN/20100524/DI"
	xmlns:omgdc="http://www.omg.org/spec/DD/20100524/DC" xmlns:omgdi="http://www.omg.org/spec/DD/201

[2018-06-08 11:15] harshvardhanv commented on #1902
It also comes in the simplest of definitions. (Eg. 2 serviceTasks marked as async="true")

[2018-06-08 12:17] Salaboy commented on #1902
@balsarori might it be related with the number of executor threads?

[2018-06-08 13:37] balsarori commented on #1902
Seems it's a race condition multiple threads are creating/deleting jobs concurrently. I guess the issue is due to SimpleAsyncTaskExecutor executing tasks concurrently. Can you try switching off concurrency

https://docs.spring.io/autorepo/docs/spring-framework/3.2.8.RELEASE/javadoc-api/org/springframework/core/task/SimpleAsyncTaskExecutor.html#NO_CONCURRENCY

[2018-06-08 18:58] raja-anbazhagan commented on #1905
This might interest you.

Apparently an object of type `org.hibernate.proxy.pojo.javassist.SerializableProxy` is the one that doesn't get serialized. I will have to sweep the entire 300+ classes for any primitive type arguments in setters for a wrapper field. At Least that's what I think i should do.

![debug](https://user-images.githubusercontent.com/8947215/41175516-f89007c2-6b7a-11e8-959e-6c695

[2018-06-08 19:21] raja-anbazhagan commented on #1905
This is embarrassing. One of the JPA entity was having a field that has setters for both `int` and `Integer`. Removing the inappropriate one solved the problem. I also have to mention that the javassist versions of the mvc application is different from the one that comes with spring boot 2.0.2.

[2018-06-08 19:21] #1905 closed

[2018-06-09 08:43] Salaboy commented on #1905
@raja-anbazhagan no problem, these things happens all the time, and that's the main reason why we cannot apply a random patch without making sure that we can reproduce the issue in a consistent way first.
Thanks a lot for closing the issue :)

[2018-06-09 09:33] raja-anbazhagan commented on #1905
Now I'm sure that Activiti is not causing the problem. However, I still have the urge to know why your custom implementation of ObjectInputStream doesn't handle primitive classes when the original implementation of ObjectInputStream has such behaviour.
See this comment https://github.com/Activiti/Activiti/pull/1909#issuecomment-395865104

[2018-06-09 10:22] salaboy opened #1910 "Remove Spring Cloud Config Client from Activiti Cloud Service Metadata"
Having Spring Cloud Config Client as transitive dependency in Activiti Cloud Connectors Starter clash with Spring Cloud Kubernetes Config.
Having the config client library should be optional.

[2018-06-11 06:29] ryandawsonuk commented on #1910
I guess you mean remove it at the starter level.

I wonder if we should be applying this principle to other deps in our starters where you'd have to exclude to switch to another option e.g. keycloak or rabbit. Graphql could be a separate starter too. We could add extra more opinionated starters that just extend the base ones but with extra deps https://github.com/Activiti/Activiti/tree/6.x/modules

[2018-06-11 08:20] lijing666 commented on #1842
Maybe this is a jackson bug or jackson use problem, I found that bug too, like this problem: https://stackoverflow.com/questions/49071166/jackson-java-util-optional-serialization-does-not-include-type-id

[2018-06-11 11:24] c14s opened #1911 "activiti-image-generator: task names missing (box too small?)"
In DefaultProcessDiagramCanvas.drawTask(), the boxHeight is computed as follows:

``
   int boxHeight = height - 16 - ICON_PADDING - ICON_PADDING - MARKER_WIDTH - 2 - 2;
``

In my environment (bpmn files created using Eclipse BPMN2 Modeler with default settings), this leads to the situation, that in method drawMultilineText() the condition

``
   currentHeight + height > boxHeight
``

becomes true

[2018-06-12 21:55] daisuke-yoshimoto commented on #1902
@balsarori
If set NO_CONCURRENCY, Spring Boot will not be able to start because at least 4 thread are need.
* activiti-acquire-timer-jobs(AcquireTimerJobsRunnable)
* activiti-acquire-async-jobs(AcquireAsyncJobsDueRunnable)
* activiti-reset-expired-jobs(ResetExpiredJobsRunnable)
* Thread for executing job(ExecuteAsyncRunnable)

Also, even if hold down to 4 threads, the bug is be reproduced.

[2018-06-13 09:13] balsarori commented on #1902
Thanks for the info @daisuke-yoshimoto

Do you know if this issue is reproducible when not using spring boot?

[2018-06-13 09:17] daisuke-yoshimoto commented on #1902
@balsarori
Yeah. I reproduced this bug with spring boot.
Should I upload the reproducible project?

[2018-06-13 09:28] daisuke-yoshimoto commented on #1902
@balsarori
Sorry, I misunderstodd. I wll try to investigate it.

[2018-06-13 11:55] daisuke-yoshimoto commented on #1902
@balsarori
 I reproduced this bug with activiti-app.

[2018-06-14 13:57] daisuke-yoshimoto commented on #1902
@Salaboy @balsarori
Sorry I made you wait. I understood the cause.
This is about the transaction issue of activiti-spring.
In order to solve it, we should use @TransactionalEventListener like Activiti7.

In Activiti's job mechanism, there are two timings to process jobs.
1. Add the job directly to the AsyncExecutor when the completion of the thread
-> AsyncJobAddedNotification(CommandContextCloseL

[2018-06-14 14:58] daisuke-yoshimoto commented on #1902
@Salaboy @balsarori
I started fixing this issue.
https://github.com/Activiti/Activiti/pull/1912

[2018-06-15 12:09] daisuke-yoshimoto commented on #1902
Reproduction test
https://github.com/daisuke-yoshimoto/activiti-spring-boot-job-load-test

[2018-06-18 08:57] harshvardhanv commented on #1902
@daisuke-yoshimoto  Is the fix going to be available in a release soon ?

[2018-06-18 09:03] daisuke-yoshimoto commented on #1902
@harshvardhanv
Although I have confirmed that this bug does not occur by this modification, the formal flow is awaiting review status.

[2018-06-18 11:13] Shurlormes opened #1913 "Can I provide a plugin for IntelliJ IDEA?"
Can I provide a plugin for IntelliJ IDEA?

[2018-06-18 16:33] rocky-chen opened #1914 "The error occurred while setting parameters"
Hi there,

I keep getting the following error and it caused the timer job failed.  May I ask if anyone knows what the problem is?  Thanks

[code]

[2018-06-19 11:17] zhangzhd commented on #1685
I operate according to plan one,but I don't add javax.el，it also works.

[2018-06-19 12:49] balsarori commented on #1914
@rocky-chen can you share your process definition or maybe a simple unit test to help reproduce the issue?

[2018-06-21 07:32] qq253498229 opened #1915 "Is this an activiti-app ui bug?"
I found that this angular controller can show list of options,but none objects in this array,it is still assigned to the first element.

<img width="1342" alt="wx20180621-152734 2x" src="https://user-images.githubusercontent.com/31200516/41704081-d77b9776-7567-11e8-82d1-b2937b5dc6c7.png">

If i check the enum,it cause an error:

![image](https://user-images.githubusercontent.com/31200516/41704287-

[2018-06-21 07:39] qq253498229 opened #1916 "angular error"
![image](https://user-images.githubusercontent.com/31200516/41704525-0cab622c-7569-11e8-9481-4238df99f8b8.png)

https://github.com/Activiti/Activiti/blob/6.x/modules/activiti-ui/activiti-app/src/main/webapp/editor/editor-app/configuration/properties-form-properties-controller.js#L143

[2018-06-21 10:41] rocky-chen commented on #1914
Hi @balsarori ,  thank you for getting back to me.  May I ask what process definition is?  Is it the bpmn file?

[2018-06-21 11:27] balsarori commented on #1914
@rocky-chen yes it's the bpmn file (XML file)

[2018-06-21 14:58] Salaboy commented on #1916
@qq253498229 can you please elaborate on when are you getting that issue?

[2018-06-22 14:11] achemek opened #1918 "Activiti Designer Plugin for Eclipse Update Site is no more available"
I tried to get Activiti from this update site https://www.activiti.org/designer/update/ but it is no more available,
then i tried to download the zip file from here http://www.activiti.org/designer/archived/activiti-designer-5.18.0.zip and also i got a negative result "Page not found"
can anyone give me the new updatesite if it exists? thanks.

[2018-06-25 10:53] lucianoprea commented on #1918
@achemek I just followed the steps provided in the Activiti5 docs and the Eclipse Designer for Activiti works. Follow the steps documented [here](https://www.activiti.org/5.x/userguide/#activitiDesigner). Can you try it and confirm?

[2018-06-25 11:19] daisuke-yoshimoto commented on #1918
@lucianoprea
Entering the update site( http://activiti.org/designer/update/ ) according to the document, it will certainly result in an error.

![eclipse-setting](https://user-images.githubusercontent.com/16251291/41847402-ce1723a8-78b4-11e8-91d3-6cb6a29315d0.png)

![eclipse-update-site-error](https://user-images.githubusercontent.com/16251291/41847400-cdf12da6-78b4-11e8-940b-63dcd9e01a60.png)

[2018-06-25 11:22] achemek commented on #1918
@lucianoprea : i got the same result as @daisuke-yoshimoto

[2018-06-25 11:28] achemek commented on #1918
@lucianoprea just now the update site is available, but it seems that it is not always available

[2018-06-25 11:48] lucianoprea commented on #1918
For me worked from the first time. I have the Eclipse Neon.

[2018-06-25 12:03] daisuke-yoshimoto commented on #1918
@lucianoprea It is not a problem of how to use Eclipse, but materials are simply not placed on the update site.

For example, the following urls(required for the eclipse update site) are all 404.
https://activiti.org/designer/update/content.xml
https://activiti.org/designer/update/site.xml
https://activiti.org/designer/update/artifacts.xml

[2018-06-25 13:07] achemek commented on #1918
Before when i get this problem i download the zip file from http://www.activiti.org/designer/archived/activiti-designer-5.18.0.zip and this always solve me but now the zip file is also no more available

[2018-06-25 16:27] achemek commented on #1918
The problem is that the update site is not always available, and the [ZIP file](http://www.activiti.org/designer/archived/activiti-designer-5.18.0.zip) has been deleted

[2018-06-25 22:11] nhalase opened #1919 "Activiti 6 running in 5 compatibility mode invalid mapping for TimerJob.xml"
We have Activiti 6 running some deployments launched in Activiti 5. We're seeing a reflection exception regarding the `TimerJob.xml` mybatis mapping.

[code]

The class `org.activiti5.engine.impl.persistence.entity.TimerJobEntity` does NOT have the property `lockOwner`, is this intentional, or does the mapping need to be updated?

For reference, this only started popping up after we configured the

[2018-06-26 09:14] ryandawsonuk commented on #1714
@igdianov I've since realised that although the subscription works it seems normal graphql queries are broken:

![image](https://user-images.githubusercontent.com/22754674/41900689-2e670490-7927-11e8-9bb4-c87acc6b0070.png)

It seems the queryable entities are missing from the schema and we only get the events:

![image](https://user-images.githubusercontent.com/22754674/41900734-4717661a-7927-11e8

[2018-06-26 12:12] ryandawsonuk commented on #1714
I've locally checked out the commits preceding these PRs on query-service, query and gw. I then configured each for tomcat as that switch has happened in the interim (meaning jetty deps they expected to get from common have switched). I then switched graphiql to look at /admin/graphql for the fetch. Now with docker-compose I'm able to submit queries and see entities like Task in the schema.

[2018-06-26 14:10] ligaopeng opened #1920 "why??"
org.apache.ibatis.exceptions.PersistenceException:
### Error updating database.  Cause: com.mysql.jdbc.exceptions.jdbc4.MySQLIntegrityConstraintViolationException: Cannot delete or update a parent row: a foreign key constraint fails (`activiti_lgp`.`act_ru_variable`, CONSTRAINT `ACT_FK_VAR_EXE` FOREIGN KEY (`EXECUTION_ID_`) REFERENCES `ACT_RU_EXECUTION` (`ID_`))
### The error may involve org.activ

[2018-06-26 14:11] ligaopeng commented on #1920
version:6.0.0

[2018-06-26 15:05] ryandawsonuk commented on #1714
Thanks for talking me through this @igdianov , I now understand that the plain old graphql queries are not meant to work through graphiql. I'll try those through demo ui and submitting posts directly. The notifications are meant to work but that looks like a problem with the gateway configuration so I'm working on that.

[2018-06-26 15:19] igdianov commented on #1714
You are welcome. Ping me if there is any other problem pops up. After you get graphql-ws dependency running in gateway you should see message broker connected to rabbitmq backend in the logs on startup. Make sure graphiql subscription client is using wsURL that points to http://gateway/ws/graphql. The query endpoint should point to query backend, i.e. http://gateway/query/admin/graphql

[2018-06-27 09:36] ryandawsonuk commented on #1714
@igdianov I've now tried further and am not only having the problem graphiql. Also on doing a POST:

![image](https://user-images.githubusercontent.com/22754674/41965267-1c1fb142-79f4-11e8-8575-ca74500edfad.png)

That's in my JX environment in which WS [is not inside query](https://github.com/ryandawsonuk/activiti-cloud-query/blob/develop/pom.xml).

I've also locally removed all docker images and

[2018-06-27 15:38] MkkOF commented on #1915
解决了么，我也遇到同样的问题了，same problem!

[2018-06-27 21:19] z3roshot opened #1921 "Feature Request for a likeIgnoreCase REST query operator"
The currently supported operations are listed in the table on [this page](https://www.activiti.org/userguide/#restQueryVariable).

Currently `equalsIgnoreCase` and `notEqualsIgnoreCase` are supported, but the `like` query does not support case insensitivity, nor is there an equivalent such as `likeIgnoreCase`.

[2018-06-28 08:02] Salaboy commented on #1921
@z3roshot that sounds like a good community contribution. Do you want to submit a PR to implement that feature? it is quite well scoped and it sounds like great first contribution.

[2018-06-28 08:08] Salaboy commented on #1911
@c14s interesting.. it sounds like you can provide a PR with that code change and a way to test it. That will be a great community contribution.

[2018-06-28 08:35] balsarori commented on #1918
Here is the Zip file
[activiti-designer-5.18.0.zip](https://github.com/Activiti/Activiti/files/2144413/activiti-designer-5.18.0.zip)

[2018-06-28 08:40] daisuke-yoshimoto commented on #1918
@balsarori
If you put it here, can we access it from the site?
https://github.com/Activiti/activiti.github.io

[2018-06-28 10:53] balsarori commented on #1918
Added [ZIP file](http://www.activiti.org/designer/archived/activiti-designer-5.18.0.zip) to the website.

@daisuke-yoshimoto

https://activiti.org/designer/update/content.xml
https://activiti.org/designer/update/site.xml
https://activiti.org/designer/update/artifacts.xml

do you have these files?

[2018-06-28 11:01] achemek commented on #1918
@balsarori thank you, this solve my problem

[2018-06-28 19:01] z3roshot commented on #1921
@Salaboy Sure, that sounds like a fun little project, thanks! I'll try to get to it next week.

[2018-06-29 09:48] harshvardhanv commented on #1902
is this through ?

[2018-06-29 15:04] daisuke-yoshimoto commented on #1902
@Salaboy @balsarori
If possible, please review this one.
https://github.com/Activiti/Activiti/pull/1912

[2018-06-30 11:13] daisuke-yoshimoto commented on #1918
@balsarori
Thanks. I made the pull request for this issue.
https://github.com/Activiti/activiti.github.io/pull/18

[2018-07-01 12:54] proth1 opened #1922 "Link broken on the Activiti 6 announcement page"
The Activiti 6 announcement page I'm talking about is here:

https://community.alfresco.com/community/bpm/blog/2017/06/01/activiti-6-is-here?commentID=6972&et=blogs.comment.created

and then the broken link is as follows:

Running the process on Activiti 5 will result in a StackOverflowError. In Activiti 6 the process will run without any issues. Check it yourself by running [this test](https://gi

[2018-07-01 18:11] balsarori commented on #1918
@daisuke-yoshimoto that's great!!!

[2018-07-01 18:57] balsarori commented on #1922
Thanks @proth1 I updated the link.

[2018-07-01 18:57] #1922 closed

[2018-07-02 08:58] constantin-ciobotaru opened #1923 "Remove "groups" layer from organization service and refactor "project" concept as "application" along with updating the corresponding endpoints"

[2018-07-02 11:46] balsarori commented on #1918
@daisuke-yoshimoto site still doesn't seem to work on eclipse. It's complaining that it can't find content.xml.

Also the Download here https://www.activiti.org/designer/update/ point to non-existing jar

[2018-07-02 11:55] daisuke-yoshimoto commented on #1918
@balsarori
Sorry, I will check it. But, the preview page works now.
https://5b37647402ed837e3a0e2198--activiti.netlify.com/designer/update/

[2018-07-03 11:04] Salaboy opened #1924 "Review Versioning Endpoints for Process Models"
We need to add a way to override a version of a process model (default behavior) when the process model is saved.

We need to have a way to specify that we want to bump up the version of a process model when it is saved (optional parameter) and the strategy (Major, Minor, Patch).

[2018-07-03 11:16] salaboy opened #1925 "Add Release Endpoints to Organization Endpoints"
We need to add the concept of an Application Release to our endpoints. This is to cover the scenario where we want to deploy a new application to a runtime environment.
Application Releases are immutable packages (ZIP files) that are stored in the backend services.

We need to extend the Application Service to have the following endpoints

- POST /applications/{appId}/release -> Generates a new re

[2018-07-03 11:21] salaboy opened #1926 "Move to community Export/Import functionality and review"
In community we should have import/export applications as and from Zip files.

@constantin-ciobotaru can you describe what is the current behaviour of the implemented functionality so we use that as requirement from community?

[2018-07-03 11:25] salaboy opened #1927 "Review Modeling UI front end APIs and community alignment"
We need to review UI endpoints usage and decide which ones will be covered by Community.
We need to start migrating the UI to consume community endpoints ASAP, so having the list of endpoints that we should support is vital.

@popovicsandras, can you please add to this issue the JS APIs that you are currently using?
Also the Datatypes are important. I think that we should align with that the commu

[2018-07-04 13:01] Salaboy commented on #1923
merged

[2018-07-04 13:01] #1923 closed

[2018-07-04 13:08] popovicsandras commented on #1927
We are currently using the following API in the application:
https://github.com/Alfresco/alfresco-modeler-app/tree/development/src/app/api

For the implementation using ACS, see this link:
https://github.com/Alfresco/alfresco-modeler-app/tree/development/src/app/alfresco-api

[2018-07-04 13:19] popovicsandras commented on #1927
Current snapshot of the API:

[code]

[2018-07-05 15:03] EduFrazao commented on #1475
Hi folks. Its happenning here too, with Oracle 11g and Activiti 5.22. I've note that some dupplicate variables are present after complete some multi instance user tasks. This causes problems when trying to finish this tasks.
Any news?
This atlassian links are not working.

[2018-07-09 09:28] dongwenting opened #1929 "potentialStarter not found"
I watch the document. https://www.activiti.org/userguide/index.html#_getting_started

8.8. Process Initiation Authorization

but In Activiti 7.0 , GroupQuery does not have the method potentialStarter, how can I query processdefinition that can be initialled by some groups?

[2018-07-09 14:01] Salaboy commented on #1929
@dongwenting that is the getting started for 6 not 7. Activiti 7 is going to go Beta1 soon. I will close this issue. You can re-open it for 7 beta1 when it is out.

[2018-07-09 14:01] #1929 closed

[2018-07-10 01:14] dongwenting commented on #1929
@Salaboy  thank you for your reply. but I need to Process Initiation Authorization, how can I do it in activiti 6.3.1

[2018-07-10 06:25] wxp20032003 opened #1930 "We suspect that it was an error when the process parsed the XML file"
Our process runs normally within four or five days after the service is started, but there will be an end of the interruption after four or five days on the line, and no reason can be found.We suspect that it was an error when the process parsed the XML file
![mytaskaction_hsipreview](https://user-images.githubusercontent.com/13210205/42493157-594ed688-844e-11e8-822e-91d90bb26ecd.png)
[gongxun5.tx

[2018-07-10 06:28] wxp20032003 commented on #1930
<exclusiveGateway id="exclusivegateway4" name="Exclusive Gateway"></exclusiveGateway>
    <sequenceFlow id="flow24" name="维修处理" sourceRef="exclusivegateway4" targetRef="task5">
      <documentation>{"selectPeople":"YES","goLevel":"","goDepType":"WHDW","nextPar":"mTeam","role":"维护单位负责人"}</documentation>
      <conditionExpression xsi:type="tFormalExpression"><![CDATA[${outcome=='维修处理'}]]></conditio

[2018-07-10 06:38] wxp20032003 commented on #1930
and no error log can be fount

[2018-07-10 08:31] Salaboy commented on #1929
@dongwenting can you please clarify what do you mean by Activiti 6.3.1 ?

[2018-07-10 12:37] Salaboy commented on #1930
@wxp20032003 so what is the problem exactly? I can see that the process is stuck in the User Task (last task in red)

[2018-07-10 13:01] irwinsun opened #1931 "Job does not exist anymore and will not be executed"
I have a problem  use ParallelGateway in Activiti 6.0.
 i try various combinations by  async = true/false and exclusive = true/false for ServiceTask , but my process still wait(block), and I found some debug log:

### o.a.e.i.c.ExecuteAsyncJobCmd             Job does not exist anymore and will not be executed. It has most likely been deleted as part of another concurrent part of the process instan

[2018-07-10 13:02] HubbsLS opened #1932 "NullPointerException at ByteArrayRef"
Running on 5.22.0.
The error seems to occur randomly (sometimes not at all) when trying to call getVariable(String).

At first sight it seems there's a missing check if the 'entity' (ByteArrayEntity) object is null, because in the getBytes() method, there's a check if entity is null, and if it is, then null is returned, but this point will never be reached because if the entity is indeed null then

[2018-07-10 14:20] Salaboy commented on #1931
@irwinsun can you provide more details about how does your process look like? maybe sharing the bpmn file will help

[2018-07-10 14:20] Salaboy commented on #1931
@balsarori is this similar to what you were fixing the other day?

[2018-07-10 14:23] Salaboy commented on #1932
maybe that some other thread already remove the context for that ID. Context.getCommandContext().getByteArrayEntityManager().findById(id);

[2018-07-11 00:54] dongwenting commented on #1929
Sorry, my English is not good.
My goal is different groups have permission to start different processes. In Activiti 6.3.1, chapter 8.8. Process Initiation Authorization can achieve it, but this api ( identityService.createGroupQuery().potentialStarter("processDefinitionId").list();) not exists any more.

So is there another way to give permissions to start processes for different groups ?
Thank y

[2018-07-11 02:48] irwinsun commented on #1931
`<?xml version="1.0" encoding="UTF-8"?>
<definitions
  xmlns="http://www.omg.org/spec/BPMN/20100524/MODEL"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:activiti="http://activiti.org/bpmn"
  xmlns:bpmndi="http://www.omg.org/spec/BPMN/20100524/DI"
  xmlns:omgdc="http://www.omg.org/spec/DD/20100524/DC"
  xmlns:omgdi="http://www.omg.org

[2018-07-11 06:11] dongwenting commented on #1929
I figure out how to do this.

[code]

[2018-07-11 07:52] HubbsLS commented on #1932
@Salaboy
No removeVariable(String) is executed in my code

[2018-07-11 08:17] Salaboy commented on #1929
@dongwenting I think that now I understand more.. but what version of Activiti are you using? can you share your pom files? (are you using Maven?)

[2018-07-11 08:42] #1932 closed

[2018-07-11 08:43] dongwenting commented on #1929
@Salaboy  In fact, I use flowable, here is my pom:
	<properties>
		<flowable.version>6.3.1</flowable.version>
	</properties>

	<dependencies>
		<dependency>
			<groupId>org.flowable</groupId>
			<artifactId>flowable-spring-boot-starter-rest-api</artifactId>
			<version>${flowable.version}</version>
			<exclusions>
				<exclusion>
					<groupId>org.springframework.boot</groupId>
					<artifactId>sp

[2018-07-11 08:44] Salaboy commented on #1932
@HubbsLS but the variable might be deleted by the process completion right? You can add a listener to the engine to see if the VariableDeleted event is triggered.

[2018-07-11 09:07] Salaboy commented on #1929
@dongwenting so why are you asking in this repo then? they can add and remove methods in a completely different cycle or approach. You started saying "but In Activiti 7.0"

[2018-07-11 09:16] Jarvan89 opened #1933 "Activit5.16.4 to Activiti6.0.0 External form rendering"
in Activiti5.16.4  and Activiti 6.0.0 I deploy bpmn to H2  Use  this code

[code]

Then I read the data using the following code
[code]
bpmn file is：
`<startEvent id="startevent1" name="Start" activiti:initiator="applyUserId" activiti:formKey="leave-formkey/leave-start.form"></startEvent>`

same code in Activiti5  hasStartFormKey method  and in H2  HAS_START_FORM_KEY_   is true
but in Activiti6 ha

[2018-07-11 09:39] Salaboy commented on #1931
@irwinsun as you can imagine if it looks messy it will take us more time to help you.
Can you share a graphical representation of it? I can see that there are timers there as well. That might be also the reason why your job is not being executed? What is the current sequence of execution and where is the async task being executed?

[2018-07-11 14:00] Salaboy commented on #1933
@Jarvan89 can you please create a reproducer for this problem? It will be way much easier to test if we can have a maven project where we can reproduce the issue that you are experiencing.
It sounds like there is a difference in the APIs from 5.x to 6.x but we should be able to reproduce the problem first.

[2018-07-11 14:00] Salaboy commented on #1933
@balsarori is this a well known issue?

[2018-07-11 14:18] Salaboy commented on #1919
@nhalase interesting.. It sounds like an incompatibility issue. Before which transaction Manager were you using?

Do you have a similar setup to this: https://github.com/Activiti/Activiti/blob/6.x/modules/activiti5-spring-test/src/test/resources/org/activiti5/spring/test/components/SpringjobExecutorTest-context.xml#L29 ?

[2018-07-11 19:11] lombardoja commented on #1931
Having the same issue here. The async thread is trying to read the job from the db within 5ms of the http thread having written it. Logs below

2018-07-10T23:58:32.049Z {"@timestamp":"2018-07-10T23:58:32.048+00:00","@version":1,"message":"inserting: JobEntity [id=1695124]","logger_name":"org.activiti.engine.impl.db.DbSqlSession","thread_name":"http-nio-8081-exec-6","level":"DEBUG","level_value":10

[2018-07-11 19:30] ChuckIrvine opened #1934 "getting started / Quickstart broken"
I'm not sure if I'm reporting this in the right place. I'm new to Activiti 7.x.

* I followed the instructions at: https://activiti.gitbooks.io/activiti-7-developers-guide/getting-started/quickstart.html.
* After executing the second docker-compose command, per the documentation I tried to login at http://localhost:3000. Nothing seems to be running on that port.
* On a hunch, I tried http://localh

[2018-07-11 19:31] Salaboy commented on #1931
@lombardoja @irwinsun guys.. you need to format the code and logs here.. If not it is impossible to read. Look at the markup guidelines for github issues.
@lombardoja it sounds like 5ms is not enough.. it might be because of the amount of threads and the polling intervals

[2018-07-11 19:54] lombardoja commented on #1931
@Salaboy What Java configs or application.properties can I adjust to try and work around this? Any specific examples? Thanks!

[2018-07-11 20:09] Salaboy commented on #1931
parameters are here: https://github.com/Activiti/Activiti/blob/6.x/modules/activiti-engine/src/main/java/org/activiti/engine/impl/asyncexecutor/DefaultAsyncJobExecutor.java#L94
5ms sounds like to short.. is it not 500ms? the default value in the DefaultAsyncJobExecutor ?

[2018-07-12 03:29] irwinsun commented on #1931
@Salaboy  Did you say that  retryWaitTimeInMillis  Parameter ?   It's 500ms in my Application.

[2018-07-12 08:20] Salaboy commented on #1931
@irwinsun I'm trying to find out if this issue was fixed already, because I think that @balsarori already worked on it. Can you please confirm @balsarori

[2018-07-12 08:33] irwinsun commented on #1931
@balsarori  Can you please confirm, Thanks. But, I still have this problem with 6.0,  is it fixed in other versions?

[2018-07-12 08:37] Salaboy commented on #1934
@ChuckIrvine you are definitely reporting this in the right place. We appreciate your input.
Activiti 7/Activiti Cloud is in alpha state right now. We are trying to wrap a Beta1 release soon, so our docs are getting out of date.
I would strongly recommend you to use the PostMan Collection that you can find in the activiti-cloud-examples repository instead of trying the UI that doesn't have much fu

[2018-07-12 08:43] Salaboy commented on #1934
We also recommend for now to try the develop branch of activiti-cloud-examples

[2018-07-12 09:04] Salaboy commented on #1934
I've updated the quickstart now: https://activiti.gitbooks.io/activiti-7-developers-guide/content/getting-started/quickstart.html

[2018-07-12 09:04] #1934 closed

[2018-07-12 09:18] balsarori commented on #1931
Seems similar to https://github.com/Activiti/Activiti/issues/1902
PR that fixes is still pending review #1912

[2018-07-12 09:32] balsarori commented on #1933
Yeah, I came across this issue before. I'm not sure why hasStartFormKey is no longer updated.

[2018-07-13 07:08] Salaboy commented on #1902
@balsori needs to review and merge this one.

[2018-07-13 07:52] daveleenew commented on #1933
@Jarvan89 6.0?

[2018-07-13 08:24] constantin-ciobotaru opened #1935 "Modeling Organization refactoring: move repository abstraction to separate module"

[2018-07-13 09:39] Jarvan89 commented on #1933
@daveleenew yes  6.0.0

[2018-07-13 09:41] Jarvan89 commented on #1933
@Salaboy i will try to create a maven demo  Tonight。

[2018-07-13 10:04] balsarori commented on #1933
@Jarvan89 To determine if a process definition has a start form or not you can use ```formService.getStartFormKey(processDefinitionId)```

No need for a demo since it's a known issue. Adding ```assertTrue(processDefinition.hasStartFormKey());``` to one of the [FormServiceTest](https://github.com/Activiti/Activiti/blob/5.x/modules/activiti-engine/src/test/java/org/activiti/engine/test/api/form/Form

[2018-07-13 15:44] erdemedeiros commented on #1901
Actually `/{taskId}/sub-tasks` it's probably a better name.

[2018-07-14 01:19] Jarvan89 commented on #1933
@balsarori That's what I'm doing now 。 thank you

[2018-07-14 01:19] #1933 closed

[2018-07-16 09:52] ffazzini opened #1936 "Refactor eureka runtime configs in metadata"
I could not get Runtime Bundle running by default without Eureka(i was using only ingress).
The error i got:
[code]

After applying the config below suggested by @Salaboy it works now:
[code]
Possible solutions:
1. The property above should be set to false by default.
2. Remove the metadata eureka part as it is not a mandatory building block.

[2018-07-16 12:07] irwinsun commented on #1931
@balsarori @Salaboy  Thank you very mush!  I review your code,  and after I verified, my concurrent problem was solved.

[2018-07-16 12:11] irwinsun commented on #1931
@Salaboy @balsarori  But I  found another Exception:

	at org.activiti.engine.impl.db.DbSqlSession.flushUpdates(DbSqlSession.java:712)
	at org.activiti.engine.impl.db.DbSqlSession.flush(DbSqlSession.java:418)
	at org.activiti.engine.impl.interceptor.CommandContext.flushSessions(CommandContext.java:197)
	at org.activiti.engine.impl.interceptor.CommandContext.close(CommandContext.java:75)
	at org.ac

[2018-07-16 12:34] balsarori commented on #1931
@irwinsun you got this exception while using the code in PR #1912 ?

[2018-07-17 02:34] irwinsun commented on #1931
@balsarori  Ignore it, This error has nothing to do with it.  It's my code call 'RuntimeServiceImpl.setVariable'  in other thread work like heartbeat

[2018-07-18 01:58] wxp20032003 commented on #1930
@Salaboy ,this image is no error with arrowhead, but image in the top stuck in the User Task that process is complete.
    This process in the process sometimes can pan pass,but sometimes stop and processInstance is complete,not regular.
![mytaskaction_hsipreview 1](https://user-images.githubusercontent.com/13210205/42854996-191aecf4-8a71-11e8-868f-e6065cd55146.png)
![mytaskaction_hsipreview](http

[2018-07-18 08:04] Salaboy commented on #1930
@wxp20032003 I really want to help, but that might be happening for a thousand reasons. is it possible for you to create a small project with a reproducer? that usually help us to understand the problem or even to find the actual cause of it.

[2018-07-18 08:16] liqiaolin520 opened #1937 "SOS The previous task node has a task listener, and the next one will also use the listener."
### The previous task node has a task listener, and the next one will also use the listener.

I have a problem. It's strange!It's about the task listener!

![image](https://user-images.githubusercontent.com/32925394/42867422-2aecf4c8-8aa2-11e8-8ae5-916cf68ec483.png)

####The xml code
[code]

We can see that only SupervisorApprove task node has a listener

When I start the process, the engine defau

[2018-07-18 08:21] Salaboy commented on #1937
@liqiaolin520 hi there.. thanks for reporting this issue. Is it possible to know which version of Activiti are you using and can you create a small maven project with a reproducer of the problem?

[2018-07-18 08:34] wxp20032003 commented on #1930
@Salaboy  Thank you all the same, the project is so complicated that I can not create a small project with a small project with a reproducer! Let me  add that  after I restart my web application, in the first three days, this process running normally,but after that this process sometimes can pass and sometimes can not pass(the processInstance is null).
Now i change the bpmn as shown following,test

[2018-07-18 08:37] Salaboy commented on #1937
@liqiaolin520 if you can create a small maven project to reproduce the issue that will be great. Also have you tried upgrading to 5.22 ?

[2018-07-18 08:40] Salaboy commented on #1930
@wxp20032003 I do understand that the project is complicated, but I would suggest to try to replicate the scenario in a simple test. For example, if you know that the problem is in a user task, try to replicate the execution of your user task (adding similar listeners, and environment configurations) to your test.
Working on a reproducer will help you to understand all the details of the execution

[2018-07-18 08:47] liqiaolin520 commented on #1937
Ok, no problem. I will test 5.22 first. If 5.22 doesn't work, then I will send my test case to you together. Is that ok?

[2018-07-18 09:10] wxp20032003 commented on #1930
My web application framework is struts2+spring+hibernate, There is a web application in eight docker,  the eight web application connect one mysql DB.
If I meet with what you say three questions, what should I do?
![datadd](https://user-images.githubusercontent.com/13210205/42871665-7d98e56e-8aad-11e8-9a30-9b0698e01c73.jpg)

[2018-07-18 10:01] wxp20032003 commented on #1930
The stuck means that this processInstance is null in table act_ru_execution.
Outgoing conditions of  the second exclusicve gateway variables is chinese, the variables of outgoing conditions has been assigned exist in table act_hi_varinst, I don't know why the process complete.
`	@Override
	public void approve(ApproveInfo approveInfo, String taskId, Map<String, Object> map) throws Exception {
		//

[2018-07-18 12:51] wxp20032003 commented on #1930
@ryandawsonuk @Salaboy activiti 5.22 doesn't support  distributed servers?

[2018-07-18 13:07] daisuke-yoshimoto commented on #1930
@wxp20032003 No. Activiti 5.22 supports cluster environment. What do you mean it?

[2018-07-18 13:13] ryandawsonuk commented on #1930
I'm confused by

I thought the problem was that it gets stuck at the user task? Why do you say "I don't know why the process complete"? Does it get stuck or does it complete?

The key question about the second exclusive gateway's outgoing sequence flow conditions is whether the value of the variable matches either of the conditions for the instances in which it gets stuck. Have you been able to fi

[2018-07-18 13:16] Salaboy commented on #1937
@liqiaolin520 yeah, tat is ok

[2018-07-19 05:04] liqiaolin520 commented on #1937
Hello, I know the answer, is set to 0 after obtaining processEngineConfiguration processDefinitionCacheLimit, otherwise I again deployment is also wrong,

<property name="processDefinitionCacheLimit" value="0"/>

####The conclusion of my analysis is as follows：

![image](https://user-images.githubusercontent.com/32925394/42922147-fe9af22a-8b51-11e8-8922-4875a1960a36.png)

![image](https://user-ima

[2018-07-19 05:06] liqiaolin520 commented on #1937
This problem is resolved when I don't use caching!But it's slower

[2018-07-19 08:02] daveleenew opened #1938 "Found Activiti 5 process definition, but no compatibility handler on the classpath"
How to fix this problem?

[2018-07-19 08:15] daveleenew commented on #1938
@Test
    public void getTask() {
        List<Task> list = taskService.createTaskQuery().list();

        for (Task task:list) {

            //it's work
            ProcessInstance processInstance = runtimeService.createProcessInstanceQuery().processInstanceId(task.getProcessInstanceId()).singleResult();

            BpmnModel bpmnModel = repositoryService.getBpmnModel(processInstance.getProcess

[2018-07-19 08:48] daveleenew commented on #1938
@ryandawsonuk  thank you for your replay.

but i don't need to compatibility activiti 5.0

i want to just use the activiti 6.0.?

[2018-07-19 09:24] balsarori commented on #1938
@daveleenew
seems that [ProcessDefinitionUtil.getBpmnModel](https://github.com/Activiti/Activiti/blob/6.x/modules/activiti-engine/src/main/java/org/activiti/engine/impl/util/ProcessDefinitionUtil.java#L55) requires an active context when called. You should not call it directly instead call repositoryService.getBpmnModel

[2018-07-19 10:19] daveleenew commented on #1938
@balsarori thanks
   How to call an active context first?

[2018-07-19 13:01] balsarori commented on #1938
@daveleenew use [managementService execute command](https://www.activiti.org/javadocs/org/activiti/engine/managementservice#executeCommand-org.activiti.engine.impl.interceptor.Command-)

Why do you want to call it directly repositoryService.getBpmnModel does the same thing.

[2018-07-20 01:53] daveleenew commented on #1938
@balsarori

Thank you for you reply. U R right.  repositoryService.getBpmnModel does the same thing with the ProcessDefinitionUtil.

[2018-07-20 09:15] liqiaolin520 commented on #1937
嗯，我发现不使用缓存时并不能解决问题，我有多个流程，第一个节点都是存在任务监听器的！
如果我随机开启这三个流程，就会有一个以上会出现第二个节点 task对象 中的 execution对象 出现了第一个节点相同的任务监听器！

[2018-07-20 09:18] Salaboy commented on #1937
@liqiaolin520 please use english here

[2018-07-20 09:18] liqiaolin520 commented on #1937
Well, I've found that it doesn't solve the problem without caching. I have multiple process definitions, and the first node has the same task listener!
If I start these three processes at random, it is possible that an execution object in the task object of the second node appears with the same task listener of the first node!

[2018-07-20 09:19] Salaboy commented on #1937
If you provide a reproducer we can fix the issue for sure, please create a simple maven project and push it to github and share the link.. so we can run it here and reproduce the error.

[2018-07-20 09:19] liqiaolin520 commented on #1937
There is a batch start process on my side

[2018-07-20 09:22] liqiaolin520 commented on #1937
Ok, I'll try to get a maven project out

[2018-07-20 09:23] liqiaolin520 commented on #1937
Thank you for your help

[2018-07-21 09:31] Salaboy commented on #1937
@liqiaolin520 thank you for reporting the issue :)

[2018-07-23 14:16] erre-k-erre commented on #962
Hi,

I can't access to Jira. Is there any update about this issue?
We're finding a similar error.

Thx.

[2018-07-24 03:20] wxp20032003 commented on #1930
@Salaboy @ryandawsonuk After I redraw the BPMN,the problem that the process stuck has  disappeared，thank you very much！

[2018-07-24 09:48] Salaboy commented on #1930
yey! @wxp20032003 congrats!

[2018-07-24 10:50] balsarori commented on #1938
@daveleenew I'll close this issue then.

[2018-07-24 10:50] #1938 closed

[2018-07-24 14:33] omasseau commented on #793
This sucks and adds a lot of confusion...
I just lost several hours of problems investigation because of this.

[2018-07-24 14:34] lucianoprea commented on #962
@erre-k-erre you need to sign up for an account and access the issue. There is a resolution for your problem there.

[2018-07-24 16:37] balsarori opened #1939 "Enable querying by parent task id in TaskQuery"
Currently is only possible to query historic tasks by parent id using the HistoricTaskInstanceQuery. Need to add the possibility in the TaskQuery as well.

[2018-07-24 16:49] ryandawsonuk opened #1940 "kill a connector pod and the rb to connector stream breaks"
Start a runtime bundle and connector example. I did this with:

https://github.com/ryandawsonuk/environment-ferretmaze-staging/blob/41087fe1c28d956b1307fb6de7c5965785009fc8/env/values.yaml

Now you can start a process instance for the connector process with this payload at /rb-my-app/v1/process-instances:

{
  "processDefinitionKey": "ConnectorProcess",
  "commandType":"START_PROCESS"
}

That work

[2018-07-25 12:15] #1939 closed

[2018-07-25 12:15] Salaboy commented on #1939
merged in develop

[2018-07-25 14:45] gseshag opened #1942 "Activiti Timer exceptions"
We are using activiti 6.0 in a clustered environment on Redhat Openshift(jboss) , configured with a datasource to Oracle 12.1 , we see the below error in our production environment every few weeks. There is no connection issue with the database , this goes away if we restart the jboss servers. But this results in an outage everytime.

{"log": "\n", "stream": "stdout"}
{"log": "\t... 21 more\n", "s

[2018-07-26 07:14] erdemedeiros opened #1943 "Cloud are failing due to a bean name conflict"
Cloud connector are intermittently failing with the following exception:
[code]

[2018-07-26 07:48] ramunask commented on #1918
I just installed Activiti Designer plugin and it worked for me correctly:

![Installation Details](https://user-images.githubusercontent.com/4812724/43248688-5321ab3a-90c1-11e8-83a9-ff25c131a274.png)

Eclipse (STS) version:
[code]

[2018-07-26 10:42] shreejitray commented on #962
@lucianoprea I am facing the same issue in activiti 6. I tried to login to view jira but it is not allowing me to signup. The error is
_Your email address shreejitray@gmail.com doesn't have access because activiti.atlassian.net has reached its license limit.
You can request access from your site admin._

Can you please let me know the solution to the problem?

[2018-07-26 12:47] mteodori opened #1946 "batik vulnerability CVE-2018-8013"
see: https://nvd.nist.gov/vuln/detail/CVE-2018-8013

[2018-07-26 12:57] lucianoprea commented on #962
@shreejitray you should have access to the issue now thanks to @balsarori who made it public 👍

[2018-07-26 15:40] #1943 closed

[2018-07-27 07:22] zhaogituser opened #1948 "why was "commandExecutor" Properties always threw an exception ("NullpointException") ？"
`public long count() {
    this.resultType = ResultType.COUNT;
    if (commandExecutor!=null) {
      return (Long) commandExecutor.execute(this);
    }
    return executeCount(Context.getCommandContext());
  }`

[2018-07-27 08:07] Salaboy commented on #1948
@zhaogituser what? where? where is that code running? Are you using spring? if so.. Spring is doing that injection magic. This is not an issue. Please report with all the required data for us to be able to help you

[2018-07-27 08:52] zhaogituser commented on #1948
@Salaboy yes use spring

[2018-07-27 08:53] Salaboy commented on #1948
@zhaogituser ok, but we need more information and a reproducer of the problem,. Please create a simple maven project where you demonstrate how is this failing. We need to be able to run and see the issue in order to fix it. The amount of information provided here is not enough to understand what is going wrong.

[2018-07-27 08:55] zhaogituser commented on #1948
@Salaboy

DeploymentQuery deploymentQuery=repositoryService.createDeploymentQuery().deploymentNameLike("%"+ search+"%");
            if( deploymentQuery !=null){
                total=deploymentQuery.count();
                rows=repositoryService.createDeploymentQuery()//创建流程查询实例
                        .orderByDeploymenTime().desc()  //降序
                        .deploymentNameLike("%"+search+"%

[2018-07-27 08:57] Salaboy commented on #1948
@zhaogituser I cannot run that code, and I don't even know which version of activiti you are using.. please provide a maven project that we can run to help you.

[2018-07-27 08:58] zhaogituser commented on #1948
where i send my code ? email?

[2018-07-27 09:01] zhaogituser commented on #1948
@Salaboy   I used dubbo to provide activiti services  .    Is this  an  issue?

[2018-07-27 09:04] zhaogituser commented on #1948
@Salaboy I'm sorry. English is not my native language. Can you speak Chinese .

[2018-07-27 09:07] zhaogituser commented on #1948
I use activiti version 5.19.0.2 .Here's my activi.xml .

  <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
    <property name="dataSource" ref="dataSource" />
    <property name="transactionManager" ref="transactionManager" />
    <property name="databaseSchemaUpdate" value="true" />
    <property name="jobExecutorActivate" value="false" />
  </b

[2018-07-27 09:07] zhaogituser commented on #1948
<bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">
    <property name="dataSource" ref="dataSource" />
    <property name="transactionManager" ref="transactionManager" />
    <property name="databaseSchemaUpdate" value="true" />
    <property name="jobExecutorActivate" value="false" />
  </bean>

  <bean id="processEngine" class="org.activiti.spring

[2018-07-27 09:31] zhaogituser opened #1949 "i use spring , but The "count()" method threw NullpointException under in activiti's AbstractQuery class ."
This my code . please see  a named "DeployController" under this "com.java.activiti.controller" package

[2018-07-27 09:35] zhaogituser commented on #1949
uploading failure.please contact me by email  if you like

[2018-07-27 09:40] Salaboy commented on #1948
@zhaogituser no, just create a project in your github account so we can clone it and run it with maven.

[2018-07-27 09:41] Salaboy commented on #1948
@zhaogituser please upload your project to a github repo. We will not download a zip file

[2018-07-27 09:41] balsarori commented on #1948
@zhaogituser you have a custom ```org.mybatis.spring.SqlSessionFactoryBean``` with custom mappers. I guess this is whats causing the issue. This overrides the Activiti specific mybatis mappers. If you want your own mappers use the example here
https://www.activiti.org/userguide/#_xml_based_mapped_statements
set your customMybatisMappers
[code]

Or inside mybatis-config.xml you should point to all

[2018-07-27 09:53] ryandawsonuk commented on #1940
This is now working for me

[2018-07-27 09:53] #1940 closed

[2018-07-27 11:34] zhaogituser commented on #1948
OK

[2018-07-27 11:38] zhaogituser commented on #1948
thanks .I will try it first

[2018-07-27 12:04] zhaogituser commented on #1948
@balsarori
I see  the
 <property name="customMybatisMappers">
        <set>
            <value>org.activiti.standalone.cfg.MyTestMapper</value>
        </set>
</property>
config ,but I did't know  which file to put it under.

And please give me your advice.

[2018-07-30 01:49] zhaogituser commented on #1948
@balsarori thanks

[2018-07-30 02:16] zhaogituser commented on #1948
@Salaboy I think my problem should not be here . I don't have any mapping files, but called the count () method of the "repositoryservice" class of the activiti engine directly.    When I ran debug mode into the following method,the program prompts commandexecute to be empty and throws a NullPointerException.
This is the method `.public long count() {
    this.resultType = ResultType.COUNT;
    if

[2018-07-30 02:18] zhaogituser commented on #1948
@Salaboy I hope  I'm not bothering you?

[2018-07-30 03:45] daisuke-yoshimoto commented on #1948
@zhaogituser Please upload the full stacktrace of your NullpointException.

[2018-07-30 03:48] zhaogituser commented on #1948
@daisuke-yoshimoto wait on

[2018-07-30 03:51] zhaogituser commented on #1948
`com.alibaba.dubbo.common.bytecode.proxy1@759f72d32018-07-30 11:48:39,711 [qtp1194385648-18] ERROR [com.gw.oydCloud.common.base.BaseController] - 统一异常处理：
java.lang.NullPointerException
	at org.activiti.engine.impl.DeploymentQueryImpl.executeCount(DeploymentQueryImpl.java:157)
	at org.activiti.engine.impl.AbstractQuery.count(AbstractQuery.java:159)
	at com.gw.oydCloud.upms.server.controller.manage.

[2018-07-30 03:52] daisuke-yoshimoto commented on #1948
@zhaogituser Thanks. I will check it and investigate that cause.

[2018-07-30 03:59] zhaogituser commented on #1948
@daisuke-yoshimoto Thank you. I'm waiting for the good news.    Let me explain that I used dubbo distributed.

[2018-07-30 07:44] zhaogituser commented on #1948
@daisuke-yoshimoto Are you still there?

[2018-07-30 08:56] daisuke-yoshimoto commented on #1948
@zhaogituser

I cannot find com.gw.oydCloud.upms.server.controller.manage.UpmsDeployController.list in https://github.com/Activiti/Activiti/files/2235203/Activiti-LFP.zip. So, I do not know the exact cause.

But, Perhaps it seems to be caused by commandContext being null, that is, executing DeploymentQuery directly from outside the command. So, please fix to use DeploymentQuery from RepositoryServ

[2018-07-30 09:07] zhaogituser commented on #1948
@daisuke-yoshimoto the project is demo ,not my real project .Now I'm uploading my project.

[2018-07-30 09:11] zhaogituser commented on #1948
@daisuke-yoshimoto First, introduce you to the two necessary startup modules "oydCloud-upms-rpc-service" and "oydCloud-upms-server"

[2018-07-30 09:17] daisuke-yoshimoto commented on #1948
@zhaogituser Where is your project?

[2018-07-30 09:19] zhaogituser commented on #1948
@daisuke-yoshimoto The UpmsDeployController class of the com.gw.oydCloud.upms.server.controller.manage package .

[2018-07-30 09:21] zhaogituser commented on #1948
@daisuke-yoshimoto  sorry my project is over 10 MB.Maybe I send you email if you like .

[2018-07-30 09:22] daisuke-yoshimoto commented on #1948
@zhaogituser Can you use google drive? If google drive, you can upload your project.

[2018-07-30 09:24] zhaogituser commented on #1948
@daisuke-yoshimoto I'm sorry. I don't know what google driver is

[2018-07-30 09:30] zhaogituser commented on #1948
@daisuke-yoshimoto The exception was occurred  in  the list method .

[2018-07-30 09:36] daisuke-yoshimoto commented on #1948
@zhaogituser Do you reproduce that exception using this file too?
[UpmsDeployController.java.txt](https://github.com/Activiti/Activiti/files/2240517/UpmsDeployController.java.txt)

[2018-07-30 09:41] zhaogituser commented on #1948
@daisuke-yoshimoto I can't understand this sentence

[2018-07-30 09:42] daisuke-yoshimoto commented on #1948
@zhaogituser Can you reproduce your exception yet using https://github.com/Activiti/Activiti/files/2240517/UpmsDeployController.java.txt ?

[2018-07-30 09:46] zhaogituser commented on #1948
@daisuke-yoshimoto this class caused exception

[2018-07-30 09:48] zhaogituser commented on #1948
@daisuke-yoshimoto IIs my understanding right?

[2018-07-30 09:54] daisuke-yoshimoto commented on #1948
@zhaogituser OK. My fix cannot resolve your exception.
I will continue to investigate.

Can I reproduce your exception using your old project https://github.com/Activiti/Activiti/files/2235203/Activiti-LFP.zip?

[2018-07-30 09:55] zhaogituser commented on #1948
@daisuke-yoshimoto I ‘m trying to understand your original intention.please give me some times

[2018-07-30 09:57] zhaogituser commented on #1948
@daisuke-yoshimoto NO this exception in my real project . not my demo

[2018-07-30 10:00] zhaogituser commented on #1948
@daisuke-yoshimoto I will try to upload the source code to GIThub ,and i will tell you

[2018-07-30 10:00] daisuke-yoshimoto commented on #1948
@zhaogituser Ohh,if so, it is hard to investigate about your project without your real project.

[2018-07-30 10:04] zhaogituser commented on #1948
@daisuke-yoshimoto Maybe you can give some advice to run my code

[2018-07-30 10:15] daisuke-yoshimoto commented on #1948
@zhaogituser Can you use https://www.dropbox.com/h or https://drive.google.com/drive/my-drive for uploading your real project? If not so, please divide it into multiple files and upload them.

[2018-07-30 11:32] zhaogituser commented on #1948
@daisuke-yoshimoto I just had a google driver account. I will upload my source code to google driver, tomorrow morning. Would you like to share the link with me or if you give me the gmail email address?

Thank you again for your help.

[2018-07-30 11:42] salaboy opened #1952 "Start Process With Process Instance Name via rest and Java APIs"
We should be able to start a process instance with an associated name.

[2018-07-30 11:45] salaboy opened #1953 "Task name required to create a task in Java and REST apis"
While creating standalone task, the task name should be required and validated.

[2018-07-30 11:47] daisuke-yoshimoto commented on #1948
@zhaogituser Good. If you can use google drive, you can upload your project and share its url to me in this thread.

[2018-07-30 11:51] salaboy opened #1954 "Tasks and ProcessInstances filter with "LIKE" operator"
Create Filters for Like of the following field:
[code]

[2018-07-30 11:52] zhaogituser commented on #1948
@daisuke-yoshimoto How to share it safely with you?

[2018-07-30 11:55] zhaogituser commented on #1948
@daisuke-yoshimoto    you can upload  what does  the "in this thread " word  mean  .

[2018-07-30 12:00] Jarvan89 opened #1955 "Activiti 6.0 External form EL check property is null"
in my start  form  i have some checkbox and if checked it ,i can post property to server ,if not checked i do not to post.
in my task form i have all this property in form .but when i try to check property is empty it do not work ;
like this
`<input name="im" value="${empty im ? '':im}" orginline="inline" class="leipiplugins" leipiplugins="checkbox"/> `
or
`<input name="im" value="${im==null?'':im

[2018-07-30 12:23] daisuke-yoshimoto commented on #1948
@zhaogituser Ohh, do you mean that you want to share your real project to only me?

[2018-07-30 12:34] zhaogituser commented on #1948
@daisuke-yoshimoto Yeah, that's it. Just look.

[2018-07-31 03:28] zhaogituser commented on #1948
@daisuke-yoshimoto I don't have a twitter account. Do you have a google driver login?   When I click share again, let me enter the email or name of the person to whom I shared

[2018-07-31 03:41] daisuke-yoshimoto commented on #1948
@zhaogituser Ok. Please chat with me in https://gitter.im/ https://gitter.im/Activiti/Activiti7. Since you have github account, so you can use gitter.

[2018-07-31 03:48] zhaogituser commented on #1948
@daisuke-yoshimoto I just sent you a private chat

[2018-07-31 03:51] daisuke-yoshimoto commented on #1948
@zhaogituser Thanks. I will start check your project and reproduce your exception.

[2018-07-31 05:09] zhaogituser commented on #1948
@daisuke-yoshimoto I uploaded  the project that  was  packaged  in zip

[2018-07-31 07:39] Jarvan89 commented on #1955
im try to use  customFirnEngines .

[2018-07-31 07:39] #1955 closed

[2018-07-31 13:33] daisuke-yoshimoto commented on #1948
@zhaogituser

Sorry I made you wait. After all, I could not confirm the reproducibility in your project, but I understood what seemed to be the cause. When checking applicationContext-dubbo-provider.xml, RepositoryService's bean was not retrieved from processEngine. RepositoryService's bean was directly created from new RuntimeServiceImpl(). So, if you use RepositoryService's bean, its bean cannot

[2018-08-01 05:24] zhaogituser commented on #1948
I see. As you said "RepositoryService's bean was not retrieved from processEngine." .Based on this tip, I created an intermediate class to inject activiti's services into the dubbo registry .`import org.activiti.engine.RepositoryService;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Tr

[2018-08-01 05:29] zhaogituser commented on #1948
@daisuke-yoshimoto But,I can't understand .why not use the repositoryService  (`
  <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />") "` of in activiti-context.xml to inject activiti’s service directly

[2018-08-01 05:40] zhaogituser commented on #1948
@daisuke-yoshimoto    activiti-context.xml .`
  <bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
    <property name="processEngineConfiguration" ref="processEngineConfiguration" />
  </bean>
    <bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />`

dubbo-provider.xml

`
	<dubbo:service interface="org.activiti.engine.Repos

[2018-08-01 06:16] zhaogituser commented on #1948
@daisuke-yoshimoto Your explanation is good. Although my problem has been solved, I would prefer to know the answer to the question I asked you last time .You are a great software engineer.

[2018-08-01 15:57] c14s commented on #1911
Changed implementation in activiti-image-generator/DefaultProcessDiagramCanvas.drawMultilineText().

empty box before the change
---
![processdiagram_without_labels](https://user-images.githubusercontent.com/9110225/43533083-3f544002-95b4-11e8-9682-ab0be79de79f.png)

box incl. label after commit
---
![processdiagram_with_labels](https://user-images.githubusercontent.com/9110225/43533084-3fc62d98-9

[2018-08-01 15:58] c14s commented on #1911
Sorry - pressed "closed" - that was not my intention ;-)

[2018-08-02 11:34] Salaboy commented on #1911
merged in 6.x, would you mind see if it applies to develop?

[2018-08-02 11:34] #1911 closed

[2018-08-02 12:07] c14s commented on #1911
Thanks for merging into 6.x

Applies also to develop; code for drawMultilineText() is the same there.
Unfortunately I wasn't able to test it, because API has changed for generating the image.

[2018-08-02 12:54] daisuke-yoshimoto commented on #1948
@zhaogituser

Sorry I made you wait. I have been busy with my full time job for a while.

`<dubbo:service interface="org.activiti.engine.RuntimeService" ref="runtimeService" timeout="10000"/>
`

This mean that Spring framework uses runtimeService as the implementation of the interface org.activiti.engine.RuntimeService.

`<bean id="runtimeService" class="org.activiti.engine.impl.RuntimeServiceImpl

[2018-08-02 12:57] daisuke-yoshimoto commented on #1948
@zhaogituser
Also, if you want to use activiti-context.xml, you should set so that dubbo-provider.xml refer activiti-context.xml. For example, the following.

`<import resource="classpath:activiti-context.xml"/>`

[2018-08-03 01:04] zhaogituser commented on #1948
@daisuke-yoshimoto Sorry,I took up your precious time.I did it before ,but the  Spring framewrok didn't get the implemention of the interface org.activiti.engine.RuntimeService.  Now ,I do it again.

[2018-08-03 21:59] infa-spritman opened #1957 "Upgrade Activiti Spring Boot Starter Basic to use at least 1.5.9 version of spring-boot-starter-jdbc"
Current, Activiti Spring Boot Starter Basic uses a version of spring-boot-starter-jdbc which has a security vulnerability. Please look at the following links :

[cve-2017-8046](https://pivotal.io/security/cve-2017-8046)
[Spring-Boot-CVE-2017-8046](https://www.cvedetails.com/cve/CVE-2017-8046/)

Kindly update the version of Activiti Spring Boot Starter Basic to atleast 1.5.9.
Thanks.

[2018-08-04 04:52] dingziyang opened #1958 "org.springframework.security.core.userdetails.User cannot be cast to org.activiti.app.security.ActivitiAppUser"
Recently, I tried to integrate activiti6 and springboot2 and made some progress.
However, I have encountered some problems and hope to get answers here.
Problem Description: I use activiti6 and springboot2, and I want to integrate acticiti's web process designer.
1. It works fine when my project is a maven project consisting of a single springboot2
2. When my project is a maven project consisting

[2018-08-07 07:45] AaronSheng opened #1960 "RuntimeService suspendProcessInstanceById cannot work"
I call suspendProcessInstanceById method in ExecutionListener and query process instance isSuspended status is true.
I see SUSPENSION_STATE_  change to 2 of table ACT_RU_EXECUTION in database.
But process instance still running.

[2018-08-08 08:33] cristina-sirbu opened #1961 "Any event should include the user that was involved in the operation"
Currently, there is no reference in the events about the user that triggered them. It should include at least an identifier of it.

[2018-08-08 08:39] Salaboy commented on #1961
Some events should have the user involved or reference a generic system user. This needs to be included at ProcessRuntime and TaskRuntime level.
@erdemedeiros I am assigning this to you for after Beta1 release.

[2018-08-09 13:44] sagitsofan opened #1962 "Activiti db password encryption"
Hey,
Don't you have an infrastructure for encryption db password inside Avctiviti engine?
In this guide: https://www.activiti.org/assets/pdf/Alfresco_Content_Services_Administration_Guide_2017.pdf"
page 360 you explain about how to encrypt the password inside the db.properties file.

But when i am looking at the source code i cant see any decryption of the password key.
File: "DbSchemaExport.java"

[2018-08-09 14:31] balsarori commented on #1962
Hey @sagitsofan
Thats specific to ACS not the Activiti engine. In Activiti engine there is no encryption/decryption done. However, you can encrypt and decrypt values yourself and set the password to Activiti engine configuration (ProcessEngineConfiguration) directly.

[2018-08-11 09:44] SchuckBeta opened #1963 "HistoricTaskInstanceQuery slow"
When calling the interface 👍
--------------------------------------------------------------------------------------------------------------------
HistoricTaskInstanceQuery histTaskQuery = actTaskService.getHistoricTaskInstanceQueryByAssignee()
				.finished().includeProcessVariables().orderByHistoricTaskInstanceEndTime().desc();
                         histTaskQuery.processDefinitionKey(act.getPr

[2018-08-13 07:28] sagitsofan commented on #1962
I am already using the "jasypt-spring-boot lib"
But i don't know where can i add the encryption/decryption logic for the db password.
Can you guide me where exactly can i add the change? in which line / class?
Thanks!

[2018-08-13 08:59] balsarori commented on #1962
what version of Activiti are you using?

In 5.22 and 6.0, you just get the password property (which should have been already decrypted) and set it to
https://www.activiti.org/javadocs/org/activiti/engine/processengineconfiguration#setJdbcPassword-java.lang.String-

[2018-08-13 11:07] Salaboy commented on #1962
Guys, this sounds more like a user question than an issue. Can you guys move the conversation to the forums?

[2018-08-13 11:09] Salaboy commented on #1936
@ffazzini I am closing this one because for beta1 we have removed all the Netflix OSS dependencies, so this issue by default shouldn't appear.

[2018-08-13 11:09] #1936 closed

[2018-08-13 11:11] Salaboy commented on #1910
We need to review this for Beta2, so the guidelines are clear about how do we plugin in the Netflix OSS libraries when we need them.

[2018-08-13 11:13] #1900 closed

[2018-08-13 11:13] Salaboy commented on #1900
The initial set of API was DONE for beta1

[2018-08-13 11:14] Salaboy commented on #1871
Initial work done for Beta1, more polishing is needed for beta2

[2018-08-13 11:17] Salaboy commented on #1842
@lijing666 thanks for the suggestion, but I don't see if this can be fixed in our side for now.
If you have a suggestion/fix that allows us to remove the subclass type from the json body, that will be a great community contribution.

I'm closing this because there is not much that we can do on our side.

[2018-08-13 11:17] #1842 closed

[2018-08-13 11:18] Salaboy commented on #1721
@ryandawsonuk is this still valid? I notice that now the keycloak adapter is even in start.spring.io so I bet that JHipster is going to back to use that.. or not? It feels like UAA is going to be needed anyway.

[2018-08-13 11:19] Salaboy commented on #1399
we solved most of this with the new API for Beta1 and the starters refactoring. More refined issue needs to be created with the ones that we want to improve now.

[2018-08-13 11:26] Salaboy commented on #1703
Closing because beta1 already adopted a way of dealing with command type endpoints.

[2018-08-13 11:26] #1703 closed

[2018-08-13 11:26] Salaboy commented on #1557
@ryandawsonuk @erdemedeiros closing this because it was fixed by the new API in Beta1

[2018-08-13 11:26] #1557 closed

[2018-08-13 11:28] Salaboy commented on #1804
we need to review this for Beta2 with @erdemedeiros and @mauriziovitale

[2018-08-13 11:29] Salaboy commented on #1772
@ffazzini @erdemedeiros @ryandawsonuk we already have Exception handling in our REST controllers, do we need more? where? I will close this broad issue , Please create new issues for the specific cases.

[2018-08-13 11:29] #1772 closed

[2018-08-13 11:31] Salaboy commented on #1691
@daisuke-yoshimoto can we have a chat about this issue? We might want to do timers first.

[2018-08-13 11:32] Salaboy commented on #1673
@ryandawsonuk I think that this was solved already. We should check with the blueprint, but Beta1 included the fix already. Let's create a new issue if this is not the case.

[2018-08-13 11:32] #1673 closed

[2018-08-13 11:32] Salaboy commented on #1499
This requires further review.

[2018-08-13 11:33] Salaboy commented on #1795
@mauriziovitale is there any action to be performed here? can we create more concrete issues if there are fields missing?

[2018-08-13 11:33] #1795 closed

[2018-08-13 11:34] Salaboy commented on #1821
@mauriziovitale this require review. I think that this is already working in Beta1. We need to add a new acceptance test for covering this scenario.

[2018-08-13 11:36] Salaboy commented on #1679
@erdemedeiros we need to add some checks for the exceptions that we are throwing and data validation in our endpoints.

[2018-08-13 11:38] Salaboy commented on #1704
initial work done for Beta1

[2018-08-13 11:38] #1704 closed

[2018-08-13 11:39] Salaboy commented on #1770
@ryandawsonuk I am not entirely sure that we should. Maybe only in the Admin API

[2018-08-13 11:40] wxp20032003 commented on #1930
Problems still exist.
@Salaboy @ryandawsonuk
![mytaskaction_hsipreview](https://user-images.githubusercontent.com/13210205/44029572-5bbcf498-9f30-11e8-814f-f72888d1ecd3.png)
![qq 20180813193151](https://user-images.githubusercontent.com/13210205/44029578-6067577c-9f30-11e8-9b91-356593ff23b5.png)
![qq 20180813193459](https://user-images.githubusercontent.com/13210205/44029583-636179da-9f30-11e8-826

[2018-08-13 11:40] Salaboy commented on #1887
we have more work to do on this front.. @ryandawsonuk can we create a new issue for beta2?

[2018-08-13 11:40] Salaboy commented on #1754
this is done for beta1

[2018-08-13 11:40] #1754 closed

[2018-08-13 11:43] Salaboy commented on #1758
@ryandawsonuk @mauriziovitale no sorting, filtering capability will be provided by the RB, we should throw an error if people is trying to do that. All sorting and filtering should be Query Service's responsibility.

[2018-08-13 11:43] #1758 closed

[2018-08-13 11:43] Salaboy commented on #1539
It didn't make beta1, so we need to review for beta2

[2018-08-13 11:48] erdemedeiros commented on #1830
I think this is no longer necessary. I'm closing it.

[2018-08-13 11:48] #1830 closed

[2018-08-13 11:51] Salaboy commented on #1963
@SchuckBeta can you please specify which version of Activiti are you using? Also usually it is recommended to add indexes to your database (depending which DB are you using is how you do that), have you done some of that already?

[2018-08-13 12:35] #1770 closed

[2018-08-13 13:49] balsarori commented on #1962
@sagitsofan you can post your question here -> https://community.alfresco.com/community/bpm

[2018-08-13 17:08] lucianoprea opened #1964 "RuntimeBundle - TaskVariableController setVariables taskId param not used"
The endpoint to **setVariables** for a task receives an _taskId_ as a path param is never used, in the end is used the one sent in the body of request. As @erdemedeiros suggested I think this one should be set in the SetTaskVariablesPayload as taskId. This should be an easy fix.

[2018-08-13 17:12] erdemedeiros opened #1965 "Should not fail to start when the process definition folder is not found"
When the folder containing the process definitions to be deployed is not found a warning message should be logged, but the Spring Boot application should be able to start.

[2018-08-14 07:31] erdemedeiros commented on #1772
@Salaboy we have exception handlers in our controllers, but they are returning plein String. It should probably return a json instead. In addition, I think @ffazzini is referencing the Alfresco media-type (currently not covered for errors).

[2018-08-14 11:05] erdemedeiros commented on #1745
After the latests changes the content for runtime-bundle became:
[code]
We should homogenise both query and runtime-bundle to camel case as suggested by @mauriziovitale :

[code]

[2018-08-14 12:52] Salaboy commented on #1745
@erdemedeiros I think that simple names such as processInstances is the best option.
But @mauriziovitale will probably want entries (using the DBP format right?)

[2018-08-14 16:50] ggrnd0 opened #1967 "[6.0] Multiple DestroyScopeOperation on one ExecutionEntity & stucked parallel GW"
https://github.com/Activiti/Activiti/blob/126e89911d49c6ec0ab3f222baeea2a256e24c0d/activiti-engine/src/main/java/org/activiti/engine/impl/agenda/DestroyScopeOperation.java#L46-L51

Must there be `if(scopeExecution.isDeleted()) { return; }` ?

Executing flows after subProcess completed fires multiple times.
Looks like it does not affect anything...

[2018-08-14 17:04] ggrnd0 commented on #1967
There is another linked issue.

https://github.com/Activiti/Activiti/blob/126e89911d49c6ec0ab3f222baeea2a256e24c0d/activiti-engine/src/main/java/org/activiti/engine/impl/bpmn/behavior/ParallelGatewayActivityBehavior.java#L77

Parallel GW processed after subProcess (any isScope = true execution?) stucks as is associated execution already deleted and *findInactiveExecutionsByActivityIdAndProcessInst

[2018-08-15 09:03] erdemedeiros commented on #1745
@Salaboy this issue only affects HAL format. The DBP format is already fine:
[code]

[2018-08-15 10:47] ggrnd0 commented on #1967
Sorry, looks like it is our bug.
But not only one...
Close yet

[2018-08-15 10:47] #1967 closed

[2018-08-19 16:43] liusiying65200 opened #1969 "Unable Fork"
unable fork and git https://github.com/Activiti/Activiti/tree/activiti-7-201709-EA/activiti-services/activiti-services-identity-keycloak

[2018-08-20 06:43] krishnashum opened #1970 "[Core] Business key in list of tasks"
I think it would be good to have the business key to be a part of taskInfo, as In some scenarios the business key plays a [vital role](https://community.alfresco.com/thread/226323-business-key-in-list-of-tasks).

[2018-08-20 08:01] #1965 closed

[2018-08-20 09:06] Salaboy commented on #1958
@dingziyang we have just release Activiti 7.0.0.Beta1 core with support for Spring Boot 2. It will be really nice if you can give it a try and provide feedback.

[2018-08-20 11:37] Salaboy commented on #1969
@liusiying65200 not sure to understand what do you want to fork? You can fork a repository not a branch or a tag. What is the error? This is not an issue, so I'm closing it. Feel free to jump into our gutter channel if you want to have a discussion about this, or if you want to ask questions there. This is reserved for code issues. https://gitter.im/Activiti/Activiti7?utm_source=share-link&utm_med

[2018-08-20 11:37] #1969 closed

[2018-08-20 13:01] SpenceUK opened #1971 "activiti-explorer.war 5.22.0 Modeler does not load"
Hello,
When I use the activiti-explorer.war included in activiti 5.22.0 I can log in using kermit/kermit and navigate to 'processes' and then the page to manage processes but when I click edit on a process, a new process or an uploaded process it does not load the Activiti-Modeler 1.0.
It shows a screen with the new activiti alfresco logo in the top left, and a blank screen?

[2018-08-20 13:19] balsarori commented on #1902
#1912 merged.

[2018-08-20 13:19] #1902 closed

[2018-08-20 15:30] vrrenga123 commented on #1595
this issue still reproducible in keycloak-4.3.0.Final version

[2018-08-21 11:12] Salaboy commented on #1970
@krishnashum +1, I think that we can easily add that in the new APIs that we released for beta1. Would you be interested in contributing back with those changes? It sounds like a great opportunity to get involved with the project. We are happy to guide you in the process.

[2018-08-21 17:28] itamarribeirosilva commented on #1199
@purvendra-k
Sorry my basic question,
This correction not aplied in general release (Activiti 6.0.0) avaliable for deploy.
I  think shoud I build my own release.
Can you help me with the steps for build from sources ?
I tried "mvn install" but can't found Activit-app.war, Activit-admin.war and and Activit-rest.war.

Also i tried to build (Make Activit-app.war, Activit-admin.war and and Activit-res

[2018-08-22 09:15] krishnashum commented on #1970
sure. I will do the needful changes. Could you please provide some heads up on the process.

[2018-08-22 11:10] Salaboy commented on #1970
@krishnashum I would recommend you to clone the activiti-examples project and then fork activiti-api and activiti repositories.
The behaviour that you want to implement needs to be added to the engine when creating a task. But in order to validate that the behaviour is correct we need to create first an example to demonstrate it. Please popup in the gitter channel and we can guide you further.

[2018-08-22 13:15] ffazzini opened #1972 "Create connector model based on community json definition"

[2018-08-23 09:57] SchuckBeta commented on #1963
How can you display the SQL that Activit actually executes?

We cannot know the specific SQL of execution.
So you cannot optimize the index.

[2018-08-23 19:47] c3s4r commented on #1638
Are there any plans to fix this issue on Activiti 6 or 7?

[2018-08-24 08:34] Salaboy commented on #1638
@daisuke-yoshimoto @c3s4r yes, this should be fixed in develop for 7. I bet that @daisuke-yoshimoto is already working on it :)

[2018-08-24 11:17] Salaboy commented on #1971
@SpenceUK is that a problem of your browser? can you add more info to the bug report?

[2018-08-24 14:34] zhengyang1988 opened #1975 "For my bpmn file the output of the layout is ugly"
I programmatically created a .bpmn file without DI information using activiti dynamic API. Then I read this .bpmn file and convert it to a activiti BpmnModel object using activiti BpmnXMLConverter then I use BpmnAutoLayout to lay out the BpmnModel object and finally convert the laid out BpmnModel object to xml file and display the xml file. The diagram is ugly. See below:
![image](https://user-ima

[2018-08-25 13:49] wy545 opened #1976 "the old activiti load the new process key,help me"
hi,please help me.
Now, I add one branch on the base of the existing process, and according to the different condition to decide to go to which branch. As follows:
![image](https://user-images.githubusercontent.com/20380902/44618805-ca34c800-a8af-11e8-83d1-5fb8abd5ee90.png)

the new as flows:
![image](https://user-images.githubusercontent.com/20380902/44618822-05cf9200-a8b0-11e8-90c7-8204f5f32b0f.

[2018-08-26 00:35] daisuke-yoshimoto commented on #1976
What do you mean about that machine B loads the old process definition?
If you start process instances by specifying the process definition key not process definition id, process instances load old process definition? https://www.activiti.org/userguide/#versioningOfProcessDefinitions

Also, how do you creating clustering between machine A and machine B? Can not machine A and machine B refer to the

[2018-08-27 06:35] wy545 commented on #1976
@daisuke-yoshimoto
thanks your answer.
what I mean  is that, by example, machine A and B process the request using a process definition of version of 111, that is ok. However, when I modify this process definition and deploy it only in machine
A, we can know the version is to 112. Now, machine A process the request using version 112, machine B
process the request using which version?
From the mach

[2018-08-27 06:43] wy545 commented on #1976
@daisuke-yoshimoto
machine A and B refer to the same DB. And, I use spring and activi, using this configuration.
![image](https://user-images.githubusercontent.com/20380902/44644657-7b9a4180-aa07-11e8-8589-2c28c5957fff.png)

[2018-08-27 06:49] daisuke-yoshimoto commented on #1976
@wy545
If machine A and B refer to the same DB and you create new process insntace by specifying the process definition key not process definition id, process instances load new process definition(the version  112).

If you want to use old version at only machine B, you should start process insntace byspecifying the process definition id not process definition key.

[2018-08-27 07:04] wy545 commented on #1976
@daisuke-yoshimoto
I know what you mean. But as we all know, starting the process using key is reasonable. I wonder why machine B is affected by other machine. And ,if this is true, we modify process and then deploy at some machines , other machines can not process the request correctly which I think is not properly.

[2018-08-27 14:38] daisuke-yoshimoto commented on #1976
@wy545
f machine A and B refer to the same DB and you create new process insntace by specifying the process definition key not process definition id, process instances load only new process definition(the version 112). But, since machine B project is old and process instances created in machine B cannot load new Business Logic, so process instances created in machine B have no variables named 'xia

[2018-08-29 09:34] jtama-op opened #1977 "Deadlock on table ACT_RU_EXECUTION, activiti 7-201802-EA"
Hi,
We are currently using Activiti 7-201802-EA, activiti-spring and database Oracle 11.
We regularly encounter deadlocks with the following message :
[code]
The following issue #741 seems to relate to the same bug.

We use the following configuration :
[code]

The process is the following :
[code]
This error has been triggered more than 500 times in a 15 hours window.

How can we prevent this? Do

[2018-08-29 14:28] balsarori opened #1978 "Remove Activiti5 compatibility code from Activiti7"

[2018-08-29 15:38] mteodori opened #1980 "Query tries to configure with spring cloud config service"
Looks like a leftover as it happens only on query service

[2018-08-30 06:22] banq opened #1981 "maven compile activiti-bpmn-converter error"
Found 14 illegal transitive type dependencies in artifact 'org.activiti:activiti-bpmn-converter:jar:7-201803-EA-SNAPSHOT':
1.) javax.xml.namespace.NamespaceContext
2.) javax.xml.stream.Location
3.) javax.xml.stream.XMLInputFactory
4.) javax.xml.stream.XMLOutputFactory
5.) javax.xml.stream.XMLStreamException
6.) javax.xml.stream.XMLStreamReader
7.) javax.xml.stream.XMLStreamWriter
8.) javax.xml.tra

[2018-08-30 07:48] banq commented on #1981
just download the news version all ok

[2018-08-30 13:45] ffazzini opened #1982 "consumer connector definition"

[2018-08-30 13:55] Salaboy commented on #1982
For more reference look at: https://docs.google.com/document/d/1nMuDZ7ZFUIJrdKNiLFNCNQv6o0lvurqASW3wpWQqWnQ/edit?ts=5b87b221#heading=h.vr6pi366iwil

[2018-08-31 14:00] mash7923 opened #1983 "Unable to fetch cummanlative results"
when given single assignee1 i was able to fetch 9 records & with assignee2 got 1 record.. trying to get records with both assignee1 or assignee2 with cumulated result of 10 records but fetching none.

for (String userId : userIds) {
  taskInfoQuery.or();
  taskInfoQuery.taskAssigneeLikeIgnoreCase(userId);
  taskInfoQuery.endOr();
}

[2018-09-01 19:10] ptahchiev opened #1985 "Allow cystomers to register their own SpringAsyncExecutor when using spring-boot."
It would be very helpful if the the `SpringAsyncExecutor` definition had the `@ConditionalOnMissingBean` annotation:

https://github.com/Activiti/Activiti/blob/develop/activiti-spring-boot-starter/src/main/java/org/activiti/spring/boot/AbstractProcessEngineAutoConfiguration.java#L45

[2018-09-04 14:29] #1980 closed

[2018-09-05 02:10] sb99999 opened #1988 "How is the online process designer of activiti6 integrated into the project"
I did not find Activiti-Modeler of activiti6.0, How is the online process designer integrated into the project of activiti6.

[2018-09-05 13:54] lucianoprea opened #1989 "Runtime Bundle - ProcessInstanceVariable create update endpoint"
There is not endpoint to update the process variables but only  to set them.
`**POST**  v1/process-instances/{{processInstanceId}}/variables` so we need to create a dedicated one for this and also fix that the path parameter **processInstanceId** that is never used. You need to send the **processInstanceId** inside body to work.
[code]

[2018-09-06 09:50] constantin-ciobotaru opened #1990 "Integrate modeling service with keycloak"

[2018-09-06 11:44] lucianoprea opened #1991 "Query - Task is not updated"
When a task is updated in runtime-bundle service with success the changes are not also propagated to query service.

[2018-09-10 09:41] jtama-op commented on #1977
Hi any update on this issue

[2018-09-10 09:44] ffazzini opened #1992 "create endpoint in RB to show connector definitions"

[2018-09-10 10:05] Salaboy opened #1993 "CI/CD Enablement Work"
All the task related with enabling CI/CD pipelines

[2018-09-10 10:17] salaboy opened #1994 "Create pipelines for Activiti Frameworks"
This work includes the refactoring of the following repositories (branch: salaboy-1994-CI-CD):
- [activiti-build](http://gitHub.com/activiti/activiti-build)
- [activiti-api](http://gitHub.com/activiti/activiti-api)
- [activiti](http://gitHub.com/activiti/activiti)
- [activiti-dependencies](http://gitHub.com/activiti/activiti-dependencies)
- [activiti-examples](http://gitHub.com/activiti/activiti-e

[2018-09-11 08:23] salaboy opened #1995 "Create pipelines for Activiti Cloud"
This work includes the refactoring of the following repositories:

- activiti-cloud-build
- activiti-cloud-api
- activiti-cloud-service-common
- activiti-cloud-runtime-bundle-service
- activiti-cloud-query-service
- activiti-cloud-audit-service
- activiti-cloud-dependencies

[2018-09-12 09:10] jtama-op commented on #1977
We found the root cause.

In activiti oracle DDL there are at least 3 foreign keys that are not covered by indexes.
When deleting rows, oracle check data consistency. If no indexes exists oracle will lock the table even if the table lock mode is row lock.

We created missing indexes :

[code]

Deadlock doesn't occure anymore.

[2018-09-12 09:52] Salaboy commented on #1977
@jtama-op ok.. now I have more context to it.. and thanks a lot for you PR. Can you try beta1? We will do our best to include your fix for Beta2. It will be great if you join our gitter channel to have more conversations about your experiments: https://gitter.im/Activiti/Activiti7?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2018-09-12 09:59] Salaboy commented on #1926
@constantin-ciobotaru ok so this is still open because we need to have acceptance tests for these endpoints 👍

[2018-09-12 10:02] salaboy opened #1999 "ModelTypes beans registration for supporting dynamic (classpath) model types"
We need to remove the Fixed ENUM for model types and use a mechanism similar to Connector Bean types discovery for enabling implementors to register new model types.

We can then expose these supported model types in the ORG services.

[2018-09-12 10:04] Salaboy opened #2000 "Creating the app.json file when exporting application zip file"
Exporting an application should generate a zip file with all the process models inside a processes/ directory and an app.json file which contains the following information in json format:
- Sting id
- String name
- String description
- String version

[2018-09-12 10:08] salaboy opened #2001 "Application Zip file structure definition conformance"
The application zip file for Beta2 needs to conform to the following structure:
- {Application.Name-Application.Version}.zip
  - processes/ -> directory which will contain all process bpmn xml definitions
     - bpmn files
     - process extensions file (after beta2)
  - app.json -> descriptor of application metadata

After beta2 we might support more definitions such as connectors, forms, decisio

[2018-09-12 10:10] salaboy opened #2002 "Remove Form references from community Beta2"
There are Form references which were added for testing purposes that needs to be removed.
The Enum type will be removed by https://github.com/Activiti/Activiti/issues/1999

[2018-09-12 10:12] salaboy opened #2003 "Create HELM charts for Modeling"
A HELM chart for activiti-cloud-modeling should be created in conformance with the activiti-cloud-charts.
This chart needs to include
1) the backend services first
2) the front end modeling app when it is available in community

This HELM chart needs to define 2 containers inside the same pod so we can manage the connection between the two as local.
This requires https://github.com/Activiti/Activi

[2018-09-12 10:14] salaboy opened #2004 "Acceptance Test for Modeling Service"
We need to improve the current acceptance tests to cover the basic operations of the modeling backend services to simulate the UI interactions:
- CRUD Application
- CRUD process model
- Export Application (ZIP file) https://github.com/activiti/activiti/issues/1926
- Import Application

This requires https://github.com/Activiti/Activiti/issues/2001 and https://github.com/Activiti/Activiti/issues/20

[2018-09-12 10:15] salaboy opened #2005 "Docker images for Backend and FrontEnd modeling"
We need to have under the Activiti ORG in Docker Hub the following docker images tagged in the same way as our community Activiti Cloud OSS components:

- activiti-cloud-modeling (backend)
- activiti-cloud-modeling-app

[2018-09-12 15:00] mteodori commented on #2003
The backend URL needs to be accessible from the browser in the front-end app, so the local connection wouldn't help

[2018-09-12 16:35] mteodori commented on #2003
didn't mean to close, just add the comment

[2018-09-14 07:53] Salaboy commented on #1977
@damienb-opt that make sense to me, but it is oracle specific that is why we need to make sure that we keep some alignment with other DBs.

[2018-09-14 09:27] Salaboy commented on #1769
@ryandawsonuk is this done? I can see a merged PR here.. please close if it is fixed..

[2018-09-14 09:36] Salaboy commented on #1466
Update on this issue is that it is working, and we should use it in our examples in kubernetes. I just need to refine this one: https://github.com/Salaboy/showcase-admin-tool

[2018-09-14 09:59] lucianoprea commented on #1769
I think is done partially, you can send the variable as key-value pair but without specifying the type and when you get them back you get also the type determined by engine (but not for dates). @mauriziovitale  is asking support to send also the type.

[2018-09-14 11:55] ryandawsonuk opened #2007 "flag to control whether ITs run and docker containers start"
We want to be able to control whether integration tests run or not, including whether docker containers are started as many of our ITs use the docker-maven-plugin.

[2018-09-14 14:42] erdemedeiros commented on #1995
https://github.com/Activiti/Activiti/issues/1995

[2018-09-15 06:49] mkawczynski07 opened #2009 "activiti 7 + jhipster user authorization"
Hi.

I created microservice with jhipster. I added to it activiti **7.0.0.Beta1**. My microservices are configured to use jhipster UAA. I added a small endpoint to create process instance:

[code]

And it works perfectly. :)
But when I try to expose list of current users task in this way:

[code]
I get exception:

[code]

For me seams that spring-boot inject **InMemoryUserDetailsManager** but i do

[2018-09-15 09:34] mkawczynski07 opened #2010 "Unable to obtain process instance variables if one of them is serializable object"
I created process instance with this code:
[code]
Offer is simple POJO with name and description. I try to get process instance variables in this way:
[code]

Unfortunately, I get an error:
[code]

[2018-09-17 09:17] lucianoprea commented on #1769
I need to check that.

[2018-09-17 12:55] Salaboy commented on #2010
@mkawczynski07 thank you for reporting this.. are you using Beta1?
The problem seems to make sense to me. You are sending an object that cannot be deserialised inside the RuntimeBundle. The Offer class will need to be in the RuntimeBundle class path in order to get that working. Does that make sense?

[2018-09-17 12:58] Salaboy commented on #2009
@mkawczynski07 great that you are trying our stuff with JHipster, we will provide further integrations before the final release. Would you consider jumping into our Gitter channel so we can help you to get this working.
The main problem is the UAA integration, which shouldn't be difficult but we need to implement it, and it sounds like a great community contribution. I am confident that if we coll

[2018-09-17 14:19] mkawczynski07 commented on #2010
Make sense ... how to check that @Salaboy ?

[2018-09-17 16:06] Salaboy commented on #2009
@mkawczynski07 great!!! those are great news! We can definitely collaborate in that .. get in touch via gitter so we can have a more detailed conversation.

[2018-09-17 16:07] Salaboy commented on #2010
@mkawczynski07 how to check what? you will need to add the jar that contains the Offer class into the Runtime Bundle. We want to provide more dynamic types support in the future, but we are not quite there yet.

[2018-09-18 04:42] mkawczynski07 commented on #2010
@Salaboy but what you exactly mean by **Runtime Bundle**? I found [this](https://webcache.googleusercontent.com/search?q=cache:wEE0cI6Xe4kJ:https://github.com/Activiti/activiti-7-developers-guide/blob/master/components/activiti-cloud-app/RuntimeBundle.md+&cd=2&hl=pl&ct=clnk&gl=pl).

Offer class is in the same java project/package as my endpoint. So both of them are in the same classloader. Also, t

[2018-09-18 08:05] Salaboy commented on #2010
@mkawczynski07 that will be really useful. We might be missing something in the configuration of the new APIs for serialization so a reproducer will be extremely useful to fix this asap.

And you got the right link for what a runtime bundle is... if you are planning to deploy your services on kubernetes we tend to recommend using (and modifying/extending) our cloud components approach instead of w

[2018-09-21 06:50] constantin-ciobotaru commented on #2003
@ryandawsonuk I pushed a stub in a separate branch for Miguel. His in charge with the modeling helm chart, from what I know.

[2018-09-21 11:14] magemello commented on #1991
@salaboy is this bug fixed?

[2018-09-21 11:32] ffazzini commented on #1992
PR ready: https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/79

[2018-09-25 12:52] magemello opened #2022 "ProcessInstanceImpl offers a setId and TaskImpl doesn't"
Would be good to have some consistency we could choose, one of the following:

1. For the sake of immutability not expose setId and add a constructor, and in this case remove the setId from TaskImpl
2. Add the setId also on ProcessInstanceImpl, and decide to be less defensive.

I would vote for the number 1....I we chose I can than create a PR to fix it.

[2018-09-27 08:20] constantin-ciobotaru opened #2024 "Add dynamic model validator beans corresponding to the dynamic model types"

[2018-10-02 10:33] ggrnd0 opened #2037 "6beta2 > 6 timers migration"
We migrated from 6beta2 to 6.0.0.0 and have one very sad issue with it.

there is migration script part affects issue.
[code]

The issue is in our 6beta2 application most of timers handler_type_ is 'trigger-timer'.

[code]

timer-start-event	>>	1
trigger-timer		>>	10200

Why???

[2018-10-02 10:41] ggrnd0 commented on #2037
When prod started all act_ru_job(handler_type_='trigger-timer') was triggered.
And all 10k timers executed...

[2018-10-03 17:30] daisuke-yoshimoto commented on #2010
@salaboy @mkawczynski07
Hi. I fixed this issue and made the pull request https://github.com/Activiti/Activiti/pull/2046.
Please review this one.

[2018-10-04 17:41] salaboy opened #2047 "Read Modeller Zip file from Runtime Bundle and core Activiti Deployer"
Enable the Runtime Bundle core services and the internal engine deployer to read the zip file coming from the export feature of modeler app.

[2018-10-05 07:12] rohanpatkar commented on #1437
Guys, do we have any updates on this requirement? I have a case where I am planning to do same stuff that  wplin007 had mentioned.

[2018-10-05 11:21] balsarori opened #2049 "Process variables extensions"
Allow to start a process with initial variables in addition to enforcing required constraints.

[2018-10-05 14:07] salaboy commented on #1437
@roberthafner there are some updates about this, and the new modeler is coming out with beta2.
We currently have the front end in Angular 6 and the backend are spring boot 2 services.
But the setup also includes SSO(Keycloak)  which is something that we can avoid in the future for simple use cases:
https://github.com/Activiti/activiti-modeling-app -> Front end

https://github.com/Activiti/activiti

[2018-10-05 14:09] salaboy commented on #2037
@ggrnd0 which DB are you using?

[2018-10-08 07:04] constantin-ciobotaru opened #2051 "delete Application from database doesn't cascade to models and fails"

[2018-10-08 11:19] ffazzini commented on #2001
From our conversation on Friday we will have one single extension file at application level extensions.json

[2018-10-08 12:37] salaboy commented on #2001
@ffazzini I don't think so.. we will have one per process. Are you talking about process extensions? those ones are one per process.

[2018-10-08 12:37] salaboy commented on #2001
let me update the description of this issue

[2018-10-08 12:46] mauriziovitale commented on #1952
for my point of view the name should be mandatory

[2018-10-08 12:49] salaboy commented on #1952
I disagree, there are situations where you don't want to set a name and it also adds an extra step for the user, we should automate this when possible, probably in the modeling app.

[2018-10-10 10:02] 785227331 opened #2054 "The deployment contains process definitions with the same key (process id atrribute), this is not allowed"
Hello, I have a problem, my project is springMVC + Activiti, and when the project startup it report the following error :
`Caused by: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'processEngine': FactoryBean threw exception on object creation; nested exception is org.activiti.engine.ActivitiException: The deployment contains process definitions with the sa

[2018-10-10 13:22] balsarori commented on #2054
This is expected if two or more process definitions have the same process key (the process id in the BPMN xml file). Make sure that all process definitions BMN xml files have different ids of the process element.

[2018-10-10 14:41] salaboy commented on #2009
@mkawczynski07 did you manage to make progress on this front?

[2018-10-10 16:05] mkawczynski07 commented on #2009
Unfortunately nope. But integration with jhipster uaa is part of our next sprint. So I will be working on it by the end of the month.

[2018-10-11 02:03] 785227331 commented on #2054
I only have one file ending in .bpmn, but there are two processDefinitions that I found when debugging.

`// check if there are process definitions with the same process key to prevent database unique index violation
    List<String> keyList = new ArrayList<String>();
    for (ProcessDefinitionEntity processDefinition : processDefinitions) {
      if (keyList.contains(processDefinition.getKey()))

[2018-10-11 02:38] daisuke-yoshimoto commented on #2054
@785227331
Could you upload your bpmn here without secret information?

[2018-10-11 02:45] 785227331 commented on #2054
@daisuke-yoshimoto  This is my bpmn file content：
`<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<definitions xmlns="http://www.omg.org/spec/BPMN/20100524/MODEL" xmlns:activiti="http://activiti.org/bpmn" xmlns:bpmndi="http://www.omg.org/spec/BPMN/20100524/DI" xmlns:omgdc="http://www.omg.org/spec/DD/20100524/DC" xmlns:omgdi="http://www.omg.org/spec/DD/20100524/DI" xmlns:tns="http://www.ac

[2018-10-11 06:02] #2054 closed

[2018-10-11 06:34] daisuke-yoshimoto commented on #2054
@785227331
Could you tell us the result or cause of your problem?

[2018-10-11 09:10] ggrnd0 commented on #2037
MSSQL, i did nothing...

[2018-10-11 12:10] mteodori opened #2057 "Removed ACT_MEMBERSHIP_ID table still referenced in MyBatis query"
https://github.com/Activiti/Activiti/blob/e5b19a6b39a5df602f4f9053e983aef0373b2210/activiti-engine/src/main/resources/org/activiti/db/mapping/entity/Task.xml#L1058

[2018-10-12 04:09] 785227331 commented on #2054
Thank you for your help, I found someone who is familiar with the project to help, it seems to be a problem with the setup. Thank you 。

[2018-10-14 14:11] ElhamJamshidpey opened #2060 "add process deployment date and process name in submitStartFormData response object"
add this fields on submitStartFormData response in ProcessInstance object:
1- process deployment date
2- process name

[2018-10-15 09:07] salaboy commented on #2060
@ElhamJamshidpey Hi there, this sounds like a feature request. Can you please elaborate?
Which version of Activiti are you using? and what is the scenario that you want to cover?

Thanks

[2018-10-15 09:16] salaboy commented on #1990
done and merged into develop

[2018-10-15 09:16] #1990 closed

[2018-10-16 14:03] ElhamJamshidpey commented on #2060
Hi,We use activiti version 5.12 but I suppose this data aren't in latest version as well.In near future we moving to latest version.
I want get the name of process and and process deployment time after start a process because I must show this information on top of the form when start a process ,I need this information without any other service call,right  now I have to use two activiti service cal

[2018-10-16 15:58] daisuke-yoshimoto commented on #2060
@ElhamJamshidpey
Do you mean api FormService.submitStartFormData?
https://www.activiti.org/javadocs/org/activiti/engine/formservice#submitStartFormData-java.lang.String-java.util.Map-

By the following code, you can get process definition name by only in memory access(from cache).

`((ProcessEngineConfigurationImpl) processEngineConfiguration).getProcessDefinitionCache().getName()`

[2018-10-16 17:33] daisuke-yoshimoto commented on #2010
### Variables(serializable)

In engine layer, we can handle variables by using Java APIs like RuntimeService.setVariable/getVariable.If the parameter value over the argument of RuntimeService.setVariable matches the following conditions, the variable is stored in the database as binary(Table ACT_GE_BYTEARRAY Column BYTES_).

* Condition
  * byte[]
    * https://github.com/Activiti/Activiti/blob/de

[2018-10-17 07:36] 83521166 opened #2064 "activiti demo can only set in jdk1.8"

[2018-10-17 07:38] 83521166 commented on #2064
it present http error 401 in jdk 1.9

[2018-10-17 14:54] lucianoprea opened #2066 "Improve TaskAdminController in runtime-bundle-service"
Currently an admin can currently only query for all tasks. The api for other operations like update/delete is available but the endpoints in [TaskAdminController](https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-services-runtime-bundle/activiti-cloud-services-rest-api/src/main/java/org/activiti/cloud/services/rest/api/TaskAdminController.java) (RB) are

[2018-10-18 05:30] miladamery opened #2068 "Support spring 2 in Spring-boot-starter-basic"
Hi. in our company we use activiti with spring. currently we use spring boot 1.5.x but new requirements need us to migrate to spring boot 2 so we can handle those new requirements. in the process of migrating i saw you are using spring boot 1.2.x (which has security vulnerabilities too according to #1957). so i want to ask first will you migrate this project to spring boot 2? and second if you are

[2018-10-18 05:59] salaboy commented on #2068
@miladamery we already migrated to spring boot 2 for Activiti Core 7 and Activiti Cloud. You can find that in our "develop" branch under activiti-spring-boot-starter. Also in Maven central with the Beta1 release.

[2018-10-18 06:00] #2068 closed

[2018-10-18 06:01] salaboy commented on #2064
@83521166 can you please clarify which demo with which version?

Thanks

[2018-10-18 06:03] salaboy commented on #2037
@balsarori can you please review this, you might spot what the problem is with the migration.

[2018-10-18 06:05] salaboy commented on #1995
done, more specific issues will be created to refine this

[2018-10-18 06:05] #1995 closed

[2018-10-18 07:17] pjypjy commented on #2068
Excuse me, how do I get it FromProperties in Activiti 7 ?I can't found the FormService and I can't found the document about this change.Thank you very much.

[2018-10-18 08:58] pjypjy commented on #2068
:) Thank you ~

[2018-10-18 13:34] #2003 closed

[2018-10-18 15:09] igdianov opened #2069 "It would be nice to have additional attributes in RuntimeEvent"
from process run-time context such as `businessKey`, `processDefinitionKey`, `processInstanceId` so that, events can be easily correlated with business application context using GraphQL subscriptions to only receive notifications for events that match values specified in the subscription:

https://github.com/Activiti/activiti-api/blob/develop/activiti-api-model-shared/src/main/java/org/activiti/ap

[2018-10-19 08:20] 83521166 commented on #2064
@salaboy demo is activiti 6.0.0/wars , can't open in Tomcat 7, then I switch jdk9 to jdk1.8, it works well
Thanks for your reply

[2018-10-20 06:01] miladamery opened #2073 "is spring-boot-starter-basic project (the one that use spring boot 2) compatible with activiti version 5?"
Hi. i need to get answer of some questions for my boss in company. in our company we use activiti v5.x with spring boot 1.5 and now we need to migrate to spring boot 2. i know that activiti 7 goes well with spring boot 2 but it is still in beta so i can't convince my boss yet for migration. i need answer of some questions.
first: "is spring-boot-starter-basic project (the one that use spring boot

[2018-10-20 06:06] ElhamJamshidpey commented on #2060
Hi @daisuke-yoshimoto ,Yes exactly.

[2018-10-20 11:36] ElhamJamshidpey commented on #2060
Hi @daisuke-yoshimoto ,Yes exactly I use this service, but I suppose getProcessDefinitionCache not useful for me because I have lots of session and request from web. I must retrieve deploymentId and after use it for fetch Deployment and get name and deployment time of it.In cache there are lots of process definitions per each session and it isn't unique, so I suppose your suggestion isn't useful f

[2018-10-20 11:50] daisuke-yoshimoto commented on #2060
@ElhamJamshidpey
Do you mean HTTP Session? ProcessDefinitionCache isn't all related to HTTP Session.

By the way, it seems that you can also get DeploymentId in Activiti 5.16.1 or later version.
https://github.com/Activiti/Activiti/blob/activiti-5.16.1/modules/activiti-engine/src/main/java/org/activiti/engine/runtime/ProcessInstance.java#L53

[2018-10-20 20:21] daisuke-yoshimoto opened #2074 "Serialization of variable of object"
### Class loading problem in cloud

* In MicroService approach, each service does not necessarily share the same class definition.Therefore, it is necessary to exchange between services by general data method.

### SerializableType variable in Activiti

* On the other hand, Activiti can store objects as variables. In this case, it is also possible to save we own bean as a variable as it is.
* But,

[2018-10-20 20:31] daisuke-yoshimoto commented on #2010
@mkawczynski07 @salaboy
Hi. Is it OK to close the issue?

Since the problem was fixed, I think that this exception will not be reproduced.
https://github.com/Activiti/Activiti/pull/2046

[2018-10-20 20:34] daisuke-yoshimoto commented on #2010
@salaboy
I created an issue on the serialization method of variables that you were concerned with before gitter.
https://github.com/Activiti/Activiti/issues/2074

[2018-10-21 11:55] daisuke-yoshimoto opened #2075 "BroadcastSignal not work with Activiti Core API and Activiti Cloud Rest API"
BroadcastSignal works only with Bpmn Signal Throw Event.
BroadcastSignal doesn't works with Activiti Core API and Activiti Cloud Rest API.

BroadcastSignal was removed when changing from ProcessEngineWrapper to ProcessRuntime.

### BroadcastSignal
* https://github.com/Activiti/Activiti/issues/1687
* https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/38

### PR

* https://github

[2018-10-21 11:59] daisuke-yoshimoto commented on #2075
I am going to fix this bug.
Should I deal with Activiti Cloud Rest API alone, not Activiti Core API layer?
Should I broadcast it even if I use Activiti Core API directly?

[2018-10-22 09:43] #1981 closed

[2018-10-22 10:57] mteodori opened #2076 "Add support for OpenJDK 11"
- [x] 5.x for [Alfresco ACS Repository](https://github.com/Alfresco/alfresco-repository/blob/008ae51faad1ad515c5f7e58138f276aa6230f6c/pom.xml#L53)

- [ ] 7.x and Cloud M1

[2018-10-22 12:50] daisuke-yoshimoto commented on #2074
@qiudaoke
Thanks. I see.
But, after understanding it, we are discussing the method of serialization here.

SerializableType is Java's native serialization method, but this should not be used in a cloud environment. It is an argument that JSON should be used.

[2018-10-24 03:00] Shaun-Yao opened #2079 "ActivitiObjectNotFoundException: Form with formKey 'repair.form' does not exist"
I using spring boot v2.0.6, activiti v6.0.0
`<startEvent id="testRepairSt" name="StartEvent" activiti:formKey="repair.form" />`
Object renderedStartForm = formService.getRenderedStartForm(processDefinitionId);
<img width="210" alt="formkey" src="https://user-images.githubusercontent.com/18024481/47690700-024ae500-dc2a-11e8-908b-cbf1e7b37871.png">

[2018-10-24 09:39] salaboy commented on #2079
@Shaun-Yao can you create a reproducer for this problem?
Also sharing more information about how are you deploying your process will be good.

[2018-10-24 14:42] daisuke-yoshimoto commented on #2010
@salaboy
I reply with the following issue.
https://github.com/Activiti/Activiti/issues/2074#issuecomment-431826101

[2018-10-25 01:50] Shaun-Yao commented on #2079
@salaboy  https://github.com/Shaun-Yao/activiti-test
the processes folder would be automatically deployed, and The process will start when the project starts.

`@SpringBootApplication(exclude = SecurityAutoConfiguration.class)
public class ActivitiTestApplication implements CommandLineRunner {

    @Autowired
    private RuntimeService runtimeService;

    @Autowired
    private TaskService taskSe

[2018-10-25 11:11] salaboy commented on #2047
done in develop

[2018-10-25 11:11] #2047 closed

[2018-10-25 11:11] salaboy commented on #2005
done in develop

[2018-10-25 11:11] #2005 closed

[2018-10-25 11:12] salaboy commented on #2001
initial work for beta2 done.. more specific issues needed for further features

[2018-10-25 11:12] #2001 closed

[2018-10-25 13:34] salaboy commented on #2002
done in develop

[2018-10-25 13:34] #2002 closed

[2018-10-25 13:35] salaboy commented on #2004
@constantin-ciobotaru I am closing this now, because we have some tests, please create a new one with a detailed list of things that are missing, so we can keep track of that.

[2018-10-25 13:35] #2004 closed

[2018-10-25 13:41] salaboy commented on #1811
@mauriziovitale can you please report that to the APS team, this is not even defined in the community side. That is part of the gateway component in community which is not being used by APS, so I am closing this because there is not much that we can do in community.

[2018-10-25 13:41] #1811 closed

[2018-10-25 13:42] salaboy commented on #1745
👍 closing this one then.

[2018-10-25 13:43] salaboy commented on #1927
closing this one based on the fact that we have a new modeler that is currently working against modeling backend.

[2018-10-25 13:43] #1927 closed

[2018-10-25 13:44] salaboy commented on #1926
merged to develop and acceptance tests create. Let's create another issue if there still gaps in the tests.

[2018-10-25 13:44] #1926 closed

[2018-10-25 13:58] balsarori opened #2082 "Expose FormKey to Activiti API models (Task & ProcessDefinition)"

[2018-10-25 16:18] salaboy commented on #1999
done in develop

[2018-10-25 16:18] #1999 closed

[2018-10-26 08:13] daisuke-yoshimoto opened #2085 "[ProcessDiagramGenerator] Symbols for each subprocess type"
ProcessDiagramGenerator should create appropriate symbols for each subprocess type.
But, ProcessDiagramGenerator creates same symbols for each subprocess type.

### Present svg

![svg](https://user-images.githubusercontent.com/16251291/47554321-0b933380-d944-11e8-9dca-624dfd1f3e67.png)

### Appropriate svg

![subprocess](https://user-images.githubusercontent.com/16251291/47553488-3a100f00-d942-11e

[2018-10-26 14:58] erdemedeiros commented on #1952
@lucianoprea I merged the PR on query-service, but it will be great if you can add this check in the acceptance tests as well.

[2018-10-27 13:41] daisuke-yoshimoto commented on #2085
@salaboy
I fixed this issue by the following pr. Please review the following pr.
https://github.com/Activiti/Activiti/pull/2088

[2018-10-28 07:26] remmeier opened #2089 "More flexible ordering for ProcessInstanceQuery"
ProcessInstances are as one of the main elements rather crucial, but ProcessInstanceQuery provides only very limited ordering capabilities. Ideally the ordering capabilities match the ones for filtering. Most notably to order by custom variables and the startTime.

Background is that we maintain a JSON API-conform rest layer (wee http://www.crnk.io/releases/latest/documentation/#_activiti_module).

[2018-10-28 11:52] proth1 commented on #2089
Please see if the GraphQL interface provided in the new Query Service in Activiti 7 provides what you are looking for.  Activiti 7 Beta1 is there now and Beta2 is being built and should be ready this coming week.  It seems like it should do what you need then some.

[2018-10-29 07:49] remmeier commented on #2089
it seems to make use of  https://github.com/introproventures/graphql-jpa-query. So if I would like to use more advanced query features, is it recommended to also just access the underlying entities?

[2018-10-29 07:52] Shaun-Yao commented on #2079
@salaboy Any suggestions?

[2018-10-29 08:17] salaboy commented on #2079
@Shaun-Yao hi there.. not yet.. we are working quite hard on releasing Activiti Core/ Cloud Beta2 and forms are not included in such release, so it is not high on the priority list.
@balsarori can you spot the problem there?

[2018-10-29 10:18] balsarori commented on #2079
@Shaun-Yao only resources matching ``**.bpmn20.xml`` and ``**.bpmn `` are autodeployed no other resources will be deployed even if they are under the processes folder.
https://github.com/Activiti/Activiti/blob/6.x/modules/activiti-spring-boot/spring-boot-starters/activiti-spring-boot-starter-basic/src/main/java/org/activiti/spring/boot/ActivitiProperties.java#L45

[2018-10-29 11:05] daisuke-yoshimoto commented on #2079
@Shaun-Yao @balsarori
How about adding the following prop to application.properties. https://github.com/Shaun-Yao/activiti-test/blob/master/src/main/resources/application.properties
[code]

[2018-10-29 12:10] balsarori commented on #2079
@daisuke-yoshimoto yes that will probably work.

[2018-10-29 12:50] ryandawsonuk commented on #1539
This is no longer using the hibernate annotation https://github.com/Activiti/activiti-cloud-query-service/blob/develop/activiti-cloud-services-query/activiti-cloud-services-query-model/src/main/java/org/activiti/cloud/services/query/model/ProcessInstanceEntity.java#L81
and from checking postman we are getting the variables on the process instance in query without error. We've a pending PR that wil

[2018-10-29 12:50] #1539 closed

[2018-10-29 15:58] ryandawsonuk opened #2091 "When a task has been claimed by another user, I shouldn't be able to see it in my task list in query"
Claim a task as `testuser` and then check whether `hruser` can see that task in their `/tasks/` list in query. They shouldn't see it.

Question: If `hruser` goes to `/tasks/{taskId}` should `hruser` see the task there?

Similar to scenario https://github.com/Activiti/activiti-cloud-acceptance-tests/blob/develop/runtime-acceptance-tests/src/main/resources/stories/runtime-bundle/task-actions.story#L

[2018-10-29 16:00] ryandawsonuk opened #2092 "When a task is completed in RB, it should show as completed in query"
Claim and complete a task. Check the task status in `/tasks/{taskId}` in the query module. The status should be `COMPLETED`. We are currently observing a situation where it remains `ASSIGNED` in query, despite having moved to `COMPLETED` in the runtime bundle.

We do have an acceptance test for this - https://github.com/Activiti/activiti-cloud-acceptance-tests/blob/develop/runtime-acceptance-tests

[2018-10-29 16:07] ryandawsonuk opened #2093 "Should not see task which has a candidateGroup specified if I'm not in that group"
Create a task for `testgroup`. Make sure `testuser` can see it and claim it. `hruser` should not see it in their list, either before or after the claim because `hruser` is not in `testgroup`.

Could be a new story for https://github.com/Activiti/activiti-cloud-acceptance-tests/blob/develop/runtime-acceptance-tests/src/main/resources/stories/runtime-bundle/task-actions.story or a new step within `c

[2018-10-29 16:47] remmeier commented on #2089
I would https://github.com/Activiti/activiti-cloud-query-service/tree/develop/activiti-cloud-services-query/activiti-cloud-services-query-model/src/main/java/org/activiti/cloud/services/query/model, so I guess that would be the way to go to access the database tables directly. Or are there any other efforts in the area?

[2018-10-30 01:29] daisuke-yoshimoto commented on #2079
@Shaun-Yao Sorry. Please give us more detail about not working.

[2018-10-30 01:33] Shaun-Yao commented on #2079
@daisuke-yoshimoto I have add processDefinitionLocationSuffixes to the application.properties, and it is also reporting "Form with formKey 'repairStart.form' does not exist"

[2018-10-30 01:34] daisuke-yoshimoto commented on #2079
@Shaun-Yao Thanks. Ok. I will try to reproduce it.
However, I am sorry, I think I will keep you waiting for a while. I am working at a company.

[2018-10-30 10:02] ryandawsonuk opened #2096 "task candidate groups and users should be accessible/visible from task"
Should at least be in the `links` section to show links to endpoints that show the task candidate users and groups

[2018-10-30 14:41] miguelruizdev commented on #2093
Thanks to the additional check in the step: 'the task cannot be claimed by $user', seeing and claiming a task are checked in the same step ('claiming' is the check in  the runtimeBundleSteps, and 'seeing' is the check in the querySteps)

[2018-10-30 14:42] miguelruizdev commented on #2093
This scenario is another basic one in order to test whether group candidates is behaving correctly

[2018-10-31 10:30] daisuke-yoshimoto commented on #2085
This issue has been fixed by the pr ##2088 .

[2018-10-31 10:30] #2085 closed

[2018-10-31 12:03] salaboy commented on #2089
@remmeier Hi there, In my opinion, we should work together to provide the right abstractions for Query.
As @proth1 mention, we are looking into graphQL to provide more flexibility and also at a ElasticSearch implementation. @daisuke-yoshimoto and @daedmunoz are working on it.
Notice that always accessing the storage is not really encouraged, mostly because then you get tied to the storage layer. C

[2018-10-31 12:12] salaboy opened #2099 "Refactor Acceptance Tests artefacts to be released"
Acceptance tests artefacts needs to be refactored and included to the release process. The refactoring needs to separate the core steps used to tests scenarios and the scenarios themselves.
We want to release the tools to create the scenarios and make sure that we keep the scenarios artifacts in separate repositories that can be used to automate the test of those scenarios.

Our current acceptance

[2018-10-31 12:15] #2051 closed

[2018-10-31 12:16] salaboy opened #2100 "Automate Docker Image & Helm Charts release and tagging"
Currently our Acceptance Tests depends on Docker Images and HELM charts that needs to be released and updated manually. In order to automate acceptance tests we need to automate also the release and tagging process for these artifacts.

[2018-10-31 12:20] salaboy opened #2101 "Remove Query DSL from Query Interface"
Query DSL was great for PoC and initial implementation but we now need a simplified way to do filtering on our rest endpoints without being tied to QueryDSL which is heavily tied to JPA.

[2018-10-31 12:25] salaboy opened #2102 "Update Spring Boot 2.1 and Spring Cloud Greenwich M1"
We need to upgrade to Spring Boot 2.1 in order to align with JDK 11 support.
Spring Cloud Greenwich is going to include Spring Cloud Kubernetes new releases, and we heavily depend on those. We should do this upgrade as part of Beta4.

[2018-10-31 12:33] salaboy commented on #1970
related to https://github.com/Activiti/Activiti/issues/2069

[2018-10-31 14:29] ryandawsonuk opened #2103 "Tasks needs to be correctly filtered in Query Service"
While querying tasks under the query/v1/tasks endpoints (User Endpoint) only the tasks related to the user should be returned.
This includes:
- Tasks where you are owner
- Tasks where the user is (currently) the assignee
- Tasks where the user is (currently) a candidate user && there is no assignee
- Tasks where the user belongs (currently) to a candidate group && there is no assignee

This endpoi

[2018-10-31 16:31] ryandawsonuk opened #2104 "task variables different between rb and query"
the `/tasks/{taskId}/variables` endpoints in rb and query currently behave differently

rb actually shows process variables plus task variables as I can get output like this from it:

![image](https://user-images.githubusercontent.com/22754674/47803782-26dab600-dd2b-11e8-815c-f8a63d113f03.png)

Whereas query currently requires a taskId to be set on variables to show them on this endpoint - https:/

[2018-10-31 16:43] erdemedeiros commented on #2092
The problem is coming from the event sent by the runtime bundle which is inferring the status as `ASSIGNED` instead of `COMPLETED`.

[2018-10-31 17:10] erdemedeiros commented on #2093
Actually the problem is happening only on completed tasks in query service. We are processing taskCandidate remove events and removing the candidates, which makes tasks visible by everyone.

[2018-11-01 01:23] wangzhenhui1992 opened #2106 "Multi Tasks"
I have a sequence workflow and only one user. How can I run two workflow instances at the same time.

[2018-11-01 03:53] daisuke-yoshimoto commented on #2106
@wangzhenhui1992
Please more details.

[2018-11-01 04:48] wangzhenhui1992 commented on #2106
@daisuke-yoshimoto
BPMN like this  :   UserTask1-Service1-Service2
Every time the server gets a request, it will start a ProcessInstance and claim the task to my user.
Suppose that the server gets two request,
the later ProcessInstance will be suspended if the previous one does not finished.
How can I run ProcessInstances in parallel.

同じユーザとプロセスで、複数プロセスインスタンスを非同期に実行させる方法を教えていただきたいんですが、可能性ありますか。

[2018-11-01 05:50] daisuke-yoshimoto commented on #2106
@wangzhenhui1992
I'm sorry that I still do not know which layer is your problem.

If you only want to run ProcessInstances in parallel, you can execute startProcessInstance API from each request thread.

Also, if you want to suspend ProcessInstances, you can call the suspended API.
RuntimeService.suspendProcessInstanceById(String processInstanceId)
https://www.activiti.org/javadocs/6.latest/org/ac

[2018-11-01 06:34] wangzhenhui1992 commented on #2106
@daisuke-yoshimoto Thank you

[2018-11-01 06:34] #2106 closed

[2018-11-01 08:52] salaboy commented on #1970
@erdemedeiros this is a duplicate from @igdianov issue

[2018-11-01 08:55] salaboy commented on #2073
@miladamery ok.. so questions are ok, but we prefer them in gitter.
1) nope that is SB 2 is only for Activiti 7+
2) no time to work on version 5.. small team.. if you want to contribute that back that will be great
3) no technical issues besides 5 has very old dependencies that will probably clash with SB2

HTH

[2018-11-01 08:55] #2073 closed

[2018-11-01 09:05] salaboy commented on #1958
Activiti-Web-Designer is extremely old and we are modernising it with new Angular versions, but it is all work in progress. Now we have released Beta2 and there is a new BPMN modeller based: https://salaboy.com/2018/10/30/activiti-core-activiti-cloud-beta2-released/

There is no current effort to migrate the old Activiti App to Spring Boot, so I will close this issue. Feel free to reopen if you wa

[2018-11-01 09:05] #1958 closed

[2018-11-01 09:07] salaboy commented on #2075
@daisuke-yoshimoto yes.. sounds like a great contribution. We need that change in Activiti Core API as well. We would love to keep a 1 to 1 relationship between Core and Cloud APIs.
In the case of the Core API, the event should be only broadcasted inside the ProcessRuntime. Does this make sense? Feel free to ask more questions in Gitter or we can organise a Skype call if you want to go over the de

[2018-11-01 09:10] salaboy commented on #2064
@83521166 hi there, we are not planning to upgrade activiti 6 due the fact that we are working with full speed on Activiti 7 / Cloud. Activiti Core and Cloud are targeting JDK 11 for the GA release.
We happily accept contributions on the 6.x branch, so feel free to open a new issue if you are planning to contribute that back.

[2018-11-01 09:10] #2064 closed

[2018-11-01 09:12] #1994 closed

[2018-11-01 09:15] ryandawsonuk commented on #2007
Flag skips by default or override with -DskipITs=false

[2018-11-01 09:15] #2007 closed

[2018-11-01 09:16] salaboy commented on #2022
@magemello I would totally go for 1, I remember that there was a reason for that setter on TaskImpl, but let's try to remove it.

[2018-11-01 09:41] salaboy commented on #1930
@wxp20032003 unless we can reproduce the problem, it is impossible for us to fix it. My recommendation is to create a reproducer and try to find what is different in your environments.

[2018-11-01 09:42] #1935 closed

[2018-11-01 09:43] salaboy commented on #1906
We have moved to HELM charts for installation in Kubernetes Cluster, docker compose approach sounds like a great contribution.

[2018-11-01 09:43] #1906 closed

[2018-11-01 09:45] salaboy commented on #1985
@ptahchiev sounds like a good idea, but for Activiti Cloud we will discourage the use of the Async Executor bundled with the Process Runtime, in future version we will encourage to use an external executor more appropriate for cloud environments.

[2018-11-01 09:46] salaboy commented on #1957
We are working full speed on Spring Boot 2 and Activiti Cloud (7), there are no plans to upgrade version 6, but contributions are more than welcome on the 6.x branch.

[2018-11-01 09:50] salaboy commented on #1937
@liqiaolin520 any progress on this side?

[2018-11-01 09:54] salaboy commented on #1975
@daisuke-yoshimoto have you looked into this one?

[2018-11-01 09:56] salaboy commented on #1846
this is done in the new API, so closing

[2018-11-01 09:56] #1846 closed

[2018-11-01 09:59] salaboy commented on #1960
@AaronSheng sorry, but can you specify which version of Activiti are you using?

[2018-11-01 10:01] #1918 closed

[2018-11-01 12:08] salaboy commented on #1976
I will close this issue because it is not an issue, it is a question that seems to be answered.

[2018-11-01 12:08] #1976 closed

[2018-11-01 12:12] salaboy commented on #1915
@MkkOF @qq253498229 are you guys using activiti 6.0.0.Final? or 5.22?

[2018-11-01 14:49] salaboy commented on #1685
@balsarori is there a decision on this one?

[2018-11-01 14:51] salaboy commented on #1907
@balsarori is there any fix for this?

[2018-11-01 14:52] salaboy commented on #1864
@SashaAV @balsarori can we close this then?

[2018-11-01 14:53] salaboy commented on #1839
@ryandawsonuk this is what we tried to do in TTC right -> "I personally think it would be easier to grasp as part of its own example."

[2018-11-01 16:37] #1889 closed

[2018-11-01 16:49] salaboy commented on #1588
@jsonzoup this sounds like a good community contribution. and please share which version of Activiti are you using.

[2018-11-01 18:11] ryandawsonuk commented on #1839
TTC is now illustrating some [custom querying](https://github.com/Activiti/ttc-query-campaign/blob/master/src/main/java/org/activiti/cloud/query/repository/ExtendedProcessInstanceRepository.java#L16) in the query module but the queries are still only on process instances and variables. The idea would be to also include custom domain objects in the queries.

[2018-11-01 18:42] SashaAV commented on #1864
I suppose yes, if you don't have an error

[2018-11-01 19:20] #1850 closed

[2018-11-01 21:09] #1864 closed

[2018-11-02 00:33] wangzhenhui1992 commented on #2106
@daisuke-yoshimoto
タスクに「activiti:async="true" activiti:exclusive="false"」がついてないので？

[2018-11-02 03:16] daisuke-yoshimoto commented on #1975
@salaboy
This is not ProcessDiagramGenerator's issue, this is not a issueof drawing diagram.

This is [BpmnAutoLayout's ](https://github.com/Activiti/Activiti/tree/develop/activiti-bpmn-layout) issue.
BpmnAutoLayout generates graphic information from bpmn without graphic information by using Mxgraph Java implementation.

So, to investigate this problem, we need to investigate BpmnAutoLayout and Mx

[2018-11-02 08:04] salaboy commented on #1983
@mash7923 can you please specify which Activiti version are you using?

[2018-11-02 08:06] salaboy commented on #1931
@irwinsun @balsarori I will close this issue, because it seems fixed based on the comments. If that is not the case please reopen or create a more specific issue.

[2018-11-02 08:06] #1931 closed

[2018-11-02 08:07] salaboy commented on #1086
@daisuke-yoshimoto this is quite an old issue.. is still pending for review or work in progress?

[2018-11-02 08:09] salaboy commented on #1759
@balsarori how are we doing with this one? is there any planned work for develop?

[2018-11-02 08:12] salaboy opened #2107 "Clean up DB DDL in Process Runtime"
The officially supported DB will be PostgreSQL, we will accept community contributions on other DBs, but we should clean up the DDLs and make sure that we provide consistent version upgrades in future releases.

[2018-11-02 08:12] salaboy opened #2108 "Provide liquidbase scripts for Query & Audit"
Provide a consistent migration strategy for our cloud building blocks.

[2018-11-02 08:17] salaboy commented on #1948
@zhaogituser @daisuke-yoshimoto @balsarori amazing community contributions/interactions. Is this issue solved? did you guys found the cause of the problem? For what I can see in the comments it was more about how the engine was being used in a distributed setup with Spring than a real issue.
Are you ok with closing this issue?

[2018-11-02 08:21] salaboy commented on #1018
@daisuke-yoshimoto should we keep this open? and also make sure that we fix in develop?

[2018-11-02 08:32] salaboy opened #2109 "clean up activiti.cloud properties and add hints"
We need to clean up activiti.cloud spring properties and make sure that we provide sensible defaults.
Also adding documentation hints on how these properties should be used:

https://docs.spring.io/spring-boot/docs/current/reference/html/configuration-metadata.html

[2018-11-02 09:48] salaboy opened #2110 "UserTask assignments Validation in Modeling endpoint"
We should validate that at least one field is filled on UserTasks
- Assignee
- Candidate Users
- Candidate Groups

If not we should create a warning for the FrontEnd to display

[2018-11-02 09:50] salaboy opened #2111 "Validate all models before export"
Before exporting a Zip file we need to run a validation on all processes and we should not export unless all the validations are passing.
If there are warnings a list of warnings should displayed.

[2018-11-02 10:09] salaboy commented on #2079
@Shaun-Yao ok.. if there is a new issue please create a separate issue to track it.. I will close this on now.

[2018-11-02 10:09] #2079 closed

[2018-11-02 10:58] Shaun-Yao opened #2112 "External from javax.el.PropertyNotFoundException: Cannot find property xxx"
javax.el.PropertyNotFoundException: Cannot find property taskId
	at de.odysseus.el.util.RootPropertyResolver.getValue(RootPropertyResolver.java:86) ~[juel-impl-2.2.7.jar:2.2.7]
	at javax.el.CompositeELResolver.getValue(CompositeELResolver.java:62) ~[tomcat-embed-el-8.5.34.jar:8.5.34]
	at de.odysseus.el.util.SimpleResolver.getValue(SimpleResolver.java:120) ~[juel-impl-2.2.7.jar:2.2.7]
	at de.odysse

[2018-11-02 11:05] jsonzoup commented on #1588
I'm glad you responded to my suggestion.The version I was using was 5.22.
Good luck to you.

[2018-11-02 11:16] salaboy opened #2113 "Create new method to expose subprocess IDs to a given process instance"
We should expose in the Java API and Runtime Bundle and Query Service.
The endpoint should look like:
- /v1/process-instances/{processInstanceId}/subprocesses

[2018-11-02 13:43] salaboy opened #2115 "Check impact on supporting UUIDs as Process ID / Key"
Currently the bpmn process tag has an ID property and currently this ID cannot be a UUID because of the bpmn schema which restricts this property to start with a char different from a number.

In order to avoid this limitation we can rely on a convention such as:
ID-{UUID}

We need to check if this impacts any of the other services such as Query and Audit which are expecting a simple string to be

[2018-11-02 13:44] salaboy commented on #2082
Activiti/example-runtime-bundle#42

[2018-11-02 15:02] erdemedeiros commented on #2091
Covered by https://github.com/Activiti/Activiti/issues/2103

[2018-11-02 15:02] #2091 closed

[2018-11-02 16:30] #2092 closed

[2018-11-02 17:32] ryandawsonuk commented on #2104
Decision now is to provide a way to copy process variables into task variables in the runtime bundle. Then the task variables should include a local copy of the process variables and changes to these variables should be propagated back to the process level on completion.

[2018-11-02 17:56] balsarori commented on #2115
Seems that this restriction is part of the standard BPMN schema (see https://www.omg.org/spec/BPMN/20100501/Semantic.xsd) not Activiti specific. The ``id`` attribute only accepts a value of type xsd:ID which can't start with an number.

In APS modeller we used to overcome this issue by added an ``sid-`` prefix to all UUID elements.

[2018-11-02 18:02] magemello commented on #2115
A possible solution could be prefix the UUID with the resource type, for example:
- processes ID  : process-123-123-123-123
- connector ID  : connector-123-123-123-123
- form ID: form-123-123-123-123

So in general {resourceType}-UUID where resource type can be processes, connector, form, rule ecc...

[2018-11-02 18:03] salaboy commented on #2115
:+1 let's do that.. so we can standardise across all resources.

[2018-11-02 18:05] salaboy opened #2117 "CreateTaskPayload should support candidateUsers and candidateGroups"
Currently CreateTaskPayload only have "Groups" which should be renamed to candidateGroups and
candidateUsers should be added.

[2018-11-02 18:51] salaboy commented on #2082
@miguelruizdev I am assigning this issue to you so you close it after verifying the acceptance tests agains the new runtime bundle changes.

[2018-11-02 19:55] gonzalocamarero commented on #1907
I think that with my sugest it can be done. If you tell me where can I do, maybe I can code it.

[2018-11-03 00:46] Shaun-Yao commented on #2079
em. I have created a new issue #2112

[2018-11-03 17:30] salaboy commented on #1586
@cijujoseph I think that this was fixed long time ago.

[2018-11-03 17:30] #1586 closed

[2018-11-03 17:31] salaboy commented on #1633
@balsarori @daisuke-yoshimoto please check if this needs to be closed or not.

[2018-11-03 17:33] salaboy commented on #1677
@daisuke-yoshimoto @igotu I am closing this issue due the lack of feedback.

[2018-11-03 17:33] #1677 closed

[2018-11-03 18:00] salaboy commented on #1949
@zhaogituser without more information it is really impossible to help.
Which version of activiti are you using and what are you trying to do? please share a reproducer of the issue.

[2018-11-05 08:41] salaboy commented on #2082
@balsarori can you please add a test using the new APIs in the spring boot starter project to make sure that the value is there? @miguelruizdev will provide the Acceptance Test and we will close this issue.

[2018-11-05 08:42] erdemedeiros commented on #2115
@salaboy concerning

[2018-11-05 09:09] salaboy commented on #2115
@erdemedeiros yes.. exactly.. and we have  more resources that the one listed here:
- process instance
- process definition
- tasks
- process definition metadata

etc

[2018-11-05 11:33] miguelruizdev commented on #2082
Acceptance test pushed already:
https://github.com/Activiti/activiti-cloud-acceptance-tests/pull/57/commits/85c68a70f6f81349441588d388fd05e3d2984e1c

[2018-11-05 11:34] miguelruizdev commented on #2082
Acceptance tests against the new runtime bundle changes verified 👍

[2018-11-05 12:00] salaboy commented on #2082
@balsarori please add the PR for the test here.. so we close this one.

[2018-11-05 13:44] erdemedeiros commented on #1745
@salaboy the problem is still there for HAL format.

[2018-11-05 14:08] ryandawsonuk opened #2118 "Variable mapping for call activity and user task"
Currently variable mappings are supported for call activity

The changes under https://github.com/Activiti/Activiti/issues/2104 mean that all variables will be copied to task level if the `copyVariablesToLocalForTasks` flag is set (which it is by default from spring boot level)

If we had mappings on user tasks then we could restrict which variables were copied (performance gain) and also allow tw

[2018-11-05 14:29] salaboy commented on #1745
@erdemedeiros reopening for beta3 then

[2018-11-05 14:47] erdemedeiros opened #2119 "Define visibility for tasks when no candidates are specified"
When no candidates are specified for a given task it could be considered as visible to everyone or to no one. Nevertheless which approach is chosen it must be consistent through runtime bundle and query-service (JPA and Mongo) implementation.

[2018-11-05 15:33] balsarori opened #2121 "Allow updating task details to null"
Currently it's not possible to update the task details to null (name, description, assignee, etc!)

https://github.com/Activiti/Activiti/blob/develop/activiti-api-impl/activiti-api-task-runtime-impl/src/main/java/org/activiti/runtime/api/impl/TaskRuntimeImpl.java#L240

[2018-11-05 15:36] gonzalocamarero commented on #1907
I tryed but I can't create a Pull Request, always get an 403 error:

LOG:

git -c diff.mnemonicprefix=false -c core.quotepath=false --no-optional-locks push -v --tags --set-upstream origin gonzalocamarero-1907-tasklocalvariablecheck:5.x

remote: Permission to Activiti/Activiti.git denied to gonzalocamarero.
fatal: unable to access 'https://github.com/Activiti/Activiti.git/': The requested URL retu

[2018-11-05 15:40] gonzalocamarero commented on #1907
I download the 5.x branch, create a new local branch (gonzalocamarero-1907-tasklocalvariablecheck), made my changes, do a commit, and try to create a PR referencing my local branch as source and the 5.x branch as destiny.

[2018-11-05 16:38] salaboy commented on #1907
@gonzalocamarero that is how git is supposed to work ;) you need to fork the repository before. You have no rights to push to the "blessed" repo, meaning that you need to fork it, commit to your local working copy and then push to your fork. That will enable the option to send a PR to Activiti/Activiti 5.x branch.

[2018-11-05 16:39] salaboy commented on #1907
@gonzalocamarero if you made a commit to your local working copy you can always create a patch and then apply to your fork to avoid rework

[2018-11-05 16:55] gonzalocamarero commented on #1907
@salaboy I supose it :D but I didn't know how to continue. I think that I do it fine now.

[2018-11-06 01:58] Shaun-Yao commented on #2112
Can someone help me?

[2018-11-06 02:09] daisuke-yoshimoto commented on #2112
@Shaun-Yao
Sorry. I'm busy this week. I will reply somewhere today or tomorrow.

[2018-11-06 06:35] Shaun-Yao opened #2123 "How to get the comments of the ProcessInstance that has finished"
[code]
The above code is work for the running ProcessInstance, but it is not work for the  finished ProcessInstance.

[2018-11-06 07:00] zx445146042zx opened #2124 "how can I get x, y, width, height"
`ActivityImpl activity = processDefinitionEntity.findActivity(activityId);`
`Map<String, Object> map = new HashMap<String, Object>();`
`map.put("x", activity.getX());`
`map.put("y", activity.getY());`
`map.put("width", activity.getWidth());`
`map.put("height", activity.getHeight());`
in 5.x , I can get these properties;
but 6.x , How can I get these?
please help me!

[2018-11-06 08:53] salaboy opened #2125 "Refactor Spring Boot Starter Test to not use @WithUserDetails"
These tests were created to leverage the @WithUserDetails spring security annotation helper. This helper causes the problem of not enabling the tests to naturally change users inside the scope of an individual test. This push us to have to run tests in sequence.
This refactor should remove the usage of @WithUserDetails and remove the sequential dependency of these tests.

[2018-11-06 09:06] erdemedeiros opened #2126 "Rename REST endpoint to resume a suspended process"
Current endpoint is `/v1/process-instances/{ID}/activate`. It should be renamed to `/v1/process-instances/{ID}/resume` to be consistent with the Java API.

[2018-11-06 09:08] erdemedeiros commented on #2126
Make sure that @mauriziovitale is aware when this get released as this will impact the UI.

[2018-11-06 09:11] ryandawsonuk commented on #2123
Could you try with `historyService.createHistoricProcessInstanceQuery().processInstanceBusinessKey(businessKey).singleResult()` ?

[2018-11-06 09:49] daisuke-yoshimoto commented on #2123
@Shaun-Yao
You need to use  TaskService.getProcessInstanceComments(String processInstanceId)
https://www.activiti.org/javadocs/org/activiti/engine/taskservice#getProcessInstanceComments-java.lang.String-

https://www.activiti.org/javadocs/6.latest/org/activiti/engine/taskservice#getProcessInstanceComments(java.lang.String)

[2018-11-06 09:54] salaboy commented on #2124
you now needs to get the BpmnModel and then check the GraphicInfo ->  public GraphicInfo getGraphicInfo(String key) which gives you the coordinates:

[code]

Check the test called: BpmnParseTest -> https://github.com/Activiti/Activiti/blob/develop/activiti-engine/src/test/java/org/activiti/engine/test/bpmn/parse/BpmnParseTest.java#L120

[2018-11-06 10:44] salaboy commented on #1907
@gonzalocamarero let us know if you need more help on the activiti side..

[2018-11-06 10:55] gonzalocamarero commented on #1907
Well, I did the PR for the 5.x branch,but I think that is an issue that affects to 6.x and 7.x too. Should I made two more PR for that versions? Or is something that you do?

[2018-11-06 10:59] ryandawsonuk commented on #2123
Googling reveals an example at https://github.com/emdev-limited/activiti-liferay/blob/master/activiti-web/src/main/java/net/emforge/activiti/WorkflowLogManagerImpl.java

[2018-11-06 11:04] mauriziovitale commented on #2126
Thanks, @erdemedeiros going to raise an issue from our side.

[2018-11-06 12:54] salaboy commented on #2126
@mauriziovitale thanks!

[2018-11-06 13:01] salaboy commented on #1907
@gonzalocamarero that will be great if you do one for 6.x and develop, because it is the same PR but with different target branch I assume

[2018-11-06 13:02] salaboy commented on #1907
Also if you paste the PR link in this issue it will link the two so we know what the status is.

[2018-11-06 14:40] #2125 closed

[2018-11-06 14:49] ryandawsonuk commented on #2074
Is anyone currently working on this? Just want to check what the current status is.

[2018-11-06 15:37] daisuke-yoshimoto commented on #2074
@ryandawsonuk
Sorry. I'm not working on this now. No progress.

[2018-11-06 16:32] ryandawsonuk commented on #2074
That's fine, thanks for the update.

[2018-11-07 07:45] Shaun-Yao commented on #2112
@daisuke-yoshimoto thanks，I have solved this issue.
saveFormData before getRenderedTaskForm.
Map<String, String> formData = new HashMap();
formData.put("taskId", "123");
formService.saveFormData(taskId, formData);

[2018-11-07 07:45] #2112 closed

[2018-11-07 08:17] zx445146042zx commented on #2124
@salaboy think you very much!

[2018-11-07 08:17] #2124 closed

[2018-11-07 08:45] salaboy commented on #2124
@zx445146042zx you are welcome :)

[2018-11-07 09:04] salaboy opened #2128 "Conformance Tests at Spring Boot Starter Level"
Conformance Tests following scenarios described here (draft): https://docs.google.com/document/d/1-3ek-02fYteHURdQYDwUeVxqODmhZP0DwtyXNweGkOc/edit?usp=sharing

These tests should cover BPMN elements, Java APIs, DataTypes and Events generated. These tests should cover happy and unhappy paths.

Tests are going to be naturally divided by their complexity and by the resource types that they handle (Pr

[2018-11-07 13:42] erdemedeiros opened #2129 "Query fails to handle events when task is assigned via `activiti:assignee`"
When task is assigned via `activiti:assignee` an exception occurs because due the the internal mechanism the event `TASK_UPDATED` is triggered before the event `TASK_CREATED`.

_Steps to reproduce_
- create a process with `activiti:assignee` set with some value: `<bpmn2:userTask id="Task_03l0zc2" name="my-task" activiti:assignee="testuser">`
- Start an instance of this process and check logs for t

[2018-11-07 13:45] erdemedeiros commented on #2129
Possible solution: use TASK_UPDATE event to create a task if it does not exist, then ignore the related create event.

[2018-11-07 15:59] balsarori commented on #2082
@salaboy I've added possibility to update task form keys and some tests in above 2 PRs

[2018-11-08 11:14] erdemedeiros commented on #2129
Eventually the solution was:
Instead of listening to the generic internal ENTITY_UPDATED event we are going to explicitly trigger `TASK_UPDATED` event when `TaskRuntime.update` is called. That means that no event is going to be triggered if the task is updated outside of the api (directly from TaskService for instance)

[2018-11-08 11:27] gonzalocamarero opened #2134 "TaskInstanceQuery Issue when trying to get Task by candidate group and due date"
Activiti Version: 5.16.

Hi there, i found an error when I execute:

[code]

**This generate an sql like this:**

[code]

**This throw an SQL error (obviously):**
Error querying database.  Cause: java.sql.SQLSyntaxErrorException: ORA-00907: falta el paréntesis derecho

The error may exist in org/activiti/db/mapping/entity/Task.xml
The error may involve org.activiti.engine.impl.persistence.entity.T

[2018-11-08 12:20] #2129 closed

[2018-11-08 12:30] #2057 closed

[2018-11-08 14:34] gonzalocamarero commented on #2134
I'm triying to reproduce it with TaskQueryTest.java (version 5.16), but I have different sql:

[code]

`selectTaskWithVariablesByQueryCriteria  - ==>  Preparing: select RES.*, VAR.ID_ as VAR_ID_, VAR.NAME_ as VAR_NAME_, VAR.TYPE_ as VAR_TYPE_, VAR.REV_ as VAR_REV_, VAR.PROC_INST_ID_ as VAR_PROC_INST_ID_, VAR.EXECUTION_ID_ as VAR_EXECUTION_ID_, VAR.TASK_ID_ as VAR_TASK_ID_, VAR.BYTEARRAY_ID_ as VAR

[2018-11-08 14:51] gonzalocamarero commented on #2134
Don't care, it's something wrong with my activiti-engine.jar , I don't know why but my org\activiti\db\mapping\entity\Task.xml has a little change:
`<if test="candidateGroups != null">
            and (RES.ASSIGNEE_ = #{userIdForCandidateAndAssignee}
            or (
			 I.TYPE_ = 'candidate' and (I.USER_ID_ = #{userIdForCandidateAndAssignee}

            <if test="candidateGroups.size() &gt; 0">

[2018-11-08 14:51] #2134 closed