[2017-11-23 08:33] Salaboy commented on #1005
@zuloloxi I'm closing this issue due to inactivity. We are not testing against the IBM JDK, so we will need community collaborations for doing so. Let us know if you want to collaborate in the new version of Activiti & Activiti Cloud.

[2017-11-23 08:33] #1005 closed

[2017-11-23 08:34] Salaboy commented on #1094
@girish989 the eclipse plugin is not being maintained anymore at least not by the team working in Activiti 7 & Activiti Cloud.

[2017-11-23 08:34] #1094 closed

[2017-11-23 08:35] Salaboy commented on #1042
@jarcy I'm closing this issue due to inactivity. If this is still an issue please reopen and provide a way to reproduce it.

[2017-11-23 08:35] #1042 closed

[2017-11-23 08:39] Salaboy commented on #1030
@balsarori please advise and check with Daisuke if we want to include a fix about this.

[2017-11-23 08:40] Salaboy commented on #1075
@luojims I'm closing this issue due to inactivity, but feel free to reopen if this still an issue only with sqlserver. If so we will appreciate test to reproduce the issue in a Pull Request.

[2017-11-23 08:40] #1075 closed

[2017-11-23 08:44] Salaboy commented on #1211
@sharapov I'm closing this issue due to inactivity. If this is still an issue can you please reopen stating which version are you using and a description of how to reproduce the issue.

[2017-11-23 08:44] #1211 closed

[2017-11-23 08:45] Salaboy commented on #1269
@PiGeneraL I'm closing this issue due to inactivity. Can you please reopen if this is still an issue in 6 Final? Thanks

[2017-11-23 08:45] #1269 closed

[2017-11-23 08:47] Salaboy commented on #1171
@mprunet I'm closing this issue due to inactivity. But it looks like you know how to fix the problem already, so please send a Pull Request targeting the branch of the version where the bug is still present and a test to validate that the fix is working as expected.

[2017-11-23 08:47] #1171 closed

[2017-11-23 10:18] erdemedeiros opened #1570 "Audit HAL REST API self link is broken"
In the example bellow the `self` link is pointing to `http://localhost:8080/audit/v1/processStartedEventEntity/27`, but it should be `http://localhost:8080/audit/v1/events/27`
[code]

When fixing this bug, make sure that there is test covering this link.

[2017-11-23 10:21] erdemedeiros commented on #1570
The fix might be related to the class `EventsRelProvider`.

[2017-11-23 11:24] erdemedeiros opened #1571 "MessageProducerCommandContextCloseListener is not using the CommandContext received as parameter"
The` MessageProducerCommandContextCloseListener` should use the `CommandContext` received as parameter instead of getting the current one from the `Context`.

[2017-11-23 12:08] ryandawsonuk opened #1572 "rename properties used for keycloak access"
e.g. keycloakadminclientapp
should be keycloak-admin-client-app

Will mean updating all of the repos - activiti-cloud-query, activiti-cloud-audit etc.

Would also be good if we could update KeycloakInstanceWrapper in activiti-cloud-service-common to use a configurationproperties class

[2017-11-23 12:17] Salaboy commented on #899
@MKorsch thanks a lot, we will really appreciate that.

[2017-11-24 07:53] xiaohelong opened #1573 "I give implemention to runtime process clone, just code split."
I give implemention to runtime process clone, just code split.
requirement:
in manufacture, order need to split, so need to clone process and suspend parent process instance ,but I don't want lose info(before this,I just start a new process instance,then jump ,but a lot of problem and information lose)
So I spend sometime to implement a solution to Process Clone,and done it .
paste here ,I hope of

[2017-11-24 10:01] verheyenkoen opened #1574 "List of deployments does not accept sort option "deploytime""
The [docs](https://www.activiti.org/userguide/#_list_of_deployments) state that you can sort the list of deployments (`GET repository/deployments`) by "deploytime".

However when I try this (in Activiti 5.18) I get the following response:
[code]

[2017-11-24 10:29] daisuke-yoshimoto commented on #1574
You must specify the sort key by camelcase.
deployTime

[2017-11-24 10:31] verheyenkoen commented on #1574
I see. Then the docs need an update I guess.

Also the field in the results is "deploymentTime" which may be confusing.

[2017-11-24 10:31] #1574 closed

[2017-11-24 10:52] ryandawsonuk opened #1575 "Versions of images used in activiti-cloud-examples - how should they be set?"
Seems like we set them manually in master -

https://github.com/Activiti/activiti-cloud-examples/commit/4e568c6925d1051381e3c09936830abc617753a9

Should we have that automated upon release?

Also, what about runtime bundle? Do we want to point to a specific image for that and if so what image pull policy do we want? We should discuss.

[2017-11-24 11:58] ffazzini commented on #1546
We managed to get a zipkin server running on minikube and all application services communicate with zipkin via sleuth(no discovery eureka as recommended).

To build the zipkin image we are using fabric8 deployment descriptor, we had to change the file a bit to include minikube nodeport for zipkin service, and fix something on the mysql-data persistent volume that was giving unmount errors.

[2017-11-24 12:48] mteodori opened #1577 "Add info endpoint with git commit id"
Provide in the micro-services the config to show the git commit id using standard [Spring Boot functionality](https://docs.spring.io/spring-boot/docs/current/reference/html/production-ready-endpoints.html#production-ready-application-info-git)

- [x] audit
- [x] query
- [x] example-runtime-bundle

[2017-11-24 16:38] ryandawsonuk commented on #1546
We should keep a note that the persistent volume config we have now works on minikube and doesn't seem to work on AWS

[2017-11-24 16:47] erdemedeiros commented on #1545
Releated PRs:
https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/14/
Activiti/activiti-cloud-audit-service#10

[2017-11-26 09:39] Salaboy commented on #1390
@melahn is this still a problem? I will close while we check but I think that this was fixed already

[2017-11-26 09:39] #1390 closed

[2017-11-26 09:40] Salaboy commented on #1395
@ffazzini can you also take this one?

[2017-11-26 09:42] Salaboy commented on #1203
@vlancer123 I'm closing this issue due to inactivity. If you want to discuss the issue so we can fix it in new versions please join us in gitter: https://gitter.im/Activiti/Activiti7?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2017-11-26 09:42] #1203 closed

[2017-11-26 09:45] Salaboy commented on #1398
@vvp83 I'm closing this issue due inactivity, please feel free to reach us in the gitter channel to discuss how this is going to work in Activiti 7 & Activiti Cloud: https://gitter.im/Activiti/Activiti7?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2017-11-26 09:45] #1398 closed

[2017-11-26 09:47] Salaboy commented on #1374
@shuanger051 Is that causing you issues? It might be the job executor checking to the database if there is a job to execute. Or a scheduled task.
I'm closing this issue due to inactivity.

[2017-11-26 09:47] #1374 closed

[2017-11-26 09:48] Salaboy commented on #1421
ok, closing the issue here. Required documentation

[2017-11-26 09:48] #1421 closed

[2017-11-26 10:01] Salaboy commented on #1384
@lvc this is great. We are going to start versioning and managing the project public APIs with clear deprecation policies. I'm looking forward to see how this improves in the next couple of years.

[2017-11-26 10:01] #1384 closed

[2017-11-26 10:31] Salaboy commented on #1437
@wplin007 hi there, this is a very good requirement. We are planning something like this for Activiti 7 & Activiti Cloud, but it is not possible with v6 without doing some work on your side. I'm closing this issue to be able to keep track of the work that we are doing right now for version 7.

[2017-11-26 10:31] #1437 closed

[2017-11-27 08:18] Salaboy commented on #1441
@balsarori was this solved? We are not storing passwords in activiti 7 anymore, because we are delegating to our IDM/SSO component. So I will close this. but @balsarori if you can clarify if this was fixed for 6.0.0 Final that will be great.

[2017-11-27 08:18] #1441 closed

[2017-11-27 09:12] ryandawsonuk commented on #1395
In this case there isn't a service to move it out into. See https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-starter-configure/pom.xml#L78 . I suggest we just close this ticket.

[2017-11-27 09:19] Salaboy commented on #1338
@martinhanes totally agree with your point. We are fixing this for Activiti 7 & Activiti Cloud. I will close this issue for now, because I don't know which version are you referring to. We will appreciate your help and validation of what we are doing in our latest versions.

[2017-11-27 09:19] #1338 closed

[2017-11-27 09:21] Salaboy commented on #1425
@amitport I'm closing this issue, because as you stated this is a question. Which is related to how expression are evaluated. Please refer to the forums if the question is still open.

[2017-11-27 09:21] #1425 closed

[2017-11-27 09:21] Salaboy commented on #1430
@WangChungYun @ETUFO guys/girls this is not a forum, please refer to the forums for questions. I'm closing this issue due the fact that is not an issue.

[2017-11-27 09:21] #1430 closed

[2017-11-27 09:23] Salaboy commented on #1453
@deanwong we will close this issue due to inactivity. As @daisuke-yoshimoto mention this is probably not a leak.

[2017-11-27 09:23] #1453 closed

[2017-11-27 09:32] Salaboy commented on #1516
@pdilipkumar we will fix this for our activiti 7 release, which now was moved from activiti/activiti to activiti/activiti-cloud-runtime-bundle-service where our spring boot starter is.

[2017-11-27 09:33] Salaboy commented on #1516
https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/15

[2017-11-27 09:38] amitport commented on #1425
@Salaboy, I looked for answers in various forums. As far as I can tell, this is a bug in the specification of the expression language.

[2017-11-27 09:55] Salaboy commented on #1425
@amitport it sounds more like a feature, you need a way to escape parsing expressions. So I would recommend how to avoid escaping those characters. My gut feeling is that if you add double \\  before the $ should do the trick.

[2017-11-27 09:57] Salaboy commented on #1520
@pdilipkumar we are working on this, now that we move our starters to our Activiti Cloud namespace you can expect a lot of changes around this space. If you are interested to contribute with this initiative please get in touch via Gitter: https://gitter.im/Activiti/Activiti7?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2017-11-27 09:57] #1520 closed

[2017-11-27 10:00] Salaboy commented on #1573
@xiaohelong hi there. This looks cool. We can definitely look into adding this to our source code. It will be interesting if you can translate the documentation to english and then help us with the new infrastructure that we are building. This code might live inside the activiti/activiti repo, but this feature should be exposed in our Runtime Bundles as well. Please get in touch with us via gitter

[2017-11-27 10:00] #1573 closed

[2017-11-27 10:14] amitport commented on #1425
@Salaboy My gut feeling was to try `\\` also. It didn't work. I don't know if it's a bug/feature/documentation issue. Just that it is an issue.

[2017-11-27 10:28] salaboy opened #1578 "Re add compatibility mode for activiti 5 inside activiti 7 develop branch"
We need to re-add removed functionality and schemas for supporting activiti 5 backwards compatibility

[2017-11-27 10:36] Salaboy commented on #1544
done: https://hub.docker.com/r/activiti/example-runtime-bundle/

[2017-11-27 10:36] #1544 closed

[2017-11-27 10:39] Salaboy commented on #1355
closing this - duplicated from: https://github.com/Activiti/Activiti/issues/1493

[2017-11-27 10:39] #1355 closed

[2017-11-27 10:41] Salaboy commented on #1556
this will include activiti-cloud-build

[2017-11-27 10:54] daisuke-yoshimoto commented on #1338
@Salaboy
I also encountered the same problem.
Therefore, I prepared the following acquisition method and decided to divide the query.
https://github.com/Activiti/Activiti/pull/891

[2017-11-27 11:02] Salaboy commented on #1338
@daisuke-yoshimoto great.. so this is done then.

[2017-11-27 11:04] martinhanes commented on #1338
Great news! I've worked around it with a similar approach, only it was done on higher level. Thanks again.

[2017-11-27 14:40] ffazzini commented on #1538
Tested the change on minikube, no errors from api and in audit logs

[2017-11-27 16:14] erdemedeiros commented on #1548
Related PRs:
https://github.com/Activiti/activiti-build/pull/12
https://github.com/Activiti/Activiti/pull/1579
https://github.com/Activiti/activiti-cloud-build/pull/10
https://github.com/Activiti/activiti-cloud-query-service/pull/6
https://github.com/Activiti/activiti-cloud-audit-service/pull/12
https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/16
https://github.com/Activiti/a

[2017-11-28 06:50] lvc commented on #1384
@Salaboy,

I'll enable daily analysis of snapshots if you'll publish them somewhere (e.g. here https://oss.sonatype.org/content/repositories/snapshots/org/activiti/activiti-engine/).

Also please let me know if some other activiti-* modules should be added to the tracker.

Thank you.

[2017-11-28 09:10] ryandawsonuk commented on #1384
The snapshot link is https://maven.alfresco.com/nexus/content/repositories/activiti-snapshots/org/activiti/activiti-engine/

But I don't think you need to do this on snapshots. We do an EA release each month at the moment. If you could include all the releases rather than just those listed above that would also be interesting. See

https://oss.sonatype.org/#nexus-search;gav~org.activiti~activiti-e

[2017-11-28 09:11] Salaboy commented on #1384
@lvc can we create a separate report for Activiti Cloud? we are publishing Early Access Releases every month and it will be good to keep track of this work. We are publishing to maven central: http://search.maven.org/#search%7Cga%7C1%7Cactiviti-cloud
Not sure how difficult is to set up that for each different artifact.

[2017-11-28 09:58] erdemedeiros commented on #1501
Related PR: https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/3

[2017-11-28 10:46] #1577 closed

[2017-11-28 11:07] #1516 closed

[2017-11-28 12:28] Salaboy commented on #1518
@alirezamirian we will appreciate a PR so we can fix this problem. Make sure that you target the develop branch which is our main stream of work. We are keeping track of all the opened issues now, so please free to get in touch via gitter if you have questions on how to proceed: https://gitter.im/Activiti/Activiti7?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2017-11-28 12:28] #1510 closed

[2017-11-28 12:29] Salaboy commented on #1472
@QiquWong hi there, are you still facing this issue?
Now all artifacts has been published to maven central. If you still want to build from source you can. We work and build the source code almost everyday, so please feel free to reach us via gitter if you have problems with it or if you want to contribute: https://gitter.im/Activiti/Activiti7?utm_source=share-link&utm_medium=link&utm_campaign=sha

[2017-11-28 12:29] #1472 closed

[2017-11-28 12:30] Salaboy commented on #1468
@ffazzini are all the readyness and liveness probes already added to our examples? meaning
- runtime-bundle
- audit
- query
?
If so let's close this issue, if not please add the probes to those services.

[2017-11-28 13:48] #1468 closed

[2017-11-28 14:08] #1545 closed

[2017-11-28 15:03] Salaboy commented on #1261
@daisuke-yoshimoto are you working on this? Do you see the point of creating such service?
If this is valuable we should do it but I don't know if it is worth it.

[2017-11-28 15:04] ryandawsonuk commented on #1561
sed -i -E "s|<version.activiti>\${project.version}<\/version.activiti>|<version.activiti>$NEXT_SNAPSHOT<\/version.activiti>|" pom.xml
sed -i -E "s|<version.activiti.cloud>\${project.version}<\/version.activiti.cloud>|<version.activiti.cloud>$NEXT_SNAPSHOT<\/version.activiti.cloud>|" pom.xml

[2017-11-28 15:11] Salaboy commented on #1344
@ryandawsonuk @erdemedeiros is this a low hanging fruit that maybe @mteodori can look at?

[2017-11-28 15:16] Salaboy commented on #1461
This is a question not an issue, that's why I'm closing this.
In IntelliJ there is BPMN diagram viewer only.

[2017-11-28 15:16] #1461 closed

[2017-11-28 15:18] Salaboy commented on #1459
@tianzk thanks for reporting back the fix. I'm closing this issue now

[2017-11-28 15:18] #1459 closed

[2017-11-28 15:19] Salaboy commented on #1346
@rocky-chen did you manage to solve the issue? I will close this issue due to inactivity. We want to track our progress correctly, so please get in touch if you can help us to find the fix for the issue that you mention or if you are still facing the same issue as before.

[2017-11-28 15:20] Salaboy commented on #1018
should we close this issue? or should we have a discussion about the expected behavior?

[2017-11-28 15:21] #1552 closed

[2017-11-28 15:22] Salaboy commented on #927
@wblancqu this sounds like a great community contribution. It should be easy enough to add and to test the new behaviour. Are you interested in contributing this back to Activiti 7 and Activiti Cloud? Cheers

[2017-11-28 15:24] ryandawsonuk commented on #1549
@erdemedeiros discovered that we don't seem to need this if we set  -Dgpg.homedir=${HOME}/.gnupg - but there is currently a problem with the gpg secret in bamboo so not able to fully test right now.

[2017-11-28 15:24] Salaboy commented on #1217
@quaff are you still facing this issue? I'm closing it due to inactivity. If you are still blocked by this please get in touch and reopen this issue so we can fix it or improve this for the next version of the framework.

[2017-11-28 15:24] #1217 closed

[2017-11-28 15:26] Salaboy commented on #1387
@zqr95518 I'm closing this issue due to inactivity. Did you find a fix for your problem? If not get in touch and we will try to help. Notice that when you create an issue here, you need to specify the version in which you are experiencing the issue, without that it is very difficult to provide help.

[2017-11-28 15:26] #1387 closed

[2017-11-28 15:26] Salaboy commented on #1418
@ryandawsonuk do we really need this or should we close it?

[2017-11-28 15:26] Salaboy commented on #1418
I don't see to much value at this stage for this one.

[2017-11-28 15:27] #1457 closed

[2017-11-28 15:29] Salaboy commented on #1537
@minhquankq have you looked at our Activiti Cloud work? It might be better to look into that than fighting with the multi-tentant approach provided by old versions. We will appreciate contributions to fix the multi-tenant approach, but new technologies exist to deal with multi-tenancy in a better way. Please re-open this issue if you want to collaborate with us or get in touch via gitter: https://

[2017-11-28 15:39] Salaboy commented on #1465
@veryyoung this is a very good requirement, do you want to help us to get this done? It sounds like a great community contribution. We are willing to mentor and help you to get this done for version 7 and Activiti Cloud. I'm closing this issue now, to make sure that we can keep track of this work, feel free to contact us via gitter to have a conversation about how we can get this done: https://git

[2017-11-28 15:39] #1465 closed

[2017-11-28 15:41] Salaboy commented on #1460
@adohe @daisuke-yoshimoto I'm closing this issue due to inactivity.

[2017-11-28 15:41] #1460 closed

[2017-11-28 15:42] Salaboy commented on #1519
closing this issue for now, we need to have more discussions about this.

[2017-11-28 15:42] #1519 closed

[2017-11-28 15:44] Salaboy commented on #1444
We will keep the creation inside the process runtime until we find a better way to externalize that.

[2017-11-28 15:44] #1444 closed

[2017-11-28 15:45] Salaboy commented on #1391
@ryandawsonuk can I close this one right?

[2017-11-28 15:45] Salaboy commented on #1391
@ryandawsonuk if so.. please close.

[2017-11-28 15:48] Salaboy commented on #1255
@zqr95518 I'm closing this issue due to inactivity. It looks like you were pointing to the path where your file is stored in your filesystem and not the hosted resource inside Tomcat. If you are still facing this issue please reopen and provide more context. A reproducer will be great to help you out and fix the problem.

[2017-11-28 15:48] #1255 closed

[2017-11-28 15:49] Salaboy commented on #1397
@erdemedeiros is this close? or what is the current status? Can you please close this one if it is not needed anymore?

[2017-11-28 15:50] Salaboy commented on #1411
@ryandawsonuk did we find an answer for this? I think that for now everything is working quite ok. If you can close or refine this I will appreciate it.

[2017-11-28 15:51] Salaboy commented on #1435
@erdemedeiros can you guide @mteodori to take a look at this? He is looking at other REST endpoint related issue.

[2017-11-28 15:52] Salaboy commented on #1412
:)

[2017-11-28 15:54] Salaboy commented on #1575
master examples should point to latest release,
develop examples should point to snapshots.
For now we do it manually while testing the released artefacts. Not sure how we can automate this. but at least the repositories should reflect this policy.

[2017-11-28 15:56] Salaboy commented on #1523
@kindperson hi there. you need to be more detailed while reporting bugs/issues. This stacktrace doesn't explain too much and the problem is clearly related with: **"javax.servlet.ServletException: java.lang.NoClassDefFoundError: Could not initialize class org.apache.jasper.el.ELContextImpl"**. Unfortunately, with this amount of information it is impossible to help you. I'm closing the issue now, b

[2017-11-28 15:56] #1523 closed

[2017-11-28 16:15] #1391 closed

[2017-11-28 16:20] ryandawsonuk commented on #1411
Yeah it doesn't seem to be causing us any problems at the moment. Let's close as we can always open a new issue if we need one.

[2017-11-28 16:20] #1411 closed

[2017-11-28 16:34] #1493 closed

[2017-11-28 16:49] ryandawsonuk commented on #1575
Yeah I had thought about automating this as part of the release process. But it's not so straightforward as the images won't be published until after the release. Maybe we just close this issue?

[2017-11-28 17:39] mteodori commented on #1344
checked with @ryandawsonuk and @erdemedeiros the current issue is that the browser doesn't send the accepts header set to application/json as expected and by default the app is configured with XML as default content type which breaks on all the classes like ProcessDefinitionResource that don't have the @XmlRootElement annotation required by JAXB, as options we could add the produces property to al

[2017-11-28 17:39] rocky-chen commented on #1346
@Salaboy ,  I've fix this issue by extending `org.activiti.compatibility.spring.DefaultSpringProcessEngineFactory`

The implementation is below:
[code]

[2017-11-28 18:37] sreekanthsnair commented on #1537
@Salaboy i don't know what the hell you guys are thinking about, the moment we file an issue in github we mean the respective application is not working as expected, the community may or may not contribute towards the fix but its none of your business.

[2017-11-28 18:41] sreekanthsnair opened #1580 "Multi-tenancy support on activiti is not working as expected, issue same as #1537 and #1032"

[2017-11-28 19:05] Salaboy commented on #1537
@sreekanthsnair we all have hope in this project that is why we are reviewing all issues and see how they align with our current roadmap. Issues are extremely important, and because of that we need to make sure that they fit in an overall plan and that we can allocate someone to work. Having abandoned issues doesn't help anyone either. You can't imagine the amount abandoned issues that we are tryi

[2017-11-28 19:20] sreekanthsnair commented on #1537
@Salaboy i do agree with your point in all respect, but i would like you too see issues filed by community in a different angle, it may not be solvable with your current resource or roadmap but by closing the this issue doesn't make any different from keeping it open.

[2017-11-28 19:46] #1580 closed

[2017-11-28 20:09] Salaboy commented on #1537
@sreekanthsnair I’m re opening the issue becuase I want to see a solution that works for you and the overall community. But opened issues that are not being worked on needs to be triaged and assigned to a milestone, if not the project goes into caos. Im looking forward to plan and work the best solution for this issue with you and all the interested parties.

[2017-11-29 12:02] erdemedeiros commented on #1344
Changing Spring Boot default to JSON sounds good for me.

[2017-11-29 12:50] #1575 closed

[2017-11-29 12:52] Salaboy commented on #1346
@rocky-chen great! that looks like a fix. Is it possible for you to create a pull request with fix to 6.x? I mean to the DefaultSpringProcessEngineFactory? I think that if we include that issue, you will benefit to not mantain the MyProcessEngineFactory class and also other people can benefit from it.

[2017-11-29 12:58] mteodori commented on #1435
I can confirm, it works only with concrete classes, not interfaces

[2017-11-29 13:00] Salaboy commented on #1541
@ryandawsonuk @erdemedeiros @ffazzini I was testing this lately and I haven't seen this again for some time now. I do believe that it is related with Eureka and the Gateway, our services are not the problem. I will close this now and if we find this problem again with SB M6 & SC M4 we can re-open again

[2017-11-29 13:00] #1541 closed

[2017-11-29 13:03] Salaboy commented on #1485
@ryandawsonuk I will close this one, until we find out what is the PKS strategy for security. I bet it will be UAA, but let's plan and add support for it only if it is needed for PKS or if the JHispter community is using it for the microservices approach

[2017-11-29 13:03] #1485 closed

[2017-11-29 13:06] Salaboy commented on #1449
I'm closing this one now. Not sure if we need to fix this.. as it seems the norm for everyone.

[2017-11-29 13:06] #1449 closed

[2017-11-29 13:08] Salaboy commented on #1521
@constantin-ciobotaru initial version should be added to our December Release. For that reason I'm adding it to the December milestone.

[2017-11-29 13:13] salaboy opened #1581 "Organization & Authoring Services"
This Epic represent all the services related with building a Modeling experience for the end users.

[2017-11-29 13:14] Salaboy commented on #1539
@igdianov any progress on that?

[2017-11-29 13:15] Salaboy commented on #1507
@igdianov any progress on this one? We should try to get a working PoC for December so we can use it for our DevCons talks. :)

[2017-11-29 13:16] Salaboy commented on #1512
@constantin-ciobotaru I will close this one because as far as I remember you created this one to push the initial project structure in the repo.

[2017-11-29 13:16] #1512 closed

[2017-11-29 13:17] Salaboy commented on #1494
@daisuke-yoshimoto I can see that you pick this one. Let us know if you are planning or if you are working on one.

[2017-11-29 13:23] Salaboy commented on #1489
@ryandawsonuk for Activiti Cloud that shoudn't be a problem right? The datasource for the Runtime Bundle should be internal and not used by any delagate or connector. Not sure if we want to provide that secondary datasource alternative, just because you can use Activiti Cloud Connectors to deal with those interactions.

[2017-11-29 13:23] Salaboy commented on #1489
@ryandawsonuk I would recommend to close this one.

[2017-11-29 13:24] Salaboy commented on #1261
I've moved it to December Milestone, if we don't implement this at this point I would recommend to close this issue.

[2017-11-29 13:26] Salaboy commented on #1381
@ryandawsonuk @erdemedeiros is this something that we can guide @mteodori to do in December?

[2017-11-29 13:27] Salaboy commented on #1530
This is a low hanging fruit that we can close in December. We need to review the data that is being stored by Runtime Bundles and make sure that no historic data is kept.

[2017-11-29 13:27] ryandawsonuk commented on #1489
Yeah this is basically an Activiti 6 issue

[2017-11-29 13:28] Salaboy opened #1582 "JHipster Integration Efforts"
All the issues related with JHipster integrations, and making sure that our services fits into their microservices environments.

[2017-11-29 13:29] Salaboy commented on #1486
This is for the monolith approach, but we need to go hard on the microservice way when they upgrade to spring boot 2.

[2017-11-29 13:30] Salaboy commented on #1487
@ryandawsonuk Not sure what is this issue about, we have the one related to bamboo and publish to npm as well. Are these two related? Should we have just one? Can we also create one for the microservice approach?

[2017-11-29 13:31] Salaboy commented on #1467
I'm closing this one because the Security Policy mechanism is validating this now.

[2017-11-29 13:31] #1467 closed

[2017-11-29 13:35] Salaboy commented on #1553
@hoax you there?

[2017-11-29 13:37] Salaboy opened #1583 "Old Activiti 6.x & 5.x Issues"
This Epic is to keep track of old version issues.

[2017-11-29 13:41] Salaboy commented on #1451
@huicaier did you manage to solve this problem? That API wasn't exposed for 5.22.0 version.

[2017-11-29 13:43] Salaboy commented on #1331
@autumind hi there, can you elaborate on what are you trying to achieve? Have you look at our new work in Activiti Cloud and the new starters under our activiti-cloud-runtime-bundle-service repository?

[2017-11-29 14:06] rocky-chen commented on #1346
Hi @Salaboy , I have created a pull request with the fix to 6.x.  Thanks.

[2017-11-29 14:10] erdemedeiros commented on #1435
In this case I think we can remove the interfaces and keep only the implementation for controllers. @Salaboy do you have any strong felling to keep interfaces for controllers?

[2017-11-29 15:08] Salaboy commented on #1344
@mteodori @erdemedeiros totally.. let's change the default to JSON

[2017-11-29 15:22] ryandawsonuk commented on #1535
A regex that would match to a feature version such as 7-201711-EA-daisuke_1534_process_def_key-SNAPSHOT would be:

7-[0-9]{6}-EA-.*-SNAPSHOT

This would only match feature versions.

[2017-11-29 15:38] ryandawsonuk commented on #1540
Currently have it working through postman but get the invalid parameter redirect_uri issue through browser. Probably means I need to build adapter again.

[2017-11-29 16:31] erdemedeiros opened #1585 "Upgrade to Spring Boot 2.0.0.M6"
- Spring Boot -> 2.0.0.M6
- Spring Cloud version -> Finchley.M4

[2017-11-29 17:08] ryandawsonuk commented on #1535
Would be good to do a general search for that string above in pom files but for the meantime I've updated the jobs for non-example repos to do a check on the top-level POM version in develop branch and if it detects that the version is not of the develop format then the job fails and outputs "POM version in develop branch does not match expected format of 7-[0-9]{6}-EA-SNAPSHOT".

[2017-11-29 17:23] mteodori commented on #1344
cannot reproduce this anymore with latest develop

[2017-11-29 17:46] zuloloxi commented on #1005
It was for information. I dropped JDK 8 from IBM, better to use, is Oracle JDK 8 version ! I tested a little, only Activiti 5.21, nice features.
All the best !

[2017-11-29 18:01] erdemedeiros commented on #1585
Related PRs:
             https://github.com/Activiti/activiti-build/pull/13
             https://github.com/Activiti/activiti-cloud-build/pull/13
             https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/17
             https://github.com/Activiti/activiti-cloud-query-service/pull/7
             https://github.com/Activiti/activiti-cloud-audit/pull/15
             https:

[2017-11-29 20:34] openwms commented on #1076
Nobody answered. You can close it and I'll try again with the lastest versions

[2017-11-30 02:27] quaff commented on #1217
I have turn to flowable

[2017-11-30 07:07] #1489 closed

[2017-11-30 07:08] Salaboy commented on #1346
@rocky-chen really appreciated. I will review this to see if @balsarori can merge it and then move it to develop.

[2017-11-30 07:09] Salaboy commented on #1578
@balsarori we need a section in our gitbook that explains how to hook up a runtime bundle into an activiti 5 db and what is the expected result. I saw that there is an issue that is also recommending an improvement for that compatibility for customTypes during the migration process. Can you please keep track of that: https://github.com/Activiti/Activiti/issues/1346

[2017-11-30 07:13] Salaboy commented on #1435
@erdemedeiros @mteodori as I mention in Gitter, I wanted to use those interfaces and provide different implementations. @mteodori mention that there are some compromises, but I would rather do that to make sure that our controllers implement those interfaces, no matter if they are or not annotated. Having a separate module for -apis will allow us to not drag the whole implementation if we want to

[2017-11-30 07:14] Salaboy commented on #1344
@mteodori did you mean that you solved it by changing it to JSON as default? or that the problem is not there anymore?

[2017-11-30 07:14] Salaboy commented on #1005
👍 thanks for letting us know!

[2017-11-30 07:15] Salaboy commented on #1217
@quaff good stuff! enjoy Open Source!

[2017-11-30 08:52] mteodori commented on #1344
Not there anymore apparently, might have been fixed by spring-hateoas snapshot update

[2017-11-30 11:35] mteodori commented on #1435
@Salaboy the assemblers are technically part of the api as they define the shape of the links section so they should definitely stay in the API package, but the spring-hateoas methodOn works only with classes not interfaces, honestly I don't see a use case for the api/impl split of controllers

[2017-11-30 13:15] Salaboy commented on #1435
@mteodori the split needs to remain. Those controllers interfaces (the interfaces themselves) are not tied to be controllers and that's why we can use them for other purposes. We need to make those interfaces as agnostic as possible from the implementation and the fact that they are serving as controllers.

[2017-11-30 13:16] Salaboy commented on #1585
@erdemedeiros can this be closed?

[2017-11-30 14:35] erdemedeiros commented on #1585
All the PRs are merged now.

[2017-11-30 14:35] #1585 closed

[2017-11-30 15:08] Salaboy commented on #1559
@lucianoprea if this is done, please close.

[2017-11-30 15:10] Salaboy commented on #1288
@willkzhou hi William, what is the status of this? Is it realistic to say that we can have the intial version for the 15th Dec?

[2017-11-30 15:11] Salaboy commented on #1546
@ffazzini what is the status of this issue? should we close it as this was included for our main services?

[2017-11-30 15:12] Salaboy commented on #1528
We can use a conditional bean to not load the @EnabledBindings. Even if we loose some of the important features there will be some cases where we want to do that.

[2017-11-30 15:13] Salaboy commented on #1498
This was started and it is work in progress. I will assign this to Organization & Authoring services until we can spread this work to Runtime Bundle, Query and Audit services.

[2017-11-30 15:21] Salaboy commented on #1535
@ryandawsonuk @erdemedeiros can we close this now?

[2017-11-30 15:23] ryandawsonuk commented on #1535
I would like to be able to search all poms - currently it just checks the root pom.

[2017-11-30 16:32] ffazzini commented on #1546
Yes sure

[2017-11-30 16:32] #1546 closed

[2017-11-30 21:20] cijujoseph opened #1586 "Broken License file links in README.md"
The license file links in the README.md file in activiti 7 repos are broken. They all have a .txt extension in the url in README, however all the license files are created without the txt extension

[2017-12-01 01:45] hcoderonly opened #1587 "How to embed the Activiti workflow in a HTML page?"
I am able to create the workflows using Java/Spring, but I am unable to find a way to run these workflows in a web environment/html file.
For example:
1. I want to create a workflow
2. embed the workflow in html 5
3. start the workflow in the html page?

Can someone help me with the above request pls?

[2017-12-01 04:57] jsonzoup opened #1588 "The db init sql is not support templatize how i can define table’s prefix or db schema"
The db init sql is not support templatize how i can define table’s prefix or db schema.
Please support this feature.

Thans for all.

by jsonzou (https://github.com/jsonzou/jmockdata)

[2017-12-01 09:21] ryandawsonuk commented on #1561
These sed commands work locally but they don't do the replace in the bamboo job.

[2017-12-01 10:03] ryandawsonuk commented on #1587
You could use the spring boot starter and add the rest API and make rest calls from the webpage. See https://spring.io/blog/2015/03/08/getting-started-with-activiti-and-spring-boot and http://www.baeldung.com/spring-activiti

[2017-12-01 10:19] ryandawsonuk opened #1589 "add example-runtime-bundle into release process"
Needs to be released using jgitflow relase-start and release-finish and should tag for docker - just like the activiti-cloud-runtime-bundle process

[2017-12-01 11:02] ryandawsonuk commented on #1538
Still getting this error in docker-compose

[2017-12-01 15:58] hcoderonly commented on #1587
Thank you @ryandawsonuk.
I can see that you can return the workflow value to the UI, I was wondering if there was a way that the workflow is ran on the website.
For example:
I create  the workflow below using Workflow Editor:
(Start)--->[This is a test workflow]--->(End)

In the html UI, I want to see the workflow run like this:

This is a test workflow
                          [End Button]

Now,

[2017-12-04 05:30] xiaohelong commented on #1573
ok,I got and will translate quickly. then paste here,thanks

[2017-12-04 06:02] autumind commented on #1331
@Salaboy I've solved this issue in my pr [#1416](https://github.com/Activiti/Activiti/pull/1416).

[2017-12-04 06:03] #1331 closed

[2017-12-04 06:26] Salaboy commented on #1561
@ryandawsonuk is this done now? or should we move it to December milestone?

[2017-12-04 06:27] Salaboy commented on #1540
moved to December then.

[2017-12-04 06:27] Salaboy commented on #1548
@erdemedeiros can we close this one now?

[2017-12-04 06:27] #1566 closed

[2017-12-04 06:28] Salaboy commented on #1558
@erdemedeiros is this done?

[2017-12-04 11:58] erdemedeiros commented on #1538
The last fix missed [TaskAssignedEventEntity](https://github.com/Activiti/activiti-cloud-audit-service/blob/develop/activiti-cloud-services-audit/activiti-cloud-services-audit-jpa/src/main/java/org/activiti/cloud/services/audit/events/TaskAssignedEventEntity.java#L33).

[2017-12-04 12:36] ryandawsonuk commented on #1561
Bamboo does seem to be happy with this form:

sed -i -E "s|<version.activiti>.*project.version.*<\/version.activiti>|<version.activiti>$NEXT_SNAPSHOT<\/version.activiti>|" pom.xml
sed -i -E "s|<version.activiti.cloud>.*project.version.*<\/version.activiti.cloud>|<version.activiti.cloud>$NEXT_SNAPSHOT<\/version.activiti.cloud>|" pom.xml

So have switched jobs to use that.

[2017-12-04 12:44] #1561 closed

[2017-12-04 14:37] ffazzini opened #1591 "Create a distributed logging architecture"
I created a poc running on kubernetes based on ELK.

We will have a meeting tomorrow to discuss further details @Salaboy

For scaling up logstash look here:
https://www.elastic.co/guide/en/logstash/current/deploying-and-scaling.html

I think that you can achieve that via kubernetes with:
[code]

Used tcp as it is more common, but i prefer udp depends on the project though.
The spring boot pushes t

[2017-12-04 15:21] erdemedeiros commented on #1558
No, it's still pending.

[2017-12-04 15:21] #1548 closed

[2017-12-04 16:01] #1556 closed

[2017-12-04 16:01] Salaboy commented on #1443
@daisuke-yoshimoto did you manage to check this one? I'm moving it to next month milestone anyway.

[2017-12-04 17:06] erdemedeiros opened #1592 "Add automatic build on the master branch"
Add a cron to build the master branch periodically on Travis.

[2017-12-04 17:08] ryandawsonuk commented on #1589
Has now been released through bamboo process.

[2017-12-04 17:08] #1589 closed

[2017-12-04 17:10] ryandawsonuk commented on #1549
gpg key issue resolved and released successfully using script tasks so don't need to do this.

[2017-12-04 17:10] #1549 closed

[2017-12-04 18:51] Salaboy commented on #1551
@lucianoprea @erdemedeiros what is the status of this issue?

[2017-12-04 18:52] Salaboy commented on #1550
@erdemedeiros what is the status of this issue? We did a great deal of this for this release. Can we open a more specific one?

[2017-12-04 18:53] Salaboy commented on #1538
this is high priority for December release.

[2017-12-04 18:54] Salaboy commented on #1559
@lucianoprea I'm closing this issue, because I think that you are already working on a new one.

[2017-12-04 18:54] Salaboy commented on #1535
@ryandawsonuk ok.. moving to the next milestone.

[2017-12-04 18:55] Salaboy commented on #1527
@cijujoseph can you help us to check if this is working as expected in runtime bundles?

[2017-12-04 18:56] Salaboy commented on #1551
@lucianoprea @erdemedeiros please close or move to 12-2017 depending on the current state of this issue.

[2017-12-04 18:59] #1395 closed

[2017-12-04 19:00] Salaboy commented on #1346
@balsarori Bassam can you look at this one?

[2017-12-05 05:53] lvc commented on #1384
@ryandawsonuk,

Reports for Activiti 7-* have been added here: https://abi-laboratory.pro/java/tracker/timeline/org.activiti.engine/

![activiti-3](https://user-images.githubusercontent.com/1517837/33591967-ae2365b2-d999-11e7-92e5-284aa036ddc6.png)
![activiti-4](https://user-images.githubusercontent.com/1517837/33591971-b1d581fe-d999-11e7-9257-c5b9c181809b.png)

[2017-12-05 06:00] lvc commented on #1384
@Salaboy,

I'll add them when at least two releases will be available (I only see one per each artifact currently and so can't plot the report). Please ping me in the comment here on the next release. Thank you.

[2017-12-05 06:03] lvc commented on #1384
Report for entire Activiti 6: https://abi-laboratory.pro/java/tracker/timeline/activiti/

![activiti-5](https://user-images.githubusercontent.com/1517837/33592257-0d8abad6-d99b-11e7-8f1c-953b67da6db5.png)
![activiti-6](https://user-images.githubusercontent.com/1517837/33592262-106b30aa-d99b-11e7-8685-3c0987b63587.png)

[2017-12-05 08:29] Salaboy commented on #1384
@lvc this is a very good and useful contribution. For v5 and v6 I don't think that it adds too much or represent something that people can use. Mostly because v5 and v6 contained the web tooling and rest apis inside the same repository. Now that we have spitted the code in a more "mature" way and our release processes are improving we these numbers will make much more sense.
We announced yesterday

[2017-12-05 08:39] lucianoprea commented on #1551
@Salaboy the problem here was with the authorization. I tried to write tests in order to add spring rest docs but I couldn't solve the problem of injecting an auth token for my user and I was being redirected to the login in tests.

[2017-12-05 09:57] ryandawsonuk commented on #1490
There's a config server example in activiti-cloud-examples -  https://github.com/Activiti/activiti-cloud-examples/tree/master/docker/config-server  Currently it is only for docker-compose and relies on the user building the docker image from the Dockerfile. If we formalise it more then we need to start maintaining a repo with the image and a repo with the property files (which means maintaining tw

[2017-12-05 09:59] ryandawsonuk commented on #1487
This was meant to be about integrating with the microservice approach, I just didn't explain clearly.I think we need JHipster to migrate to boot 2.0.0 first.

[2017-12-05 10:01] ryandawsonuk commented on #1486
Yes this is for monolith. Do we want to create a bamboo job to publish the monolith integration to npm?

[2017-12-05 10:41] #1412 closed

[2017-12-05 11:26] lucianoprea commented on #1559
This issue has a feature branch started with some changes that I'll submit to be merged.

[2017-12-05 11:36] ryandawsonuk commented on #1540
Actually seems the issue I hit is not related to the adapter. I'm now seeing this problem on the latest images and this PR is not incorporated in them. Something else must have changes to break this. Strange as it was working about a week ago as @mteodori was hitting endpoints through the browser.

[2017-12-05 11:43] Salaboy commented on #1559
re opened then

[2017-12-05 11:44] Salaboy commented on #1551
@erdemedeiros it will be great if you can spend some time looking at how to fix @lucianoprea problem to enable him to move forward

[2017-12-05 13:58] #1592 closed

[2017-12-05 15:13] ryandawsonuk commented on #1535
Have got it to do it now with this block

    if [ ! -z `grep -lr '<version>7-.*-EA-.*-SNAPSHOT</version>' pom.xml **/*pom.xml` ];
    then
        echo "Feature version reference found in develop"
        echo `grep -lr '<version>7-.*-EA-.*-SNAPSHOT</version>' pom.xml **/*pom.xml`
        exit 1
    else
        echo "building develop version"
    fi

[2017-12-05 15:53] #1535 closed

[2017-12-05 16:48] ffazzini commented on #1538
Added the fix using @Lob also to TaskAssignedEventEntity.
The error now disappeared from logs testing with docker-compose.

I followed the testing steps indicated by @erdemedeiros :

1. get process definitions
2. start process
3. get tasks
4. claim task
4. get events

[2017-12-05 16:48] #1538 closed

[2017-12-05 18:05] cijujoseph commented on #1527
@Salaboy : I just tested this using the cloud examples the following way and can confirm that the process definitions are **not redeployed**  if it already exists in the database.

- Created a postgres service instead of one local db per runtime bundle
- Stopped the runtime bundles via kube dashboard which forced the creation of another rb instance against the same database.
- Invoked the get proc

[2017-12-06 09:23] Salaboy commented on #1527
@cijujoseph if the runtime bundle fails to start it should be automatically restarted by kubernetes. We need to improve the probes.

[2017-12-06 09:24] Salaboy commented on #1527
@ffazzini I'm assigning this to you to review and improve.

[2017-12-06 10:05] ffazzini commented on #1527
@Salaboy If runtime bundle service fails to start, it is automatically restarted by kubernetes already with the probes. What do we have to improve specifically?

[2017-12-06 12:04] Salaboy opened #1593 "Update Spring versions"
Spring (5.0.2.Release), Spring Boot  (2.0.0.M7) and Spring Cloud (Finchley M5) and Spring Cloud Stream (Elmhurst.M3)

[2017-12-06 12:12] Salaboy commented on #1593
https://github.com/Activiti/activiti-build/pull/14

[2017-12-06 12:12] Salaboy commented on #1593
https://github.com/Activiti/activiti-cloud-build/pull/14

[2017-12-06 12:17] Salaboy commented on #1527
@cijujoseph can you please share with @ffazzini how to reproduce the issue of 2 runtime bundles starting at the same time and one failing to create the DB? that should leave the 2nd one in an inconsistent state, which the probe should understand and restart. After restarting both instances should work.

[2017-12-06 14:33] cijujoseph commented on #1527
@Salaboy @ffazzini , I produced the issue by starting 2 rb replicas (in the cloud-example project). To be frank I didn't wait that long for it to be restarted by kubernetes, I just killed it from the dashboard which created another node. I'll see if I can reproduce that issue again and check if it gets re-started. Only thing I remember is seeing a 503 error on dashboard.

[2017-12-06 14:44] ryandawsonuk opened #1595 "Demo UI gives CORS issue if keycloak version increased above 3.2.0"
Affecting the demo JS app in activiti-cloud-examples. Error in browser is:

Failed to load http://activiti-cloud-sso-idm:8180/auth/realms/springboot/protocol/openid-connect/token: The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credentials mode is 'include'. Origin 'http://localhost:3000' is therefore not allowed access. The cre

[2017-12-06 16:26] ryandawsonuk commented on #1540
Actually demo UI hits a cors problem with keycloak versions above 3.2.0 - https://github.com/Activiti/Activiti/issues/1595. I would expect it to at least work with 3.3.0 as our adapter was built against 3.4.0.CR1-SNAPSHOT

[2017-12-06 16:41] ryandawsonuk commented on #1540
Actually demo UI hits a cors problem with keycloak versions above 3.2.0 - #1595. I would expect it to at least work with 3.3.0 as our adapter was built against 3.4.0.CR1-SNAPSHOT. For the meantime I've reverted the keycloak version in the docker image back to 3.2.0.Final

[2017-12-06 17:27] ryandawsonuk commented on #1572
To test this I built all the above projects, including running their tests, and checked from activiti-cloud-examples using the images that had been built.

[2017-12-06 17:52] ryandawsonuk commented on #1595
The JS client implementation is based on that from http://slackspace.de/articles/authentication-with-spring-boot-angularjs-and-keycloak/

Looking back at that, I wonder if the * referred to in the error is coming from https://github.com/Activiti/activiti-cloud-sso-idm/blob/master/springboot-realm.json#L385

[2017-12-06 21:19] alirezamirian opened #1596 "json converter doesn't convert localization information"
Localized **name** and **description** (documentation) can be saved [for user tasks and subprocesses][1] in specific extension elements. Currently BpmnJsonConverter doesn't convert these extension element to/from json.

[1]: https://github.com/Activiti/Activiti/blob/e30e7058ab3ead70133692e0f91c22dc7613e10b/modules/activiti-engine/src/main/java/org/activiti/engine/impl/bpmn/deployer/BpmnDeployer.ja

[2017-12-06 22:13] alirezamirian commented on #1518
I will submit two separate PRs targeting `develop` and `6.x` branches, if you don't mind.

[2017-12-07 11:14] ffazzini commented on #1591
It works using the public official images of elastic,
I am using env variables for configuration.

Upgrading to the latest version of elasticsearch 6 i bumped into this issue:
https://github.com/elastic/kibana-docker/issues/56

So it currently works fine on minikube against the public images version 5.3.2

[2017-12-07 11:27] ryandawsonuk commented on #1595
If I change the * to 'http://localhost:*' then the error becomes:

Failed to load http://activiti-cloud-sso-idm:8180/auth/realms/springboot/protocol/openid-connect/token: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed access.

[2017-12-07 11:33] #1435 closed

[2017-12-07 12:54] ryandawsonuk opened #1599 "Do we still need the maven example within activiti-cloud-examples? Why not say to clone instead?"
In activiti-cloud-examples we have an entry in application-docker-compose that says:

      image: rb-my-app

This is to fit with the maven example. But we could change it to:

       image: activiti/example-runtime-bundle

And then we could update the instructions to say that if you want to build with maven then clone that repo first and build from there.

[2017-12-07 12:56] #1540 closed

[2017-12-07 12:57] #1595 closed

[2017-12-07 13:52] Salaboy commented on #842
@ilgrosso hi there, thanks for reporting this. We will probably remove this dependency in the future (or make it optional), but for now I'm closing this issue, because we are not an official Apache project we are not forced to guarantee that all our dependencies and transitive dependencies are ASL compatible.
We are currently splitting the platform, so even the JSON converter is something that you

[2017-12-07 13:52] #842 closed

[2017-12-07 14:18] Salaboy commented on #1587
@hcoderonly hi there, please use the forums for this type of questions.
Activiti will always run in the backend (meaning in your services) and you can definitely interact with the UI and send values back to notify the user that the "workflows" are running. You can also start the workflow from the UI and show the workflow diagram, but the workflow itself will never run in the browser.

I'm closing

[2017-12-07 14:18] #1587 closed

[2017-12-07 14:44] ffazzini commented on #1555
https://github.com/spring-cloud/spring-cloud-netflix/issues/856

[2017-12-07 15:12] mteodori opened #1601 "Add dependencies vulnerability check for Activiti engine"
Integrate a maven plugin to check for dependencies with vulnerabilities and eventually fail the build limited to the Activiti engine.

The following options are available:
- https://github.com/victims/maven-security-versions
- https://jeremylong.github.io/DependencyCheck/

[2017-12-07 15:15] #1490 closed

[2017-12-07 15:20] erdemedeiros commented on #1443
@daisuke-yoshimoto we are closing it as this test does not seem to be failing anymore. Feel free to re-open it if it occurs again.

[2017-12-07 15:20] #1443 closed

[2017-12-07 15:29] Salaboy commented on #1377
We can use a @OnConditionalBean.. to filter the controllers..

[2017-12-07 15:32] Salaboy commented on #1261
we are closing this one because this is not relevant. Please do not implement

[2017-12-07 15:32] #1261 closed

[2017-12-07 17:54] erdemedeiros commented on #1397
This is still to be done.

[2017-12-07 22:26] daisuke-yoshimoto commented on #1443
@Salaboy @erdemedeiros
I see.
If this test fail again, I will reopen this issue.

[2017-12-08 12:45] Salaboy opened #1602 "Replace JavaGeom from json converter"
It will be good to analyze and make optional the use of JavaGeom for the BPMN DI (Diagram information) related use cases.

Finding an alternative is also part of this task, but I would start by looking at: https://github.com/Esri/geometry-api-java

We need an Apache Licensed Library.

Some references at the source code that is using JavaGeom currently.
https://github.com/Activiti/Activiti/blob/dev

[2017-12-08 13:25] ffazzini commented on #1591
Elasticsearch runs boostrap checks regardless the env properties we pass.
The deployment will fail unless we set this property in the OS where minikube runs:
https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#docker-cli-run-prod-mode
In our case for minikube we have to:
[code]

[2017-12-08 14:25] ffazzini opened #1603 "Add logging module in common"
We would like to add the logging framework to the common project as we have already done for monitoring and tracing.

[2017-12-08 16:04] erdemedeiros commented on #1381
Actually this was already implemented in the milestone [7-201710-EA](https://github.com/Activiti/activiti-cloud-audit-service/blob/7-201710-EA/activiti-cloud-services-audit/activiti-cloud-services-audit-jpa/src/main/java/org/activiti/cloud/services/audit/EventsRepository.java#L36)

[2017-12-08 16:04] #1381 closed

[2017-12-08 16:12] ffazzini commented on #1603
Issue related to this epic https://github.com/Activiti/Activiti/issues/1591

[2017-12-08 17:47] Salaboy commented on #1381
:) great!

[2017-12-09 15:01] balsarori commented on #1346
PR #1584 merged. Closing this issue.

[2017-12-09 15:01] #1346 closed

[2017-12-09 16:21] salaboy opened #1604 "Logging/Monitoring/Tracing"
All the aspects related with understanding what is going on in the infrastructure and in the Apps.

[2017-12-10 15:42] vgaur opened #1606 "Task query with variable restricting data at 20000 causing incomplete task data"
Hi,
In `_TaskEntityManager.findTasksAndVariablesByQueryCriteria()_` we are restricting data size by setting taskQuery.setMaxResults(). This causes the last task to be extracted without full process variables.
Even if we use pagination, this issue remains.

We should remove the last task just to make sure we send out the complete task data.

[2017-12-11 09:51] ffazzini opened #1607 "Add spring boot profile at startup"
Due to https://github.com/Activiti/Activiti/issues/1591
we need to introduce profiles to control logging strategy
in case the Boot is running on local, docker-compose or minikube mode.

We will probably need those profiles for something more in the future.

- [x] rb

- [x] query

- [x] audit

[2017-12-11 09:59] ffazzini commented on #1607
At the moment when we start our example Boots up I can't see any set profile, that's what i found in the logs:
```No active profile set, falling back to default profiles: default```

We are able to set a new one.

[2017-12-11 11:23] ffazzini opened #1608 "Add distributed logging to example java services"
https://github.com/Activiti/Activiti/issues/1591

- [x] audit

- [x] rb

- [x] query

[2017-12-11 11:25] ffazzini opened #1609 "Create kubernetes deployment descriptors for ELK"
We need to add to cloud examples a first working draft of kubernetes deployment descriptors, we are aiming of using elastic public images for that.

[2017-12-11 12:19] hoax commented on #1553
sorry, I was assigned to another project ... I just pushed a fix for the missing file upload property

[2017-12-11 13:41] ffazzini commented on #1603
Common logging is now also used by all starters

[2017-12-11 13:41] #1603 closed

[2017-12-11 15:52] piyushshri opened #1610 "Possible bug in editor-controller.js - Canvas resizers getting positioned incorrectly"
# HOW TO REPRODUCE
1. Open a new model
2. Click on the default Start Event and end an End Event by clicking in the quick menu icon (Do not click anywhere else, keep the new quick menu of the End Event visible)
3. Click on the left or right canvas resizers (canvas_resize_indicator)

The canvas resize indicators get repositioned to the center of the canvas.

# THE CAUSE
This is happening because in

[2017-12-11 20:15] Salaboy commented on #1553
@hoax can you paste the link to where the fix is?

[2017-12-11 20:20] hoax commented on #1553
https://github.com/Activiti/Activiti/pull/1562/commits/64473230884ae36ee261950268ec3ea0787b1649

[2017-12-11 20:26] Salaboy commented on #1553
@hoax thanks a lot. @balsarori is going to merge it.

[2017-12-12 08:25] Salaboy commented on #1553
PR merged, closing this issue.

[2017-12-12 08:25] #1553 closed

[2017-12-12 09:36] #1608 closed

[2017-12-12 10:09] ffazzini commented on #1609
https://github.com/Activiti/activiti-cloud-examples/pull/37

[2017-12-12 10:09] #1609 closed

[2017-12-12 10:12] ffazzini commented on #1607
Created a kube profile for running elk on kubernetes. If profile is not set or set to any other value the Boot will use the default logback logging strategy.

[2017-12-12 10:12] #1607 closed

[2017-12-12 13:36] SDhalor commented on #965
The issue still persists. Any work around??

[2017-12-12 13:49] erdemedeiros commented on #1593
The plugin version should be updated as well accros the docker image repositories.

[2017-12-12 13:52] Salaboy commented on #965
@SDhalor hi there, thanks for getting in touch. Can you please specify in which version you are still experiencing the issue?

Cheers

[2017-12-12 13:56] SDhalor commented on #965
version 6. it is exactly the same issue shown in screenshot.

[2017-12-12 15:02] erdemedeiros commented on #1571
PR: Activiti/activiti-cloud-runtime-bundle-service#20

[2017-12-12 15:03] #1571 closed

[2017-12-12 15:31] Salaboy commented on #965
@SDhalor is 6 Final? or beta4? Please answer with the exact version. Did you find out what the issue is exactly? In the source code (6.x) branch?

[2017-12-12 15:37] SDhalor commented on #965
6.X branch of this project. Check line number 23397 of oryx.debug.js

[2017-12-12 15:47] Salaboy commented on #965
https://github.com/Activiti/Activiti/blob/6.x/modules/activiti-ui/activiti-app/src/main/webapp/editor/editor-app/editor/oryx.debug.js#L23397
You are right the issue might be in that function. Are you willing to contribute with the solution? It seems that you already manage to scope it quite correctly, and we will appreciate a PR fixing that problem.

[2017-12-12 16:27] ffazzini opened #1613 "Add zipkin to examples - twitter"
We will need to add tracing to the twitter examples running on kubernetes:

[2017-12-13 08:54] Salaboy commented on #1601
@mteodori does this found anything that we might consider a vulnerability or old dependency? I can see the update to batik groupId, but besides that, is there something else that we need to be aware?

[2017-12-13 15:29] mteodori opened #1615 "Add known vulnerabilities Snyx badge to README"
Add badge to README as documented in https://snyk.io/docs/badges/ on the following repos:
- [x] [Activiti](https://github.com/Activiti/Activiti)
- [x] [activiti-build](https://github.com/Activiti/activiti-build)
- [x] [activiti-cloud-audit](https://github.com/Activiti/activiti-cloud-audit)
- [x] [activiti-cloud-audit-mongodb](https://github.com/Activiti/activiti-cloud-audit-mongodb)
- [x] [activit

[2017-12-13 15:51] lucianoprea commented on #1559
PR [merged](https://github.com/Activiti/activiti-cloud-org-service/pull/1) for this issue

[2017-12-13 15:51] #1559 closed

[2017-12-13 15:53] constantin-ciobotaru opened #1616 "Add models consumer connectivity in activiti-cloud-org-service"

[2017-12-13 16:26] Salaboy opened #1617 "ELContext resolver fails on process variable created inside a Service Task"
The scenario looks like this:
start -> [Service Task] -> [Multi Instance Service Task] -> end

The Service Task create a new process variable which didn't existed before in the process context. This process variable is a collection that will be used in the Multi Instance Service Task to iterate.
The multi instance service task fails to resolve the name of the process variable created in the previo

[2017-12-13 17:40] #1601 closed

[2017-12-14 08:32] Salaboy commented on #1534
@ryandawsonuk @erdemedeiros this PR is ready to be merged in my opinion, but please review: https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/21#pullrequestreview-83426148

Feel free to merge it and include it in our Dec release.

[2017-12-14 08:32] Salaboy commented on #1514
I will close this issue because this was merged in activiti-cloud-examples already as: trending-topics-campaings

[2017-12-14 08:32] #1514 closed

[2017-12-14 08:33] Salaboy commented on #1593
Is the plugin version M7 as well?

[2017-12-14 08:34] Salaboy commented on #1572
@ryandawsonuk is this done already? Which one is missing? let's start closing things :)

[2017-12-14 08:35] Salaboy commented on #1377
I'm thinking of moving this one to Jan, any objections? @erdemedeiros @ryandawsonuk

[2017-12-14 08:36] Salaboy commented on #1551
@lucianoprea what is the status of this one?

[2017-12-14 08:51] lucianoprea commented on #1551
I'll start working on it.

[2017-12-14 09:13] ryandawsonuk commented on #1572
The PR on activiti-cloud-process-model-service is still open. Waiting for the version of that service to be upgraded to current.

[2017-12-14 09:47] erdemedeiros commented on #1593
Yes, it's aligned to the spring boot version.

[2017-12-14 10:36] ffazzini opened #1619 "Fix actuator endpoint breaking change on M7"
In the M6 version of the Boot we were using /application/status

The status endpoint has been removed, so we will now use the /actuator/health as stated in the doc:
https://docs.spring.io/spring-boot/docs/2.0.0.M7/reference/html/production-ready-endpoints.html

It should be fine only updating those values in the kubernetes deployment descriptors

[2017-12-14 10:41] ffazzini commented on #1613
PR merged

[2017-12-14 10:41] #1613 closed

[2017-12-14 12:48] Salaboy commented on #1572
Ok I think that you can close this issue then. I will review with @constantin and include those changes in develop

[2017-12-14 14:32] #1572 closed

[2017-12-14 14:37] ryandawsonuk commented on #1619
Have merged https://github.com/Activiti/activiti-cloud-examples/pull/44

[2017-12-14 14:38] #1619 closed

[2017-12-14 15:24] ffazzini opened #1620 "Create an env for docker images via terraform"
Following our discussion with Hussain, we want to try to deploy activiti 7 docker images on rancher via terraform. The objective is to have an environment up.
https://github.com/Alfresco/terraform-template-library

cc: @Salaboy

[2017-12-15 17:02] mteodori opened #1621 "CVE-2017-7525 - Jackson libraries deserialization vulnerability"
Update Jackson to closest tested version with fix: https://github.com/FasterXML/jackson-databind/issues/1723

- [x] 5.x
- [x] 6.x

[2017-12-15 17:28] mteodori opened #1623 "CVE-2017-9801: Apache Commons Email SMTP header injection vulnerabilty"
see: https://nvd.nist.gov/vuln/detail/CVE-2017-9801
fixed with 1.5

- [x] 5.x
- [x] 6.x

[2017-12-16 10:31] Salaboy commented on #1610
It seems that this was merged and the PR closed as well. So I will close the issue, please write a comment if this is not correct.

[2017-12-16 10:31] #1610 closed

[2017-12-16 10:31] Salaboy commented on #1606
@vgaur can you please specify the version that you are using?
I think that this problem was fixed already.

[2017-12-16 13:26] daisuke-yoshimoto opened #1625 "Fork execution's end and async user task cause referential integrity constraint violation error."
### Overview

When Task1 is completed in the following process diagram, referential integrity constraint violation error occurs.

![bug_process](https://user-images.githubusercontent.com/16251291/34070752-1b62ba06-e2af-11e7-8870-aa691687ad5e.png)

[code]
### Detail

1. Make fork executions by using parallel gateway.
2. Place an asynchronous user task in one of the executions.
3. With the asynchron

[2017-12-16 16:25] balsarori commented on #1625
@daisuke-yoshimoto does the fix in #1612 fix this one as well?

[2017-12-17 00:27] daisuke-yoshimoto commented on #1625
@balsarori
I'm sorry for being confused.
No, this bug event will not be fixed by fixing the pull request.

However, it is a related bug.
Both bugs are related to replacing executionId in the timing that the forked execution is removed.

I'm still thinking about how to fix this bug.

[2017-12-18 08:18] vgaur commented on #1606
@Salaboy I am using 5.19.0. I checked the latest repo code and found that instead of 20K now we can set the limit in process config.
The issue will still remain, because we are not using database pagination.
Am I missing something ?

[2017-12-18 08:23] Salaboy commented on #1606
@vgaur Have you tried 5.22? I think that issue was fixed there already. Which branch did you checked?
@balsarori is that correct? or it is in 5.x but not released?

[2017-12-18 08:24] Salaboy commented on #1617
We found out on Friday that the problem is when the multiInstanceService task behavior is leaving, it is replacing the process variables map coming from each task and for that reason while executing leave and checking for the collection is not longer there.

[2017-12-18 10:45] ryandawsonuk opened #1626 "default security password message - should we be disabling it?"
See https://stackoverflow.com/questions/30761253/remove-using-default-security-password-on-spring-boot

[2017-12-18 11:40] balsarori commented on #1606
@vgaur can try latest release (5.22). Also, if you could provide a unit test that we can use to reproduce the issue it will be great.

[2017-12-19 08:14] constantin-ciobotaru opened #1628 "Create modeling backend basic starter"

[2017-12-19 14:21] piyushshri commented on #1610
@Salaboy No, I closed the pull request as my solution didn't completely solve the problem. I can work on the issue once a master/owner confirms that this is an actual bug.

[2017-12-19 14:24] Salaboy commented on #1610
@balsarori can you confirm that? if this is reproducible we will be happy to receive a fix from @piyushshri

[2017-12-19 14:32] mteodori opened #1629 "Port #1592 automated CI build to 5.x and 6.x"
- [x] 5.x
- [x] 6.x

[2017-12-19 15:23] #1629 closed

[2017-12-19 15:27] mteodori opened #1630 "CVE-2012-0881 Xerces2 vulnerability"
https://nvd.nist.gov/vuln/detail/CVE-2012-0881
the library is not used and can be removed

- [x] 5.x
- [x] 6.x

[2017-12-20 04:53] roopamukim opened #1633 "Issue with multi instance parallel user task and conditional sequence flows"
For a multi instance parallel user task I have configured conditions on all outgoing sequence flows. When the task gets complete, Activiti engine is marking all its subsequent task as pending even if condition on only one flow was true.

E.g. Task A goes to task B and task C and conditions are defined on both the sequence flows. Then on completion of task A even if condition on flow going to task

[2017-12-20 11:12] Salaboy commented on #1620
@ffazzini I would close this and open a new one for January to work on the AWS environments with KOPS

[2017-12-20 11:13] Salaboy commented on #1596
@balsarori can you please review and see if we can merge this?

[2017-12-20 11:14] Salaboy commented on #1593
@erdemedeiros can you take care of creating the PRs for this? and probably directly merge the change to those repositories, we are not releasing those anyway.

[2017-12-20 11:15] Salaboy commented on #1377
moved to Jan

[2017-12-20 11:15] ffazzini commented on #1620
Ok

[2017-12-20 11:15] #1620 closed

[2017-12-20 11:16] ffazzini opened #1634 "Create an env on Alfresco AWS using KOPS"
We would like to create an environment on Alfresco AWS running on Kubernetes.

[2017-12-20 11:16] Salaboy commented on #1578
@balsarori any chance that you can work on this on December? I'm moving this to Jan due the fact that there is not much time left. But please update the status on this issue when you have time to look at this. It is becoming high priority for us.

[2017-12-20 11:17] Salaboy commented on #1527
@erdemedeiros @ryandawsonuk please check this as well, if you are trying to create 2 replicas this might appear.

[2017-12-20 11:18] Salaboy commented on #1486
@ryandawsonuk maybe after DevCon. I've moved this to Jan

[2017-12-20 11:19] Salaboy commented on #1555
moving to Jan to recheck with latest spring updates.

[2017-12-20 11:20] Salaboy commented on #1554
@ffazzini please recheck on Jan with latest spring boot and cloud updates.

[2017-12-20 13:52] cijujoseph commented on #1633
Discussed in detail at https://community.alfresco.com/message/825889

[2017-12-20 16:49] ggrnd0 opened #1635 "6-Beta2 truncated result for ExtensionElement::getElementText"
In December, 2017 we still use 6-beta2 version...

In last month we found error, for some extensionElement their ExtensionElement::getElementText returns truncated content.

In all common properties is:
 - length 100+ chars. utf-8. only ANSI.
 - wrapped with CDATA or not.
 - 3 nesting level: //bpmnElement/extensionElements/customCollection/customElement/attribute .
inner content of attribute will

[2017-12-20 16:55] balsarori commented on #1635
Hi @ggrnd0

Can you provide some code that we can use to reproduce the issue? And what's blocking you from using the 6.0 release?

[2017-12-20 17:20] ggrnd0 commented on #1635
1. i can-t, it is reproduce very randomly and not handled on small processes...
2. time for migrate. we planned migration at 2018Q2

[2017-12-20 17:21] ggrnd0 commented on #1635
i forgot.
it stable reproduces on debian8 server but not on developer machines...

[2017-12-21 16:39] lucianoprea opened #1636 "Activiti Cloud Example - Runtime Bundle App missing postgres driver"
Trying to build locally the runtime bundle with `docker build -t rb-my-app .` from **docker-runtime-bundle** folder in **activiti-cloud-examples** repo will end up with an image that is missing the postgres driver and would not start.

The problem could be in the _download_assets.sh_ where the driver is downloaded.

[2017-12-22 10:00] ryandawsonuk opened #1637 "Apply mem restrictions used on kub to docker examples too"
Restriction on kub
https://github.com/Activiti/activiti-cloud-examples/blob/develop/kubernetes/kubectl/application.yml#L39

If we apply this to docker example
https://github.com/Activiti/activiti-cloud-examples/tree/develop/docker
Then people should be able to run without needing so much ram allocated

[2017-12-22 11:32] daisuke-yoshimoto opened #1638 "Event subprocess doesn't start by signal event."
Event subprocess that has signal start event doesn't start by signal event.

- [ ] 5.x
- [ ] 6.x
- [ ] develop

![bug](https://user-images.githubusercontent.com/16251291/34296425-0e18c5ce-e756-11e7-91cb-dfae0e18ab07.png)

## Cause

Event subscription is not registered when a process instance start.

### 5.x

* The event definition(signal event) is registered for the subprocess not parent process i

[2017-12-22 13:28] daisuke-yoshimoto opened #1639 "Event Sub-Process not supported"
### Expected behavior

According to the Activiti User Guide, the event subprocess supports a timer start event.

https://www.activiti.org/userguide/#bpmnEventSubprocess

### Actual

But, actually, deploying an event subprocess with a timer start event will result in a validation error.

https://github.com/Activiti/Activiti/blob/6.x/modules/activiti-process-validation/src/main/java/org/activiti/val

[2017-12-22 17:09] ryandawsonuk opened #1640 "Look at editorconfig to set up a config across IDEs"
http://editorconfig.org/

[2017-12-22 18:57] #1621 closed

[2017-12-22 18:57] #1630 closed

[2017-12-22 18:57] #1623 closed

[2017-12-23 12:02] daisuke-yoshimoto commented on #1640
@ryandawsonuk

It is better to check the code format with the status check at the pull request, not only formatting in the local development environment of each development member.

For example, can we use the following functions of Codacy?
https://blog.codacy.com/codacy-integrates-with-checkstyle-5780f95145a2

[2017-12-23 12:55] #1534 closed

[2017-12-26 09:18] daisuke-yoshimoto commented on #1633
@roopamukim @cijujoseph

Thank you for the report of Issue.

It certainly was reproduced as a 5.x branch.The following places seem to be likely to be affected. It is implemented such that it progresses to each sequence connected from the activity set with multi instance.
https://github.com/Activiti/Activiti/blob/5.x/modules/activiti-engine/src/main/java/org/activiti/engine/impl/bpmn/behavior/Paral

[2017-12-26 19:30] daisuke-yoshimoto opened #1645 "StackOverflowError occurs when generate a large number of executions with multiple instances and delete their parent executions."
### Overview

StackOverflowError occurs when generate lots of executions with multiple instances and delete their parent executions.

For example, this bug is reproduced by the following process.
1. First generate 2000 Execution with Multi-Instance of User Task.
2. Delete the parent execution of user task.
3. StackOverflowError occurs.

![stackoverflowerror](https://user-images.githubusercontent.c

[2017-12-27 00:21] cijujoseph commented on #1633
great, thanks @daisuke-yoshimoto! @roopamukim perhaps you can upgrade to version 6 or even to version 7(which is still early access at this stage)

[2017-12-27 13:10] mteodori opened #1647 "CVE-2016-5007 Spring Security and Spring Framework vulnerability"
see: https://nvd.nist.gov/vuln/detail/CVE-2016-5007
fixed with Spring Security 4.1.1+ (4.1.4+ to fix also https://nvd.nist.gov/vuln/detail/CVE-2016-9879) and Spring Framework 4.3.1+ (4.3.5+ to fix also https://nvd.nist.gov/vuln/detail/CVE-2016-9878)

- [x] 5.x
- [x] 6.x

[2017-12-27 13:17] mteodori commented on #1640
@daisuke-yoshimoto I think we can have both, editorconfig checks basic editor stuff not the java syntax, still is very helpful as most of the editors do support it natively now

[2017-12-28 14:18] SchuckBeta opened #1649 "关于Activit的一点建议"
在实际使用中需要做流程的自定义（关于业务的自定义，网上的流程设计界面只适合开发人员使用），关于Activit与实际业务的交互，实际上交叉点在于 业务节点上。所以建议Activit可以提供一个关于查询Activit流程模型的 UserTask 节点的API接口，这样做可以实现  脱离Activit的表结构   建立关于业务的节点数据 达到业务流程自定义的目的
![default](https://user-images.githubusercontent.com/21231746/34413293-5f504630-ec1d-11e7-8131-34a68ab9f312.png)

[2017-12-31 13:54] #1647 closed

[2017-12-31 14:17] mteodori opened #1652 "CVE-2016-6814 groovy vulnerability"
see: https://snyk.io/vuln/SNYK-JAVA-ORGCODEHAUSGROOVY-31510

- [x] 5.x
- [x] 6.x

[2017-12-31 15:33] #1652 closed

[2018-01-03 16:04] erdemedeiros commented on #1593
PRs to upgrade the version of Spring Boot Maven Plugin:
https://github.com/Activiti/activiti-cloud-audit/pull/18
https://github.com/Activiti/activiti-cloud-query/pull/15
https://github.com/Activiti/activiti-cloud-audit-mongodb/pull/6
https://github.com/Activiti/activiti-cloud-examples/pull/55
https://github.com/Activiti/example-runtime-bundle/pull/5

[2018-01-04 08:28] #1593 closed

[2018-01-04 12:07] mteodori opened #1653 "CVE-2014-8125 Drools XXE vulnerability"
see https://nvd.nist.gov/vuln/detail/CVE-2014-8125
- [x] 5.x
- [x] 6.x

[2018-01-04 12:31] ffazzini opened #1654 "Zipkin startup problems on AWS"
ref #1634

[2018-01-04 14:27] #1551 closed

[2018-01-04 16:03] erdemedeiros opened #1655 "Add flow node id to Integration Request"
Add the flow node id when an integration request is sent. In the future this information should be used to validate the related integration result.

[2018-01-05 06:27] kingbacks opened #1656 "how to set TENATN_ID_ and CATEGORY_ info in activiti-app editor based on activiti 6.0.0"
Hi,
    thanks for activiti team, It is a great team, and activiti-app online editor is useful to me.
    but now, I got a question:how to set TENATN_ID_ and CATEGORY_ info when I publish the workflow?
I don't see any location to set the value to TENANT_ID_ and CATEGORY_, help me, tks!

[2018-01-05 11:01] mteodori opened #1657 "Port dependencies vulnerability check for Activiti engine #1601 on 5.x and 6.x"
- [x] 5.x
- [x] 6.x

[2018-01-05 13:56] erdemedeiros opened #1658 "Remove h2 with runtime scope"
Several Maven modules have h2 dependency with scope `runtime`. It should be `test` instead.

[2018-01-05 22:48] balsarori commented on #1656
Hi @kingbacks
Thats not currently possible. Feel free to contribute this feature

[2018-01-06 01:10] kingbacks commented on #1656
thanks very much, I will try it. @balsarori

[2018-01-06 01:10] #1656 closed

[2018-01-08 15:21] ryandawsonuk opened #1660 "'No task is waiting' message after connector calls when connector execution happens too quickly"
The 'No task is waiting for integration result with execution id' message comes from ServiceTaskIntegrationResultEventHandler. It was seen in the twitter example especially on connects with an empty implementation. It seems they return too quickly as a Thread.sleep eliminates the error. Turns out this is because the spring transaction may not have ended when the commandContextClosedListener's clos

[2018-01-08 16:41] #1660 closed

[2018-01-08 17:21] ryandawsonuk opened #1661 "make mongo the default audit implementation"
We continue to find cases where the JPA implementation has columns which are too short. Elias has been using mongo for testing the trending topics twitter example and it seems to work. Seems to make sense that we make mongo the default.

We would just need to update the activiti-cloud-examples deployment descriptors and maybe the gitbook. I think it would also need to be added to the config server

[2018-01-08 17:27] ryandawsonuk opened #1662 "disable config server with a property so that we don't get warning and don't have to exclude in pom"
Ideally pass in property value as environment variable in deployment descriptor. See https://stackoverflow.com/questions/27569168/cannot-disable-spring-cloud-config-via-spring-cloud-config-enabledfalse

[2018-01-08 17:33] ryandawsonuk commented on #1637
Was done in https://github.com/Activiti/activiti-cloud-examples/commit/91d8cf5fb2feca11e0e7d18de735e65c990c5727

[2018-01-08 17:33] #1637 closed

[2018-01-08 18:06] ryandawsonuk opened #1663 "add spring cloud contract tests back into process modeling"
We've tried using the stub runner (https://github.com/spring-cloud/spring-cloud-contract/tree/master/spring-cloud-contract-stub-runner) but found that travis wasn't able to find the producer just from the maven dependency and we would have to actually build the producer's project in our local maven. This is no good for travis as travis set up to just build one project and it would be complicated t

[2018-01-09 09:09] ryandawsonuk opened #1665 "use spring session close listener for sending messages to audit and query"
We found that the activiti session close listener mechanism isn't guaranteed to fire when the spring session closes and might fire before the spring transaction has ended. We found and fixed this under https://github.com/Activiti/Activiti/issues/1660 by moving to a native spring listener. This is not so serious for audit and query feeds as it was for connectors as audit and query are one-way. But

[2018-01-09 10:55] ryandawsonuk opened #1666 "connector integration results go to all runtime bundles if there are multiple"
If two runtime bundles are using the same connector (e.g. when two campaigns used in trending topics example - note I mean separate campaigns and not replicas) then the response goes to both RBs. This is ok (at least when using UUIDs) as only the RB that has that execution will process it (see https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-services-ru

[2018-01-09 11:36] mteodori opened #1667 "Remove frontend dependencies in activiti-admin from repository on 6.x"
activiti-admin in 6.x contains the javascript dependencies that should be managed via bower rather than download them as part of the build process

[2018-01-10 09:12] ryandawsonuk opened #1668 "clarify deployment strategy mentions in gitbook"
In the gitbook intro we mention 'opinionated way of deploying' (https://github.com/Activiti/activiti-7-developers-guide/blob/master/introduction.md). Not exactly clear what this means. I think it really means zero-downtime deployments that check the new version works before the old is taken down.

If the aim is to upgrade the image of a component (e.g. a new version of RB, pointed to same DB) in a

[2018-01-10 09:16] ryandawsonuk opened #1669 "Could we use Spring AOP interceptors to reduce code in connectors?"
The @streamlistener methods in our connectors currently feature a fair bit of plumbing code to get process variables and send back. Could we do this code automatically using http://www.baeldung.com/spring-aop-annotation ?

[2018-01-10 10:03] ryandawsonuk opened #1670 "Are we going to use kub configmap?"
It's kind of a competitor to the spring cloud config server. Feels to me like we'd want to use config maps in kub (https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/) but config server if running outside of kub. (There is an interesting article on these overlaps between kub and spring cloud in general at https://developers.redhat.com/blog/2016/12/09/spring-cloud-for-

[2018-01-10 10:20] ryandawsonuk opened #1671 "Do we need synchronized on the @StreamListener spring cloud streams methods?"
There doesn't seem to be one answer. In the official spring cloud stream samples it is used e.g. here:
https://github.com/spring-cloud/spring-cloud-stream-samples/blob/master/multi-io/src/main/java/demo/SampleSink.java#L31
But not here:
https://github.com/spring-cloud/spring-cloud-stream-samples/blob/master/stream-listener/src/main/java/demo/SampleSink.java#L32

[2018-01-10 10:34] ryandawsonuk opened #1672 "should we develop an activiti cloud connector in another language e.g. scala?"
It seems you can actually use the spring cloud streams constructs directly in scala

https://github.com/jimmyoak/lab-scala-spring-cloud-stream/blob/master/api/src/main/scala/org/jimmyoak/service/reactiveuserservice/api/event/consumer/UserEventConsumer.scala

Also seems like spring cloud streams have some level of support for python

https://github.com/spring-cloud-stream-app-starters/python

These

[2018-01-10 10:36] ryandawsonuk opened #1673 "Review column mappings for Audit JPA entities"
If you plug the JPA audit implementation into the twitter example you actually get errors about columns not being big enough. Presumably that example generates larger JSON than the RB-query-audit example.

[2018-01-10 10:38] ryandawsonuk opened #1674 "demo with rate-limiting"
We could demo calling out to an external service hosted by somebody else and using rate-limiting in the calls so that the external service doesn't fall over or reject. We could use a connector to do this. Mauricio originally did this in the twitter example using an online service called 'Shout' but we removed it from there as it wasn't related to twitter (https://github.com/Activiti/activiti-cloud

[2018-01-10 10:53] ryandawsonuk commented on #1671
Have asked on spring cloud stream gitter (https://gitter.im/spring-cloud/spring-cloud-stream?at=5a55ee5dd0514c785b120050). It's only needed when modifying shared state as with any other java method - nothing specific to @StreamListener. It seems we don't need it in most of the cases where we're using it.

[2018-01-10 12:53] #1671 closed

[2018-01-10 13:49] ryandawsonuk opened #1675 "POM files cleanup"
It was released only a few days after M7, which we're already on, so don't expect the differences to be very much. https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.0.0-RC1-Release-Notes

[2018-01-10 16:00] ryandawsonuk opened #1676 "Include horizontal autoscaling in one of our examples"
See https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/

A good candidate might be the processing connector in the trending topics cloud example

[2018-01-10 18:21] ryandawsonuk commented on #1676
Trying this on the ryan-1676autoscaling branch on activiti-cloud-examples - deploys hpa but currently not working as `kubectl get hpa` shows cpu usage as <unknown>

[2018-01-10 20:00] erdemedeiros commented on #1655
Related PRs:
https://github.com/Activiti/Activiti/pull/1664
https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/26
https://github.com/Activiti/activiti-cloud-connectors/pull/7
https://github.com/Activiti/activiti-cloud-audit-service/pull/16
https://github.com/Activiti/activiti-cloud-query-service/pull/11
https://github.com/Activiti/activiti-cloud-examples/pull/60

[2018-01-11 02:55] igotu opened #1677 "java.lang.NoClassDefFoundError: Could not initialize class org.apache.jasper.el.ELContextImpl"
I have a webApplication with maven, use Spring-MVC 4.3.7.RELEASE  and activiti 6.0.0,JSTL1.2,JDK8 , tomcat8
When i open my index page,the webbrowser give 500 error
I think it will be have JAR conflict, but i can't find it ,Please give me some advice,Thank u!

`HTTP Status 500 - java.lang.NoClassDefFoundError: Could not initialize class org.apache.jasper.el.ELContextImpl

type Exception report

mes

[2018-01-11 03:44] igotu commented on #1677
When i use activiti 5.22 ,everything is OK.  Maybe version 6 change some JAR take conflict ,so which jar cause this mistake?

[2018-01-11 03:52] daisuke-yoshimoto commented on #1677
@igotu
de.odysseus.juel may be involved.
These 3 jars were added in Activiti 6.x only.
https://github.com/Activiti/Activiti/blob/6.x/pom.xml#L195

Please refer to this url.
https://stackoverflow.com/questions/42197502/java-lang-noclassdeffounderror-org-apache-jasper-el-elcontextimpl-initializati/42246385#42246385

[2018-01-11 07:28] igotu commented on #1677
@daisuke-yoshimoto
Thank u for your reply.
I had do some test:
No.1:
I removed el.jar in tomcat lib folder, don't delete juel*.jar in my project output folder ,then its the same error.
No.2:
I removed juel-api-2.2.7.jar  juel-impl-2.2.7.jar  juel-spi-2.2.7.jar which in my IDEA output tartget folder.
Make tomcat's lib default.
Then it  runs normally！

So i don't known that  i remove juel*.jar is ri

[2018-01-11 10:37] ryandawsonuk opened #1678 "have easy way to turn on debug logging in our apps"
We can easily turn on debug level logging in spring boot by passing in an environment var - just 'debug=true'. See https://github.com/Activiti/activiti-cloud-audit/blob/develop/Dockerfile#L14 . But could we turn on debug logging for our own code in a similar way? One way to do it would be with spring profiles, as we do already with controlling whether logs go to local, to logstash (profile called

[2018-01-11 13:03] ryandawsonuk commented on #1676
Actually I found that it does show data in Grafana for the pod if I put the pod name in under the default namespace.

[2018-01-11 13:14] ffazzini opened #1679 "Improve response error body message"
Expected 'u' instead of 'o'

The error message above is returned by startProcess endpoint when the processDefinitionId does not exist.

Let's maybe also think to a standard error message payload we can use across different components.

[2018-01-11 14:28] ffazzini commented on #1654
[code]

fixes the problem.

[2018-01-11 14:28] #1654 closed

[2018-01-11 14:30] ryandawsonuk commented on #1676
After playing with this a bit I'm thinking it might be more interesting to work it on custom metrics (probably process executions) and to run it in AWS.

[2018-01-11 14:49] ffazzini commented on #1634
https://github.com/Activiti/activiti-cloud-examples/pull/62
Merged

[2018-01-11 14:49] #1634 closed

[2018-01-12 13:47] ryandawsonuk commented on #1676
Have tried using memory instead of CPU which requires kub 1.8 (as does custom metrics). This is better as it avoids the excessive upscaling that I was seeing before. I had thought that cpu or memory might go up at a higher tweet rate but really the only stat that goes up is number of process executions, because it handles what it can and the rest is queued. There aren't many examples out there for

[2018-01-12 13:48] erdemedeiros commented on #1658
PRs:
https://github.com/Activiti/activiti-cloud-query-service/pull/10
https://github.com/Activiti/activiti-cloud-process-model-service/pull/7

[2018-01-12 13:48] #1658 closed

[2018-01-12 13:59] constantin-ciobotaru commented on #1662
PRs:
https://github.com/Activiti/activiti-cloud-examples/pull/58
https://github.com/Activiti/activiti-cloud-examples/pull/61
https://github.com/Activiti/activiti-cloud-audit/pull/19
https://github.com/Activiti/activiti-cloud-query/pull/16
https://github.com/Activiti/activiti-cloud-process-model-service/pull/6
https://github.com/Activiti/activiti-cloud-org-service/pull/4
https://github.com/Activiti

[2018-01-12 14:05] #1662 closed

[2018-01-13 08:40] daisuke-yoshimoto commented on #1677
@igotu

I'm sorry for the late reply.

There is no problem with your fix.
After all, since Activiti(6.x) depends only on javax.el(Java EE spec), not juel, Activiti need only any javax.el implementation.

If you delete juel, the implementation of jasper-el will only be used.

[2018-01-13 09:20] daisuke-yoshimoto commented on #1677
@igotu

I'm sorry for the late reply.

If you remove juel, you should get error in using EL expression.
Since, Activiti(6.x) depends not only on javax.el(Java EE spec) but directly juel.

Well, the difficult problem. Conversely, if you remove jasper-el from tomcat, jsp etc may not work.

[2018-01-13 09:54] daisuke-yoshimoto commented on #1677
@igotu

Perhaps, if you remove only juel-api-2.2.7.jar, it may work fine.
Please try the above.

[2018-01-13 10:35] daisuke-yoshimoto commented on #1677
@igotu

Perhaps, if you remove only juel-api-2.2.7.jar, it may work fine.
It means that you have no initialize error and you can use el expression in Activiti.

If possible, please try the above and give me feedback?

[2018-01-15 09:15] ryandawsonuk opened #1680 "Programmatically create producer stream bindings in RB"
Currently one channel is used for all connectors (https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-services-runtime-bundle/activiti-cloud-services-connectors/src/main/java/org/activiti/services/connectors/IntegrationRequestSender.java#L45). This is effectively a broadcast model where each has to filter. (Each really is checking as zipkin for Twitter exa

[2018-01-15 09:17] ryandawsonuk opened #1681 "Add RB-specific integration channel"
Currently we have a channel set in RB service that is shared across all RBs. This could be useful for signal-like situations as each RB can then decide whether to handle. An example is tweeting to multiple campaigns (RBs) in the Twitter example.

If we had another channel in each RB using the name (Spring app name) then each RB would have its own channel. This would be preferable for connector res

[2018-01-15 09:19] ryandawsonuk opened #1682 "Kub Timers POC"
Should we do a POC on Kub timers? We could do something on RB startup to check for a kub timer for any timers in the BPMN and create on if missing. Would have to use Kub API and do this only if running in Kub (probably property-configurable).

[2018-01-15 15:48] ryandawsonuk commented on #1676
Might be best to park this for a while as priority doesn't currently justify the time it seems it would take.

[2018-01-15 16:34] ryandawsonuk commented on #1555
Now putting controllers back so that we get swagger - https://github.com/Activiti/activiti-cloud-audit-service/pull/17

Suggest we take controllers out again when springfox update

[2018-01-16 09:54] ffazzini commented on #1678
I agree that I would not use profiles for things like logging level, otherwise we will start using profiles in an inconsistent way(for everything basically). If you want to see our own logs we only need to write more log.info() statements which we don't have any at the moment. I would start with that honestly instead of making complex straight away as we may not ever need that level switch. Adding

[2018-01-16 10:10] ryandawsonuk commented on #1678
The property option sounds good. It seems inevitable to me that some day our users will want to be able to enable debug logging.

[2018-01-16 10:22] ryandawsonuk commented on #1678
Though I do agree it's not an immediate need.

[2018-01-16 11:31] ffazzini commented on #1678
If logs are written properly you won't need to disable them, the user will benefit of these logs either on local or prod environment. For debugging purpose I would probably use other tools and not logging.

In the rare case the user would not need these logs, yes the env variable is the best option. But the user could still be able to disable manually once for all in the logback file.

[2018-01-16 11:48] lucianoprea commented on #1678
I'll put this back in backlog until we agree what is the best solution.

[2018-01-17 12:12] erdemedeiros commented on #1680
After some investigation this approach presents a downside: it complexifies the amount of work necessary at the connector side. This extra step may be justified if it improves the application scalability.

## Single channel with filtering
**Actions per connector**
- Define a condition for the stream listener:

[code]

**Actions per Spring boot Application**
 - Configure consumer:

[code]

## Dedic

[2018-01-20 23:14] daisuke-yoshimoto opened #1685 "JSP: Cannot use el expression(EL library conflicting issue)"
JSP: Cannot use el expression(EL library conflicting issue)

- [ ] 6.x
- [ ] develop

## Issue

* An error occurs when executing a jsp file containing an el expression.
* No error occurs when executing eL expressions in process execution.

### Related issues

* https://github.com/Activiti/Activiti/issues/1677
* https://community.alfresco.com/thread/232708-activiti-60javaxelelcontext-conflict
* htt

[2018-01-22 10:20] ryandawsonuk commented on #1675
Actually we're best to park this until there is a new release of spring cloud above M5 https://github.com/spring-projects/spring-cloud/wiki/Spring-Cloud-Finchley-Release-Notes - there's no reason for us to do a boot upgrade without a cloud upgrade.

[2018-01-22 13:30] lucianoprea opened #1686 "Update copyright header"
Before release this month we should update the year in the license header to 2018 for all projects.

[2018-01-22 13:54] ryandawsonuk opened #1687 "Signals between process definitions in cloud"
We want to be able to throw and catch signals across process definitions. But what if the signals are for process definitions that are in different runtime bundles?

It would make sense for the throwing runtime bundle to put a signal on a shared queue and for other runtime bundles that might need to consume signals to be listening on that queue.

More specifically runtime bundles are already able

[2018-01-22 14:38] ffazzini opened #1688 "Log and sleuth investigation"

[2018-01-22 14:45] ffazzini opened #1689 "Log before and after external interactions"
Intended to be databases, queues, topics etc

[2018-01-22 14:47] ffazzini opened #1690 "Log Json structure"

[2018-01-22 15:32] #1655 closed

[2018-01-22 16:37] ryandawsonuk opened #1691 "Messages between runtime bundles in cloud"
Like https://github.com/Activiti/Activiti/issues/1687 but for messsages. It does not matter whether we tackle this issue first or if #1687 is done first.

[2018-01-22 16:38] ryandawsonuk commented on #1687
Either this issue or #1691 can be tackled first. The order in which we approach them does not matter.

[2018-01-23 08:36] Salaboy commented on #1636
@ryandawsonuk @erdemedeiros should we remove these maven and docker runtime bundle templates? I'm tempted to just create a yeoman generator for our projects.

[2018-01-23 08:38] Salaboy commented on #1596
@balsarori any chance that you can review this before the end of this week?

[2018-01-23 08:39] Salaboy commented on #1527
@erdemedeiros @ryandawsonuk it sounds like we already fixed this. Is this assumption correct?

[2018-01-23 08:41] Salaboy commented on #1288
@willkzhou still there?

[2018-01-23 08:42] Salaboy commented on #1451
@balsarori are you tracking this one?

[2018-01-23 08:48] Salaboy commented on #1521
@constantin-ciobotaru we should close this one right? can we create another issue to follow the progress?

[2018-01-23 08:49] Salaboy commented on #1570
@mteodori can we check the status of this? Was this fixed or is it still an issue with the config that we are using?

[2018-01-23 08:50] Salaboy commented on #1686
@ryandawsonuk @erdemedeiros so true.. we also need to check that the release number is correct, becauase we are moving from 122017 to 012018

[2018-01-23 08:56] constantin-ciobotaru commented on #1521
@Salaboy yes, we can close it.

[2018-01-23 08:57] Salaboy opened #1692 "Create new Application Runtime for Activiti Apps"
App Runtime should handle the state of Activiti and Activiti Cloud Apps.
This Runtime should allows us to monitor different Application State and manage their lifecycle.

[2018-01-23 09:10] ryandawsonuk commented on #1539
We are still with the stopgap measure - the deprecated hibernate annotation is still in the code https://github.com/Activiti/activiti-cloud-query-service/blob/develop/activiti-cloud-services-query/activiti-cloud-services-query-model/src/main/java/org/activiti/cloud/services/query/model/ProcessInstance.java#L53

[2018-01-23 09:16] ryandawsonuk commented on #1527
I've been running multiple replicas of the runtime bundle in the twitter example without seeing this issue. I had it logging number of process executions broken down by process definition so I would've seen if there were multiple process definitions or if one bundle was missing definitions.

[2018-01-23 09:45] ffazzini commented on #1570
@Salaboy i have recently done a temp change to the audit api : from spring-data-rest to controllers to fix swagger.

[2018-01-23 11:53] ryandawsonuk opened #1693 "Separate notifications and query components"
Currently you can only see notifications through the graphiql interface or by creating a subscription against the query module.
You can only do that in docker and not kubernetes right now as it requires exposing the port directly. If you try to go through the gateway then the gateway effectively blocks the websockets request.

How do we hope to extract notifications away from query? What do we exp

[2018-01-23 12:08] erdemedeiros commented on #1527
@ryandawsonuk If I remember well, this problem happens when you keep the database alive and restart the runtime-bundle only (not the database). And I think that there is actually no errors, there  will be two versions deployed for the same process definition, but you probably can start and execute instances for both versions.

[2018-01-23 13:07] erdemedeiros commented on #1527
@ryandawsonuk @Salaboy I missed @cijujoseph I'm going to close it.

[2018-01-23 13:07] #1527 closed

[2018-01-23 14:25] daisuke-yoshimoto commented on #1687
# Investigation

## Current signal behavior

### Catching a Signal Event(IntermediateCatchSignalEventActivityBehavior)

* https://github.com/Activiti/Activiti/blob/develop/activiti-engine/src/main/java/org/activiti/engine/impl/bpmn/behavior/IntermediateCatchSignalEventActivityBehavior.java

* Add a record to the event subscription table(act_ru_event_subscr) for each signal.

[code]

### Throwing a

[2018-01-23 14:50] erdemedeiros commented on #1665
This depends on the [changes](https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/27/files#diff-4d3ed153efda1fa500c39d3e8c25a63fR68) done in the PR https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/27.

[2018-01-23 15:44] ryandawsonuk commented on #1680
If it were possible to dynamically bind a consumer channel then we could maybe do it with a properties-based format like activiti.cloud.delegate.BEANNAME=Analyze English Tweet. It doesn't look like spring cloud streams have any official examples of dynamically binding consumers and it doesn't appear to be in their reference guide. The only suggestion I can find that it might be possible is https:/

[2018-01-23 16:03] ryandawsonuk commented on #1557
Didn't we resolve this one already?

[2018-01-24 07:11] grath10 opened #1695 "How to custom identity management in activiti6 with Spring Boot?"
It seems that the user guide has been out-of-date as the api seemed to change.
According to [https://www.activiti.org/userguide/#advanced.custom.session.manager](url), part 16.8 , guide was provided to show an example but not complicant with activiti 6.
Any advice similar to the example in the guide is helpful, 3x

[2018-01-24 07:18] daisuke-yoshimoto commented on #1695
Probably, I think that you can use custom identity management with Activiti 6.0 with the following procedure.

1. Implement the GroupDataManager interface. Or, extend MybatisGroupDataManager.class

2. ProcessEngineConfigurationImpl.setGroupDataManager(GroupDataManager groupDataManager)
https://github.com/Activiti/Activiti/blob/6.x/modules/activiti-engine/src/main/java/org/activiti/engine/impl/cfg/

[2018-01-24 08:26] igdianov commented on #1687
@daisuke-yoshimoto @ryandawsonuk I suggest to review existing Activiti signal event test cases and problems in order to understand the full scope of work in perspective.

There are two scopes for signal events in Activiti: `global` and `processInstance`. Throw signal event behavior can be  executed either synchronously in the current transaction or scheduled asynchronously provided by signal defin

[2018-01-24 11:06] Salaboy commented on #1687
@igdianov @daisuke-yoshimoto great start on this.
My two cents on the subject:

If we introduce Spring Cloud Streams to deal with global and processInstance signals, this will be only for Activiti Cloud, meaning that a new behaviour can be defined. We don't need to replace the current Activiti behaviour, but override it for cloud deployments (in the same way that we did with ServiceTasks for Runti

[2018-01-24 11:23] Salaboy commented on #1680
@erdemedeiros this is definitely interesting... we should catch up with @ryandawsonuk about this as well. I know that you guys have been talking, but the complexity added in the connector side might be something that we can work on.

From the connector point of view, the developer only need to define which logical inputs he/she wants to consume from -> ProcessingConnectorChannels -> SubscribableCh

[2018-01-24 11:56] Salaboy commented on #1498
@constantin-ciobotaru can you close this issue? or are you using this issue number to track something? Cheers

[2018-01-24 11:56] #1521 closed

[2018-01-24 11:57] Salaboy commented on #1636
@ryandawsonuk @erdemedeiros we might want to do this clean up right after releasing in Feb.

[2018-01-24 11:58] Salaboy commented on #1679
@ffazzini are you getting this in Postman? that might be because you are looking at JSON content instead of Text/Plain?

[2018-01-24 12:01] Salaboy commented on #1405
@ffazzini I've assigned this one to you because it is related with the logging discussion that we had the other day. This is about adding more information to our ProcessEngine events so other applications have more contextual information about what is happening.

[2018-01-24 12:01] ffazzini commented on #1679
No it happens when my processDefinitionId does not exist in the body, for example:
[code]

[2018-01-24 12:19] ryandawsonuk commented on #1693
After discussion with @igdianov now thinking that we might leave the websocket and graphql endpoints in the same container. This way they can both be hit at the same place (I understand a websocket request to /graphql will be automatically routed to /ws/graphql) and the graphiql can naturally be used in that container. We might separate the notifications gateway component out of the container - ne

[2018-01-24 12:21] #1397 closed

[2018-01-24 12:26] #1498 closed

[2018-01-24 12:58] erdemedeiros commented on #1680
@Salaboy yes, it makes sense. We can probably do some improvements to leverage the amount of work to be done during the connector implementation. We have the information in the process definition, we just need to figure out the best way to extract and expose this information.

[2018-01-24 14:28] Salaboy commented on #1693
@ryandawsonuk if ws cannot be turned off maybe just exclude all graphql functionality? that shouldn't be that hard.

[2018-01-24 15:17] mteodori opened #1696 "Update Demo UI with Angular/ADF"
The current demo-ui app is built from an old Keycloak example with AngularJS.

It needs to be upgraded to Angular leveraging [ADF](https://github.com/Alfresco/alfresco-ng2-components) in order to have an example closer to a good starting point for a modern process application.

[2018-01-24 15:30] ryandawsonuk commented on #1693
Yes will look into it. If we do decide against separation we should remember to remove/archive the -notifications and -notifications-service repos.

[2018-01-24 16:35] Salaboy commented on #1529
@ffazzini this might be something that you can take on, maybe with the help of @constantin-ciobotaru

[2018-01-24 17:01] #1558 closed

[2018-01-25 06:19] starryskydog opened #1697 "6.x version"
source code of version cannot running in eclipse

[2018-01-25 10:57] ffazzini opened #1698 "startProcess payload contains field 'aget'"
Either is wrong domain model code or the postman collection.

[2018-01-25 18:07] erdemedeiros opened #1700 "Remove unnecessary reference to spring-cloud-stream from dependency management"
The spring-cloud-stream version is already managed by spring-cloud BOM and should not be overridden in by activiti-cloud-build.

Remove the following references:
- https://github.com/Activiti/activiti-cloud-build/blob/develop/pom.xml#L31
- https://github.com/Activiti/activiti-cloud-build/blob/develop/pom.xml#L425..L431

[2018-01-26 10:16] balsarori commented on #1685
I'd rather go with the first option unless their is a good case for the second option.

[2018-01-26 10:16] ffazzini opened #1701 "Increase kube cluster capacity in aws"
We can't get everything up and running with medium EC2, trying new options to increase the capacity

[2018-01-26 13:41] ryandawsonuk commented on #1665
That's merged now so I think we can close this.

[2018-01-26 13:41] #1665 closed

[2018-01-26 13:49] ryandawsonuk commented on #1693
We do have the properties spring.activiti.cloud.services.query.graphql.enabled and spring.activiti.cloud.services.notifications.gateway.enabled. I'll check that these give us the flexibility to disable event listening and graphql from docker environment variables.

[2018-01-26 13:55] #1680 closed

[2018-01-26 17:01] #1681 closed

[2018-01-28 13:40] daisuke-yoshimoto commented on #1451
@huicaier @Salaboy @balsarori
I think that this is not an issue but a usage problem about like method.
When we use methods like Like, we need to specify a wildcard.

`historyService.createHistoricVariableInstanceQuery().processInstanceId(processId).variableNameLike("approve%").list()`

https://github.com/Activiti/Activiti/blob/master/activiti-engine/src/test/java/org/activiti/standalone/escapeclau

[2018-01-29 09:06] ryandawsonuk commented on #1693
It seems spring.activiti.cloud.services.notifications.gateway.enabled unused within the code. I'm thinking the main things that we would want it to do are 1) turn on/off the listening to a stream of events and 2) control whether the server accepts requests for subscriptions.

[2018-01-29 10:24] ffazzini opened #1702 "Create a poc for bdd tests"

[2018-01-29 11:15] ffazzini opened #1703 "evaluate best http method based on rest principles"
/rb-my-app/v1/tasks/9b0c1ebd-04e3-11e8-8ac0-0a5864600118/complete

probably PATCH is better solution than POST as we are updating a singe field of an entity and we are not adding a new entity.

By using PATCH or PUT you probably won't event need 'complete' or 'claim' at the end

[2018-01-29 11:33] ryandawsonuk commented on #1693
Another point is we'll need to decide about whether to publish a rabbitmq image with the stomp plugin added for use on kub in AWS. There doesn't seem to be an official image with this option set but there are unofficial ones. Alternatively, the rabbitmq-ha helm chart seems like it has it enabled by default (https://github.com/kubernetes/charts/blob/master/stable/rabbitmq-ha/templates/configmap.yam

[2018-01-29 15:10] ffazzini opened #1704 "claim and complete task api inconsistency on the response body"
The claim api return a response body, complete does not.

I believe it should return the task updated.

[2018-01-29 16:17] ffazzini opened #1705 "GET API taskList vs events"
To return a list of objects in the body response.

Can we use the same strategy? Either we call both *List
or just events and tasks.

I would go for the latter.

[2018-01-29 18:48] #1700 closed

[2018-01-30 01:20] grath10 commented on #1695
@daisuke-yoshimoto 3x for your prompt reply. The problem has been settled according to your suggestion, thx again!

[2018-01-30 01:20] #1695 closed

[2018-01-30 01:35] daisuke-yoshimoto commented on #1695
@balsarori
I would like to modify Activiti 6's User Guide, but is it possible to have it published to the public repository? Previously, you said that Activiti 6's User Guide is managed in the Private repository.

[2018-01-30 16:37] ffazzini commented on #1702
Done

https://github.com/Activiti/activiti-cloud-acceptance-tests

[2018-01-30 16:37] #1702 closed

[2018-01-30 16:38] #1591 closed

[2018-01-31 04:28] stonesingsong opened #1706 "org.activiti.engine.impl.pvm was not found in Activiti 6.x"
I want to change the current activity  of an ongoing process instance. For example , the current activity is the third activity, I want to back the first activity, and I don't want to delete the process instance.
Before Activiti 6.0.0, I can import org.activiti.engine.impl.pvm to achieve it, but now the package was not found.
Thank you very much!

[2018-01-31 08:41] ryandawsonuk commented on #1706
Please see https://www.activiti.org/migration.html#_pvm_classes
and also the V5 compatibility section beneath it.

If you need to get to these classes in v6 it should be possible - there are tests in the v6 codebase which use these classes - see https://github.com/Activiti/Activiti/tree/6.x/modules/activiti5-test

You could try adding the activiti5-compatibility dependency like that pom.xml does.

[2018-01-31 10:01] ryandawsonuk commented on #1693
These three PRs (https://github.com/Activiti/activiti-cloud-query-service/pull/15, https://github.com/Activiti/activiti-cloud-query/pull/18, https://github.com/Activiti/activiti-cloud-examples/pull/70) give the ability to use properties to turn graphql or notifications off (though notifications won't work without graphql). To get a rabbit with stomp enabled they use a docker image from https://git

[2018-01-31 10:13] Salaboy commented on #1693
@ryandawsonuk I will remove those two repos. but I do believe that we need a relaying mechanism as the notification gateway, it just feel right for some reason. If we probe that we don't need it we need to document why not in the gitbook.

[2018-01-31 11:13] ryandawsonuk commented on #1693
Yeah I want to look at it more. I am sure we want to be able to scale to be able to run multiple query components. That means we need to not use embedded database. It also means if the notification consumer is built in then it has to use a group so that the replicas don't also consume at once (I think this is the case already). Scaling the notification processing independently of the query module

[2018-01-31 16:23] Salaboy commented on #1596
@alirezamirian I will close this, but if you can send a PR to develop that will be great.

[2018-01-31 16:23] #1596 closed

[2018-01-31 16:28] ryandawsonuk commented on #1494
I'm no longer sure this is the best route. Seems nobody is working on it so best to close and think further in this area.

[2018-01-31 16:28] #1494 closed

[2018-01-31 16:46] #1686 closed

[2018-01-31 16:48] Salaboy commented on #1451
@daisuke-yoshimoto thanks for the clarification, I'm closing this issue then.

[2018-01-31 16:48] #1451 closed

[2018-01-31 16:48] #1518 closed

[2018-01-31 16:51] alirezamirian commented on #1596
@salaboy Sorry, but I've already submitted a PR. Maybe they are not correctly linked together: #1597

[2018-01-31 16:56] Salaboy commented on #1596
@alirezamirian that's targeting 6.x not develop. Do you mind creating one targeting the develop branch as well? So we make sure that your fix is included in our Jan Early Access release for activiti 7?

[2018-01-31 17:01] alirezamirian commented on #1596
You're right. Soon I will submit another PR targeting `develop` branch.

On Wed, Jan 31, 2018, 8:26 PM Salaboy <notifications@github.com> wrote:

[2018-01-31 17:04] Salaboy commented on #1617
@erdemedeiros @ryandawsonuk I know that we took out the multiInstance node from our examples?
can you please remind me why we did that? Are the new connectors working with multiInstanceNodes?

I will appreciate some background on your latest findings about this. If this is working we should try to include it back in the demo.

[2018-01-31 17:06] Salaboy commented on #1666
@erdemedeiros @ryandawsonuk what is the status of this one? Can you please close or move to the next milestone depending on the current state of this issue.

[2018-01-31 17:09] Salaboy commented on #1706
@stonesingsong I'm closing this issue, because this is a question and questions are better answered in the alfresco bpm forum: https://community.alfresco.com/community/bpm/content

[2018-01-31 17:09] #1706 closed

[2018-01-31 17:10] ryandawsonuk commented on #1666
I think the PRs under https://github.com/Activiti/Activiti/issues/1681 cover it as each RB has its own channel and response goes to the RB that sent - I checked that I could run with multiple RBs when I checked that PR and seemed fine.

[2018-01-31 17:10] #1666 closed

[2018-01-31 17:11] Salaboy commented on #1705
@ffazzini please remind me to have a quick discussion about this one. I'm not sure that I understand what the problem is from the description of the issue.

[2018-01-31 17:12] Salaboy commented on #1704
@erdemedeiros let's do a sync with @ffazzini on this so we can have a clear strategy.

[2018-01-31 17:12] Salaboy commented on #1698
@ffazzini where is that? can you add more context? a screenshot or the json that you are referring to.

[2018-01-31 17:13] Salaboy commented on #1696
@mteodori let';s try to add more context, so if a community user read this they know what we are doing and if they want to help the have some links to look at what we are doing.

[2018-01-31 17:17] Salaboy commented on #1697
@starryskydog can you please provide more details about what you cannot do?
The projects are maven modules, so you need to know how to import maven modules in eclipse. If you can please clarify what exactly are the problems that will be great. There is not much that we can do if Eclipse has a problem with maven modules.

[2018-01-31 17:19] Salaboy commented on #1649
@SchuckBeta this looks really interesting but issues should be written in english, even using the google translator will help us to quickly review what the problem is and we can help you to find a fix to your issue.

[2018-01-31 17:23] Salaboy commented on #1649
@SchuckBeta using google translate I got this: "In actual use need to do the process of custom (on business customization, online process design interface is only suitable for developers to use), Activit and the actual business interaction, in fact, the intersection lies in the business node. It is recommended that Activit provide an API interface to the UserTask node that queries the Activit proc

[2018-01-31 17:23] #1649 closed

[2018-01-31 17:25] Salaboy commented on #1615
@mteodori can you take care of this? It shouldn't take that much time.

[2018-01-31 17:28] Salaboy commented on #1667
@mteodori are we going to invest in this??

[2018-01-31 17:31] Salaboy commented on #1635
@ggrnd0 @balsarori in community we do not fix things for beta release, and in this case where there is a final version already out you should migrate to the latest released version.
We totally recommend you to test against 6 final and if it doesn't work there you will need to coordinate with us the fix for it. It sounds more like a operating system specific issue with encoding and probably your we

[2018-01-31 17:35] Salaboy commented on #1645
@daisuke-yoshimoto is this happening in 6.x and develop as well? or only in 5.x?

[2018-01-31 17:37] Salaboy commented on #1633
@roopamukim @cijujoseph this has been opened for more than a month now, should we close this issue? or are we considering a fix for 5.x? @balsarori have you evaluated this issue?

[2018-01-31 17:37] balsarori commented on #1645
I guess this was a limitation in 5.x and was fixed in 6.x
https://github.com/Activiti/Activiti/blob/6.x/modules/activiti-engine/src/test/java/org/activiti/engine/test/api/v6/Activiti6Test.java#L123

Is it the same case @daisuke-yoshimoto or another issue?

[2018-01-31 18:03] ffazzini commented on #1705
Sure sorry, basically get Tasks endpoint returns:
[code]

[2018-01-31 18:13] ffazzini commented on #1698
Endpoint: startProcess
Request payload in my postman collection below:

[code]
It should be age, no aget.

[2018-01-31 19:00] daisuke-yoshimoto commented on #1645
@Salaboy @balsarori
This is reproduced in only 5.x.
But I think that this is not the limitation but the bug.

[2018-02-01 02:16] #1693 closed

[2018-02-01 08:34] Salaboy commented on #1596
@alirezamirian thanks a lot!

[2018-02-01 08:39] Salaboy commented on #1557
Did we? we need to check to confirm

[2018-02-01 09:44] ryandawsonuk commented on #1557
Seems the engine dependency is still there in query-service:

[INFO] --- maven-dependency-plugin:2.8:tree (default-cli) @ activiti-cloud-services-query-rest ---
[INFO] org.activiti.cloud:activiti-cloud-services-query-rest:jar:7-201801-EA-SNAPSHOT
[INFO] +- org.activiti.cloud:activiti-cloud-services-api:jar:7-201801-EA-SNAPSHOT:compile
[INFO] |  +- org.activiti:activiti-engine:jar:7-201801-EA-SNAPS

[2018-02-01 09:46] #1507 closed

[2018-02-01 09:47] ryandawsonuk commented on #1570
@mteodori can we check the status of this? Was this fixed or is it still an issue with the config that we are using?

[2018-02-01 09:52] mteodori commented on #1615
@Salaboy ok for me, which repositories should I add it to besides engine?

[2018-02-01 09:58] ryandawsonuk commented on #1615
activiti-build
activiti-cloud-audit-mongodb
example-runtime-bundle
activiti-cloud-registry
activiti-cloud-runtime-bundle
activiti-cloud-app-service
activiti-cloud-audit
activiti-cloud-audit-service
activiti-cloud-build
activiti-cloud-connectors
activiti-cloud-org-service
activiti-cloud-modeling-backend
activiti-cloud-process-model-service
activiti-cloud-runtime-bundle-service
activiti-cloud-servic

[2018-02-01 11:17] Salaboy commented on #1615
just don't add it in activiti-cloud-app-service
all the others should have it.

[2018-02-01 13:05] lucianoprea opened #1710 "Validate .xml files on server side"
Expose an endpoint in process-model-service that should validate bpmn .xml files

[2018-02-01 15:28] ryandawsonuk opened #1711 "Query should by default use same Postgres as RB and not use embedded h2"

[2018-02-01 15:32] ryandawsonuk opened #1712 "Port query notification gateway code into its own repo and document how it could be run in its own container (if it could)"

[2018-02-01 15:32] ryandawsonuk opened #1713 "PoC on spring cloud gateway to support graphql notifications (and still use keycloak for REST)"

[2018-02-01 15:33] ryandawsonuk opened #1714 "PoC on using websockets with keycloak authentication"

[2018-02-01 15:33] ryandawsonuk opened #1715 "Refactor query-service tests to run faster as close to travis time limits or increase travis limit"
Doing this under https://github.com/Activiti/Activiti/issues/1744

[2018-02-01 15:34] ryandawsonuk opened #1716 "Design approach for access control in graphQL ideally as close possible to RB approach"

[2018-02-01 17:09] Salaboy commented on #1679
@ffazzini sounds like a change in the json files and also it means that we are not validating the process variables.. which we should.

[2018-02-01 17:25] Salaboy commented on #1669
Maybe extending the @StreamListeners annotations. The question if we are going to do this or this fall low in our priority list?

[2018-02-01 17:26] Salaboy commented on #1675
I'm pretty sure that we will need to upgrade before closing this milestone.

[2018-02-01 17:30] Salaboy commented on #1674
@ryandawsonuk I would like to close this one, mostly because we have the dummy feed that can be controlled, for me that's fine. Then we will have the real life twitter feed which I wouldn't care much about rate limiting. Does that make sense?

[2018-02-01 17:34] salaboy opened #1717 "Activiti Cloud Trending Topic BluePrint"
This Epic should be used to contain all the tasks related with improving our Activiti Cloud Trending Topic Example.

[2018-02-01 17:36] Salaboy commented on #1661
@erdemedeiros @ryandawsonuk
It sounds weird to me that the JPA impl doesn't work. Did you manage to find out when it breaks?
Which kind of content is not being supported and when?

[2018-02-01 17:37] Salaboy commented on #1599
@ryandawsonuk yes totally agree.. let's change that. We need to remove the docker and maven runtime bundle templates from our examples repo.

[2018-02-01 17:39] ryandawsonuk commented on #1661
Essentially we're getting permutations on https://github.com/Activiti/Activiti/issues/1538

Elias hit the problems again when hooking audit into trending-topics. We could try doing that again to get the specific errors.

[2018-02-01 17:40] Salaboy commented on #1676
@ryandawsonuk I've added this into the demo Trending Topic Epic, but it is true that we should try to demonstrate this with RB, other components (more domain specific) shouldn't have much focus.

[2018-02-01 17:41] ryandawsonuk commented on #1669
I don't think it's so important now that a builder class is there as that makes it more intuitive.

[2018-02-01 17:41] ryandawsonuk commented on #1674
Ok, let's close.

[2018-02-01 17:41] #1674 closed

[2018-02-01 17:45] Salaboy commented on #1673
this is also referenced from here: https://github.com/Activiti/Activiti/issues/1661
I think that this is important, and JPA is prepared to handle large content, so we should solve it

[2018-02-01 17:47] Salaboy commented on #1672
@ryandawsonuk this is a very good community contribution for someone looking into getting involved with our projects.

[2018-02-01 18:19] ryandawsonuk opened #1718 "logstash dependency should be under activiti-cloud-build"
shouldn't be setting version at https://github.com/Activiti/activiti-cloud-service-common/blob/develop/activiti-cloud-services-logging/pom.xml#L16

should be feeding through from https://github.com/Activiti/activiti-cloud-build/blob/develop/pom.xml

[2018-02-01 18:33] ryandawsonuk opened #1719 "remove activiti-cloud-sso-idm"
github.com/Activiti/activiti-cloud-sso-idm no longer exists - it redirects to a dbp repo - we should update our references in examples and release process

[2018-02-02 08:28] Salaboy commented on #1661
We should do that as part of keep improving the example

[2018-02-02 09:43] Salaboy opened #1720 "Add Validation Endpoint for Process Model Service"
There should be a backend endpoint to validate BPMN models correctness.
The main objective of this endpoint is to make sure that the content of the BPMN file is correct, can be parsed and it doesn't miss any mandatory information.
We should look into using: https://github.com/Activiti/Activiti/tree/develop/activiti-process-validation if it is fit for purpose.

The validation should also be trigger

[2018-02-02 10:52] ryandawsonuk opened #1721 "provide an oauth2 adapter as an alternative to the keycloak one and make it default"
JHipster decided to move away from the keycloak adapter:

https://github.com/gmarziou/jhipster-keycloak/issues/2
https://github.com/jhipster/generator-jhipster/issues/6360

And they're now close to Spring boot 2 integration:

https://github.com/jhipster/generator-jhipster/pull/7061

We should be able to use their approach.

We might later want e.g. kerberos so we should keep the keycloak adapter o

[2018-02-02 12:43] ffazzini commented on #1703
Before proceeding let's investigate if this is a state machine use case and we should leave it like it is or there is a better solution on that sense.

[2018-02-02 12:53] ryandawsonuk commented on #1703
There might also be bigger questions to be aware of than the best HTTP method. Here is the relevant APS REST API section:

http://docs.alfresco.com/process-services1.7/topics/task_actions.html

And here is the section from the v6 community REST API:

https://www.activiti.org/userguide/#_task_actions

In v7 we have a complete task action that calls the engine's java API:

https://github.com/Activit

[2018-02-02 12:57] ffazzini opened #1722 "access pivotal env and deployment"

[2018-02-02 14:51] erdemedeiros commented on #1570
I guess that is fixed now that we switched back to controllers, but it's probably better to add some test on that. Maybe do a deeper check on  tests of [EventsRepositoryIT](https://github.com/Activiti/activiti-cloud-audit-service/blob/develop/activiti-cloud-services-audit/activiti-cloud-services-audit-jpa/src/test/java/org/activiti/cloud/services/audit/repository/EventsRepositoryIT.java).

[2018-02-02 16:14] ffazzini commented on #1570
true @erdemedeiros
Let's see if we can do anything on query service as well?

[2018-02-02 16:22] ffazzini commented on #1722
We are able to deploy activiti7 in the pivotal environment following this procedure:
https://github.com/Activiti/activiti-cloud-examples/tree/master/kubernetes/aws-deployment

The only difference from amazon is that pivotal works with ip addresses so the ```kubectl get service.. ``` command should change to this:
```export AUTH_ADDRESS=$(kubectl get  service activiti-cloud-sso-idm-kub -o jsonpath=

[2018-02-02 22:59] cijujoseph commented on #1687
As discussed in the meeting, I tried to write down the signal use cases and ideas. Not sure if this is the best way to put it down. Hopefully this will be of some help for the cloud implementation

## Global Scoped Signal

#### When a signal with global scope is thrown:
* A process needs can be started
* An event sub process can be started
* Boundary signal catch component in a BPMN model can be t

[2018-02-05 08:18] Salaboy commented on #1615
@mteodori can you please close this asap?

[2018-02-05 09:16] ryandawsonuk opened #1723 "will two RBs with RB-specific config (e.g. classpath delegates) work if pointed at same DB?"
Our RBs ideally wouldn't contain delegates (though might). I don't think any RB-specific stream config would cause any problems as it's not RB-specific on the outbound and the response knows how to get to the right RB.

There is config we could set that would definitely enable us to run multiple RBs against same database without issues - see https://community.alfresco.com/thread/220862-exception-w

[2018-02-05 11:46] ryandawsonuk opened #1724 "Check where we're using spring data rest and where QueryDSL - want to check we're consistent across services"

[2018-02-05 11:50] lucianoprea opened #1725 "Add swagger for Process Model and Organization Services"
- add swagger for those 2 services in order to check if it works having also Spring Data Rest

[2018-02-05 11:52] lucianoprea opened #1726 "Process model and Organization Services in gitbook"
- add a section into the gitbook that should introduce the Process model service and the Organization service

[2018-02-05 11:56] lucianoprea opened #1727 "Deployment descriptors for Modeling service"
- create a file descriptor for Modeling backend service to deploy it inside docker or kubernetes

Note: modeling-backend-service is the one that aggregates/consumes organization-service and process-model-service

[2018-02-05 12:25] ffazzini opened #1728 "Spike - Reduce billing costs"
At the moment to keep the environment up and healthy we create EC2 m4.xlarge, try to create a new cluster with minor EC2 size and less nodes and see what happens.

Also get in touch with DBP to make sure that java-opts is passed into infrastructure dockerfile components.

[2018-02-05 14:32] Salaboy opened #1729 "separate trending topics from activiti-cloud-examples"
Move the trending topic example out to blueprint-trending-topic-campaigns.

[2018-02-05 14:41] ffazzini opened #1730 "Automate the deployment"
We have already built a manual procedure for this. It would be good to automate it.

[2018-02-05 15:22] balsarori commented on #1635
if we can't reproduce then we can't be of much help. If the issue is only reproduced on server but not on developers machines it could be an environment issue.

@ggrnd0 feel free to re-open this if you still this is an issue in Activiti.

[2018-02-05 15:22] #1635 closed

[2018-02-05 15:23] ffazzini opened #1731 "swagger error with dbp nginx in front"
Error below only happens with nginx in front, it does not occur on minikube or  normal aws deployment.

[code]

[2018-02-05 17:34] erdemedeiros opened #1733 "Move integration results default configuration to runtime-bundle-service"
Currently we need to define the binding configuration related to the integration result channel on every runtime-bundle. However, it tends to be the same all the time, so it's better to provide a default value.

[2018-02-06 01:06] mteodori opened #1734 "Add security and stability Meterian badges to README"
Add security and stability badge from [Meterian](https://www.meterian.com) on the following repos:
- [x] [Activiti](https://github.com/Activiti/Activiti)
- [x] [activiti-build](https://github.com/Activiti/activiti-build)
- [x] [activiti-cloud-audit](https://github.com/Activiti/activiti-cloud-audit)
- [x] [activiti-cloud-audit-mongodb](https://github.com/Activiti/activiti-cloud-audit-mongodb)
- [x]

[2018-02-06 10:21] ffazzini opened #1735 "Performance tests"
After building environments and acceptance tests, we can now measure the performances of activiti7.

Investigate about the best tool to use and the best scenarios to test.

[2018-02-06 10:36] ffazzini commented on #1731
Upgraded from springfox 2.6.1 to 2.8.0
and problem was solved.

[2018-02-06 11:13] Salaboy commented on #1419
References:
https://github.com/Alfresco/alfresco-integrations-services-sync-registry/blob/develop/alfresco-integrations-services-sync-registry-service/src/main/java/org/alfresco/integrations/services/syncregistry/SyncDefinitionController.java#L106

https://github.com/Alfresco/alfresco-integrations-services-data-model/tree/master/src/main/java/org/alfresco/integrations/services/rest

This should do

[2018-02-06 14:33] #1711 closed

[2018-02-06 14:42] ryandawsonuk commented on #1419
I get a 404 on those links

[2018-02-06 20:20] alirezamirian commented on #1596
I just submitted [the PR](#1736).

[2018-02-07 11:07] Salaboy opened #1737 "Add Runtime Bundle name to query module entities"
The Runtime Bundle name (spring boot appName) is needed in each entity for making sure that we can obtain the reference to the runtime bundle that is running that entity.

[2018-02-07 15:20] ryandawsonuk opened #1738 "Replace byteflair/rabbitmq-stomp with activiti/rabbitmq-stomp"
New git repo and dockerhub repo (https://hub.docker.com/r/activiti/rabbitmq-stomp/). Update references in cloud-examples and also query-service and query. Update bamboo release job to tag.

[2018-02-07 16:05] Salaboy commented on #1737
PR: https://github.com/Activiti/activiti-cloud-query-service/pull/16/files

[2018-02-07 16:27] Salaboy commented on #1737
merged

[2018-02-07 16:27] #1737 closed

[2018-02-07 16:31] #1731 closed

[2018-02-07 20:08] erdemedeiros commented on #1419
@ryandawsonuk I get 404 as well. Private repo :)
@Salaboy @ryandawsonuk I got a small PoC working for the response body. However, there is a more complex problem related to the query parameters used to request pagination:
- Spring uses a page concept with the following parameters
  - `page`: which page should be retrieved (page 0, page 1, page 2). It's zero-based.
  - `size`: max number of element

[2018-02-08 08:54] Salaboy commented on #1419
@erdemedeiros I think that we don't need to solve that now. but I wonder if you can just write an extension for the query parameters associated with pagination. I mean, add those two skipCount and maxItems and just extend the queries that are being executed. I'm guessing that we can just hook into JPA to get the same behaviour. Do you see that possible?

[2018-02-08 09:22] stonesingsong commented on #1437
@wplin007 看你的主页，应该也是中国人，请问你解决了这个问题吗？我也想把activiti-ui改成springboot项目，并改一些页面和汉化。盼复，谢谢！

[2018-02-08 11:06] Salaboy commented on #1437
@wplin007 @stonesingsong are you guys working on this?
It will be great if we can coordinate this moving forward. Can you please share the URL for your repos?

[2018-02-08 12:20] mteodori opened #1741 "Remove backend suffix from activiti-cloud-modeling-backend"
Rename to activiti-cloud-modeling for consistency
Check Travis/Bamboo and badges are changed as well

[2018-02-08 12:39] mteodori opened #1742 "Remove HAL media type support"
Remove HAL media type support and postpone its implementation to later to avoid extra work in fixing issues like #1555 when replacing spring-data-rest with spring-webmvc.

HAL links should also be redesigned in order to support collection URLs with sort and filter so that the navigation link generation logic is truly server side and not split across client and server side as reported by [ADF](http

[2018-02-08 12:51] ryandawsonuk commented on #1741
Need to be careful about the linked dockerhub automatic build repo. That can't be renamed as dockerhub doesn't support. If we delete it will we lose the published images under that repo?

[2018-02-08 13:52] #1712 closed

[2018-02-08 14:30] mteodori commented on #1615
completed on all referenced repos

[2018-02-08 14:30] #1615 closed

[2018-02-08 14:59] erdemedeiros commented on #1419
Maybe using a custom `Pageable` implementation would solve the problem. Let me give it a try.

[2018-02-08 16:09] #1738 closed

[2018-02-08 16:11] ryandawsonuk opened #1744 "access control for REST part of query"
To be as close as possible to RB - see Security section of https://activiti.gitbooks.io/activiti-7-developers-guide/content/components/activiti-cloud-app/RuntimeBundle.html and https://github.com/Activiti/Activiti/issues/1493

RFC doc for this at https://docs.google.com/document/d/1p3PLBVdjB_s6gBr4dAKjYRNlaiYSDCtO_54GOp80s08/edit#heading=h.5fwzajweqlpw

[2018-02-08 17:38] #1734 closed

[2018-02-09 10:58] ryandawsonuk commented on #1738
The only outstanding reference will be removed with https://github.com/Activiti/activiti-cloud-query/pull/21

[2018-02-09 10:59] #1668 closed

[2018-02-09 11:09] ryandawsonuk commented on #1722
I see the README has been updated so I'd say we close this and move on to next step. Have we given feedback to pivotal?

[2018-02-09 11:26] ryandawsonuk opened #1745 "Name for process instances in query response not the same as RB"
the query api return
"_embedded": {
        "process-instances": [
            {

the runtime bundle
{
    "_embedded": {
        "processInstanceList": [

Want to homogenise these.

We want to follow the convention camel case + simple plural, i.e, `processDefinitions`, `processInstances`, `tasks`.

I has already been fixed for process definitions in query module. In order to cover other entities

[2018-02-09 11:28] ryandawsonuk opened #1746 "Name for process instance id not the same in query and RB responses"
API query
"processInstanceId": "459ab950-04f0-11e8-9f7c-0a5864600307",
"processDefinitionId": "ProcessWithVariables:1:d44693ef-04ef-11e8-9f7c-0a5864600307",
"status": "RUNNING",
"lastModified": "2018-01-29T12:31:04.128+0000",

API runtime bundle
"id": "459ab950-04f0-11e8-9f7c-0a5864600307",
"processDefinitionId": "ProcessWithVariables:1:d44693ef-04ef-11e8-9f7c-0a5864600307",
"processDefinitionKey"

[2018-02-09 11:30] ryandawsonuk opened #1747 "Runtime bundle REST responses should contain lastModified if it's available on the engine-level entity"
It is present in query so would be good to have in RB. I suspect it is there on the engine entity.

[2018-02-09 11:32] mauriziovitale commented on #1745
I guess we should always use camelcase properties

[2018-02-09 11:49] ryandawsonuk opened #1748 "Deploy multiple runtime bundles to AWS"
The AWS deployment currently has a single runtime bundle baked into the chart.

I think we could take this out of the chart and deploy the RBs separately using the rbapchart and rbdbchart from https://github.com/Activiti/activiti-cloud-examples/tree/develop/kubernetes/helm

We should need to change things a little though as those charts expect the infra services to be prefixed with a release name

[2018-02-09 13:24] erdemedeiros commented on #1555
Solved using controllers.

[2018-02-09 13:24] #1555 closed

[2018-02-09 14:46] ffazzini commented on #1722
@ryandawsonuk as discussed earlier we can close this task.

Pivotal people are investigating on their side the ip vs hostname when you do ```kubectl get service... ```
and also this issue that we have already experienced on minikube:
https://www.elastic.co/guide/en/elasticsearch/reference/current/docker.html#docker-cli-run-prod-mode

[2018-02-09 14:46] #1722 closed

[2018-02-09 18:03] mteodori opened #1749 "Spring and Jackson vulnerabilities"
Spring Security should be updated to 4.2.4 https://pivotal.io/security/cve-2018-1199
Spring Boot should be updated to 1.5.10 https://pivotal.io/security/cve-2018-1196
Jackson should be updated to 2.9.4 https://github.com/FasterXML/jackson-databind/issues/1899

- [x] 5.x
- [x] 6.x
- [x] develop

[2018-02-09 18:20] ryandawsonuk opened #1750 "use websockets in DBP deployment"
Have had to disable for now:

https://github.com/Activiti/activiti-cloud-examples/commit/4715bbbf0f4264a3210ee5f8e0084fffa5b96047

DBP deployment uses rabbit-ha:

https://github.com/Alfresco/alfresco-dbp-deployment/blob/master/charts/incubator/alfresco-dbp-infrastructure/values.yaml#L1

but rabbit chart presently doesn't seem to support that:

https://github.com/kubernetes/charts/issues/3653

[2018-02-12 08:57] Salaboy commented on #1729
done

[2018-02-12 08:57] #1729 closed

[2018-02-12 08:58] Salaboy commented on #1599
done, no need for this templated projects anymore.

[2018-02-12 08:58] #1599 closed

[2018-02-12 09:02] Salaboy commented on #1720
@lucianoprea is this a duplicate of this one: https://github.com/Activiti/Activiti/issues/1710 ?
can you please that one if it a duplicate?

[2018-02-12 09:03] #1710 closed

[2018-02-12 09:03] lucianoprea commented on #1710
duplicate

[2018-02-12 09:13] Salaboy commented on #1705
@ryandawsonuk @erdemedeiros @ffazzini I think that we should close this one, it might confuse some other people. tasks, processes, and variables are not events, and events are what is expected to get from audit.
Are we all ok with closing this?

[2018-02-12 09:18] ffazzini commented on #1705
For closing you mean fixing it? It is good for clients having a consistent way to parse lists.

[2018-02-12 09:18] Salaboy commented on #1696
@mteodori can we add Maurizio Vitale here as well? I've created this repo (https://github.com/Activiti/activiti-cloud-demo-ui) that generates a docker image , but we need to get the new angular stuff in.

[2018-02-12 09:20] Salaboy commented on #1377
moved to march before releasing.

[2018-02-12 09:21] Salaboy commented on #1728
This should be done by the platform team or APS team, but this is not priority for the Activiti community at this point. I will move it to the future, even though I recognise that we will get some value out of this research.

[2018-02-12 09:24] ffazzini commented on #1728
yes agree, actually you won't need it outside DBP as we have already seen that actual costs is low, you can actually close this.

[2018-02-12 09:27] ffazzini commented on #1701
Done this and DBP deployment was achieved.

We can close this then.

[2018-02-12 09:27] #1701 closed

[2018-02-12 10:40] ryandawsonuk commented on #1705
You mean whether 'List' is appended at the end? I'd say we ask @mauriziovitale . My impression from https://github.com/Activiti/Activiti/issues/1745 is that using camelcase over hyphen matters but not sure about whether 'List' needs to be at the end of very list.

[2018-02-12 10:44] ffazzini commented on #1705
yes @ryandawsonuk , sorry if that was unclear above

[2018-02-12 11:35] ryandawsonuk opened #1752 "processDefinitionKey missing from query"
Should be included in the model and the REST endpoints

[2018-02-12 11:45] mauriziovitale commented on #1705
@ffazzini @Salaboy @ryandawsonuk
For my point of view, we should have a generic response structure like
{
    "_embedded": {
        "items": [

In this way, we can have a single Response model that accepts a specific type like TaskList or EventList         or whatever

[2018-02-12 11:57] ryandawsonuk commented on #1752
Need this to be in the model so that we can apply security restrictions by process definition key. But events fed to query and audit aren't at process definition level. I think we want to add it into the events at:

https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-services-runtime-bundle/activiti-cloud-services-api/src/main/java/org/activiti/cloud/servi

[2018-02-12 12:38] mteodori commented on #1696
@Salaboy updated desc, I don't have rights on the Activiti org to do that, moving the branch to the new repo now

[2018-02-12 13:00] erdemedeiros commented on #1705
Hi Guys,
Concerning the `List` suffix it is probably something similar to the [RelProvider](https://docs.spring.io/spring-hateoas/docs/current/reference/html/#spis.rel-provider). Maybe we have a different configuration for events. Or we have Evo Inflector in the classpath, for some reason. I agree that's better to have the same pattern everywhere.

Concerning structure if we follow the Alfresco gu

[2018-02-12 13:02] ffazzini commented on #1705
true @erdemedeiros  i think you also have an extra 'entry' field inside 'entries'

[2018-02-12 13:03] mteodori opened #1753 "Make Demo UI app Docker image configurable"
Add configuration options for the Docker image from https://github.com/Activiti/activiti-cloud-demo-ui to specify Keycloak and environment to launch the webapp against.

Update the README to document how to run and configure the docker image

[2018-02-12 13:12] mteodori commented on #1705
@ffazzini @erdemedeiros I can confirm, it should be:

[code]

[2018-02-12 13:52] Salaboy commented on #1696
@mteodori can we close this when maurizio moves the stuff that he has to the new repo?

[2018-02-12 13:53] mteodori commented on #1696
I thought he would have been working on this ticket, or are you guys creating others with more detail?

[2018-02-12 15:42] ryandawsonuk opened #1754 "Suspend and activate endpoints in RB return empty json responses"
Return the updated entity instead

[2018-02-12 15:42] ryandawsonuk opened #1755 "When a process instance is suspended in RB the status is updated in RB but not query"
Probably it's not being picked up by the handler in the query code. Actually from a quick search it looks like we're missing a handler for it.

[2018-02-12 18:24] erdemedeiros commented on #1705
@ffazzini @mteodori thanks. I'll update it.

[2018-02-13 09:19] Salaboy commented on #1705
@erdemedeiros good so this is going to be fixed here: https://github.com/Activiti/Activiti/issues/1419 can we close this one then?

[2018-02-13 09:20] Salaboy commented on #1750
@ryandawsonuk how is this different in our infrastructure? If it is DBP specific we should tell them to track that.

[2018-02-13 09:21] Salaboy commented on #1754
@erdemedeiros I want your view on this.. We should avoid doing an extra query for getting the entity but when we have them we should return it, or at least the pieces that we have available.
The UI can use this to update a list item for example, which will be a big improvement compared with the old APIs -> which leads us to consider adding this change now.

[2018-02-13 09:22] Salaboy commented on #1753
@mteodori can you help us with this one? I mean if you are working with @mauriziovitale can you keep track of this work?

[2018-02-13 09:26] ryandawsonuk commented on #1750
Yes it is different. Our stuff is different because we're not using an official rabbit chart and are instead are including the activiti/rabbitmq-stomp image through our own charts. I kinda think the DBP approach is the better way but we're blocked on it. I did discuss with the DBP guys before opening kubernetes/charts#3653 and gave them that link afterwards but you're right we should follow up.

[2018-02-13 09:36] ryandawsonuk opened #1757 "Make it possible to disable SSO by configuration"
I think we need ConditionalOnProperty set on all of the @Configuration classes in https://github.com/Activiti/activiti-cloud-service-common/tree/develop/activiti-cloud-services-identity-keycloak  . There is a KeycloakAutoConfiguration which we should be able to switch off by setting keycloak.enabled but to do that I think we need to be able to disable the other config classes too. We should also d

[2018-02-13 11:55] ffazzini commented on #1730
Added scripts to undeploy and deploy activiti on the aws environment. You can use those scripts from your local machine.

[2018-02-13 11:55] #1730 closed

[2018-02-13 12:51] ryandawsonuk opened #1758 "RB sorting for process instance only works on certain fields"
?sort=id,desc and ?sort=id,asc work
but sort=initiator,desc  gives
 `ActivitiIllegalArgumentException: The property 'initiator' cannot be used to sort the result.`
Same for status

[2018-02-13 12:53] mauriziovitale commented on #1758
Same for startDate, processDefinitionKey, status
i.e.
    "message": "org.springframework.web.util.NestedServletException: Request processing failed; nested exception is org.activiti.engine.ActivitiIllegalArgumentException: The property 'startDate' cannot be used to sort the result.",

[2018-02-13 12:56] ryandawsonuk commented on #1758
Apparently the equivalent fields are sortable in the query REST API

[2018-02-13 13:42] balsarori opened #1759 "Simplify ServiceTaskParseHandler customization"
- [ ] 5.x
- [ ] 6.x
- [ ] develop

[2018-02-13 20:12] Salaboy commented on #1217
@ravenblackdusk which version are you using exactly? I will reopen if it is one of the latest versions.

[2018-02-13 20:25] balsarori commented on #1217
I ran the following test against MySQL DB without issues

https://github.com/Activiti/Activiti/blob/6.x/modules/activiti-engine/src/test/java/org/activiti/engine/test/api/form/FormServiceTest.java#L423

@ravenblackdusk can you provide steps to reproduce or maybe a unit test to use in order reproduce the issue?

[2018-02-14 10:27] ryandawsonuk opened #1761 "change access control format to accommodate multiple RBs so it can work for query"
This is part of the work for https://github.com/Activiti/Activiti/issues/1744 - separating it out as it's a significant change in itself. It requires some restructuring so that an RB module moves to common level.

[2018-02-14 15:19] mteodori opened #1762 "move dependency check to maven profile"
move the execution of depedency-check maven plugin to a profile with same name and add to the travis build

[2018-02-14 16:02] stonesingsong commented on #1437
@Salaboy
I am a Chinese Java developer. My company use Activiti to develop workflow. It help we a lot.
I haven't create the repo yet, and I plan to do it after our Spring Festival.
I'm not sure I'm up to it. I would be very happy to be able to do something for Activiti.

[2018-02-14 17:23] Salaboy commented on #1437
@stonesingsong that sounds great.. let's collaborate. We are also doing some tests for a new modeller but we still don't have anything. Let me know when you start with that and we can sync again to see if we have someone else working on something similar.

[2018-02-15 00:38] #1762 closed

[2018-02-15 10:01] constantin-ciobotaru commented on #1725
[The related issue on Springfox project](https://github.com/springfox/springfox/issues/1773)

[2018-02-15 12:01] ryandawsonuk opened #1765 "Add a subprocess example to example-runtime-bundle"
We want to put MyMainProcess-10.bpmn20.xml from attached into example-runtime-bundle

[AppSubProcWithVariables.zip](https://github.com/Activiti/Activiti/files/1727558/AppSubProcWithVariables.zip)

[2018-02-15 12:57] mteodori opened #1767 "log4j CVE-2017-5645 vulnerability"
See http://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2017-5645

Reported on:
- [x] 5.x
- [x] 6.x
- [x] develop

[2018-02-15 15:44] ryandawsonuk opened #1769 "Variables should have types in the RB endpoints"
The Variables controller currently just returns variables as though they were all strings. This is out of step with current APS that shows types.

The runtimeService does support types as it has method such as:

    Map<String, Object> getVariables(String var1);

    Map<String, VariableInstance> getVariableInstances(String var1);

    List<VariableInstance> getVariableInstancesByExecutionIds(Set<

[2018-02-15 15:55] ryandawsonuk opened #1770 "variables controllers in RB should support update, add and delete"
engine supports set and remove

we should support in https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-services-runtime-bundle/activiti-cloud-services-rest-impl/src/main/java/org/activiti/cloud/services/rest/controllers/ProcessInstanceVariableControllerImpl.java

[2018-02-15 17:36] ryandawsonuk commented on #1746
I added the Activated and Suspended events into the query model in  https://github.com/Activiti/activiti-cloud-query-service/pull/22/commits/360ab813e7db10a1342b31f5393a7c69269fbf98 with the aim of getting access to this data through those events. But it seems the activated events actually are not fired when a process is started and only if explicitly activated by an action. The null fields are th

[2018-02-16 08:51] Salaboy commented on #1675
We need to do this before releasing. Now we have Spring Cloud M7 which should include SB 2 RC1

[2018-02-16 08:52] Salaboy commented on #1636
@lucianoprea @ryandawsonuk @erdemedeiros should we close this one? I think that we removed the project already.

[2018-02-16 09:13] lucianoprea commented on #1636
yes, this is no longer available in examples

[2018-02-16 09:13] #1636 closed

[2018-02-16 11:20] Salaboy opened #1771 "Add Entity created to support Process Started with ProcessInstance info"
We need to add a handler for Entity Created Event related to the process instance, this is mainly because the ProcessStarted event doesn't contain the processInstance information.

[2018-02-16 14:14] ffazzini opened #1772 "format error in the api response"
Api should return an error section in the response which displays informations such as
response code, message, a key.
Please see the API guidelines for the details. @mteodori

We have already had a quick technical discussion with @erdemedeiros and @ryandawsonuk about how to achieve this, for example exception handlers and controller advices.

[2018-02-16 18:10] ryandawsonuk commented on #1761
This is almost ready but the crucial bit of applying the querydsl restrictions in query module doesn't appear to be working. Not yet clear whether this is because the restrictions are wrong or the necessary data isn't feeding through.

[2018-02-18 09:16] salaboy opened #1775 "Add Swagger to BluePrint Services to use Feign for acceptance tests"
Add swagger to blueprint services:
1) Dummy Twitter feed
2) Rewards
3) Rankings
4) Runtime Bundle Campaign

To create acceptance tests using JBehave.
A simple scenario should show:
1) How to send a tweet related to an active campaign
2) how the tweet is processed by the campaign
3) how the user is ranked
4) how the reward is submitted to the top users for that campaign.

[2018-02-18 10:07] Salaboy opened #1776 "Activiti Cloud Starter Test is used inside Query Service repo"
We need to make a decision here about where this Starter Test lives.
Right now it is inside the Runtime Bundle Service repository but it is consumed only for testing purposes inside query, this causes confusion and interdependencies that we should avoid.
I'm sure that we had a reason to leave it inside the Runtime Bundle Service repo, but we need to review that decision to avoid more confusions.

[2018-02-18 10:08] Salaboy commented on #1776
@erdemedeiros can you remember me if we had a real reason not to move it to common?

[2018-02-19 06:32] daisuke-yoshimoto opened #1777 "Add support for MongoDB 4.2(multi-document transactions)"
It seems that MongoDB 4.0(in Summer 2018) will add support for multi-document transactions.
So, we may be able to manage transactions for writing audit events by upgrading to MongoDB 4.0 and Spring Data Mongo 2.0.x.
* https://www.mongodb.com/blog/post/multi-document-transactions-in-mongodb
* https://www.mongodb.com/transactions
* https://github.com/Activiti/activiti-cloud-audit-service/blob/develo

[2018-02-19 07:15] constantin-ciobotaru opened #1778 "Add acceptance tests for modeling using Feign"

[2018-02-19 07:54] ravenblackdusk commented on #1217
@Salaboy 6.0.0
@balsarori I'm on it

[2018-02-19 11:51] ravenblackdusk commented on #1217
writing the test case proved harder than expected. I've written a springBootTest as such:

[code]
the deployment is successfully added to DB but the process definition list is empty (perhaps some configuration problem). anyways if you manage to run such a process; when task2 is submitted and compensation is thrown; if you then get the active activities of the process instance:

`runtimeService.get

[2018-02-19 12:30] mauriziovitale commented on #1765
I have created a simple process definition that contains a subprocess.
The parent process contains a start event, subprocess, end event
The subprocess contains a start event, user task, end event

[SubProcessDefinition.zip](https://github.com/Activiti/Activiti/files/1736681/SubProcessDefinition.zip)

[2018-02-19 16:17] ffazzini opened #1780 "Need to redeploy UI after activiti cloud deployment"
After Activiti deployment, UI needs to rebuild the project changing the host location
for sso and gateway.

Find the best solution for activiti deployment which
guarantees clear basic guidelines for the users, acceptance tests automation, backend and UI developers flexibility.

[2018-02-19 18:21] ryandawsonuk commented on #1761
Have now added additional test to show that if the data were available then it would be correctly filtered.

[2018-02-20 10:57] #1749 closed

[2018-02-20 10:58] #1767 closed

[2018-02-20 15:40] ffazzini commented on #1780
The admin ui environment will use DBP.

### partial undeploy ###
[code]

### partial deploy ###

[code]

[2018-02-20 15:40] #1780 closed

[2018-02-20 15:53] lucianoprea commented on #1720
the current functionality in activiti 5 and 6 permits to save a process that has validation errors and I think this is a nice to have since this way you can save your work, exit and come back later to finish it.

[2018-02-20 16:33] mteodori commented on #1675
removing the change on Spring Cloud M7 as it's not released yet, see: https://spring.io/blog/category/releases

[2018-02-21 00:35] n0mer commented on #543
@Salaboy sorry, but here is the reference of what "closing issues" means:

![image](https://user-images.githubusercontent.com/1862997/36456874-7902459c-16a7-11e8-9a61-7085344e55ef.png)

[2018-02-21 08:38] Salaboy commented on #1744
PRs merged for ProcessInstance lists.

[2018-02-21 08:38] Salaboy commented on #1744
Tasks filters still remaining.. should we create a different issue to track that progress?

[2018-02-21 08:57] Salaboy commented on #543
@n0mer exactly, that's why we introduced milestones, the previous team had a chaos here, so we need to do some house cleaning. This issue doesn't apply any more to the activiti/activiti (develop branch )repository for version 7 and for that reason it was closed. We are more than happy to receive collaboration for other branches, but due the limited resources that we have we are focused only on ver

[2018-02-21 09:03] Salaboy commented on #1675
Please see here: https://github.com/spring-projects/spring-cloud/wiki/Spring-Cloud-Finchley-Release-Notes
We need to upgrade to M6 not M7

[2018-02-21 13:59] #1761 closed

[2018-02-21 14:00] ryandawsonuk commented on #1746
Implemented under https://github.com/Activiti/Activiti/issues/1761

[2018-02-21 14:01] ryandawsonuk commented on #1752
ProcessDefinitionKey added but only to ProcessInstance under https://github.com/Activiti/Activiti/issues/1761

[2018-02-21 14:01] ryandawsonuk commented on #1744
I'm happy to track tasks under this one.

[2018-02-21 14:07] lucianoprea commented on #1720
the endpoint is exposed by activiti-cloud-process-model-service but I think it should be also available in activiti-cloud-org-service since there should be the endpoints available to clients

[2018-02-21 14:11] lucianoprea commented on #1663
there is some work around this that requires some minor changes to have this working with new release of Spring Cloud [PR](https://github.com/Activiti/activiti-cloud-org-service/pull/5)

[2018-02-21 16:28] ffazzini opened #1789 "audit error consuming event"
[code]

[2018-02-22 11:29] ryandawsonuk commented on #1746
Reopened as fix hasn't been deployed to the relevant test environment.

[2018-02-22 11:29] ryandawsonuk commented on #1752
Reopened as fix hasn't been deployed to the relevant test environment.

[2018-02-22 11:44] mteodori opened #1790 "Upgrade to Spring Cloud Finchley.M7"
See: https://github.com/spring-projects/spring-cloud/wiki/Spring-Cloud-Finchley-Release-Notes

[2018-02-22 12:00] mteodori commented on #1675
Moved Spring Cloud upgrade to a separate issue: https://github.com/Activiti/Activiti/issues/1790
We need to skip M6 and wait for M7 due to outstanding issue: spring-cloud/spring-cloud-sleuth#856

[2018-02-22 12:16] mteodori opened #1791 "Replace docker-maven-plugin with Testcontainers"
I would like to be able to run integration tests within an IDE like IntelliJ and the fact we rely on the Maven integration-test phase make things quite cumbersome to do outside Maven.

An option in IntelliJ is to add a Maven Goal before launch which executes:

`mvn io.fabric8:docker-maven-plugin:build@build io.fabric8:docker-maven-plugin:start@start`

where build and start are the executions that

[2018-02-22 15:03] balsarori opened #1792 "Add missing businessCalendarName to activiti-bpmn-extensions-5.18.xsd"
- [x] 6.x
- [ ] develop

activiti-bpmn-extensions-5.18.xsd should be identical to what's in 5.x branch
https://github.com/Activiti/Activiti/blob/5.x/modules/activiti-bpmn-converter/src/main/resources/org/activiti/impl/bpmn/parser/activiti-bpmn-extensions-5.18.xsd

[2018-02-22 15:28] ryandawsonuk opened #1793 "applicationName in query should be part of primary key"
I think the way it is currently risks an error in the case where two records in different applications happen to get the same ID, which basically means only UUIDs will work.

This is because of https://github.com/Activiti/activiti-cloud-query-service/blob/develop/activiti-cloud-services-query/activiti-cloud-services-query-model/src/main/java/org/activiti/cloud/services/query/model/ProcessInstance.

[2018-02-23 17:24] #1792 closed

[2018-02-23 17:56] ryandawsonuk opened #1795 "review differences between APS and Activiti7 tasks endpoint response"
From ADF guys.

APS output.

{
   "data":[
      {
         "id":"5390770",
         "processDefinitionId":"Test1900:3:5355724",
         "processDefinitionUrl":"http://192.168.0.172:8089/activiti-app/api/repository/process-definitions/Test1900:3:5355724",
         "processInstanceId":"5390762",
         "processInstanceUrl":"http://192.168.0.172:8089/activiti-app/api/history/historic-process-inst

[2018-02-23 18:07] ryandawsonuk commented on #1744
Current status is can send and handle events to determine if user/group is a candidate and use this to restrict access to tasks in query service. Adding /admin/ endpoint for tasks just so admin user knows the difference between tasks they are candidate for and tasks they see just because they're an admin. Need to apply restrictions to variables and decide on cases like /process-instances/7/tasks

[2018-02-23 19:37] Salaboy commented on #1744
@ryandawsonuk can we just use the same approach than the RB for admin endpoints? which is: we use the same endpoints but we check for the role of the user in keycloak?

[2018-02-26 08:20] deanwong commented on #1453
@daisuke-yoshimoto  Sorry for the late reply, many thanks for your help.

[2018-02-26 10:59] mteodori commented on #1675
pom files have been cleaned up on this branch to avoid copy paste as less as possible, maven publishing requirements as in https://maven.apache.org/guides/mini/guide-central-repository-upload.html have been verified to be present as inherited in the effective pom

[2018-02-27 16:31] mteodori commented on #1790
released: https://repo.spring.io/libs-milestone/org/springframework/cloud/spring-cloud-dependencies/Finchley.M7/

[2018-02-28 10:31] mteodori commented on #1675
removed the changes in spring boot and just doing a POM cleanup in preparation for https://github.com/Activiti/Activiti/issues/1790

[2018-02-28 18:05] ryandawsonuk opened #1799 "query consumer don't seem to retry"
Think to recreate this we should send in a variableupdatedevent without any corresponding variablecreatedevent. Then you get an error that the's no record corresponding to the id.

Noticed the problem when running some tests which were (erroneously for those tests) sending the events one at a time rather together as a linked series and therefore the order of processing wasn't guaranteed. But would

[2018-03-01 17:46] igdianov opened #1801 "Spring Cloud Stream channel resiliency and message delivery guarantees"
Points from the catch-up on March 1, 2018 for review:

1) Look at the acknowledgement strategy used when consuming messages with streams - might be why message seems to be consumed even in a failure case (Activiti/Activiti#1799 )

2) Look at whether transmission of the message on the producer side is linked to the spring transaction or whether we need to enable a RabbitMQ feature for that

3) Are

[2018-03-01 18:27] erdemedeiros opened #1802 "Generated Spring Rest Docs are incomplete"
The `Request` and `Response` fields are missing.

**Cause:** the Rest Docs snippets are generated in by the integration tests running in the phase `integration-test` and `asciidoctor-maven-plugin` plugin is running in the phase pre-package.

**Fix**: move `asciidoctor-maven-plugin` plugin to `post-integration-phase`

[2018-03-02 13:40] #1698 closed

[2018-03-02 13:55] erdemedeiros opened #1803 "Add REST APIs to create standalone task"

[2018-03-02 14:23] mauriziovitale opened #1804 "TaskList REST API response is different from the query and Runtimebundle end point"
The query endpoint
http://{{domain}}/query/v1/tasks
returns

[code]
- <del>The createdDate is missing</del>
- The createdAt is missing
- The owners is missing

The runtimebundle instead
http://{{domain}}/rb-my-app/v1/tasks
[code]
- the applicationName is missing
- the lastModified is missing
- the owners is missing

[2018-03-02 15:10] Salaboy commented on #1776
@erdemedeiros please advice.. I remember that we discussed this before.

[2018-03-02 15:10] Salaboy commented on #1688
@ffazzini @lucianoprea what is the current status of this? Did we manage to make progress?

[2018-03-02 15:12] Salaboy commented on #1690
@ffazzini is there any progress on this?

[2018-03-02 15:13] Salaboy commented on #1705
I'm closing this one because this is going to be fixed in #1419

[2018-03-02 15:13] #1705 closed

[2018-03-02 15:14] #1617 closed

[2018-03-02 15:17] Salaboy commented on #1543
I will close this because now we have activiti-scripts .. please do re open if there are more things to move.

[2018-03-02 15:17] #1543 closed

[2018-03-02 15:27] ffazzini commented on #1690
@Salaboy in a way it is related to the investigation that @lucianoprea is carrying on the filters. I would make sure of how the trace can be logged in the filters first.

[2018-03-02 15:30] Salaboy commented on #1746
we do not track if fixes are deployed.. only if the fix is in the source code.

[2018-03-02 15:30] #1746 closed

[2018-03-02 15:36] Salaboy commented on #1726
@lucianoprea @constantin-ciobotaru can you guys add a section for this before the release?

[2018-03-02 15:37] Salaboy commented on #1755
I will close this because both PRs were merged already.

[2018-03-02 15:37] #1755 closed

[2018-03-02 15:38] Salaboy commented on #1719
@ffazzini can you help us with this one before the release?

[2018-03-02 15:40] Salaboy commented on #1663
@lucianoprea @constantin-ciobotaru what is the status of this one?

[2018-03-02 15:40] Salaboy commented on #1718
@mteodori can you help us with this one before the release? is this solved by your other refactorings?

[2018-03-02 15:41] Salaboy commented on #1714
@igdianov I assigned this issue to you because its what you are working on.. but I will move to the next milestone to see if we can get it in this month.

[2018-03-02 15:42] Salaboy commented on #1670
totally.. spring cloud kubernetes configmaps :)

[2018-03-02 15:42] #1670 closed

[2018-03-02 15:43] Salaboy commented on #1696
initial version done.. now we need to refactor it and make sure that the docker image is working as expected.

[2018-03-02 15:43] #1696 closed

[2018-03-02 15:43] Salaboy commented on #1790
@mteodori how are we doing with this?

[2018-03-02 15:44] Salaboy commented on #1752
I'm closing this issue because we do not track deployed changes.

[2018-03-02 15:44] #1752 closed

[2018-03-02 15:44] constantin-ciobotaru commented on #1663
It should work with the new spring cloud release. I'll check this and close if it's ok.

[2018-03-02 15:44] Salaboy commented on #1727
@lucianoprea @constantin-ciobotaru did you manage to create that? I think that we have the docker-compose but not the kubernetes descriptors.. can you please report back the status of this?

[2018-03-02 15:50] Salaboy commented on #1663
@constantin-ciobotaru please close if it is done.,. if not move to the next milestone.

[2018-03-02 16:00] Salaboy commented on #1675
@mteodori how are we doing with this one? Can we close this already?

[2018-03-02 16:41] Salaboy commented on #1570
@erdemedeiros should we close this one? and report a new one for query?

[2018-03-02 16:41] Salaboy commented on #1554
@ffazzini any updates on this?

[2018-03-02 16:42] Salaboy commented on #1487
we should be working on this during march if they have a SB 2 branch

[2018-03-02 16:42] Salaboy commented on #1557
this must be done in march before beta

[2018-03-02 16:44] Salaboy commented on #1725
@constantin-ciobotaru are we blocked on this one?

[2018-03-02 16:44] Salaboy commented on #1405
@gmalanga maybe you can take this one

[2018-03-02 16:53] constantin-ciobotaru commented on #1725
There are 4 PRs in ready to review:

https://github.com/Activiti/activiti-cloud-build/pull/27
https://github.com/Activiti/activiti-cloud-process-model-service/pull/10
https://github.com/Activiti/activiti-cloud-org-service/pull/8
https://github.com/Activiti/activiti-cloud-service-common/pull/15

[2018-03-03 10:13] Salaboy commented on #1725
@constantin-ciobotaru great.. i will try to review asap.

[2018-03-05 06:27] constantin-ciobotaru commented on #1778
PR: https://github.com/Activiti/activiti-cloud-acceptance-tests/pull/2

[2018-03-05 06:34] constantin-ciobotaru commented on #1727
PR: https://github.com/Activiti/activiti-cloud-examples/pull/73

[2018-03-05 08:24] constantin-ciobotaru commented on #1663
There are still problems when using the maven plugin to download the stubs jar, but it's working when it just uses the stubs jar as maven dependency and AutoConfigureStubRunner is looking in the classpath, not in the local maven repository.

The stubs jar dependency is to the version corresponding to the consumer ${project.version}, so no need of the script for release and if the contract is chang

[2018-03-05 08:33] Salaboy commented on #1727
merged

[2018-03-05 08:33] #1727 closed

[2018-03-05 08:35] Salaboy commented on #1718
@mteodori is this done? if so, please close, if not please move to the next milestone

[2018-03-05 08:41] Salaboy commented on #1748
@ffazzini can you help us with this? it should be just another RB definition in yaml with a different spring boot app name.

[2018-03-05 08:45] #1771 closed

[2018-03-05 08:46] Salaboy commented on #1765
@mauriziovitale did you manage to get this working in our example-runtime-bundle?

[2018-03-05 08:47] Salaboy commented on #1765
@mauriziovitale I can see that it was included so I'm closing this issue.

[2018-03-05 08:48] Salaboy commented on #1745
@ryandawsonuk we should wait for @erdemedeiros work.. that should do the trick.

[2018-03-05 08:57] #1778 closed

[2018-03-05 09:52] ffazzini commented on #1554
was not @constantin-ciobotaru looking into this? On my understanding after @erdemedeiros allowed the non-hal API format, this should work just fine.

[2018-03-05 10:00] #1675 closed

[2018-03-05 11:57] Salaboy opened #1805 "Demo Client UI ADF Docker Image refactoring"
Make sure that the demo client is correctly working inside a docker image

[2018-03-05 12:19] mauriziovitale commented on #1754
From my point of view, the API should at least return:
id and new status.
@mteodori what do you think?

[2018-03-05 12:34] mteodori opened #1806 "Remove build dependency on Bamboo and Alfresco maven snapshot repo"
The current build depends on the parent activiti-build and activiti-cloud-buils POM being published by a job on Bamboo to the Alfresco snapshot repository, find a way to avoid this and document

[2018-03-05 14:07] fcorti opened #1807 "activiti-cloud-examples: Postman collection does not set the kcAccessToken into the getKeycloakToken"
I'm working with a vanilla Ubuntu OS with the Activiti 7 installed as described from the Developer Guide (quickstart guide).
I'm using Postman version 6.0.8 as Desktop app (and the problem should be related to the new major version of Postman).

Once executed the `getKeycloakToken` service, the JSON response is positive and complete, but no tests are executed. This causes all the following request

[2018-03-05 14:19] mauriziovitale opened #1808 "The Process Instance Model REST API doesn't work"
When I try to call the endpoint
http://{{domain}}/rb-my-app/v1/process-instances/{processId}/model
with content type image/svg+xml.
I'm getting this error:
<body>
        <h2>HTTP ERROR 406</h2>
        <p>Problem accessing /error. Reason:

            <pre>    Not Acceptable</pre>
        </p>
        <h3>Caused by:</h3>
        <pre>org.springframework.web.util.NestedServletException: Request pr

[2018-03-05 14:25] mauriziovitale opened #1809 "Add Rest API to terminate a process instance"
At the moment there is no API to terminate a process instance.

[2018-03-05 14:35] daisuke-yoshimoto commented on #1809
@mauriziovitale What do you mean 'terminate'?
To [suspend a process instance](https://www.activiti.org/javadocs/6.latest/org/activiti/engine/RuntimeService.html#suspendProcessInstanceById(java.lang.String)) or to [delete a process instance](https://www.activiti.org/javadocs/6.latest/org/activiti/engine/RuntimeService.html#deleteProcessInstance(java.lang.String,%20java.lang.String))?

[2018-03-05 14:38] mauriziovitale commented on #1809
@daisuke-yoshimoto deleteProcessInstance

[2018-03-05 14:40] daisuke-yoshimoto commented on #1809
@mauriziovitale Thanks. I see.

[2018-03-05 15:37] ryandawsonuk commented on #1807
Suggest we change it to:

var tokens=JSON.parse(responseBody);
postman.setGlobalVariable("kcAccessToken", tokens.access_token);
pm.test("Setting the kcAccessToken.", function () {
  var tokens = JSON.parse(responseBody);
  pm.globals.set("kcAccessToken", tokens.access_token);
});

I've checked this in v5 and Francesco Corti has checked it in v6 of postman

[2018-03-05 15:45] #1807 closed

[2018-03-05 16:36] mteodori commented on #1753
completed and documented in the https://github.com/Activiti/activiti-cloud-examples/blob/develop/kubernetes/kubectl/README.md

[2018-03-05 16:36] #1753 closed

[2018-03-05 16:37] mteodori commented on #1805
duplicates Activiti/Activiti#1753

[2018-03-05 16:37] #1805 closed

[2018-03-06 10:26] constantin-ciobotaru commented on #1747
There is no lastModified in org.activiti.engine.runtime.ProcessInstance engine-level entity.  Indeed, there is a lastModified field in org.activiti.cloud.services.query.model.ProcessInstance, but this is set based on the event date by the eventHandler on query service side.

I didn't find it neither in Activiti 6: there is no lastModified field in the response for "/rest/query/process-instances".

[2018-03-06 10:42] mteodori commented on #1718
no, it's not a library we use across projects, do we want to put it in the parent? I believe that there are other libraries specific to projects we don't bring up in the same why

[2018-03-06 12:33] ryandawsonuk commented on #1747
Not sure, no. I think it came out of a conversation with @mauriziovitale . I had assumed it was on the engine entity but perhaps it's only available through the historyService and I doubt we want to do that in RB.

@mauriziovitale is it ok if we don't show lastModified in the runtime bundle and only show it in query?

[2018-03-06 13:10] mauriziovitale commented on #1747
@ryandawsonuk @constantin-ciobotaru
it sounds good to me.

[2018-03-06 13:17] constantin-ciobotaru commented on #1747
Thanks @mauriziovitale

[2018-03-06 13:18] #1747 closed

[2018-03-06 16:33] ryandawsonuk commented on #1744
RB admin endpoints were missing so have included /admin/v1/tasks in these PRs

[2018-03-06 16:40] #1657 closed

[2018-03-06 16:42] #1653 closed

[2018-03-07 14:07] mteodori opened #1810 "Upgrade to Spring Boot 2.0.0.RELEASE and Spring Cloud Finchley.M8"
See:
- https://spring.io/blog/2018/03/01/spring-boot-2-0-goes-ga
- https://spring.io/blog/2018/03/02/spring-cloud-finchley-m8-is-available

[2018-03-08 10:31] #1718 closed

[2018-03-08 11:46] lucianoprea commented on #1720
PRs:
https://github.com/Activiti/activiti-cloud-org-service/pull/10
https://github.com/Activiti/activiti-cloud-process-model-service/pull/11
https://github.com/Activiti/activiti-cloud-build/pull/28
https://github.com/Activiti/Activiti/pull/1785

[2018-03-08 11:53] #1810 closed

[2018-03-08 11:56] ffazzini commented on #1735
https://github.com/Activiti/activiti-cloud-performance-tests

It is based on gatling, so it is written with Scala, but i decided to use maven so we can include this project in our release process.

[2018-03-08 13:08] ryandawsonuk commented on #1676
We want the current process-executions count exposed as a metric but for kub to hook into it we would have to go Prometheus. I am reluctant to get tied into Prometheus but it seems there is a way to abstract over it so that the same implementation could work for something else (e.g. datadog) - see https://dzone.com/articles/using-micrometer-with-spring-boot-2

[2018-03-08 15:34] Salaboy commented on #1735
now we have the initial version, I will close this and create more specific issues to track progress on this front!

[2018-03-08 15:34] #1735 closed

[2018-03-09 09:13] Salaboy commented on #1676
@ryandawsonuk micrometer looks good .. we should do a PoC after our beta release.

[2018-03-09 11:12] mauriziovitale opened #1811 "The Runtimebundle REST API should have a fixed root"
At the moment there is no fixed root for the API under the runtime bundle.
For instance, if we have two runtime bundles "_rb-my-app-1_" and "_rb-my-app-2_"  the tasks API should be like:
**to do**
/runtime/rb-my-app-1/v1/tasks
/runtime/rb-my-app-2/v1/tasks
**as is**
/rb-my-app-1/v1/tasks
/rb-my-app-2/v1/tasks

[2018-03-09 14:32] erdemedeiros commented on #1804
The one implementing this please make sure that rest docs tests are updated in consequence.

[2018-03-09 14:34] mauriziovitale commented on #1804
As discussed with @erdemedeiros the createdDate is the lastModified when the status is COMPLETED

[2018-03-09 14:48] erdemedeiros commented on #1804
@mauriziovitale you probably meant `completedDate`, not `createdDate ` :)

[2018-03-12 15:25] #1802 closed

[2018-03-12 15:30] mauriziovitale opened #1812 "Add REST APIs to delete a task"
it should be possible to delete a completed or a standalone task.

I suppose the API should be:

DELETE http://{{domain}}/query/v1/tasks/{taskId}

[2018-03-12 15:31] mauriziovitale opened #1813 "Add REST APIs to create a subtasks"

[2018-03-12 16:43] mauriziovitale opened #1814 "Add Rest API to edit a Task"
As a developer, I should be able to edit a Task through an API.

[2018-03-12 17:08] mauriziovitale commented on #1765
@Salaboy Now I'm able to see a process definition with a subprocess
http://{{domain}}/rb-my-app/v1/process-definitions
[code]
but when I try to start a new process with that processDefinition I'getting the error:
[code]

[2018-03-13 11:25] mteodori opened #1815 "dependency check false positive on Spring Boot 2.0"
add the rule to suppression file for CVE-2017-8046 on Spring Boot 2.0.0.RELEASE https://jeremylong.github.io/DependencyCheck/general/suppression.html

[2018-03-13 13:41] mteodori opened #1817 "jgraphx vulnerability"
see https://nvd.nist.gov/vuln/detail/CVE-2017-18197

- [x] develop
- [x] 5.x
- [x] 6.x

[2018-03-13 14:57] #1817 closed

[2018-03-13 16:16] mteodori opened #1820 "Centralise dependency-check suppression file"
In order to avoid having a dependency-check suppression file in every repository, centralise the configuration in activiti-build and inherit from there

[2018-03-13 16:31] mauriziovitale opened #1821 "The process instance API doesn't return the parent information"
Even though the process definition contains a subprocess, the API doesn't return the parent information.

It seems from the server side the methods getParentId() and getRootProcessInstanceId() are available, but those are missing at rest api level.

That information should be returned by the API
http://{{domain}}/query/v1/process-instances
and runtime bundle too
http://{{domain}}/rb-my-app/v1/proc

[2018-03-13 17:11] #1820 closed

[2018-03-13 17:12] #1815 closed

[2018-03-13 18:41] ryandawsonuk commented on #1801
There are also the official spring tests https://github.com/spring-projects/spring-framework/blob/master/spring-tx/src/test/java/org/springframework/transaction/event/TransactionalEventListenerTests.java

Another interesting article is http://lifeinide.com/post/2017-12-29-spring-boot-rabbitmq-transactions/

And also see https://stackoverflow.com/questions/42372747/rabbitmq-and-delivery-guarantees-

[2018-03-14 11:57] ryandawsonuk opened #1822 "add an activiti-engine-interfaces repo?"
UserGroupLookupProxy and UserRoleLookupProxy are currently interfaces in the engine. They have no implementation there but if they are instantiated when using the engine with spring then they can influence engine behaviour - see https://github.com/Activiti/Activiti/search?utf8=%E2%9C%93&q=UserGroupLookupProxy&type=

Having them in the engine creates a dep to the engine from e.g. query service. If

[2018-03-14 12:08] ryandawsonuk commented on #1715
Closing as the PR for the referenced issue now merged

[2018-03-14 12:08] #1715 closed

[2018-03-14 12:59] mteodori opened #1823 "xstream CVE-2017-7957 vulnerability brought back from spring-cloud-netflix"
see https://github.com/spring-cloud/spring-cloud-netflix/issues/2779

[2018-03-14 13:00] #1823 closed

[2018-03-14 16:57] ryandawsonuk opened #1824 "CORS error in minikube setup with demo ui"
Users of the new demo UI are having to go to keycloak admin console and add URIs directly to allowed origins. Best if we could have these there out of the box. Following on from gitter https://gitter.im/Activiti/Activiti7?at=5aa95368f3f6d24c68751122

[2018-03-14 17:15] mteodori opened #1825 "fix tomcat start scripts in 5.x and 6.x"
the shell scripts to launch the webapps included in 5.x and 6.x via tomcat7-maven-plugin don't work anymore as the plugin only supports tomcat until 7, so plugin dependencies should not be updated to tomcat 8.5 as set by spring boot

[2018-03-15 08:26] grath10 opened #1826 "Activiti-spring-boot-starter-basic fails to coincide with Spring boot 2.0"
When working with Spring Boot 2.0, org.activiti:activiti-spring-boot-starter-basic :6.0.0 starters seems to give out errors in that SecurityAutoConfiguration depends on SecurityAutoConfiguration class.
But the package has been renamed in Spring Boot 2.0, so class can not be found.
Please fix the bug, thx!

[2018-03-15 09:28] ryandawsonuk commented on #1826
v6 wasn't written to support spring boot 2.0 but v7 is. The equivalent of the starter-basic is starter-configure if you're looking for the same behaviour you had with the v6 boot starter. Or if you're interested in going cloud-native then have a look at https://community.alfresco.com/community/bpm/blog/2018/02/27/activiti-cloud-overview-blueprint and join the conversation on https://gitter.im/Acti

[2018-03-15 09:59] erdemedeiros commented on #1554
https://github.com/Activiti/Activiti/issues/1419 is merged now.

[2018-03-15 10:25] #1419 closed

[2018-03-15 10:26] #1744 closed

[2018-03-15 13:40] igdianov commented on #1801
Re: 2) Look at whether transmission of the message on the producer side is linked to the spring transaction or whether we need to enable a RabbitMQ feature for that

Spring Cloud Stream Rabbit binder implements transaction synchronization support with `PlatformTransactionManager` for producers: https://github.com/spring-cloud/spring-cloud-stream-binder-rabbit/blob/master/spring-cloud-stream-binder

[2018-03-15 15:34] ryandawsonuk opened #1827 "Investigate graceful shutdown?"
It would be good to look more at https://github.com/SchweizerischeBundesbahnen/springboot-graceful-shutdown

Kubernetes defaults to a 30 second terminationGracePeriodSeconds when doing an upgrade. But not sure if this is enough. Ideally you want to know that any transactions in the pod have finished before killing it.

[2018-03-15 16:03] erdemedeiros opened #1828 "Audit event service should ignore unknown events"
Currently the service will loose all the events sent in the same group as an unknown event. The service should be updated in a such way that only the unknown event is ignored.

[2018-03-15 16:59] #1824 closed

[2018-03-15 23:49] grath10 commented on #1826
Thx for your reply. According to your reply, I'd like to switch to Activiti v7. Thx again!

[2018-03-15 23:49] #1826 closed

[2018-03-19 09:53] #1828 closed

[2018-03-19 10:05] #1720 closed

[2018-03-19 10:19] lucianoprea opened #1829 "Add Validation Endpoint for Organization Service"
A validation endpoint should be available from the organization service. Based on the model to be validated this endpoint will call the appropiate validator. For now we only have process-model service validation endpoint to be called inside organization.
Also an acceptance test should be created for this scenario.
- the first part is already done in this [PR](https://github.com/Activiti/activiti-c

[2018-03-19 13:05] erdemedeiros opened #1830 "Make sure that AlfrescoJackson2HttpMessageConverter is the only converter supporting application/json"
Current implementation (AlfrescoWebConfigurer) is only considering the default hal message converter, but we also need to take care of other converters.

[2018-03-19 16:03] ryandawsonuk commented on #1824
Note that the hosts file entry is currently necessary without an additional proxy in front of keycloak

[2018-03-19 16:07] ryandawsonuk opened #1832 "set security access restrictions via env variables"
One might expect ACTIVITI_CLOUD_SECURITY_USER_HRUSER_RB_MY_APP_POLICY_READ="process_pool1,ProcessWithVariables" to be equivalent to activiti.cloud.security.user.hruser.rb-my-app.policy.read=process_pool1,ProcessWithVariables in the application.properties. But it seems not. Need to check the relaxed binding as it might be the wrong format - https://stackoverflow.com/questions/31620916/spring-boot-h

[2018-03-19 16:42] ryandawsonuk commented on #1832
However, it does work if I take the hyphens out of the name of rb-my-app and use rbmyapp and RBMYAPP instead

[2018-03-19 16:59] ryandawsonuk commented on #1832
Actually it seems both work for runtime-bundle but not for query.

[2018-03-20 14:25] ryandawsonuk opened #1833 "Support wildcards in security policies"
e.g.
activiti.cloud.security.user.testuser.test-cmd-endpoint.policy.read=*

To mean all process defs under the test-cmd-endpoint app for user testuser

[2018-03-20 14:26] ryandawsonuk opened #1834 "Apply security policy checking to audit"
Would be enough if only wildcards are applicable to audit - see https://github.com/Activiti/Activiti/issues/1833 and https://github.com/Activiti/Activiti/issues/1493

[2018-03-21 07:47] constantin-ciobotaru commented on #1808
PRs: https://github.com/Activiti/example-runtime-bundle/pull/11 and https://github.com/Activiti/activiti-cloud-acceptance-tests/pull/8

[2018-03-21 12:01] #1825 closed

[2018-03-21 21:05] Salaboy commented on #1288
@willkzhou @gmalanga please let us know what is the plan for this one.

[2018-03-21 21:09] Salaboy commented on #1663
@constantin-ciobotaru question added to the PR, please get back to me in gitter.

[2018-03-21 21:09] Salaboy commented on #1570
@erdemedeiros @ffazzini what is the status of this one?

[2018-03-21 21:10] Salaboy commented on #1539
@ryandawsonuk @igdianov @erdemedeiros we need to fix this for beta1, any suggestions? can someone take the lead?

[2018-03-21 21:11] Salaboy commented on #1690
@ffazzini @lucianoprea any progress on this side?

[2018-03-21 21:11] Salaboy commented on #1688
@ffazzini @lucianoprea what is the current status of this? Did we manage to make progress?

[2018-03-21 21:12] Salaboy commented on #1789
fixed for now in develop by adding an ignore unknown events, but new events must be dealt with.

[2018-03-21 21:12] #1789 closed

[2018-03-21 21:14] Salaboy commented on #1669
I'm closing this, because it looks more like a question.
We need to look more into kubeless or lambdas and make sure that we make connectors as thin as possible.

[2018-03-21 21:14] #1669 closed

[2018-03-21 21:15] Salaboy commented on #1554
closing this, because I see a PR merged.

[2018-03-21 21:15] #1554 closed

[2018-03-22 06:53] constantin-ciobotaru commented on #1809
PRs: https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/45, https://github.com/Activiti/activiti-cloud-query-service/pull/27 and https://github.com/Activiti/activiti-cloud-acceptance-tests/pull/10

[2018-03-22 08:25] Salaboy commented on #1663
Merged in develop

[2018-03-22 08:25] #1663 closed

[2018-03-22 08:45] Salaboy commented on #1809
@mauriziovitale this is under review now.. when merged we will notify you

[2018-03-22 08:47] lucianoprea commented on #1688
@Salaboy no. I was focused on other issues.

[2018-03-22 08:57] ffazzini commented on #1570
In query we put controllers back to fix swagger, hal format is equivalent to RB so I believe query service is fine. Closing this.

[2018-03-22 08:57] #1570 closed

[2018-03-22 10:44] salaboy opened #1835 "New Java Process Runtime API"
The main objective is to separate the interfaces from the Engine and to express the new needs for Process Runtimes (in contrast with the engine).
We will also need to extract interfaces related to other things like Group and Identity resolution, so you don't need to depend on the engine just because you want to provide another implementation of these interfaces.

The Interfaces package will serve

[2018-03-22 10:50] Salaboy commented on #1811
This is related with the application service.. so we might move this one to beta2

[2018-03-22 10:52] Salaboy commented on #1808
@constantin-ciobotaru can we close this right? if this is still not solved open a new one to fix it, but both PRs are merged now

[2018-03-22 10:54] Salaboy commented on #1804
@erdemedeiros @mauriziovitale what is the status of this one?

[2018-03-22 10:55] Salaboy commented on #1806
@mteodori I triaged this one into the NEXT milestone, because I don't think that this is urgent or priority high for now.

[2018-03-22 10:56] Salaboy commented on #1799
@ryandawsonuk what is the status of this? It seems related with @igdianov issues, but not sure if we need this issue.

[2018-03-22 10:57] mteodori commented on #1806
@Salaboy ok for me, it was more for general backlog and I think it will take quite some time and testing

[2018-03-22 10:58] Salaboy commented on #1793
@ryandawsonuk this is something that we might want to do before final, but we need to make sure that we inject the application name instead of requiring the endpoints to consume it as a parameter.

[2018-03-22 11:00] Salaboy commented on #1791
👍 to separate IT tests into separate modules, that will also benefit our build and release pipelines.
Not sure if I want to get rid of docker-maven-plugin, that does much more than we are using and we can use to hook our projects into pipelines that goes from source to a deployment in kubernetes.

[2018-03-22 11:01] Salaboy commented on #1777
👍 Let's schedule this for after Beta1

[2018-03-22 11:02] Salaboy commented on #1772
This is about Error and Exception handling at the API level, so this should be done for Beta1

[2018-03-22 11:02] Salaboy commented on #1772
@ffazzini can you take the lead on this?

[2018-03-22 11:04] Salaboy commented on #1750
closing here, this needs to be tracked in DBP

[2018-03-22 11:04] #1750 closed

[2018-03-22 11:05] mauriziovitale commented on #1804
http://{{domain}}/rb-my-app/v1/tasks
[code]
Missing field:
**lastModified**

http://{{domain}}/query/v1/tasks
[code]
Missing field:
**createdDate**
**Priority** is a string and not a number

[2018-03-22 11:05] Salaboy commented on #1741
@mteodori @ryandawsonuk do we want to do this or not?

[2018-03-22 11:06] Salaboy commented on #1628
@constantin-ciobotaru is this done? I think so.. please close this issue.

[2018-03-22 11:09] mteodori commented on #1741
looks like the issue @ryandawsonuk had about it can be solved like this, https://github.com/docker/hub-feedback/issues/313#issuecomment-265843090

[2018-03-22 11:09] Salaboy commented on #1480
@repl-dan-selinger I would recommend to send a PR if you manage to fix this issue. So you don't need to maintain the fix.

[2018-03-22 11:10] Salaboy commented on #1697
closing due feedback not provided.

[2018-03-22 11:10] #1697 closed

[2018-03-22 11:13] Salaboy commented on #1822
not sure if we need a new repo.. but at least new jars.

[2018-03-22 11:16] Salaboy commented on #1557
New Runtime APIs should break all these dependency nightmares

[2018-03-22 11:18] Salaboy commented on #1466
This is low priority, we should focus on kubernetes only

[2018-03-22 11:20] salaboy opened #1836 "Application Service"
The purpose for the application service is to serve as glue to have a high level view of which logical applications are running as a set of services.

[2018-03-22 11:31] ryandawsonuk commented on #1793
I was thinking about the records created in query db as a result of consuming the event stream from rbs.

[2018-03-22 11:33] #1628 closed

[2018-03-22 11:35] ryandawsonuk commented on #1799
It is related but I don't think it is covered by any of the specific points on issue 1324

[2018-03-22 11:39] constantin-ciobotaru commented on #1616
This is done and merged.

[2018-03-22 11:39] #1616 closed

[2018-03-22 11:48] #1765 closed

[2018-03-22 12:00] Salaboy commented on #1780
@ffazzini can we move this guide to our gitbook?

[2018-03-22 12:09] Salaboy commented on #1529
not needed anymore.

[2018-03-22 12:09] #1529 closed

[2018-03-22 12:25] ffazzini commented on #1780
it is based on a DBP env..

[2018-03-22 15:07] mteodori commented on #1808
still not working on the deployed env, reopening

[2018-03-22 16:26] mauriziovitale commented on #1808
the model API works fine for the process definition of a type "ProcessWithVariables" but it doesn’t work if the instance is of type fixSystemFailure.

The latest one is a process that contains a subprocess.
https://github.com/Activiti/example-runtime-bundle/blob/develop/src/main/resources/processes/SubProcessTest.fixSystemFailureProcess.bpmn20.xml

[2018-03-22 16:49] mauriziovitale opened #1837 "The Process Definition Model API with Conten-Type image/svg+xml doesn't return the SVG"
http://{{domain}}/rb-my-app/v1/process-definitions/{processDefinitionId}/model
  -H 'Content-Type: image/svg+xml'

return always the JSON response
[code]
instead it should return the svg like the process instance API
<img width="534" alt="screen shot 2018-03-22 at 16 48 17" src="https://user-images.githubusercontent.com/14923305/37784954-da849620-2df0-11e8-936c-a3e6c365435b.png">

[2018-03-23 09:57] mteodori opened #1838 "Add temporary dependency check exclusion for CVE-2018-7489"
Add temporary dependency check exclusion for CVE-2018-7489 until https://github.com/FasterXML/jackson-databind/issues/1931 is released in 2.9.5

- [x] develop
- [x] 5.x
- [x] 6.x

[2018-03-23 12:46] ryandawsonuk opened #1839 "Show how to use Activiti Cloud Query with custom data"
Let’s say you have an Account Opening use-case. Imagine that only premium customers are allowed more than one account and the customer system owns that data. Then you might have BPMN like:

[accountOpening.bpmn20.xml.zip](https://github.com/Activiti/Activiti/files/1841528/accountOpening.bpmn20.xml.zip)

![image](https://user-images.githubusercontent.com/22754674/37829761-46d6517c-2e98-11e8-9a03-99

[2018-03-25 10:50] bsideup commented on #1791
Hi @mteodori @Salaboy,

I'm a remember of Testcontainers project and happy to help you / answer questions if you consider it :)

@Salaboy I would love to know what docker-maven-plugin could offer (for testing) over TC, probably we can align our features set? :)

Personally, I prefer to use TC-like frameworks instead of Maven/Gradle plugins to keep it possible to run the tests from IDE (and motivat

[2018-03-25 17:07] Salaboy commented on #1791
@bsideup sounds like a great idea. Let's try to collaborate.
originally the docker-maven-plugin offer a great flexibility in triggering maven goals related with creating docker images and even also deploying to kubernetes (creating deployments descriptors).
This makes a lot of sense when you plan to trigger a pipeline that takes your repo from source (java) to a container running in kubernetes wra

[2018-03-25 17:26] bsideup commented on #1791
@Salaboy
I know a few projects where docker-maven-plugin is used for the deployment/image building and Testcontainers for testing.

We keep k8s, building and orchestrating out of a scope of Testcontainers to focus on integration testing scenarios, like:
- Real MySQL/PostgreSQL/etc in containers (can be as simple as providing a special JDBC-url)
- Kafka/Redis/RabbitMQ and other NoSQL databases
- Se

[2018-03-25 17:43] Salaboy commented on #1791
👍
That's exactly my point of view and looking at your gitbook it makes a lot of sense.

[2018-03-26 09:08] #1838 closed

[2018-03-26 12:00] ryandawsonuk commented on #1832
After adding the /actuator/configprops endpoint by setting management.endpoints.web.exposure.include=* then I can see that it does set the properties correctly for both RB and Query.

Set RB using:
ACTIVITI_CLOUD_SECURITY_USER_HRUSER_RBMYAPP_POLICY_READ=SimpleProcess
And Query using:
ACTIVITI_CLOUD_SECURITY_USER_HRUSER_RBMYAPP_POLICY_WRITE=SimpleProcess

The problem is rather that the relaxed bind

[2018-03-26 12:22] erdemedeiros opened #1842 "REST API should not use commands as body content"
When calling a REST endpoint the user shouldn't need to worry that's ca command. For instance, to start a process instance `v1/process-instances` the field `commandType` should not be necessary.
Change request body from
[code]
to
[code]

[2018-03-26 15:58] ryandawsonuk commented on #1832
Managed to also get the matching to disregard hyphens.

[2018-03-26 15:59] #1832 closed

[2018-03-27 06:49] constantin-ciobotaru commented on #1808
The second issue found for the "fixSystemFailure" process is different than the first one and appears because the the process doesn't have graphic info stored in xml file. Accordingly with discussions with @Salaboy and @mteodori, I've fixed it by returning a default SVG image when there is no graphic info available for the process.

[2018-03-27 06:50] constantin-ciobotaru commented on #1808
PR for the second issue: https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/51

[2018-03-27 09:39] ryandawsonuk opened #1843 "create dedidated admin users so permissions easier to follow"
Also switch apps from defaulting everyone as admin to only admins as admins - currently they set 'user' as the admin role so change to 'admin'

[2018-03-27 09:40] daisuke-yoshimoto commented on #1030
This issue can be closed by merging the pull request https://github.com/Activiti/Activiti/pull/1831.

[2018-03-27 09:51] #1843 closed

[2018-03-27 09:57] ryandawsonuk commented on #1843
This was the keycloak change - https://github.com/Alfresco/alfresco-keycloak-deployment/pull/17

[2018-03-27 12:06] ryandawsonuk opened #1844 "admin 'all' endpoints for process instance and process def"
The doc linked from https://github.com/Activiti/Activiti/issues/1493 says there will be admin endpoints to list all proc defs and all proc instances but there currently aren't. Here's why we should add them.

If you define access-control policies then any user not under the policy won't see data. So there's a rule restricting a particular process definition to bob then nobody else will see any pro

[2018-03-27 13:13] #1844 closed

[2018-03-28 12:22] mteodori commented on #1685
agree with @balsarori, we should check what happens with war projects that should have that dependency coming from the container so it might be necessary to set it as provided only in that case