[2018-11-09 09:42] salaboy opened #2138 "ProcessRuntime autodeploy process behaviour too aggressive"
The current behaviour of the Activiti Spring configuration is to automatically deploy the process definitions located inside the /processes/ directory. This behaviour works well when all the process definitions are valid, but if a single process has any parsing problems (standard xml schema validation) the whole runtime fail to start.

The expected behaviour should be:
- Log and expose (actuator)

[2018-11-09 10:33] #2104 closed

[2018-11-09 10:43] erdemedeiros opened #2139 "Missing properties on SEQUENCE_FLOW_TAKEN event"
Some properties, including `processInstanceId` are missing for sequenceFlowTaken event:

[code]

Compare to

[code]

[2018-11-09 13:24] erdemedeiros opened #2140 "Processes are not deployed when running tests and processes are located on src/main/resources"
Processes located under `src/main/resources/processes` are not deployed, processes located under `src/test/resources/processes` are.

[2018-11-09 13:34] salaboy opened #2142 "Add sequence to Events emitted by Runtime Bundle"
Each event sent by the Runtime Bundle should include a sequence number which helps to identify the order of the event inside the transaction. Each event is providing a timestamp, but this is not enough to understand which event happened first from the consumer side (ie audit, query).

[2018-11-09 14:49] #2103 closed

[2018-11-09 14:50] #2093 closed

[2018-11-09 14:51] #2082 closed

[2018-11-09 14:57] #1991 closed

[2018-11-09 15:42] salaboy commented on #1952
@lucianoprea this was tested with beta3 pre released artifacts and the problem seems to be in query not reflecting this information. I guess that there is a PR missing in query to apply the name based on the events information.

[2018-11-09 15:49] igdianov opened #2143 "Coupling JPA Entity model schema with Jackson"
Query service JPA entities model uses @JsonIgnore annotation on association attributes to restrict serialization of the associated data in REST Query Api. However, this couples JPA entity model with Jackson and limits the use of entity model objects serialization into Json for other use cases.

It would be best practice to avoid such hard coupling by removing Jackson annotations from JPA entity mo

[2018-11-09 18:07] ryandawsonuk opened #2144 "variable event visibility for copied task vars"
offshoot of https://github.com/Activiti/Activiti/issues/2104

ended up having to take out this part of test - https://github.com/Activiti/activiti-cloud-acceptance-tests/commit/3415679f30a329b6d66dd472739a80698bdd1626#diff-93f52a851ac32ca6775085ead75617d8L112

testuser starts a process that leads to task being created for testuser and hruser

Both see their own copies of the task variables. But on

[2018-11-11 02:26] proth1 opened #2145 "Gitbook"

[2018-11-11 02:27] proth1 opened #2146 "1st page of Gitbook has a link to "Edit on Github" which is broken resulting in 404"

[2018-11-12 09:06] erdemedeiros opened #2147 "Update process instance properties via API"
The new api should allow update of following properties for a process instance:
- name
- business key

[2018-11-12 09:14] ryandawsonuk commented on #2074
FYI, I'm now working on providing a way to serialize to json without needing the type of the variable object to be JsonNode - work ongoing under https://github.com/Activiti/Activiti/commits/balsarori-2049-process-vars-extension for https://github.com/Activiti/Activiti/issues/2049

[2018-11-12 09:19] ryandawsonuk commented on #2010
It seems to me that we can close this issue and address any remaining concerns under https://github.com/Activiti/Activiti/issues/2074 - does anyone think we need to keep this open?

[2018-11-12 09:20] #2010 closed

[2018-11-12 11:02] ryandawsonuk opened #2148 "filtering by instance id and event type in audit"
The acceptance tests call an endpoint that is meant to filter by process instance id and event type:

https://github.com/Activiti/activiti-cloud-acceptance-tests/commit/3415679f30a329b6d66dd472739a80698bdd1626#diff-66367d62043d244a38d6b955c22d2bd3R144

But with more data present I found I had to add an extra in-memory filter as it was returning non-matching data:

https://github.com/Activiti/activ

[2018-11-12 11:04] erdemedeiros opened #2149 "Make process definitions available in query"
Currently it's not possible to retrieve process definitions from query as events related to process deployment are not being sent by the runtime bundle.

[ ] send event from runtime bundle
[ ] handle event in query
[ ] handle event in audit
[ ] write acceptance test

[2018-11-12 11:12] erdemedeiros opened #2150 "Add admin suspend process endpoint"
Make suspend process endpoint available for admin API

`POST admin/v1/process-instances/{processInstanceId}/suspend`

[2018-11-12 11:14] erdemedeiros opened #2151 "Add admin resume process endpoint"
Make resume process endpoint available for admin API

`POST /admin/v1/process-instances/{processInstanceId}/resume`

[2018-11-12 11:29] mkawczynski07 opened #2152 "[Activiti7] How to proper resume receiveTask?"
Hi.

I used **receiveTask** to wait for some response from other parts of our application. I found in the documentation of previous activiti version example how to resume **receiveTask**:

[code]

Bu in the current version we don't have the **signal** method. How can I do this in activiti 7? I tried taskRuntime.complete, processRuntime.resume without success.

[2018-11-12 14:06] #1978 closed

[2018-11-12 15:47] miguelruizdev opened #2153 "Missing property in VARIABLE_CREATED event"
The field `entityId` is missing in the VARIABLE_CREATED event, hence the events cannot be associated with the process definition it belongs to:
[code]
The fixing of this issue should go along the lines of [this other one](https://github.com/Activiti/Activiti/issues/2139)

[2018-11-12 16:26] #2140 closed, assigned to erdemedeiros

[2018-11-12 16:56] salaboy commented on #2144
@ryandawsonuk we need to follow up on this one.. because I don't even know what needs to be done for this one.

[2018-11-12 18:15] ryandawsonuk commented on #2118
Happy to track this but I think it's @balsarori that will be working on it

[2018-11-12 18:31] mkawczynski07 commented on #2009
@salaboy we integrated jhipster uaa with activiti.

First, we have to implement **UserGroupManager**
[code]

**UserService** is a simple service that accesses uaa through faign client.
Right now we don't have time to create user groups so we basically based on authorities prefix. Our quick win. :)
[code]

Second, we have to implement **SecurityManager**:

[code]

At last, we would like to provide

[2018-11-13 06:02] igdianov opened #2154 "It would be useful to have hashCode(), equals() and toString() methods in events"
so that, the event instance objects can be compared, cached and debugged in logs

[2018-11-13 08:10] erdemedeiros opened #2155 "Remove `consumes` property from ProcessInstanceController.getProcessDiagram"
Currently this method has the following property `consumes = "image/svg+xml"`. However it's a `GET` method so it's not consuming anything. This should be removed.

[2018-11-13 08:13] erdemedeiros commented on #2155
This may impact @mauriziovitale that might be using `CONTENT-TYPE` header.

[2018-11-13 08:17] salaboy commented on #2009
@mkawczynski07 you rock guys! Are you willing to contribute that back to the project? Today, that means to create a couple maven module with your classes here:
https://github.com/activiti/activiti-cloud-service-common

You will see that we have a module for security and another for identity.

I'm not so sure that this is the best approach:
[code]
But it will do the work for sure. I am happy to rev

[2018-11-13 08:17] salaboy commented on #2009
@mkawczynski07 also.. if you contribute that back before the end of Nov .. there are a lot of chances to get it in for Beta4

[2018-11-13 08:33] salaboy commented on #2154
@igdianov I am on it.. if you look here: https://github.com/Activiti/activiti-api/pull/36/files

[2018-11-13 08:36] salaboy commented on #2152
@mkawczynski07 is this not working: https://github.com/Activiti/activiti-api/blob/develop/activiti-api-process-runtime/src/main/java/org/activiti/api/process/runtime/ProcessRuntime.java#L109 ?

I would recommend to use the new ProcessRuntime & TaskRuntime interfaces from the new API instead of using the old Services. Moving forward we will support the new API to make sure that there is a clear sep

[2018-11-13 08:36] salaboy commented on #2152
@mkawczynski07 more information here: https://salaboy.com/2018/08/13/getting-started-with-activiti-core-7-0-0-beta1/

[2018-11-13 08:45] salaboy commented on #2145
@proth1 come on.. this is not even an issue :)

[2018-11-13 08:45] #2145 closed

[2018-11-13 08:57] mkawczynski07 commented on #2152
@salaboy **signal** method from process runtime doesn't work.

[2018-11-13 09:03] salaboy commented on #2152
@mkawczynski07 can we create a simple reproducer.. for example: https://github.com/Activiti/activiti-examples/tree/develop/activiti-api-basic-full-example
If you copy that project , add a similar process to the one that you have to demonstrate the problem while calling signal, we can make sure to fix that.

We are currently covering UserTasks, ServiceTasks, Start/End events and Gateways , but I am

[2018-11-13 09:13] igdianov commented on #2100
Let's try step by step in Jenkins-X cluster with PROW enabled:

1) importing a single microservice and make sure that we can build and release the chart in GitHub pages
2) see if we can automate the acceptance tests against that single microservice
3) add one more microservice and see if we can create the aggregator chart to be updated by each chart release

[2018-11-13 09:50] ryandawsonuk commented on #2009
@mkawczynski07 thanks for sharing your solution so clearly. As @salaboy suggests, it would be great to capture that as a module for uaa in [cloud service common](https://github.com/activiti/activiti-cloud-service-common) so that we can provide it out of the box and the activiti community can support and build on it. If you can contribute do feel free to [chat with us](https://gitter.im/Activiti/Ac

[2018-11-13 23:51] cmaslen commented on #2146
It's more than just the Edit on Github link. It's the entire navigation bar. The README.md files are coming up as navigable items making it very frustrating trying to read and find my way around the (very much incomplete) content.

[2018-11-14 04:42] igdianov opened #2157 "It would be nice to auto-merge pull requests initiated by updatebot from Jenkins pipelines"
so, that developers don't have to wait for manual review to merge `updatebot` pull requests into release branch, i.e. https://github.com/Activiti/activiti-cloud-api/pull/26 that will need to propagate into activiti-cloud-dependencies.

There is a useful Github app called https://mergify.io. We can just signup and authorize mergify.io to babysit pull requests for subscribed repositories:

![image](

[2018-11-14 06:56] almerico commented on #2151
depend on Activiti/Activiti#2148

[2018-11-14 08:37] Shaun-Yao commented on #2123
Thanks for the reply! getProcessInstanceComments is work for historicProcessInstanceId.
taskService.getProcessInstanceComments(historicProcessInstanceId);

[2018-11-14 08:37] #2123 closed

[2018-11-14 08:58] Shaun-Yao opened #2158 "spring @Transactional is not work when throw the ActivitiException"
[code]

If no variable is set，it will throw ActivitiException: Unknown property used in expression: ${repairer}.
throw exception is correct, but the transaction has not rolled back,  repairRepository save successfully.

[2018-11-14 09:05] #2126 closed

[2018-11-14 09:06] salaboy commented on #2158
@Shaun-Yao can you please share which version if Activiti are you using? Also, are you @Autowiring the RuntimeService? Which version of Spring / Spring Boot are you using?

[2018-11-14 09:08] salaboy commented on #2157
@igdianov let's target this for our example repos (example-runtime-bundle, activiti-cloud-query, activiti-cloud-audit, example-cloud-connector) and then we move it up to our libraries.

[2018-11-14 09:11] Shaun-Yao commented on #2158
@salaboy I am using spring boot v2.0.6, activiti v6.0.0, i have autowired runtimeService.
[code]

[2018-11-14 09:14] salaboy commented on #2158
@Shaun-Yao we are discussing to fix this in 7 by default due the Spring Integration is getting better and better with the new Runtime APIs. In Activiti 6 I think that you need to wire the transactions handled by the engine with the Spring transaction as mentioned in the documentation: https://www.activiti.org/userguide/#_transactions

[2018-11-14 09:14] #2158 closed

[2018-11-14 09:15] salaboy commented on #2158
I will close this issue now, but if you still find problems after following the docs let us know

[2018-11-14 09:17] Shaun-Yao commented on #2158
@salaboy Thanks, i got it.

[2018-11-14 09:20] #2150 closed

[2018-11-14 09:54] salaboy opened #2159 "Move to Ascii Doc documentation colocated to each source code repo"
Gitbook is not working as we wanted to initially. The documentation gets out dated really fast and the organisation of the docs is not easy. The sync mechanism for publishing fails and we want to make sure that we add our docs as part of our release process.

Using Ascii Doc and maven plugins to generate and aggregate the documentation seems to be the popular option for large open source projects

[2018-11-14 11:00] yizhongwei opened #2160 "About subtenant deployment"
Excuse me, would you please tell me how I need the current demand and depots, need only when you start the process incoming tenantId, a distinction logic, but the use of springboot start automatically deployment process, when I start the process runtimeService. StartProcessInstanceByKeyAndTenantId error often () will be
Org. Activiti. Engine. ActivitiObjectNotFoundException: not for tenant identif

[2018-11-14 11:17] salaboy commented on #2149
some other notes that might be relevant at this point:
1) We shouldn't use Engine events, we can use Spring Boot events to wait for the application to start to send the events
2) we should send in the events the application name and metadata so other services such as query can check if they have information about this app already
3) on the producer side we should add the timestamp for the event wh

[2018-11-14 13:29] salaboy commented on #2160
@yizhongwei hi there.. this questions sounds like Activiti 6 related, are you using Activiti 6?
Can you create a simple reproducer to reproduce the error that you are facing?

Also try to clarify if you always get the same exception or it is something intermittent.

[2018-11-14 14:27] LukasKraushofer opened #2161 "delegateExpression fields are not cleared"
Hi, I run across a strange behaviour of delegateExpressions...

If I take your ```ServiceTaskFieldInjectionTest``` example and edit the ```ServiceTaskFieldInjectionTest.testDelegateExpressionWithPrototypeBean.bpmn20.xml``` slightly so I have multiple ```<serviceTask>``` elements and each uses "the same" delegateExpression, **but** does not set every field I get the Expression value for the field o

[2018-11-14 14:37] erdemedeiros commented on #2157
@igdianov in the configuration could you use `squash` method instead of `merge`?

[2018-11-14 15:06] salaboy commented on #2161
@balsarori do you know if this has been fixed in 5.23?

[2018-11-14 15:15] LukasKraushofer commented on #2161
ok, it seems like my spring bean with scope prototype wont be recreated and is used as a singleton, that could explain the problem.
maybe there is something wrong in my test configuration, I'll check
I didn't know there's a version 5.23

[2018-11-15 02:33] yizhongwei commented on #2160
Yes, Activiti6.
`@Service
public class ProcessServiceImpl implements ProcessService {
    @Autowired
    private RuntimeService runtimeService;

    /**
     * 开启审核流程
     */
    @Override
    public void startProcess(StartProcessParam startProcessParam, String tenantId) {
        String processDefinitionKey="demo";
        String tenantId="27";
        ProcessInstance processInstance = runtimeSer

[2018-11-15 04:48] igdianov commented on #2157
@salaboy I have created pull requests for the following part of CI/CD pipelines. I only enabled TravisCI status checks, because it seems that Jenkins-X pipelines are not being triggered for pull requests in these repositories:

![image](https://user-images.githubusercontent.com/20428629/48530742-faa45680-e84d-11e8-855e-a7b03b43c707.png)

[2018-11-15 05:12] igdianov opened #2163 "Process status is not updated to COMPLETED in Cloud Query database"
when the process instance is completed in Runtime Bundle app.

Activiti Cloud Version: 7.0.0.Beta3

The log is attached

[code]

[2018-11-15 05:17] igdianov opened #2164 "Process variables added to the task level in Cloud Query database"
makes the variable appear twice on the process scope level :

Activiti Cloud Version: 7.0.0.Beta3

[code]

[2018-11-15 06:44] yizhongwei commented on #2160
Or spring boot booting, automatic deployment, how to set up tenantId?Thank you for

[2018-11-15 09:21] salaboy commented on #2161
@LukasKraushofer let's check with @balsarori who has been working on that.

[2018-11-15 09:23] salaboy commented on #2163
@igdianov :+1 I am assigning @CTI777 as candidate, I think that this is a very well scoped task to solve.

[2018-11-15 09:23] salaboy commented on #2164
@igdianov :+1 I am assigning @CTI777 as candidate, I think that this is a very well scoped task to solve.

[2018-11-15 09:54] balsarori commented on #2161
@LukasKraushofer
Field Injection for delegate expressions isn't thread safe see -> https://www.activiti.org/userguide/#serviceTaskFieldInjectionThreadSafety

And there isn't a 5.23 release yet.

[2018-11-15 10:56] erdemedeiros opened #2165 "EntityId is set to the wrong value on cloud events"
The method [CloudRuntimeEvent.getEntityId](https://github.com/Activiti/activiti-cloud-api/blob/develop/activiti-cloud-api-model-shared/src/main/java/org/activiti/cloud/api/model/shared/events/CloudRuntimeEvent.java#L35) should always be a shortcut to `RuntimeEvent.getEntity().getId()`. So it should always be set with the value `entity.getId()`.

It's wrong set with `processInstanceId` in the follo

[2018-11-15 12:52] salaboy commented on #2099
Initial work done. I will create another more specific issue for tracking further work required on this front.

[2018-11-15 12:52] #2099 closed

[2018-11-15 12:58] salaboy opened #2166 "Acceptance Tests Scenarios ReOrganization and Definition"
Current all Acceptance Tests scenarios are not using Core Libraries Building Blocks (Operations + Assertions), we need to add more building blocks and refactor these scenarios.
Pending work:
- Decouple Runtime Acceptance Tests scenarios from modelling
- Refactor Current steps to be generic enough to be consumed by different scenarios
- Define a common structure for creating scenarios, both in test

[2018-11-15 13:41] erdemedeiros commented on #2164
@igdianov is this the response when you call `GET {{gateway}}/query/v1/process-instances/{processInstanceId}` endpoint?
I'm surprised to find tasks and variables at this level. I thought that embedded objects where not retrieved.

[2018-11-15 17:55] igdianov opened #2167 "Enable single pull request merge for updatebot configurations in activiti-dependencies repository"
So, that we can validate and enforce consistent versions across upstream modules in CI/CD pipelines for automated PR merge with Mergify.io

We will need to ensure same versions for `activiti-build` and `activiti-core-common` and `activiti-api` using Maven enforcer

We need to check that Jenkins-X uses Maven builder image with updatebot v1.1.27+ and update .updatebot.yml in each upstream repository

[2018-11-16 03:37] jessin20161124 opened #2168 "history process instance data not found"
We ever complete the process instance and the relative data exists in database. But now we find that the data automatically disappear in the database.

[2018-11-16 04:21] daisuke-yoshimoto commented on #2168
@jessin20161124
If you set history level none, history data doesn't exists in db.
https://www.activiti.org/userguide/#historyConfiguration
https://www.activiti.org/userguide/#historyConfig

[2018-11-16 07:09] Shaun-Yao commented on #2158
@salaboy I have tried to init the SpringProcessEngineConfiguration bean, But there are some problems here.
Caused by: java.lang.IllegalStateException: No 'targetDataSource' set
	at org.springframework.util.Assert.state(Assert.java:73) ~[spring-core-5.0.10.RELEASE.jar:5.0.10.RELEASE]
	at org.springframework.jdbc.datasource.DelegatingDataSource.obtainTargetDataSource(DelegatingDataSource.java:84) ~[

[2018-11-16 10:06] salaboy commented on #2168
@jessin20161124 can you please clarify which version are you using?

[2018-11-16 10:32] salaboy commented on #2158
@Shaun-Yao what is the value of:
[code]
is that different from null?

[2018-11-16 10:38] salaboy commented on #2157
@igdianov I am closing this because we merged all the PRs

[2018-11-16 10:38] #2157 closed

[2018-11-16 15:04] jessin20161124 commented on #2168
The activiti version is 5.17.0

[2018-11-16 15:05] jessin20161124 commented on #2168
And The log history level is full

[2018-11-16 15:29] jessin20161124 commented on #2168
Does the version 5.17.0 has bugs?

[2018-11-16 15:39] salaboy commented on #2168
@jessin20161124 well if there is a version 5.22 that means that bugs were fixed between 5.17 to 22

[2018-11-16 15:50] jessin20161124 opened #2170 "There are several service tasks marked as async in an execution of an exclusive gateway, but I find that this execution generates two pool task."
There are several service tasks marked as async in an execution of an exclusive gateway, but I find that this execution generates two pool task.
The activiti version is 5.17.0.

[2018-11-17 19:00] abdotalaat commented on #2155
@CTI777  are you currently working in this issue?

[2018-11-17 19:42] CTI777 commented on #2155
I have just removed this property, because it was assigned to me:
https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/150
I think you may do any other changes if needed...

[2018-11-18 09:49] salaboy commented on #2167
Yep it make sense.. so activiti-dependencies will have no parent. And yes, we should only propagate after release.

I am asumming that with the enforcer, activiti-dependencies will be only valid as soon as all the deps align, am i right?

[2018-11-18 16:09] ryandawsonuk commented on #1847
To reproduce this issue try submitting a GET request to one of the endpoints in runtime bundle, query or audit for which there is no record corresponding to the submitted id. The response body should be formatted according to the content type rather than returning plain text.

[2018-11-18 16:12] ryandawsonuk commented on #1847
To reproduce this issue try submitting a GET request to one of the endpoints in runtime bundle, query or audit for which there is no record corresponding to the submitted id. The response body should be formatted according to the content type rather than returning plain text.

In fixing this we could add tests to or alter existing tests in runtime-bundle-service, query-service and audit-service.

[2018-11-18 18:13] igdianov commented on #2167
@Salaboy That's right. You can simply checkout activiti-dependencies PR, try to change current versions in properties and run mvn install. The build will fail if versions don't align. I will also need help from you  to remove activiti-parent from activiti-dependencies.

I will realign activiti-dependencies updatebot with cloud dependencies then.

[2018-11-18 19:50] igdianov commented on #2167
@salaboy I also think that we need to move updatebot push into activiti-cloud-build from activiti-build into activiti-dependencies: https://github.com/Activiti/activiti-build/blob/23a6f3d06d994db7a1ba9ab980b27fb575157c03/.updatebot.yml#L11

I propose to add activiti-build-dependencies module with activiti-build parent as dependency into activiti-dependencies aggregator pom to enable updatebot push

[2018-11-18 20:12] igdianov commented on #2167
@salaboy These are PRs to review and test:

https://github.com/Activiti/activiti-build/pull/41
https://github.com/Activiti/activiti-api/pull/45
https://github.com/Activiti/activiti-core-common/pull/16
https://github.com/Activiti/activiti-dependencies/pull/66

Pending issue https://github.com/Activiti/activiti-dependencies/issues/68 to fix as part of https://github.com/Activiti/activiti-dependencie

[2018-11-18 21:16] igdianov opened #2171 "Activiti/Activiti build fails intermittently in Jenkins-X pipelines"
Let's troubleshoot to resolve the issue to be able to run automated pull request merges by https://github.com/Activiti/Activiti/issues/2167

@salaboy Please, post the failed test log output here with failed unit tests here for analysis...

[2018-11-18 21:29] igdianov opened #2172 "Review Maven Deploy plugin configuration for multi-module projects"
It is best practice in multi-module Maven projects to deploy artifacts at the the end of the successful reactor build, so that if any of the module builds fail, none of the reactor projects is deployed.

In Jenkins-X release pipelines, the multi-module artifacts are deployed into activiti-releases Nexus repository. The `<deployAtEnd>` configuration  will ensure that deployment is done atomically s

[2018-11-19 08:29] salaboy commented on #2171
This is the usual suspect...

It is a time out.. so it might be a race condition that we can easily get rid off
[code]

and

[code]

[2018-11-19 09:29] ffazzini opened #2173 "Application Data cleanup"
As an admin
I want to delete application data
So that I am able to use the same application again with no history

A new admin endpoint would be called to perform this solution.

Benefits:

1. For testing, a user won't need to create a new application.

2. It would be possible to migrate old data to a different source before deleting.

[2018-11-19 10:39] salaboy commented on #2149
@erdemedeiros I think that we need to add to this issue that this endpoint should be enabled in the user and admin APIs of Query.

[2018-11-19 10:43] erdemedeiros commented on #2149
@salaboy I updated the description accordingly.

[2018-11-19 11:50] salaboy commented on #2172
@igdianov should we add this everywhere? Should we start at the Activiti Core level?

[2018-11-19 12:02] salaboy commented on #2167
@igdianov ok.. so PR is up.. the project builds correctly without the parent, because we were not using that relationship in any way.. https://github.com/Activiti/activiti-dependencies/pull/70
Let's do a quick call to start testing & merging all these PRs. Ping me in Gitter when you have time.

[2018-11-19 12:04] ryandawsonuk commented on #1769
Moving this back to beta5. We only moved forward to beta4 because we thought we needed it for https://github.com/Activiti/Activiti/issues/2049 but it seems we don't

[2018-11-19 14:33] almerico commented on #2100
@salaboy Looks like 1,3,4  is working but 2 need clarification.

[2018-11-19 15:49] erdemedeiros opened #2175 "Missing id for BPMNElement"
[BPMNElement](https://github.com/Activiti/activiti-api/blob/develop/activiti-api-process-model/src/main/java/org/activiti/api/process/model/BPMNElement.java) should provide a `getId()` method.

The value should be set in the related converters:
- [ToSequenceFlowTakenConverter](https://github.com/Activiti/Activiti/blob/develop/activiti-api-impl/activiti-api-process-runtime-impl/src/main/java/org/ac

[2018-11-19 15:54] erdemedeiros commented on #2175
Blocks https://github.com/Activiti/Activiti/issues/2165

[2018-11-19 17:29] mteodori opened #2177 "Rename applications in modeling to projects"
In order to keep the analogy between the modeling app and an IDE and avoid any ambiguity with applications at runtime, applications in modeling should be renamed to projects.

As such:
* the application model type should be renamed to project
* the applications API URLs should be renamed to projects
* the application.json file in import/export should be renamed to project.json
* modeling acceptanc

[2018-11-20 08:09] LukasKraushofer commented on #2161
After my investigation I found out that our `JavaDelegates` are written into a map and that map is used by Alfresco, that explains why the prototype beans are not recreated and that could explain why reused Expression Fields are not cleared and are holding the values of the last serviceTask with the same delegateExpression.

I would say you can close this Issue.

**but** I'm not sure if I correctl

[2018-11-20 08:39] salaboy commented on #2161
@balsarori ^

@LukasKraushofer can you share the link to where is that consumed in your tests? When you say 'is used by Alfresco' what do you mean exactly? which class so I can take a look as well to confirm.

[2018-11-20 08:40] salaboy commented on #2177
@mteodori who is assigned to this issue? I wouldn't add it to beta4 unless we have someone working on this right now.

[2018-11-20 08:42] salaboy commented on #2177
I would propose the name **ProjectBundle** for Java classes and models such as the one contained inside the project.json file. We can keep /projects/ as endpoint.
I've come to the conclusion that Project itself also gets confusing because you will tend to map one project with one application (at runtime) and that will confuse people, due the fact that the architecture was designed to support N to

[2018-11-20 08:43] salaboy commented on #2177
@mteodori also this module needs to be renamed: https://github.com/Activiti/Activiti/tree/develop/activiti-spring-app-process
Let's make sure that we don't leave inconsistencies all over the place please.

[2018-11-20 09:39] xingjl6280 opened #2181 "How to call back execution"
Hi team,

There are many scenarios a user regret his submission, and he should have a chance to call back his submission if the current task is still active.

I tried a lot to find related questions or articles but got nothing.

We tried to manipulating the bpm flow of the instance by adding identical node and sequence, but it's really complicated and not that straightforward.
Especially, when usi

[2018-11-20 11:17] LukasKraushofer commented on #2161
@salaboy i suppose you know Alfresco

As you can see in the [Alfresco activiti-context.xml](https://github.com/Alfresco/alfresco-repository/blob/master/src/main/resources/alfresco/activiti-context.xml#L75) the bean `activitiProcessEngineConfiguration` extends from `ProcessEngineConfigurationImpl` and from my understanding only beans contained in its `beans` property gets populated and will be usab

[2018-11-20 11:18] salaboy commented on #2175
@CTI777 To make this issue more explicit, we need to move one level up the method getElementId() from BPMNActivity to BPMNElement, so SequenceFlow can also have the getElementId() method.

[2018-11-20 11:56] salaboy commented on #2161
@LukasKraushofer I know what Alfresco is but it means different things for different people.. so without that context that you provided now it was difficult to know for sure.

Regarding
[code]

yes.. in that case you have singleton Delegates, because you are adding them into a map.. and then yes you will need to syncronize them for concurrency. But that is the Alfresco Content repository integrati

[2018-11-20 12:06] salaboy commented on #2177
moving to beta5 until we have someone working on it.

[2018-11-20 12:07] erdemedeiros opened #2182 "Add missing admin endpoints"
Query
- [x] `GET admin/v1/process-definitions`: https://github.com/Activiti/Activiti/issues/2149
- [x] `GET admin/v1/process-instances`
- [x] `GET admin/v1/tasks`
- [x] `GET admin/v1/tasks?parentTaskId={parentTaskId}`  (subtasks)
- [x] `GET admin/v1/tasks/{taskId}`
- [ ] `GET admin/v1/process-instances/${id}/model` https://github.com/Activiti/Activiti/issues/2389
- [x] `GET admin/v1/process-instan

[2018-11-20 12:08] salaboy commented on #2181
@xingjl6280 hi there, we usually use this issues to report issues with the current code not about questions. Also it is really important for us to understand which version of Activiti are you using, without that is really difficult to help. For questions, we recommend the user forums: https://community.alfresco.com/community/bpm

[2018-11-20 12:08] #2181 closed

[2018-11-20 12:16] balsarori commented on #2161
@LukasKraushofer does your beans have shared state? If not then I guess is safe to use them as Java delegates without having to synchronize

[2018-11-20 12:38] LukasKraushofer commented on #2161
@balsarori my JavaDelegates are like the `SingletonDelegateExpressionBean`.
They used to have `Expression` properties, but I removed them and would now read the field expressions with `DelegateHelper#getFieldExpression`.
The delegate itself doesnt have a shared state, just reads the expression fields and than calling a service

e.g.
[code]

[2018-11-20 12:51] balsarori commented on #2161
@LukasKraushofer using ``DelegateHelper.getFieldExpression`` is a better approach than injecting fields directly to the Java delegate bean and should be thread safe.

[2018-11-20 13:02] LukasKraushofer commented on #2161
@balsarori that's the reason I'm now using `DelegateHelper.getFieldExpression` ;)
Without instance properties inside the `JavaDelegate` and by reading field expressions with the `DelegateHelper` class inside my `execute` method there should be nothing to worry about and it should be thread-safe, shouldn't it?

[2018-11-20 13:05] balsarori commented on #2161
@LukasKraushofer we are using it in APS and we didn't have face concurrency issues.

[2018-11-20 13:16] LukasKraushofer commented on #2161
@balsarori good to hear
@all thanks for your help!

[2018-11-20 13:56] xingjl6280 commented on #2181
understood, i will post questions there. thank you very much

[2018-11-20 14:54] #2167 closed

[2018-11-20 15:35] #2102 closed

[2018-11-20 16:49] ryandawsonuk opened #2184 "Handling expressions for json variables"
We're making it easier to work with json vars under https://github.com/Activiti/Activiti/issues/2049

However, it can still be tricky to work with json vars in expressions. Exactly how tricky depends on how the variable is stored in the first place - as JsonNode, LinkedHashMap or a custom POJO.

A custom POJO is easy. Then you can use the structure and methods of the POJO.

With JsonNode it's tric

[2018-11-20 16:59] balsarori commented on #2184
@ryandawsonuk might be easier to convert jsons to maps? With maps it would be possible to do ``myObject.myprop.mysubprop``

[2018-11-20 17:07] ryandawsonuk commented on #2184
Yeah [am doing so in the referenced example PR](https://github.com/Activiti/Activiti/pull/2185/files#diff-a97b66303c25d797834ed789495b5725R35). If we do favour maps we could do with building out more examples though.

[2018-11-21 07:50] igdianov commented on #2171
@salaboy Could you find and post the logs for testExclusiveJobs test? It is executing 2 async exclusive service tasks each waiting for 6 seconds to finish. The async executor must schedule exclusive tasks to run sequentially and wait until there are no more active jobs after 20s period. I have seen this problem before on machines with limited CPU resources.

Let's check the execution logs first. T

[2018-11-21 08:53] ryandawsonuk commented on #2184
If we do go that road we could force conversion of JsonNode to LinkedHashMap in JaonType and LongJsonType in the engine.

[2018-11-21 11:15] salaboy commented on #2182
@erdemedeiros is this one for admin as well -> POST /v1/tasks/${id}/claim

[2018-11-21 12:15] jessin20161124 commented on #2170
This is a small probability event, it is hard to reproduce  a hundred percent.

[2018-11-21 13:16] salaboy commented on #2170
@jessin20161124 at the beginning all reproducers sounds complicated and difficult.. but they can be done, and without one, it is very difficult to guarantee that the problem is fixed.

[2018-11-21 13:16] salaboy commented on #2170
@jessin20161124 can you try with 5.22?

[2018-11-21 14:43] #2161 closed

[2018-11-21 16:36] AGrzes opened #2188 "MessageValidator returning false positive"
I have the following (fragment) of the process definition.

[code]

The [MessageValidator](https://github.com/Activiti/Activiti/blob/develop/activiti-process-validation/src/main/java/org/activiti/validation/validator/impl/MessageValidator.java) is checking if itemRefs and returning error.

[code]

Debuggin it it looks like the keys on the ItemDefinitions map are prefixed with `myNamespace` but the

[2018-11-21 17:19] miguelruizdev commented on #2139
When this [PR](https://github.com/Activiti/activiti-api/pull/52) gets merged, we need to take into account:

- the name of the event: from **SequenceFlow** to **BPMNSequenceFlow**
- one parameter in the constructor will be changed

[2018-11-21 17:22] miguelruizdev commented on #2139
Also, we need to uncomment the cheks of those events in the [acceptance tests](https://github.com/Activiti/activiti-cloud-acceptance-tests/blob/develop/activiti-cloud-acceptance-tests-core/src/main/java/org/activiti/cloud/acc/core/assertions/ProcessAssertions.java#L77)

[2018-11-22 09:10] salaboy commented on #2188
@AGrzes hi there.. thanks for reporting this. Can you please share with us which version of Activiti are you using?
Also if you can share a simple reproducer so we can make sure that we can fix the issue. Notice that depending on which version of Activiti you are using, there must be a test in the Activiti-engine process showing how messages are used and how they are validated.

[2018-11-22 11:56] salaboy commented on #2188
@AGrzes awesome! thanks a lot.
I guess that you will find the same issue in Beta3, but we recommend to upgrade to beta3 if possible.. so if we fix this one for Beta4 in 2 weeks you can get the fix in.

[2018-11-22 17:43] igdianov opened #2196 "Let's configure updatebot single PR for Activiti Cloud with automated merging using Mergify.io"
We will configure automatic merges for updatebot PRs across Activiti Cloud repositories with single PR into Activiti-Cloud Dependencies aggregator PoM in order to enforce version convergence for its release:

### .updatebot.yml
[code]

### Activiti Cloud Build Graph
![image](https://user-images.githubusercontent.com/20428629/48916850-cf66cc00-ee38-11e8-864d-657de873b6da.png)

### Activiti Cloud Mo

[2018-11-23 01:33] igdianov commented on #2196
@salaboy I have created all the PRs with Mergify and updatebot configurations to automate version propagation via single pull request into activiti-cloud-dependencies with dependency convergence enforcement for releasing consistent versions downstream into apps and acceptance tests.

We have to do the following checks before moving to merge PRs:

- [ ] enable Mergify for Activiti Cloud repositorie

[2018-11-23 01:57] igdianov opened #2197 "Let's automate Github changelog releases from commit history"
so, it will be easy to understand which commits, fixes, features and pull requests were part of the released version for each repository.

To do this, we need to create a Makefile recipe to find current and previous release tags and then use `jx changelog` command to create and publish annotated change logs for each release.

We can use conventional commits to structure and categorize commits in t

[2018-11-23 03:55] igdianov opened #2198 "Let's tests dependencies convergence in Activiti core"
so, that we can reduce redundant builds when propagating versions from `activiti-api` and `activiti-core-common` into `activiti-core`. The activiti-core PR CI pipeline will accumulate commits from updatebot until the versions are consistent to proceed with build, test all the modules.

We will also need to change updatebot configuration for activiti-api and activiti-core-common to push their versi

[2018-11-23 05:03] igdianov commented on #2198
@salaboy I have prepared the PRs to be merged:

https://github.com/Activiti/Activiti/pull/2199
https://github.com/Activiti/activiti-api/pull/55
https://github.com/Activiti/activiti-core-common/pull/27

It does not make sense to release new versions, so just cancel Jenkins-x pipeline for each commit.

[2018-11-23 18:48] igdianov opened #2200 "Let's enforce same build parent version in dependency convergence tests"
so that we can have automated aggregator pom releases downstream without manual merge step, unless we need to block it with a label, i.e. `work-in-progress' using Mergify conditions.

To enforce same build parent version in dependency convergence tests for automated aggregator pom release requires a including simple build parent marker artifact of type pom with release version as dependency propag

[2018-11-24 14:13] jessin20161124 commented on #2170
When I try to upgrade the activiti jar to 5.22, it seems the db schema must be changed meanwhile. How can I upgrade this without afffecting the old db data?

[2018-11-25 09:09] salaboy opened #2201 "Remove bean overriding in Activiti Cloud Starters"
Every starter in Activiti Cloud is now adding the bean override property:
[code]

We need to remove this which is caused by the keycloak spring boot starter extension inside activiti cloud common. Bean override is disabled by default in spring boot 2.1 so we should avoid it.

[2018-11-25 09:12] salaboy opened #2202 "Activiti Cloud Modeling repos dependencies alignment"
We upgraded to Spring Boot 2.1 and Spring Cloud Greenwhich M3. We need to make sure that we align our starters (all of them) to those dependencies.
Now Activiti Cloud Modeling is pointing to random Spring Cloud modules such as Contracts
https://github.com/Activiti/activiti-cloud-modeling-build/blob/develop/pom.xml#L74

which drags a bunch of old stuff into the classpath.

[2018-11-25 14:17] salaboy commented on #2201
Error that highlight the issue if bean override is removed:

[code]

[2018-11-25 15:30] salaboy commented on #2202
Related to this issue is also the need to add
[code]

Due to activiti-cloud-service-common / tests includes spring-cloud-streams which force you to have a binder in the classpath.

[2018-11-25 16:18] salaboy opened #2203 "Update updatebot in activiti-cloud-dependencies to update examples in master branch"
We are now using master branch in examples repositories.
Update bot shouldn't send PRs with develop as target.

[2018-11-25 16:50] salaboy opened #2204 "Align Apps Service example to run acceptance tests"
This repository is out of date and not aligned with all the other examples: GitHub.com/activiti/activiti-cloud-apps

[2018-11-25 16:53] salaboy commented on #2175
@erdemedeiros @CTI777 I will close this one because it is merged

[2018-11-25 16:53] #2175 closed

[2018-11-25 16:55] salaboy commented on #2165
@erdemedeiros @CTI777 can you guys clarify if this is done or more work is missing here?. If the work is done please close.

[2018-11-25 16:55] #2165 closed

[2018-11-25 16:57] salaboy commented on #2149
@erdemedeiros are only the acceptance tests missing for this one?
I would put that as high priority. So we can close this one in Beta4

[2018-11-26 07:39] igdianov commented on #2200
@salaboy I have added same parent version convergence test in every repo, so that push version commits from every repository accumulate in a single PR until all versions match to merge and cut the release with consistent versions.

I think it is best to let it fail fast and wait for consistent versions to save time and number of builds.

Activiti/activiti-dependencies#77
Activiti/activiti-api#55
A

[2018-11-26 09:01] erdemedeiros commented on #2149
@salaboy you missed the PR for the runtime-bundle in the list above: https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/151. I'm working on acceptance tests.

[2018-11-26 13:17] ggrnd0 opened #2205 "Actual xsd for 6.0.0"
Can you publish fully actual & correct xsd for bpmn extensions of activiti 6.0.0?

Now there is missed:
- activiti:scope="processInstance"
- activiti:inheritVariables="true"
- anything else may be...

As fast as possible, please.

[2018-11-26 17:20] erdemedeiros opened #2206 "Example runtime bundle fails to start"
Example runtime bundle fail to start with the following exception:
[code]

[2018-11-26 18:05] salaboy commented on #2206
merged.. we need to propagate the version

[2018-11-26 18:05] #2206 closed

[2018-11-26 18:06] salaboy commented on #2205
@balsarori can you please take a look at this one?
Were the XSD published in the old site?

[2018-11-26 18:08] salaboy commented on #2205
@ggrnd0 the XSD should be provided as part of the JARs.. and they should be picked up from there.
Where are you getting the problem? Can you elaborate? How can we reproduce the problem that you are having?

[2018-11-26 18:16] salaboy commented on #2200
@igdianov all merged.. let's create another issue for cloud.
I will ask Ryan to check the version of the cloud environment.. I am pretty sure that we did the upgrade

[2018-11-26 18:16] #2200 closed

[2018-11-26 22:02] salaboy commented on #2202
@constantin-ciobotaru can you take a look at this?

[2018-11-27 11:00] balsarori commented on #2205
@ggrnd0 as @salaboy said XSD files are included in the JARs (activiti-bpmn-converter-[VERSION].jar).
The file is here https://github.com/Activiti/Activiti/blob/6.x/modules/activiti-bpmn-converter/src/main/resources/org/activiti/impl/bpmn/parser/activiti-bpmn-extensions-6.0.xsd

[2018-11-27 13:52] ggrnd0 commented on #2205
WTF?

...

[2018-11-27 15:48] balsarori opened #2213 "Connectors variable mappings"
Enable mapping connectors input/outputs to variables.

[2018-11-27 17:35] salaboy commented on #2205
@ggrnd0 not sure what you mean.. should we close the issue? did you solved the problem?

[2018-11-27 19:58] ryandawsonuk commented on #2201
Have tried simply removing this class and the code referencing it in rb-service and query-service. But am finding that tests fail with:

[code]
Not sure how as have removed from local maven repo and the class is not required during compilation (this is a runtime error) or shown as on the classpath in IntelliJ. Will investigate further.

[2018-11-27 23:44] igdianov opened #2214 "Let's tests dependencies convergence in CI pipelines for Activiti Cloud repositories"
so, that we can reduce redundant builds when propagating versions from `activiti-dependencies` into `activiti-cloud-api`, `actitiviti-cloud-service-common` and `activiti-cloud-runtime-bundle-service` repos.

The update version PRs for CI pipeline will accumulate commits from updatebot until the versions are consistent to proceed with build, test all the modules.

We will add dependency tests modul

[2018-11-27 23:52] igdianov opened #2215 "Let's add do-not-merge label condition for Mergify.io"
so, that we can control the gates when not to merge the PRs created by updatebot.

Adding `do-not-merge` label for open PR will simply disable the automatic merge when the status checks are green. This can be useful to indicate that a pull request labelled as work-in-progress should not be merged.

[code]

[2018-11-28 06:06] salaboy commented on #2201
@ryandawsonuk that is because you are still pointing to that config from a META-INF/spring.factories file :)

[2018-11-28 06:41] igdianov commented on #2214
@salaboy These are PRs for dependency validation in activiti cloud modelling repos:

1. - [ ] Merge PRs:
https://github.com/Activiti/activiti-cloud-modeling-dependencies/pull/22 (merge and cancel release)
https://github.com/Activiti/activiti-cloud-org-service/pull/100 (merge and cancel release)
https://github.com/Activiti/activiti-cloud-process-model-service/pull/61 (merge and cancel release)
http

[2018-11-28 08:03] ryandawsonuk commented on #2201
Yeah, thanks, I should've spotted that straight away.

[2018-11-28 08:13] ryandawsonuk commented on #2201
The problem then moves on to:

[code]
Am currently trying this with references to CommonSecurityAutoConfiguration removed from [RuntimeBundleSecurityAutoConfiguration](https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-services-runtime-bundle/activiti-cloud-services-identity-keycloak/src/main/java/org/activiti/cloud/services/identity/keycloak/config/Runti

[2018-11-28 09:47] ryandawsonuk commented on #2201
There is already a keycloak issue for this - https://issues.jboss.org/browse/KEYCLOAK-8813 After looking at the [reason why this change was made in boot](https://github.com/spring-projects/spring-boot/issues/14014) It should be straightforward to fix this in keycloak with an @ConditionalOnMissingBean on [HttpSessionManager](https://github.com/keycloak/keycloak/blob/master/adapters/oidc/spring-secu

[2018-11-28 11:13] ryandawsonuk commented on #2201
I've tried [overriding this class locally](https://github.com/Activiti/activiti-cloud-service-common/commit/b2d5680095e3a7a49e26a9098333f2373e8902d8) and but then I get the below in the integration tests (i.e. with `-DskipITs=false`)

[code]
However, I don't think this particular error is related as I actually see the same issue even without the `@ConditionalOnMissingBean` and with `spring.main.al

[2018-11-28 13:16] ryandawsonuk commented on #2201
Turns out the `Unable to invoke request` was just a problem with picking up an old version of the activiti-keycloak docker image used by the integration tests under `latest`. I've pushed a new version of that to prevent that affecting others.

Now overriding the keycloak class and [adding the ConditionalOnMissingBean](https://github.com/Activiti/activiti-cloud-service-common/blob/3cec83091ef608319

[2018-11-28 14:04] balsarori commented on #2205
ahh ok I got you. You are right those attributes seem to be missing from XSD files. I can see ``inheritBusinessKey`` but not ``inheritBusinessKey`` nor ``scope``.

https://github.com/Activiti/Activiti/blob/6.x/modules/activiti-bpmn-converter/src/main/resources/org/activiti/impl/bpmn/parser/activiti-bpmn-extensions-6.0.xsd#L729

[2018-11-28 15:04] shohambs opened #2217 "Bug: subProcessInstanceId doesn't return process instance"
Hi,
I've found a bug, in which under certain conditions, _ProcessInstanceQuery's_ method _subProcessInstanceId_ returns empty although it is in a subprocess.
Those conditions are having the subprocess starting at user task or having the user task the second task after a script task. (The bug doesn't reproduce when that starting task is some other activities such as a timer task).

[code]

Machine

[2018-11-28 16:21] gregwright78 opened #2218 "Remove DISTINCT predicate from selectHistoricProcessInstancesByQueryCriteria query"
In our Activiti (APS) 1.5.0 instance (which uses activiti-engine-5.21.0.2.jar), we have a large number of active and historic process instances and have been experiencing sockettimeoutexceptions in the APS activiti-admin application process instances page. We have found that by removing the DISTINCT predicate there is no difference in the number of rows returned in the underlying query resultset b

[2018-11-29 03:42] salaboy commented on #2214
@igdianov should we close this one?

[2018-11-29 05:29] igdianov commented on #2172
Done.

[2018-11-29 05:29] #2172 closed

[2018-11-29 05:30] igdianov commented on #2198
Done.

[2018-11-29 05:30] #2198 closed

[2018-11-29 05:30] igdianov commented on #2196
Done

[2018-11-29 05:30] #2196 closed

[2018-11-29 06:42] chenxiangning opened #2221 "Flow chart query error!!!!!"
使用spring boot + docker 启动程序.
当我访问流程图时出现的错误
-
Use spring boot + docker to start the program.
The error occurred when I visited the flowchart

如果不使用docker部署,那么就没有这个错误
-
If you do not use docker deployment, there is no such error.

java.lang.NullPointerException: null
	at sun.awt.FontConfiguration.getVersion(FontConfiguration.java:1264) ~[na:1.8.0_151]
	at sun.awt.FontConfiguration.readFontConfigFile

[2018-11-29 08:20] ryandawsonuk commented on #2221
Looks like it is using a font not available in the OS within the docker image. We've seen that in activiti 7 runtime bundles and we [tackle it by adding `RUN apk --update add fontconfig ttf-dejavu` to the Dockerfile](https://github.com/Activiti/example-runtime-bundle/blob/1699a43d91af9839ddd1aaebae0b7420f55765b2/Dockerfile#L2). Could you try that in your Dockerfile and share the Dockerfile if poss

[2018-11-29 15:56] miguelruizdev opened #2222 "Missing acc test covering resume process"
For the moment, there's only coverage for the "[unhappy path](https://twitter.com/ronjeffries/status/586902281125232640?lang=en)", and not for the happy one.
https://github.com/Activiti/activiti-cloud-acceptance-scenarios/blob/master/runtime-acceptance-tests/src/main/resources/stories/runtime-bundle/process-instance-actions.story#L18

[2018-11-29 16:43] #2155 closed

[2018-11-29 16:45] salaboy commented on #2147
@CTI777 @erdemedeiros can we close this one?

[2018-11-30 02:28] igdianov opened #2223 "Let's fix waiting for input on failure in Jenkins-X pipelines,"
so, that we do not keep build pods running and holding CPUs when they fail, which prevents scheduling other build jobs in the queue.

The best way to do it will be modifying active updatebot PRs, so that we don't create releases on Jenkinsfile commits.,

This requires modification to Jenkinsfile in each repository:

[code]

[2018-11-30 02:39] igdianov opened #2224 "Let's customize Activiti Cloud Jenkins-X pipelines to build Docker images with DinD"
sidecar container so, that

- Docker daemon on VM host is fully secured and isolated from Jenkins X builder pods.
- Concurrent Jenkins X pipeline Docker builds and CI tests are fully isolated from each other.
- CI Docker containers are deleted by Kubernetes when Pod is deleted
- CI Docker containers are accessible by CI tests via http://localhost:port inside Maven builder container.
- Docker graph

[2018-11-30 10:20] ggrnd0 commented on #2205
Hurray! XD

[2018-11-30 10:35] ryandawsonuk commented on #2201
Need to now also resolve this internal one that only seems to affect example layer

[code]

[2018-11-30 10:39] ggrnd0 commented on #2205
Also there is no any restrictions for attributes

Example: <attribute name="type"> is required for sendTask

[2018-11-30 12:04] ryandawsonuk opened #2225 "master branch for examples"
Example projects now use master and not develop branches

To handle this in the release process, the script can check for a develop branch and use it if it exists https://github.com/Activiti/activiti-scripts/pull/12

The branch chosen by the script will be tagged and a docker image published from it.

However, this means we need to remove the develop branches as they are still present for all of t

[2018-11-30 12:12] ryandawsonuk opened #2226 "ttc projects in pipelines and tests"
We have the following ttc projects:

ttc-campaigns-service
ttc-connectors-dummytwitter
ttc-rb-english-campaign
ttc-query-campaign
ttc-connectors-processing
ttc-connectors-ranking
ttc-connectors-reward
ttc-dashboard-ui
ttc-acceptance-tests

From a release perspective, these are examples like all the others which are tagged and docker images published. But these projects are currently not being upda

[2018-11-30 13:46] #2201 closed

[2018-11-30 14:16] daisuke-yoshimoto commented on #2075
@salaboy
Hi. I'm back.
First, I wil work on this issue.

[2018-12-02 12:35] sujithgeorge opened #2228 "History tables missing"
I am using Activiti 7.0.0.Beta3 core (and not cloud) in my Spring Boot application. I enabled history by setting spring boot config property: spring.activiti.historyLevel=full. When I start Activiti , it fails by reporting a missing table "Table '.ACT_HI_VARINST' doesn't exist". I have auto DDL enabled(I know this for sure because the other non-history Activiti tables got created automatically). W

[2018-12-03 09:05] salaboy commented on #2221
@chenxiangning also look at @ryandawsonuk suggestion is for Activiti 7, and you are using 5.x

[2018-12-03 09:07] salaboy commented on #2223
@igdianov if we do that.. I think that we will not be able to see teh logs of the issues later on..

[2018-12-03 09:08] salaboy commented on #2224
@igdianov do you roughly know what are the changes in the pipelines?

[2018-12-03 09:10] salaboy commented on #2228
@sujithgeorge as I mention on the gitter channel we discourage the use of Local History, but we will look into this issue to at least not fail. Moving forward this might be supported.

[2018-12-03 09:15] chenxiangning commented on #2221
OK, I'll try.

[2018-12-03 09:19] salaboy commented on #1952
@miguelruizdev missing ACC in scenarios repo.. The missing PR cannot be merged in that repo, it needs to be moved to acc-tests-scenarios

[2018-12-03 09:24] #2146 closed, assigned to nobody

[2018-12-03 09:35] erdemedeiros opened #2230 "Expose user endpoint to retrieve process definitions from query"
Create endpoint `GET v1/process-definitions`. Currently only admin endpoint is available.

[2018-12-03 09:36] erdemedeiros commented on #2230
Related to https://github.com/Activiti/Activiti/issues/2149.

[2018-12-03 09:37] erdemedeiros opened #2231 "Handle process deployed event on audit"
Handle process deployed event on audit service.

[2018-12-03 09:38] erdemedeiros commented on #2231
Related to https://github.com/Activiti/Activiti/issues/2149.

[2018-12-04 03:07] chenxiangning commented on #2221
Install related fonts in docker.
The above mistake is gone.
I still use version 5.22.0

[2018-12-04 05:38] Shaun-Yao commented on #2158
@salaboy Any suggestions?

[2018-12-04 05:56] igdianov commented on #2224
@salaboy These are going to be the changes in Jenkinsfile:

[code]
add maven-dind.yaml:

[code]

[2018-12-04 09:11] salaboy commented on #2111
merged in both.. acc tests scenarios and org service

[2018-12-04 09:17] #2111 closed

[2018-12-04 09:19] salaboy commented on #2221
@chenxiangning thanks .. we will close this issue.

[2018-12-04 09:19] #2221 closed

[2018-12-04 10:46] ryandawsonuk commented on #2226
Pipelines now updating the master branch for these repos. Not clear what to do about acc tests for these.

[2018-12-04 11:02] #2153 closed

[2018-12-04 11:03] #2139 closed

[2018-12-04 14:01] #2226 closed

[2018-12-04 14:01] miguelruizdev commented on #2226
We haven't addressed the tests under this issue

[2018-12-04 14:45] #2225 closed

[2018-12-04 14:48] #2166 closed

[2018-12-04 14:49] #2128 closed

[2018-12-04 14:49] salaboy commented on #2154
@igdianov dependent PR merged with the changes required here: https://github.com/Activiti/activiti-api/pull/36/files

[2018-12-04 14:50] #2154 closed

[2018-12-04 14:51] ryandawsonuk opened #2234 "develop branch on activiti-modeling-app"
https://github.com/Activiti/activiti-modeling-app is an example-level repo

For other example-level repos we only have a master branch and not a develop. The idea is that we build it from jenkins-x it deploys.

If we have a develop branch then currently develop branch will be used for tagging and docker build at time of release - https://github.com/Activiti/activiti-scripts/pull/12

We would remov

[2018-12-04 15:07] miguelruizdev opened #2235 "Acceptance test for ProcessUpdatedEventHandler"
Increase the coverage of the acc tests scenarios regarding the new feature added in this [PR](https://github.com/Activiti/activiti-cloud-query-service/pull/131/files)

[2018-12-04 15:15] salaboy opened #2236 "Firing Event for Process updated method"
Missing event for completing:
https://github.com/Activiti/Activiti/issues/2147

[2018-12-04 15:15] #2147 closed

[2018-12-04 15:45] erdemedeiros commented on #1952
@miguelruizdev @lucianoprea in case the acceptance test is failing I've added a [test](https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/144/files#diff-f51a63e6103a343ffe4255d23efbeeafR135) checking that the information is sent in `PROCESS_STARTED` event, but it seems to be missing in `PROCESS_CREATED` event. So you may need to update the information in [ProcessStartedEventHan

[2018-12-04 15:45] miguelruizdev opened #2237 "Acceptance test for TaskUpdatedEventHandler"
Increase the coverage of the acc tests scenarios to check that tasks are properly updated.
This issue is related to [this one](https://github.com/Activiti/Activiti/issues/2235) since it's the equivalent for process instances

[2018-12-06 00:38] igdianov commented on #2223
@Salaboy We will be able to see and use the logs in Jenkins UI after the build pod is terminated and cleaned up after pipeline fails for any reason.

[2018-12-06 02:45] igdianov commented on #1801
@salaboy @ryandawsonuk @erdemedeiros Very good detailed explanation about RabbitMQ message delivery resiliency: https://github.com/rabbitmq/workloads/blob/master/resiliency/README.md

[2018-12-06 04:11] igdianov commented on #1970
@salaboy I have investigated and made initial spike to explore the scope of the changes required to add support process instance businessKey attribute in Tasks. At the top of the chain we will need to modify acitiviti-api. In Activiti core, we will need to create business key persistent attribute mapping in persistence layer to store it as part of task record across all supported databases in Acti

[2018-12-06 10:06] salaboy commented on #2197
So, that can be added to each repo release right? how do we aggregate from every repo included in the release?

[2018-12-06 14:22] mkawczynski07 opened #2243 "Is any option to get list of completed tasks in the process instance?"
Is any option to get list of completed tasks in the process instance?

[2018-12-06 15:38] mkawczynski07 commented on #2243
I found:
https://www.activiti.org/userguide/#historyConfig

Does activiti 7 runtimes support history?

[2018-12-06 15:58] salaboy commented on #1804
@erdemedeiros ok.. lastModified difference is ok in my opinion, as well as metadata from the application.
As a general guideline Query is ok to have a superset of information contained in the RB.

This two differences needs to be fixed
- createdDate
- priority (type)

[2018-12-06 16:00] salaboy commented on #2243
@mkawczynski07 in Activiti Cloud we rely on the query service for historic information. The Runtime Bundle is not supposed to keep the information, just act as an executor following the CQRS pattern.

So, the answer is yes, you need to use the Query Service, or implement a ProcessInstanceCompletedEvent listener to store which processes were completed. (Which is pretty much what the Query Service d

[2018-12-06 16:01] salaboy commented on #2188
@AGrzes thanks a lot.. this fix will be included in Beta4

[2018-12-06 16:01] #2188 closed

[2018-12-06 16:08] erdemedeiros opened #2244 "Make sure method property is defined in @RequestMapping"
In some places the property `method` is not set in the annotation `@RequestMapping`. For instance in [ProcessInstanceTasksController.getTasks(...)](https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-services-runtime-bundle/activiti-cloud-services-rest-api/src/main/java/org/activiti/cloud/services/rest/api/ProcessInstanceTasksController.java#L14). This mea

[2018-12-06 17:25] salaboy opened #2245 "Remove ProcessDefinitionRegistry from Acc Tests Libraries"
https://github.com/Activiti/activiti-cloud-acceptance-tests/blob/develop/activiti-cloud-acceptance-tests-core/src/main/java/org/activiti/cloud/acc/core/helper/ProcessDefinitionRegistry.java

[2018-12-06 18:00] #2245 closed

[2018-12-07 03:26] DestinyWang opened #2246 "there is no process diagram generated when activiti6 dynamic deploy"
When I was using Activiti, I found that:

- When the project path BPMN file is deployed, two data files are inserted into the ACT_GE_BYTEARRAY table, one an XML file and the other an automatically generated image file.

![image](https://user-images.githubusercontent.com/17758731/49625989-c79b5000-fa12-11e8-9f90-3f7e9e95c969.png)

- However, when using dynamically deployed BpmnModel classes, the AC

[2018-12-07 10:46] balsarori commented on #2246
I'm not sure that an auto generated image will be inserted in the DB (only resources specified during deployment will be deployed).

Deployment using dynamic BPMN model doesn't contain BPMNDiagram and therefore will have no image (it's the same if you deploy an XML that doesn't contain BPMNDiagram).

[2018-12-07 11:22] ryandawsonuk opened #2247 "avoid colons in stream names"
This was hit by @grasolondraibe and reported on gitter:

at org.springframework.cloud.stream.binder.kafka.utils.KafkaTopicUtils.validateTopicName(KafkaTopicUtils.java:39)

So we could change [`${ACT_INT_RES_CONSUMER:integrationResult:${spring.application.name}}`](https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/3ec314eb1503ba397f62bd24eb15d2ad2a996aa2/activiti-cloud-services-

[2018-12-07 15:31] stoicko commented on #2009
@salaboy @ryandawsonuk The UserGroupManager interface has been extended in beta2 for getUsers / getGroups, but I can not find a use case for them.
This is tricky in the context of jhipster uaa integration as this data (all users / groups) should be available only to admin users only

[2018-12-07 20:24] erdemedeiros opened #2248 "Flatten information is not set on Cloud Events"
When you create an instance of any cloud event, i.e., `CloudProcessStartedEventImpl` the ids flatten at the root level (`processDefinitionId`, `processIntanceId`, etc) are not set accordingly to given entity.

[2018-12-08 05:16] DestinyWang commented on #2246
My guess is that the problem depends on whether the XML file contains <bpmndi:BPMNDiagram> and its child nodes

[2018-12-08 05:16] #2246 closed

[2018-12-08 13:51] MohamedAmineOuali opened #2249 "Activiti6: upload variable field is null"
Hello,

I am uploading a file in a usertask form using the upload field. I want to know how to retrieve that file in a servicetask specifically in the execute method of the class that implements JavaDelegate.

When I try to access the variable through execution.getVariable("field_file_id"); The variable exist but I get a null value.

[2018-12-08 18:15] #2248 closed

[2018-12-09 12:45] salaboy commented on #2247
@grasolondraibe thanks for reporting this :)

[2018-12-09 20:47] grasolondraibe commented on #2247
You can see a sample projet here https://github.com/grasolondraibe/activiti-cloud-kafka

[2018-12-09 21:32] igdianov opened #2250 "Explore how to make Activiti Modeler run in a container as part of Jenkins-X devpod"
Igor Dianov @igdianov 11:50
@Salaboy Jenkins X devpods are now enriched with IDE from https://www.theia-ide.org/index.html. It has Git integration. This is something that we can look into for inspiration to try with Modeler
If Modeler can work with files, than we could simply run it inside Docker container with volume mounted to Git repo workpsace cloned from Github inside Devpod, then make change

[2018-12-09 21:47] igdianov commented on #2250
Igor Dianov @igdianov 13:47
We will also be able to run Modeler inside a container i.e. docker run -it -p 8080:8080 -v "$(pwd)/src/main/resources/processes:/processes:cached" activiti/modeler in local development environment with IDE of any choice....

[2018-12-10 05:59] igdianov opened #2252 "Task and Process Instance updated entity events are not dispatched from Command Context"
which creates a problem with transaction synchronization in Runtime Bundle which sends aggregated events batch as a message only when transaction completes as well as applies message headers from runtime execution context to all outgoing messages.

[2018-12-10 08:56] salaboy commented on #2250
@igdianov, we need to look into how JHipster is bootstrapping their tools.
I've been trying to play with JDL for our entity objects for quite a while now..
I think that by adopting JDL we can get a lot of traction and experience on how to integrate with external data.

[2018-12-10 09:02] salaboy commented on #2247
@grasolondraibe it looks like a simple fix.. if you want to contribute with a PR to fix that..

[2018-12-10 09:04] salaboy commented on #2009
@stoicko we will add this in Beta5, but how do you get users in UUA? If users and groups are only available only for admins, we can just return an empty list for both.. unless the one executing the request is the admin.. is that a valid option?

[2018-12-10 09:26] itsonglin opened #2253 "Created 2 process instances at the same time"
START_TIME_:
10-DEC-18 04.37.45.**896**000000 PM
10-DEC-18 04.37.45.**893**000000 PM

[2018-12-10 10:06] ryandawsonuk commented on #2009
@stoicko we use a [service account user named 'client'/'client-user' to access the users and groups](https://github.com/Activiti/example-runtime-bundle/blob/master/src/main/resources/application.properties#L35) as ordinary users in our example keycloak realm also don't have permission to query for users and groups.  The implementation code needs to [use the details of that client user](https://git

[2018-12-10 10:44] mkawczynski07 commented on #2009
@ryandawsonuk thanks for the code. @stoicko I think that we could do something similar for jhipster uaa.

[2018-12-10 11:18] ryandawsonuk commented on #2253
@itsonglin Do you mean that you made simultaneous API requests to create those process instances and were expecting them to have the same timestamp? Could you please explain how you created the two process instances?

[2018-12-10 13:58] miguelruizdev commented on #2173
Specific requirements regarding endpoints:

- DELETE
    - Delete all data
    - Delete data related to a process instance
    - Delete existing data before a given timestamp
- GET/EXPORT
    - Export all data

[2018-12-10 14:45] constantin-ciobotaru opened #2254 "[Acceptance tests] Revert the workaround that replace "http://activiti-cloud-modeling-backend" with config.getModelingUrl()"
[Acceptance tests] Revert the workaround that replace "http://activiti-cloud-modeling-backend" with config.getModelingUrl() as an workaround for the bug in spring-boot about the HAL links.

[2018-12-10 14:47] constantin-ciobotaru opened #2255 "[Acceptance Tests] The check why using the same application name when exporting in modeling lead to failing tests"

[2018-12-10 15:58] #2252 closed

[2018-12-11 01:00] yangpancode opened #2256 "Can Multi-schema multi-tenant select all data of all database schema at once?"
Can Multi-schema multi-tenant select data in all databases schema ?
[code]
this code can only select data in one database.
how to get data from all databases at once?

[2018-12-11 08:49] salaboy commented on #2256
@yangpancode you can do that unless the DB provider supports that. That is part of the design of the Databases implementations. You will need to use another tool to aggregate from different schemas, that is not something that Activiti providers. Projects like Teiid provide such functionality: http://teiid.jboss.org/

[2018-12-11 08:49] #2256 closed

[2018-12-11 08:50] #2237 closed

[2018-12-11 08:50] #2236 closed

[2018-12-11 08:50] #2235 closed

[2018-12-11 08:51] #1952 closed

[2018-12-11 08:51] #2164 closed

[2018-12-11 08:52] #2163 closed

[2018-12-11 09:30] salaboy opened #2257 "Tasks assignments and claims with users containing @"
Claiming and searching tasks created with users containing an email format as the username make the RB to not find the task.

[2018-12-11 10:17] salaboy commented on #1970
@igdianov after our discussion, I think that we should solve this only in the Query services, where we have all the data, that will avoid any major change in the RB.

[2018-12-11 11:14] ryandawsonuk commented on #2257
Can we check what the username is in the token in the request header and whether [email login is enabled in the realm](https://codehumsafar.wordpress.com/2018/09/24/keycloak-enable-login-with-username-or-email/)?

[2018-12-11 12:15] erdemedeiros opened #2258 "[Core] Make sure message producers declare required groups from starter"
Currently the property [is set in the example only](https://github.com/Activiti/example-runtime-bundle/blob/master/src/main/resources/application.properties#L6..L7), but it will be great to have it automatically loaded by an auto configuration at the starter level.

[2018-12-11 14:19] salaboy commented on #2257
ok... so further investigation revealed that the JWT token doesn't contain the email in the preferred_username field and it only contains
"preferred_username": "admin.adf"

This is in fact not an activiti issue, but more a problem on how you configure users into Keycloak.

[2018-12-11 14:34] salaboy commented on #2257
I am closing this issue because this is not a problem for Activiti Cloud

[2018-12-11 14:34] #2257 closed

[2018-12-12 11:01] erdemedeiros opened #2259 "Assigning a task through task update does not perform same checks as claim"
A task can be assigned via `TaskRuntime.claim()` or via `TaskRuntime.update()`. However the second method is missing the checks done by the first one.

[2018-12-12 14:04] miguelruizdev opened #2261 "Injecting ProcessDefinitionRegistry to Conformance Test Scenarios"
Since the ProcessDefinitionRegistry is no longer part of the 'acceptance-tests' library that the conformance scenarios consume, we need to adjust the mechanism by which we match the not human readable process definition key and the name of the processes.
By doing this, we need a mechanism close to Spring injection in which is today a Serenity Project.

[2018-12-12 14:05] miguelruizdev commented on #2261
Worth to take a look at: https://www.baeldung.com/serenity-spring-jbehave

[2018-12-12 14:09] erdemedeiros opened #2262 "Allow update of candidate users and groups from API"
One should be able to update candidate users and groups for a given task.

Points to clarify:
- In Java api level it can be handled either through a dedicated method (`TaskRuntime.addCandidateUser(createCandidateUserPayload`) or as part of `TaskRuntime.update(taskUpdatePayload)`.

- Then we need to define the security policies for that: who can add/remove candidates (candidates, assignees)?

From

[2018-12-12 14:39] DestinyWang opened #2263 "How to store the form in Activiti without relying on ProcessInstance or Task?"
For example, I need to create the Form before creating the Process, so I need to store the Form separately and then use the Form to associate with Task later.

It seems that I cannot find the API and database design that can create the Form separately. Anyone know how to do this?

[2018-12-13 07:40] igdianov opened #2264 "Let's enable dependency tests on activiti-cloud-application-chart"
from upstream example app repos, so, that we can validate the same activiti-cloud-dependencies  version between all microservices in Jenkins CI/CD for PRs and release pipelines to push a single application chart version with valid microservice into activiti-cloud-acceptance-test-scenarios repo.

To do that, we will use Maven in every microservice repo pipeline, i.e. `activiti-cloud-query`, to reso

[2018-12-13 07:49] igdianov opened #2265 "Let's disable concurrent builds inactiviti-cloud-example-chart"
so, that we don't build concurrently many commits arriving in short time:

[code]

[2018-12-13 07:50] igdianov opened #2266 "Let's disable concurrent builds in activiti-cloud-application-chart"
so, that we don't build concurrently many commits arriving in short time:

[code]

[2018-12-13 09:31] erdemedeiros opened #2267 "Audit EventConverters don't set context meta data"
[SequenceFlowTakenEventConverter](https://github.com/Activiti/activiti-cloud-audit-service/blob/develop/activiti-cloud-services-audit-jpa/src/main/java/org/activiti/cloud/services/audit/jpa/converters/SequenceFlowTakenEventConverter.java) and other connectors are not setting metadata (`processDefinitionId`, `processDefinitionKey`, `processInstanceId`, `parentProcessInstanceId`, `businessKey`) whil

[2018-12-13 10:21] ryandawsonuk opened #2268 "automate testing of ttc example"
would be good to build the ttc chart and deploy it within a pipeline for its acc tests like https://github.com/Activiti/Activiti/issues/2100

[2018-12-13 10:26] ryandawsonuk opened #2269 "deal with charts duplication"
Currently consumers use [activiti-cloud-charts.](https://github.com/Activiti/activiti-cloud-charts/tree/master/activiti-cloud-full-example) That repo is currently also used to provide the infrastructure chart for running acc tests but not the application chart (which has[ its own repo](https://github.com/Activiti/activiti-cloud-application-chart)). (There is another [repo for infrastructure](https

[2018-12-13 10:30] #2100 closed

[2018-12-13 11:05] Adam-Higginson opened #2270 "Starting a process instance by a message event doesn't store the business key"
If you attempt to start a process instance by a message you can pass in a business key as a parameter to store against the process instance. An example of doing this would be:

[code]

The business key given gets correctly passed through to the `StartProcessInstanceByMessageCmd` instance and is stored in a field called `businessKey`, however it is then never used. When the `createAndStartProcessIn

[2018-12-13 11:21] Adam-Higginson opened #2271 "Starting a process instance by message event doesn't work if the message id and message name differ"
If you attempt to start a process instance by message by calling `startProcessInstanceByMessage` as per the docs [found here](https://www.activiti.org/userguide/#bpmnMessageStartEvent) it is expected you will pass in the message name. However, in the bpmn file when linking the start event to the message you link by message id. This then causes a `ActivitiException` to be thrown of the form: `No me

[2018-12-13 15:13] almerico commented on #2264
updated cloud audit, example connector, runtime bundle also I see an  issue with updatebot --config ../../.updatebot.yml doesn't work and .updatebot.yml doesn't located in charts repo

[2018-12-13 15:13] almerico commented on #2264
looks like simple cd ../../ && updatebot  ... is working

[2018-12-13 16:35] salaboy commented on #2263
@DestinyWang what version of Activiti are you using?

[2018-12-13 16:37] salaboy commented on #2271
@Adam-Higginson are you using Activiti 6.x?

[2018-12-13 16:38] salaboy commented on #2270
@Adam-Higginson are you using Activiti 6.x?

[2018-12-13 16:43] Adam-Higginson commented on #2270
Yep, I noticed this when trying to update an Activiti 5 setup to Activiti 6

[2018-12-13 16:44] Adam-Higginson commented on #2271
Yep, I noticed this when trying to update an Activiti 5 setup to Activiti 6

[2018-12-13 17:33] ryandawsonuk commented on #2269
We'll aim to use the latest build numbers as far as possible and to update the chart for consumers in activiti-cloud-charts by pushing out from activiti-cloud-scenario-tests

[2018-12-13 17:38] salaboy commented on #2243
I am closing this issue due I got a thumbs up.

[2018-12-13 17:38] #2243 closed

[2018-12-13 17:59] salaboy commented on #2270
@Adam-Higginson ok.. so we are working full speed on 7 which is built on top of 6, but we are not covering messages just yet. That will come in a not distant future. We will probably try to fix it in that the 7.x series.

[2018-12-14 07:14] igdianov opened #2272 "Missing event api's for signals"
It seems there are missing events in activiti-api that should be produced when signal is emitted  received by the subscribed consumer.

[2018-12-14 07:38] salaboy commented on #2272
You mean, the message based approach for this: https://github.com/Activiti/activiti-api/blob/develop/activiti-api-process-runtime/src/main/java/org/activiti/api/process/runtime/ProcessRuntime.java#L115 ? or the events that are generated by that operation?

[2018-12-14 07:40] salaboy commented on #2224
@igdianov @almerico can we close this? I assumed that this was part of the example repos pipelines. If we can close it, please close.

[2018-12-14 07:42] igdianov commented on #2272
@salaboy I mean the event are not generated for signal operations...

[2018-12-14 07:44] salaboy commented on #2144
@ryandawsonuk is this a problem in audit? because you mention events. You are correct on this assertion: "filtering should be based on process definition only and not who took the action" did you find where that is not the case in the code?

[2018-12-14 07:45] salaboy commented on #2144
@ryandawsonuk is it not a problem of defaults when user is not included in the security policies? Does both users contains the same policies?

[2018-12-14 07:53] almerico commented on #2224
this is done in example repos which produce docker images

[2018-12-14 07:53] #2224 closed

[2018-12-14 08:14] igdianov opened #2273 "Let's review and optimize activiti-cloud-acceptance-scenarios release pipeline"
so, that we only release `activiti-cloud-example-chart` when it passes all acceptance tests with aggregated `activiti-cloud-application-chart`, `activiti-cloud-infrastructure-chart`, `activiti-cloud-modeler-chart`, etc versions

It will be much more efficient to run the tests within the change to the full example chart rather than testing the change to the chart outside within an updatebot pr in t

[2018-12-14 08:53] ryandawsonuk commented on #2273
I think it would be OK to update full-example ahead of scenarios running but not propagate that to activiti-cloud-charts until the scenarios tests pass. So activiti-cloud-charts remains the repo for public consumers but is a consumer from acceptance-scenarios

[2018-12-14 09:08] yangpancode opened #2274 "Mybatis interceptor didn't work"
I need to modify the sql statement before mybatis executes sql, and to count the time consuming of sql. Adding an interceptor to activiti does not play any role. the code as follow:
[code]
I moved this code to other normal mybatis project and can intercept sql normally.

[2018-12-14 09:22] rasologg opened #2275 "Error when creating the table process_definition with Act Cloud Query + MariaDB"
2018-12-14 09:39:29.748  WARN [query,,,] 7696 --- [  restartedMain] o.h.t.s.i.ExceptionHandlerLoggedImpl     : GenerationTarget encountered exception accepting command : Error executing DDL "create table process_definition (id varchar(255) not null, app_name varchar(255), app_version varchar(255), service_full_name varchar(255), service_name varchar(255), service_type varchar(255), service_version

[2018-12-14 09:32] ryandawsonuk commented on #2269
Maybe rather than removing duplication we should just automate it.

So e.g. the runtime bundle chart is in the modeller repo and currently also in activiti-cloud-charts for consumers. This kinda makes sense as consumers may run a runtime bundle standalone and not inside example or compose their own example without using ours. I had been thinking we should remove this duplication but maybe instead

[2018-12-14 09:34] ryandawsonuk commented on #2269
@almerico @igdianov @salaboy do have a look at this, especially @almerico as although this is assigned to me you might end up working on it before me (if so feel free to reassign to yourself)

[2018-12-14 09:34] grasolondraibe commented on #2275
MariaDB console error
[code]
With it's ok with script below :
[code]

[2018-12-14 10:19] igdianov commented on #2273
We need to configure a separate node pool with cheap fat preemptive instances and enable auto-scaling to run acceptance scenarios pipelines using dedicated nodes with enough resources.
We also need to disable concurrent builds for acceptance tests pipelines in order not to run many acceptance tests pipelines at the same time.

[2018-12-14 10:24] igdianov opened #2276 "Let's configure preemptive node pool to run activiti-cloud-acceptance-scenarios"
so that we have enough resources to deploy preview chart for acceptance scenarios in separate node pool with cheap fat preemptive instances and auto-scaling to run acceptance scenarios pipelines

First, we create new node pool called `jenkins-x-builders` in GKE cluster with Preemptible nodes and Autoscaling options enabled. The node size should be minimum 8 CPU's or bigger to accommodate heavy wor

[2018-12-14 11:09] salaboy commented on #2275
https://github.com/Activiti/activiti-cloud-query-service/pull/145

[2018-12-14 12:29] #2275 closed, assigned to nobody

[2018-12-14 12:35] salaboy commented on #2274
@yangpancode what version are you using?

[2018-12-14 16:43] almerico commented on #2264
done

[2018-12-14 16:43] #2264 closed

[2018-12-14 20:42] CTI777 commented on #2259
We will provide reassign method for admins only (in TaskAdminRuntimeImpl):
For admin it will be possible to assign/reassign a user for the task, if the user is a task user/group candidate (this should be checked).
As a payload we may use ClaimTaskPayload or UpdateTaskPayload (maybe ClaimTaskPayload is more close?).

We will update following properties in Task update method (possible for task assig

[2018-12-17 00:49] itsonglin commented on #2253
`public String startProcess(String processKey, Map<String, Object> data, String businessKey, String userId) {
        processEngine.getIdentityService().setAuthenticatedUserId(userId);
        ProcessInstance instance = runtimeService.startProcessInstanceByKey(processKey, businessKey, data);
        return instance.getId();
    }`

I called method startProcess() once but got tow  instances. One of

[2018-12-17 06:50] jinzhiyuan521ping opened #2278 "Excuse me, how can I run this project in the idea?"
Excuse me, how do you run this project in the idea? How to use this project together?

[2018-12-17 08:06] almerico opened #2279 "Update and cleanup acceptance tests JX pipeline files"

[2018-12-17 09:37] almerico commented on #2279
additional updatebot push disable in https://github.com/Activiti/activiti-cloud-example-chart/pull/5

[2018-12-17 09:51] salaboy commented on #2278
@jinzhiyuan521ping you will need to be way more concrete with the question.. Which project?
What are you trying to run? which version?
Have you check the documentation? -> Please let me know if there are more questions for me.

[2018-12-17 09:51] #2278 closed

[2018-12-17 09:59] balsarori commented on #2253
@itsonglin do you have some code that we can use to reproduce the issue?

[2018-12-17 10:04] #2273 closed

[2018-12-17 11:02] erdemedeiros commented on #1804
@mauriziovitale @salaboy I've check against Beta4 and contents are now the same, except for lastModifiedDate that is present in query, but not in runtime bundle.

[2018-12-17 11:02] #1804 closed

[2018-12-17 11:17] salaboy commented on #1804
@erdemedeiros and that is correct, because lastModified is something that is generated only on the query side. so it is ok to close this issue.

[2018-12-17 17:16] davidcanonieto opened #2281 "Missing Task Details duration and end Date attributes"
The current Task Details Model lacks duration and end date. It can be achieved by combining other attributes but this might lead to further confusion and complication.

[2018-12-17 18:16] ryandawsonuk commented on #2268
Started moving to this via:
https://github.com/Activiti/ttc-charts/pull/1
https://github.com/Activiti/ttc-connectors-reward/pull/29
https://github.com/Activiti/ttc-connectors-ranking/pull/26
https://github.com/Activiti/ttc-query-campaign/pull/25
https://github.com/Activiti/ttc-rb-english-campaign/pull/27
https://github.com/Activiti/ttc-query-campaign/pull/25
https://github.com/Activiti/ttc-campaig

[2018-12-18 08:50] salaboy commented on #2281
this was solved . by the history service, now the Query service should provide this information: https://github.com/Activiti/Activiti/blob/develop/activiti-engine/src/main/java/org/activiti/engine/history/HistoricTaskInstance.java#L37

Due the task basic entity doesn't have this information:
https://github.com/Activiti/activiti-api/blob/develop/activiti-api-task-model/src/main/java/org/activiti/ap

[2018-12-18 09:08] miguelruizdev commented on #2281
Neither the TaskInfo that Task extends: https://github.com/Activiti/Activiti/blob/develop/activiti-engine/src/main/java/org/activiti/engine/task/TaskInfo.java

[2018-12-18 09:12] salaboy opened #2283 "Conformance Tests Set 3 and 4"
As defined here: https://docs.google.com/document/d/1-3ek-02fYteHURdQYDwUeVxqODmhZP0DwtyXNweGkOc/edit#heading=h.53ifpm5tybd8

Set 3 and 4 implementations

[2018-12-18 11:22] davidcanonieto opened #2284 "Date format not consistent on responses"
Sometimes dates are given in milliseconds and other times in date format. See two examples above.

When updating a task:
[code]

When getting a task by id:

[code]

[2018-12-18 11:39] ggrnd0 commented on #2253
Try to see in HistoryManager.recordProcessStarted why another instance started.

[2018-12-18 13:10] almerico commented on #2276
![screen shot 2018-12-18 at 9 58 21 am](https://user-images.githubusercontent.com/2116248/50156256-fe0c8100-02d6-11e9-878a-e1f34c57a2f1.png)
During configuration stumble to strange limit

[2018-12-18 13:20] almerico commented on #2279
fixed

[2018-12-18 13:20] #2279 closed

[2018-12-18 14:07] almerico commented on #2265
diasbled for activiti-cloud-application,acceptance tests scenarios and full example chart

[2018-12-18 14:07] #2265 closed

[2018-12-18 14:36] miguelruizdev commented on #2281
Probably that type conversion should take place on the client side, though

[2018-12-18 17:03] almerico opened #2285 "add pipeline files for activiti-cloud-infrastructure"

[2018-12-18 17:05] almerico opened #2286 "add pipeline files for activiti-keycloak"

[2018-12-18 17:06] almerico opened #2287 "add pipeline files for activiti-gateway"

[2018-12-19 05:09] itsonglin commented on #2253
@balsarori I have no idea how to reproduce this issue. My controller receives a request and then call the method startProcess() defined in service. Maybe I should use synchronized to avoid the issue?

[2018-12-19 08:32] salaboy commented on #2253
@itsonglin it should be easy to debug.. put a breakpoint when you call startProcess and see if you are hitting it twice.. it sounds more like a duplicated request than a process engine issue.

[2018-12-19 08:32] salaboy commented on #2253
@itsonglin maybe you have two instances of your controller (???)

[2018-12-19 08:33] salaboy commented on #2284
@davidcanonieto can you include the urls that you used for the requests? are those two answers coming from different services ?

[2018-12-19 10:11] erdemedeiros opened #2290 "Two implementations of UserGroupManager are available in the classpath"
Both `activiti-spring-identity` and `activiti-cloud-services-common-identity-keycloak` are available in the class path and are providing two different implementations of `UserGroupManager`. In the starter we want to keep only `activiti-cloud-services-common-identity-keycloak`.

Action: check where dependency to `activiti-spring-identity` is coming from and remove it if possible.

Current `dependen

[2018-12-19 15:37] DestinyWang opened #2291 "Activiti6 dynamic Task creation cannot complete"
Activiti6 is what I use to temporarily add a UserTask to the process. I want to do the following scenario:

But I found two problems:
1. The original Task can be completed, but the Task temporarily added cannot be completed. The following exception will be thrown:
[code]
2. In the `ACT_HI_TASKINST` table, the task added temporarily does not have processInstanceId or other process information
![ima

[2018-12-19 18:37] salaboy commented on #2291
@DestinyWang it will be great if you provide a project to reproduce the problem. A maven project hosted in GitHub with a test failing will be great. so we can debug what is going on and try to help.
With the information provided here it is quite difficult to see what might be failing.

@balsarori can you spot the problem?

[2018-12-20 07:21] igdianov opened #2292 "It would be awesome to prioritize merging and releasing PR's in Api and upstream repos"
for any pending or blocking issues.  It will make it so much easier to work on the implementations in downstream repositories without manual version overrides in local environments esp. when switching between different PRs. It will also help to run downstream PR's through Travis pipelines with real feedback.

The Api's layer PR's are usually quite small, so it should not take a lot of time to revi

[2018-12-20 09:35] salaboy commented on #2292
Totally agree. changes in the API should be quickly merged..
I will take the lead on this one. We also need fixed days for PR review and merging.. we are not organised just yet.

[2018-12-20 09:43] PandaChin opened #2294 "The SpringJUnit4 can not work!!!"
When I run the MyBusinessProcessTest，error info as follows:
[main] ERROR org.springframework.test.context.TestContextManager - Caught exception while allowing TestExecutionListener [org.springframework.test.context.support.DependencyInjectionTestExecutionListener@724af044] to prepare test instance [com.comisys.lanxin.blueprint.workflow.MyBusinessProcessTest@52aa2946]
org.springframework.beans.fact

[2018-12-20 10:38] #2294 closed

[2018-12-20 10:41] ryandawsonuk opened #2295 "naming of SecurityPoliciesApplicationService or SecurityPoliciesManager"
See the renaming in https://github.com/Activiti/activiti-cloud-query-service/pull/146/files

SecurityPoliciesManager is a better name but that PR only changes this in query-service. Need to look at runtime-bundle-service and audit-service to get the naming consistent

[2018-12-20 14:08] almerico opened #2297 "Add activiti-cloud-modeling to pipeline"

[2018-12-20 14:50] DestinyWang commented on #2291
@salaboy ok here is the project:

[activiti-demo](https://github.com/DestinyWang/activiti-demo)

Hopefully you can figure out the cause of the problem, and if you can implement how can I do what I'm talking about

[2018-12-20 15:02] erdemedeiros opened #2299 "Update task update acceptance test to cover all the updatable fields"
Currently the [update task acceptance test](https://github.com/Activiti/activiti-cloud-acceptance-scenarios/blob/master/runtime-acceptance-tests/src/main/resources/stories/runtime-bundle/task-actions.story#L115) is covering all only the update of the task name. It should cover all the updatable fields instead (i.e. priority).

[2018-12-21 06:12] igdianov opened #2300 "Missing Start process instance by message in Runtime Bundle Rest Api"
to allow start BPMN process by message using RuntimeService.startProcessInstanceByMessage JavaApi with the following payload:

[code]

[2018-12-21 06:35] igdianov opened #2301 "Let's make Activiti Cloud Example Docker compose files up-to-date"
in https://github.com/Activiti/activiti-cloud-examples and keep it in sync with published Activiti Cloud Docker images, so that anyone can run Activiti Cloud in local Docker (Virtualbox and Docker for Desktop) on local machine with limited resources (~4 CPUs/16GB RAM) without Minikube overhead

We could make use of `Makefile` to automate Docker-Compose commands to be able to control sets container

[2018-12-21 08:34] almerico commented on #2285
Done

[2018-12-21 08:34] #2285 closed

[2018-12-21 08:34] almerico commented on #2286
done

[2018-12-21 08:34] #2286 closed

[2018-12-21 08:34] almerico commented on #2287
done

[2018-12-21 08:34] #2287 closed

[2018-12-21 08:45] #2267 closed

[2018-12-21 09:36] salaboy commented on #2301
@igdianov I would love to have time for this.. but we will need to push this for after feb

[2018-12-21 09:38] salaboy commented on #2300
@igdianov we are planning to do this and other BPMN constructs (supporting BPMN messages) after the first final.

[2018-12-21 10:19] salaboy commented on #2148
@miguelruizdev we need to confirm this one is fixed

[2018-12-21 10:22] #2230 closed

[2018-12-21 10:28] balsarori opened #2302 "Add the possibility to register multiple process start interceptors"
The only way to intercept starting a new process is to override the default [ProcessInstanceHelper](https://github.com/Activiti/Activiti/blob/develop/activiti-engine/src/main/java/org/activiti/engine/impl/util/ProcessInstanceHelper.java) class in the engine. This makes it hard to add custom logic intercepting the process start from different modules.

One solution is to allow the registration of m

[2018-12-21 10:38] #2074 closed

[2018-12-21 10:39] balsarori commented on #2291
@DestinyWang adding a task on the fly to a process like that will not work. The engine doesn't know what to execute next when that task completes.

[2018-12-21 10:40] ryandawsonuk commented on #2269
@almerico I think we're well on the way to addressing this issue now - I think we just need to start automatically updating https://github.com/Activiti/activiti-cloud-charts/blob/master/activiti-cloud-full-example/requirements.yaml

[2018-12-21 10:40] DestinyWang commented on #2291
@balsarori What puzzles me is how do I tell the engine what to do next

[2018-12-21 11:22] #2069 closed

[2018-12-21 13:33] constantin-ciobotaru opened #2303 "Add extensions to process models in modeling"

[2018-12-21 16:38] mteodori opened #2304 "Swagger aggregation"

[2018-12-21 16:39] mteodori opened #2305 "Generate swagger artifacts"
Generate swagger documentation and attach as maven artifact with api-docs classifier in order to make it consumable from code generators

[2018-12-22 09:03] salaboy commented on #1726
Initial page added: https://activiti.gitbook.io/activiti-7-developers-guide/components/activiti-cloud-modeling

[2018-12-22 09:03] #1726 closed

[2018-12-23 12:06] salaboy commented on #2284
Closing due cannot reproduce with Beta4. All tests in RuntimeBundle APIs and Query

- Get All My Tasks
GET {{gateway}}/rb-my-app/v1/tasks
[code]
- Get By Id
GET {{gateway}}/rb-my-app/v1/tasks/{id}

- Update (priority to 12):
PUT {{gateway}}/rb-my-app/v1/tasks/{id}
[code]

- Get Tasks in Query
GET {{gateway}}/query/v1/tasks

[code]
- Get Task By Id in Query
GET {{gateway}}/query/v1/tasks/

[code]

[2018-12-23 12:06] #2284 closed

[2018-12-23 12:11] salaboy commented on #2304
@mteodori please feel free to re-assign to whoever will work on this. I am adding it to RC1, because I think that we will need this in a stable release

[2018-12-23 12:31] salaboy commented on #2247
PR ready to review:
https://github.com/Activiti/activiti-cloud-connectors/pull/77

[2018-12-23 12:33] salaboy commented on #2177
no time in Beta5, this needs to be done by RC1
@mteodori if you can assign something to work on this will be great.

[2018-12-23 12:34] salaboy commented on #2148
@miguelruizdev please confirm.. the acceptance test lib was updated so now we need to validate with the new images only

[2018-12-24 04:56] Jary1 commented on #2304
mute the thread

At 2018-12-23 20:12:09, "salaboy" <notifications@github.com> wrote:

@mteodori please feel free to re-assign to whoever will work on this. I am adding it to RC1, because I think that we will need this in a stable release

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-12-24 09:07] constantin-ciobotaru opened #2310 "[Acceptane Tests] Add scenarios for process extensions in modeling"

[2018-12-24 09:09] constantin-ciobotaru opened #2311 "[Modeling] Align process extensions from modeling with the process extensions from runtime bundle"
Runtime Bundle and Modeling share the same logic and model objects .. so we need to unify and share those artifacts between services.

[2018-12-24 09:17] salaboy commented on #2304
@mteodori yes it is.. we are releasing the gateway in each major release  (https://github.com/activiti/activiti-cloud-gateway) so you will find the tags in there. It is also part of our infrastructure, so yes.. it is deployed by the full example HELM chart as part of the sub Infrastructure HELM chart.. If we add the aggregator in the gateway, we will see the benefits straight away.

[2018-12-24 09:19] salaboy commented on #2311
@constantin-ciobotaru @balsarori to add more context this is to unify the models used to parse the extensions between modeling and runtime. This probably push us to add those models to APIs, which is fine in my opinion. @ryandawsonuk just for you to be aware of this

[2018-12-24 13:39] almerico commented on #2297
FIXES https://github.com/Activiti/activiti-cloud-modeling/pull/29

[2018-12-24 13:40] almerico commented on #2297
PR  Activiti/activiti-cloud-modeling#29

[2018-12-24 13:40] #2297 closed

[2018-12-24 13:45] almerico opened #2312 "Add activiti-modeling-app to pipeline for updating version in activiti-model chart"

[2018-12-25 13:35] salaboy commented on #2205
@balsarori are we planning to fix this for 6.x? should we fix it for 7?

[2018-12-26 02:41] yanwencheng opened #2313 "use activiti-ui in spring boot"
Hello, everyone. What do I need to do to use activiti-ui in spingboot? Mainly process designer, form designer, decision Designer

[2018-12-27 01:13] yanwencheng commented on #2313
ok ，thank you

[2018-12-27 07:34] leiyazhen opened #2314 "how to integrate activiti6.0.x with springboot2.0.x,for me boot version is 2.0.6"
when i start boot i got this below:
Caused by: java.io.FileNotFoundException: class path resource [org/springframework/security/config/annotation/authentication/configurers/GlobalAuthenticationConfigurerAdapter.class] cannot be opened because it does not exist
	at org.springframework.core.io.ClassPathResource.getInputStream(ClassPathResource.java:180)
	at org.springframework.core.type.classreading

[2018-12-27 09:17] salaboy commented on #2314
@leiyazhen I suggest you to use the forums or stackoverflow for questions. Regarding Spring Boot 2.x, we are aiming Activiti 7 / Activiti Cloud to work with Spring Boot 2.x and Activiti 6.x was supposed to work with Spring Boot 1.5.x. We are not planning to work on Activiti 6.x compatibility with Spring Boot 2.x, but I know that there are some community users that manage to configure it correctly.

[2018-12-27 09:17] #2314 closed

[2018-12-27 09:33] salaboy commented on #2171
@igdianov first stab at the problem was merged

[2018-12-27 09:33] #2171 closed

[2018-12-27 11:04] salaboy commented on #2138
@daisuke-yoshimoto amazing stuff! now we need to make sure that we use a sensible default in the RB project.

[2018-12-27 11:24] daisuke-yoshimoto opened #2315 "Apply never-fail autodeployment option to Runtime Bundle"
In this issue, apply the autodeployment option(never-fail ) added with the following issue to the Runtime Bundle.
https://github.com/Activiti/Activiti/issues/2138

[2018-12-27 11:31] daisuke-yoshimoto commented on #2138
@salaboy Ok. I will apply optin to rb in the following issue.
https://github.com/Activiti/Activiti/issues/2315

[2018-12-27 11:38] salaboy opened #2316 "Configuration beans in Core requires override"
Florian Bellotti @fbellotti_gitlab 11:01
ok. Because, I've just convert some of your activiti basic example with Kotlin and gradle and I have this error : 'The bean 'apiVariableInstanceConverter', defined in class path resource [org/activiti/runtime/api/conf/CommonRuntimeAutoConfiguration.class], could not be registered. A bean with that name has already been defined in class path resource [org/ac

[2018-12-27 12:10] #2316 closed

[2018-12-27 13:10] miguelruizdev opened #2318 "Missing processDefinitionKey in resumed process instances in query service"
The processDefinitionKey disappears in query service after resuming a process instance previously suspended.
When suspended, the instance still keeps the field:
![image](https://user-images.githubusercontent.com/32025234/50481314-1b310600-09e1-11e9-8116-6b13598eb041.png)
When resumed, the field is gone:
![image](https://user-images.githubusercontent.com/32025234/50481332-33088a00-09e1-11e9-8336-fb

[2018-12-27 13:35] salaboy commented on #2247
@ryandawsonuk @grasolondraibe merged in connectors develop branch. This should be included in beta5. @grasolondraibe we will appreciate if you can test this change.

[2018-12-27 13:35] #2247 closed

[2018-12-27 14:55] salaboy commented on #2138
initial work done by @daisuke-yoshimoto merged into develop

[2018-12-27 14:55] #2138 closed

[2018-12-27 15:20] salaboy commented on #1893
@CTI777 the only thing that we need to do here is to implement the filter for parentTaskId = null, which means root tasks only.

[2018-12-27 15:33] #2259 closed

[2018-12-27 15:33] #2262 closed

[2018-12-27 17:54] #2113 closed

[2018-12-28 08:53] salaboy commented on #2096
merged in all repos

[2018-12-28 08:53] #2096 closed

[2018-12-28 08:56] salaboy commented on #2315
merged

[2018-12-28 08:56] #2315 closed

[2018-12-28 09:55] salaboy commented on #2231
merged in develop

[2018-12-28 09:55] #2231 closed

[2018-12-28 11:01] salaboy commented on #1873
@mauriziovitale can you please elaborate a little bit more about the content that you are expecting.
For example.. you cannot do
```GET http://{{domain}}/myapp-rb/v1/process-definitions/4159a15f-3f1b-11e8-aa83-0a586460031e/model```
because that ID is not a process definition id is a process instance ID.. so that call will never work.

Doing a GET to:
```http://{{domain}}/myapp-rb/v1/process-instan

[2018-12-28 11:04] salaboy commented on #1872
@mauriziovitale this is working correctly in Beta4.
Correctly means:
- if you don't add Accept header it will return a image/svg+xml content
- if you add Accept: image/svg+xml it will return correctly
- if you add Accept: application/json it will return 406 not acceptable

[2018-12-28 11:04] #1872 closed

[2018-12-28 11:10] salaboy commented on #1873
@ryandawsonuk @erdemedeiros @igdianov @daisuke-yoshimoto this highlight the need of moving away from Runtime Bundle the generation of the process diagrams. This should be responsibility of the Query Service. User Interfaces or Client Applications will rely on the Runtime Bundle to be alive to render process diagrams and that is a not a good approach. It is adding "read" responsibility to the RB wh

[2018-12-28 11:31] salaboy commented on #1873
@mauriziovitale let's have a quick catch up on this one.. the more a look into the problem that we are trying to solve here the more I think that we need to return the decorated SVG and the Front End should use that, not matter which is the current/previous solution. We need to agree on a way moving forward that doesn't hurt us in the future even if it means to modify some of the existing componen

[2018-12-28 11:45] miguelruizdev commented on #2148
Everything green 👍

[2018-12-28 11:45] #2148 closed

[2018-12-28 12:02] salaboy commented on #1873
This PR adds the endpoint that @mauriziovitale https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/195 but we shouldn't merge until we agree on what is the best way to deal with diagrams

[2018-12-30 00:38] daisuke-yoshimoto commented on #1873
@salaboy @igdianov

In the meantime, if it only corresponds to the content of the issue, is it acceptable for [salaboy's PR](https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/195) content? How about moving the process diagram as a separate issue?

Also, I think it is certainly a duty of Query Service too, but is it hard to change it so that process diagrams can be generated wi

[2018-12-31 09:57] #2303 closed

[2018-12-31 11:10] salaboy commented on #1893
@mauriziovitale @CTI777 as I mention in my comments of the PR I would prefer something like

[code]
to avoid exposing =null to the user

[2019-01-01 18:14] salaboy commented on #1893
ok so v1/tasks/rootTasksOnly.. implemented in develop .. We need to have a acceptance tests for this.

[2019-01-01 18:14] #1893 closed

[2019-01-01 18:14] salaboy opened #2319 "Add Acceptance tests for query /v1/tasks/rootTasksOnly"
Related to: https://github.com/Activiti/Activiti/issues/1893

[2019-01-01 18:16] salaboy commented on #2075
merged in develop, we need acceptance tests for signals

[2019-01-01 18:16] #2075 closed

[2019-01-01 18:16] salaboy opened #2320 "Acceptance tests needed for signals"
Related to:
https://github.com/Activiti/Activiti/issues/2075

[2019-01-02 08:57] salaboy commented on #2009
@mkawczynski07 @stoicko guys.. can you share the dependency that you are using for including the UaaClient class? I want to provide you guys a module that you can just include in your JHipster app to avoid you maintaining that integration.. I can share a branch with these modules so you can test it before we release. The sooner I get the right dependency for UAA Client the sooner that I can share

[2019-01-02 09:18] salaboy commented on #2244
- Runtime Bundle
- Query Service
- Audit Service

[2019-01-02 09:31] mkawczynski07 commented on #2009
[code]

[code]

**AuthorizedUserFeignClient** is generated class by jHipster.
**uaa** is a name of our UAA microservice.

[2019-01-02 09:33] #2244 closed

[2019-01-02 11:02] salaboy commented on #1970
initial check at process level for business key in events: https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/174

[2019-01-02 11:02] salaboy commented on #1970
@igdianov we merged the events decoration with metadata such as business key.. should this be solved already?

[2019-01-02 11:10] mkawczynski07 commented on #2009
Just generate simple microservice with jhipster then you could check out AuthorizedUserFeignClient class.

[2019-01-02 15:02] ryandawsonuk opened #2321 "clarify how stream names and separators relate"
We made changes in RB-service and connectors starter for https://github.com/Activiti/Activiti/issues/2247 so that now the dynamic stream name defaults to the format:

`integrationResult${activiti.cloud.mq.destination.separator}${spring.application.name}`

Here `${activiti.cloud.mq.destination.separator}` defaults to `_` so effectively this is:

`integrationResult_${spring.application.name}`

Prior

[2019-01-02 15:40] miguelruizdev opened #2322 "Task formKey property not propagated to Query when updated"
The updated value of the property formKey of a task is not propagated to query.
When formKey is updated, among other properties:
![image](https://user-images.githubusercontent.com/32025234/50598555-62b90580-0eab-11e9-9356-e5eabeb9ff46.png)

The value is correctly updated in the Runtime Bundle:
![image](https://user-images.githubusercontent.com/32025234/50598617-8e3bf000-0eab-11e9-9910-2335c6d4a37e

[2019-01-02 16:57] miguelruizdev commented on #2222
This issue is addressed by this [PR](https://github.com/Activiti/activiti-cloud-acceptance-scenarios/pull/31), which cannot build till this other [issue](https://github.com/Activiti/Activiti/issues/2318) is fixed

[2019-01-02 18:03] ryandawsonuk commented on #2269
Also need to discuss https://github.com/Activiti/activiti-cloud-acceptance-scenarios/pull/68#issuecomment-450935579

[2019-01-03 08:43] miguelruizdev opened #2323 "Add check for Process Definitions in Query"
Update an existing [test](https://github.com/Activiti/activiti-cloud-acceptance-scenarios/blob/master/runtime-acceptance-tests/src/main/resources/stories/runtime-bundle/process-instance-actions.story#L7) adding the check for Process Definitions also in Query, as [this PR](https://github.com/Activiti/activiti-cloud-query-service/pull/146) allows it

[2019-01-03 09:04] daisuke-yoshimoto opened #2324 "Integrate Modeling Service's backend and frontend into one Docker container"
Salaboy @Salaboy 12月 31 2018 21:10
I was thinking that you might be able to help us in running the modeling backend with the front end all in one docker container
Daisuke Yoshimoto @daisuke-yoshimoto 12月 31 2018 21:21
@Salaboy Ok.
Salaboy @Salaboy 12月 31 2018 21:22
@daisuke-yoshimoto maybe creating a script and a maven profile to package the angular app with the springboot app
Daisuke Yoshimoto @d

[2019-01-03 09:09] CTI777 commented on #2318
Currently it seems that all events related to process, except of create an start should have processDefinitionKey = null
In this class org.activiti.engine.impl.cmd.AbstractSetProcessInstanceStateCmd Execute method is called, and it returns object where everything is null
ExecutionEntity executionEntity = commandContext.getExecutionEntityManager().findById(processInstanceId);

This can be used for

[2019-01-03 09:35] almerico opened #2325 "bidirectional dependencies issue in pipeline with acceptance scenarios"
Ryan Dawson @ryandawsonuk Jan 02 19:51
Well I think I have a resolution to the task event checks in acceptance tests but I also think it has highlighted a problem in the pipelines. Right now activiti-cloud-acceptance-scenarios repo will take master version of full example chart and deploy it to test against. This fails because master chart isn't up to date so doesn't contain the relevant task even

[2019-01-03 10:48] miguelruizdev commented on #2323
This issue has been addressed by these PRs:

- https://github.com/Activiti/activiti-cloud-acceptance-tests/pull/92
- https://github.com/Activiti/activiti-cloud-acceptance-scenarios/pull/70

[2019-01-03 12:37] ryandawsonuk opened #2326 "task deleted event not visible when security policies enabled"
Run the acceptance-scenarios without security policies enabled and all the runtime tests pass, including the test called `delete a standalone task`. If you then query `audit/v1/events?size=1000` and search for `new-task` you see this sequence of events corresponding to that scenario:

[code]

If you enable the security policies (so remove the helm install, change the values file and install again)

[2019-01-03 13:14] miguelruizdev commented on #2318
As green tests by Illia suggest, it turns out that the missing information in the entity, is present in the event:

- In AuditProducerIT, this passes:
`assertThat(((CloudProcessResumedEvent)receivedEvents.get(0)).getProcessDefinitionKey()).isEqualTo(SIMPLE_PROCESS);`
- Whereas this doesn't:
`assertThat(((CloudProcessResumedEvent)receivedEvents.get(0)).getEntity().getProcessDefinitionKey()).isEqual

[2019-01-03 13:15] miguelruizdev commented on #2318
We wonder if this has a fix at a converter level, and where that converter might be

[2019-01-03 13:17] almerico opened #2327 "reliability of pipeline and avoid occasional github fail during helm chart push"
! [rejected]        gh-pages -> gh-pages (fetch first)
error: failed to push some refs to 'https://github.com/Activiti/activiti-cloud-helm-charts.git'
hint: Updates were rejected because the remote contains work that you do
hint: not have locally. This is usually caused by another repository pushing
hint: to the same ref. You may want to first integrate the remote changes
hint: (e.g., 'git pull ..

[2019-01-03 15:01] ryandawsonuk commented on #2326
Created branch ryan-2326-eventvisibility on activiti-cloud-audit-service with a test that I thought would reproduce this but it doesn't. Perhaps what is needed is to turn on sql logging on the deployed services and step through the scenario.

[2019-01-03 15:53] ryandawsonuk commented on #2326
Managed the get the query from sql logging as:

[code]

[2019-01-03 15:58] salaboy commented on #2318
Just to be sure.. the problem is here:
https://github.com/Activiti/activiti-cloud-query-service/blob/develop/activiti-cloud-services-query/activiti-cloud-services-query-rest/src/main/java/org/activiti/cloud/services/query/events/handlers/ProcessResumedEventHandler.java#L50

When resuming a process we shouldn't override this data if the entity already has it stored from previous events. Also it hig

[2019-01-03 16:25] nhalase commented on #1919
When we were on Activiti 5, we were using a StandaloneProcessEngineConfiguration without Spring. Now that we're on Activiti 6, we're using the SpringProcessEngineConfiguration and I'm wiring in the PlatformTransactionManager. Our setup is fairly vanilla with following the examples and documentation available.

[2019-01-03 16:43] ryandawsonuk commented on #2326
I ran TaskIT.shouldBeAbleToDeleteTask in debug mode with a breakpoint on CloudTaskCancelledProducer.onEvent and that does indeed get called. So it does at least generate the event there.

[2019-01-04 07:11] #2276 closed

[2019-01-04 07:51] daisuke-yoshimoto commented on #2324
@salaboy @igdianov
Is it okay to load the build artifacts of activiti-modeling-app (contents of the dist directory after npm run-script build command) into the Spring Boot application of activiti-cloud-modeling?

(ex) activiti-modeling-app/dist -> activiti-cloud-modeling/src/main/resources/static

[2019-01-04 08:35] salaboy commented on #2326
hmm still doesn't make too much sense to me

[2019-01-04 08:45] salaboy opened #2328 "Gateway Expressions are failing at runtime, new API should fail fast"
the following code throws an exception if we have a process with a gateway and a wrong expression in the sequenceFlows
[code]

for example:

[code]

The new API should validate the expressions and fail on deployment of the process definition.

[2019-01-04 08:47] salaboy opened #2329 "Default SequenceFlow option should be added to Exclusive Gateway"
When having an exclusive gateway a default sequence flow option should be provided.
It needs to be provided in the properties of the Exclusive Gateway element.

<img width="1168" alt="screenshot 2019-01-04 at 08 47 11" src="https://user-images.githubusercontent.com/271966/50679932-7d02f880-0ffd-11e9-85e1-64de3ab6d0ad.png">

[2019-01-04 09:05] salaboy commented on #1919
@balsarori have you seen this before? can you please guide @nhalase

[2019-01-04 09:45] salaboy opened #2330 "Add and Delete Candidate Users/Groups should emit events"
Currently there are no events being emitted as part of this operations

https://github.com/Activiti/activiti-api/blob/develop/activiti-api-task-runtime/src/main/java/org/activiti/api/task/runtime/TaskRuntime.java#L121

[2019-01-04 09:52] salaboy commented on #2283
https://github.com/Activiti/Activiti/pull/2331

[2019-01-04 09:58] salaboy commented on #2318
PRs merged.. so closing this issues..

[2019-01-04 09:58] #2318 closed

[2019-01-04 10:45] almerico opened #2332 "avoid docker images created during PR to pushed to dockerhub"
avo

[2019-01-04 10:56] #2299 closed

[2019-01-04 11:00] almerico commented on #2312
pipeline files are added

[2019-01-04 11:00] #2312 closed

[2019-01-04 12:23] mteodori commented on #2324
@daisuke-yoshimoto @salaboy I have a Dockerfile that was doing that already, for the database is it going to use embedded without any need of another docker container?

[2019-01-04 13:35] salaboy commented on #2324
@mteodori can you share that please? and yes.. embedded DB.

[2019-01-04 13:53] salaboy commented on #2269
closing this due a discussion with @almerico and @ryandawsonuk
Conclusion: we are not ready to publish the automated charts and delete activiti-cloud-charts just yet.
We need more work to clean up and stabilise the automated charts generation

[2019-01-04 13:54] #2049 closed

[2019-01-04 13:54] #2323 closed

[2019-01-04 13:54] #2222 closed

[2019-01-04 14:14] daisuke-yoshimoto commented on #2324
@mteodori @salaboy
Should I stop this issue?

[2019-01-04 14:42] almerico opened #2333 "full automation for customer helm chart creation"

[2019-01-04 14:43] almerico opened #2334 "email notification for full example acceptance tests failure"

[2019-01-04 14:44] almerico opened #2335 "avoid jar files upload to the nexus for PR"

[2019-01-04 16:04] ryandawsonuk commented on #2326
We now have the tests running with security policies enabled in the pipelines and all passing there. The versions have moved on since I was encountering this. Will treat it as resolved and reopen if we see it again.

[2019-01-04 16:04] #2326 closed

[2019-01-04 16:14] mteodori commented on #2324
I've created an example here: https://github.com/mteodori/activiti-modeling-standalone/

The final result is not standalone though as it requires keycloak, what shall we do, disable?

Also not sure what we want to do next if to apply changes to https://github.com/activiti/activiti-modeling-app repo or create another repository like this one

[2019-01-04 16:21] salaboy commented on #2324
@daisuke-yoshimoto @mteodori please collaborate on this one.. @daisuke-yoshimoto check @mteodori approach which is quite clever.. just overlaying two docker images..

What @daisuke-yoshimoto was trying to get working is more on the spring boot world.. which is needed to provide spring security instead of Keycloak integration. But we can solve that on the backend image only.

Next steps in my opini

[2019-01-04 16:38] mteodori commented on #2324
I will try and find a property that disables the keycloak adapter and another that disables the spring security check and see how to change the front-end to skip the login screen as it would much less work than the above

[2019-01-04 19:57] daisuke-yoshimoto commented on #2324
@mteodori @salaboy
Thanks. I checked activiti-modeling-standalone.

I found another problem.
When transitioning to the direct URL(routing by Spring Boot) instead of the SPA transition, 404 error occurs.
![2019-01-05 4 53 59](https://user-images.githubusercontent.com/16251291/50708081-6d8bba00-10a6-11e9-9c53-e1223c809a1d.png)

[2019-01-04 20:30] daisuke-yoshimoto commented on #2324
@salaboy
Is not it ok to integrate the repositories of activiti-cloud-modeling and activiti-modeling-app in the first place? Is there a merit to keep it separated?

[2019-01-04 20:47] daisuke-yoshimoto commented on #2324
@mteodori @salaboy

I think that it is necessary to change the setting on the front-end side. In the current setting, Oauth 2 authentication using keycloak is set up.
https://github.com/Activiti/activiti-modeling-app/blob/master/src/app.config.json

[2019-01-05 03:58] igdianov opened #2336 "Activiti Cloud Notifications GraphQL Service and Microservice Example"
- [x] Create Notifications GraphQL Services implementation and Starter PR in https://github.com/Activiti/activiti-cloud-notifications-service-graphql/pull/1
- [x] Add Updatebot push version configuration to Activiti Cloud Build: https://github.com/Activiti/activiti-cloud-build/pull/80
- [x] Add Updatebot push version configuration to Activiti Cloud Query:  https://github.com/Activiti/activiti-clou

[2019-01-06 15:02] daisuke-yoshimoto commented on #2324
@salaboy @mteodori
I started PR with a plan to realize with spring boot world. Authentication etc are not yet available.
https://github.com/Activiti/activiti-cloud-modeling/pull/38

[2019-01-06 15:36] daisuke-yoshimoto commented on #1873
@salaboy

By using bpmn-io's bpmn-js, we can display the process diagram from bpmn source.
We can also export it as svg.
(ex)
https://rawgit.com/bpmn-io/bpmn-js-examples/master/starter/viewer.html
https://github.com/bpmn-io/bpmn-js-examples/blob/master/starter/viewer.html

Also, it is better to generate a process diagram at the front end using bpmn-js for the following two reasons.
1. It is more r

[2019-01-07 08:59] salaboy commented on #1873
@daisuke-yoshimoto this is good stuff.. what do we need to have in query then? does BPMN.io uses a json representation of the process? or just the XML?

[2019-01-07 09:02] salaboy commented on #2334
@almerico it doesn't really need to be by email.. but we need a notification that we can clearly see.. maybe a Gitter message mentioning the core team?

[2019-01-07 09:02] salaboy commented on #2334
@almerico I want to avoid wasting time in setting up an email account and email server for doing that.. whatever that is quick will work for now.

[2019-01-07 09:03] salaboy commented on #1970
@igdianov you have too many jx bots accounts ;)

[2019-01-07 09:20] salaboy commented on #2324
@mteodori we need spring security there.. I don't want to change the app behaviour because of the way that we choose to deploy it. This is quite common even for standalone applications. We want to make sure that we can pick up the currently logged in user, the entire application relies on such data. Also we don't want to maintain to separate applications.

[2019-01-07 09:21] salaboy commented on #2324
@daisuke-yoshimoto yes.. we need to basically exclude keycloak apdater and just configure spring security to use OAuth2 with a set of users defined maybe in a property file (??) we need to investigate this. Using OAuth2 will allow us to not change the front end at all.

[2019-01-07 09:22] salaboy commented on #2324
@daisuke-yoshimoto we cannot merge both projects in a single repository.. because backend and front end have separate lifecycles.. what I suggested above is to have a third repository where we do the integration using a script.

[2019-01-07 10:32] salaboy commented on #2234
moved to master.

[2019-01-07 10:32] #2234 closed

[2019-01-07 10:42] salaboy opened #2337 "Conformance Tests Set 5 - Call Activity basics"
Add Conformance Tests around Call Activities:

https://docs.google.com/document/d/1-3ek-02fYteHURdQYDwUeVxqODmhZP0DwtyXNweGkOc/edit#

[2019-01-07 10:42] salaboy opened #2338 "Add Variables Conformance Tests"
Add Conformance tests for variable handling around processes and tasks.

https://docs.google.com/document/d/1-3ek-02fYteHURdQYDwUeVxqODmhZP0DwtyXNweGkOc/edit#

[2019-01-07 10:43] salaboy opened #2339 "Add Conformance Tests for Admin APIs"
Process, Tasks and Variables should be covered.

https://docs.google.com/document/d/1-3ek-02fYteHURdQYDwUeVxqODmhZP0DwtyXNweGkOc/edit#

[2019-01-07 10:50] salaboy opened #2340 "Tests Libraries refactoring to cover Conformance cases"
Related to this issue: https://github.com/Activiti/Activiti/issues/2261 we need to make sure that the libraries are exposing the method needed for conformance testing to be executed against our distributed infrastructure.

[2019-01-07 10:55] salaboy commented on #2250
@daisuke-yoshimoto is doing the first iteration of experimentation: https://github.com/Activiti/Activiti/issues/2324

I do believe that we need to keep both:
1) Persistence (to DB and to FileSystem via the current REST APIs abstraction layer)
2) Security (Spring Security will be more than enough to the standalone app, but it keeps it open to connect to a central SSO authority and also use things l

[2019-01-07 10:56] FDU-SE-LAB opened #2341 "Your project Activiti/Activiti is using buggy third-party libraries [WARNING]"
Hi, there!

We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.

We have attached the buggy third-party libraries and corresponding jira issue links below for you to have mo

[2019-01-07 11:09] salaboy opened #2342 "Mark as @Deprecated and @Internal old Activiti APIs"
We need to mark and document `@Deprecated` and `@Internal` APIs.

[2019-01-07 11:10] salaboy commented on #2305
@mteodori any update on this one?

[2019-01-07 11:10] salaboy commented on #2304
@mteodori did you found a way to aggregate swagger files?

[2019-01-07 11:59] salaboy opened #2343 "Move Conformance Document to Gitbook"
https://docs.google.com/document/d/1-3ek-02fYteHURdQYDwUeVxqODmhZP0DwtyXNweGkOc/edit#

Needs to be moved to gitbook so we can update it with every release.

[2019-01-07 13:04] daisuke-yoshimoto commented on #1873
@salaboy

I think that it is both.
We can display process diagrams from XML.
Even if there is only json, we can convert json to bpmn by using bpmn-moddle library
https://github.com/bpmn-io/bpmn-moddle

I think that we need to provide the endpoint to get executions.
Developers can generate process diagram by using bpmn-js with bpmn and execution information.

[2019-01-07 14:02] salaboy commented on #2329
@daisuke-yoshimoto yes.. i think that he is into it already..

[2019-01-07 15:10] ryandawsonuk opened #2344 "chart for official helm charts"
Would be good to have a chart that can be used across a range of cases and not need a new chart for each example. Problem is that the number and images of runtime bundles and connectors can vary.

I suspect for official charts we would need a dynamic chart like that and not a chart that deploys a particular example. See https://github.com/helm/helm/issues/5131

[2019-01-07 15:42] ryandawsonuk commented on #2333
Does this issue replace https://github.com/Activiti/Activiti/issues/2269 ?

[2019-01-07 15:55] ryandawsonuk commented on #2144
@salaboy that might well be it. The process seems to be https://github.com/Activiti/example-runtime-bundle/blob/6a59e17a3c3a3642cd460375f9a34590a1b443a7/src/main/resources/processes/SingleTaskProcessGroupCandidatesTestGroup.bpmn20.xml#L3 and while testUser has * access I don't see it in [the list for hruser](https://github.com/Activiti/activiti-cloud-example-chart/blob/master/charts/activiti-cloud

[2019-01-07 19:04] salaboy commented on #2144
@ryandawsonuk can you please do that?

[2019-01-07 19:07] salaboy commented on #2330
@CTI777 can you check audit? it seems to be done in query you are right.. I think that the only thing missing is a test in the spring boot starter to cover the java side of it.

[2019-01-07 19:10] salaboy commented on #2322
merged in query

[2019-01-07 19:10] #2322 closed

[2019-01-07 21:06] daisuke-yoshimoto commented on #2329
@salaboy
OK. I thought about trying a bit.

[2019-01-08 03:57] daisuke-yoshimoto commented on #2152
@salaboy
This is very confusing issue about Activiti's spec for Receive Task.
Activiti 's Receive Task is different from the BPMN 2.0 spec and can not be processed by messages.
https://www.activiti.org/userguide/#bpmnReceiveTask

In old Activiti, the API to process Receive Task was provided as @mkawczynski07 reported. This API was not releated to BPMN Signal Event.
https://www.activiti.org/javadoc

[2019-01-08 08:21] salaboy commented on #2152
@daisuke-yoshimoto thanks a lot for that detailed explanation.. I will do favour the standard (BPMN semantic) way to deal with signals. We need to solve this in the new API layer in a way that doesn't create confusion.
I wonder why we cannot do that with ProcessRuntime.signal() .. I would expect that ProcessRuntime signal triggers all the executions that are waiting for that signal.. it feels like

[2019-01-08 08:22] salaboy commented on #2329
@daisuke-yoshimoto I think that you could really help us with this one: https://github.com/Activiti/Activiti/issues/2328

[2019-01-08 08:31] daisuke-yoshimoto commented on #2328
@salaboy
Evaluation depends on information at run time, so perfect checking is impossible.
But, if it is a format check, it may be possible.

Certainly this check might be useful if there is.

[2019-01-08 08:34] salaboy opened #2346 "Upgrade to Spring Cloud Greenwich and SCK8s when released"
Spring Cloud Greenwich Final is about to be released so we should release RC1 with the final version of Greenwich

[2019-01-08 09:14] salaboy commented on #2328
@daisuke-yoshimoto exactly.. so we should do some pre-validation..
For example.. we can validate:
- If the expression make sense
- The expressions might use variables.. we can check if the variables used by the expressions are process variables
- We can definitely think about putting some limits to what you can do with "expressions" or have simplified expressions to only work with process variable

[2019-01-08 10:28] salaboy opened #2347 "Split Acceptance Test Scenarios Pipelines and Repos"
Split the maven modules located here into separate repositories:
https://github.com/activiti/activiti-cloud-acceptance-scenarios

This will require to have split pipelines for running these tests against different configurations of the Full Example HELM Chart

https://github.com/activiti/activiti-cloud-example-chart

[2019-01-08 11:04] salaboy commented on #2346
https://github.com/spring-cloud/spring-cloud-release/milestone/63

[2019-01-08 11:20] ryandawsonuk commented on #2347
@almerico will do activiti-cloud-example-chart-modeling
@ryandawsonuk will do activiti-cloud-example-chart-security-policies

[2019-01-08 11:40] salaboy commented on #2066
Duplicated from this one:
https://github.com/Activiti/Activiti/issues/2182

[2019-01-08 11:40] #2066 closed

[2019-01-08 11:43] salaboy commented on #1989
@lucianoprea this will be solved by the admin APIs here: https://github.com/Activiti/Activiti/issues/2182

[2019-01-08 11:44] salaboy commented on #1982
@ffazzini can we close this? the connector definition was merged into develop in Activiti Core common already. If we can close this, can you close it please?

[2019-01-08 11:49] salaboy commented on #1975
@daisuke-yoshimoto any upgrade on this?

[2019-01-08 11:54] daisuke-yoshimoto commented on #1975
@salaboy
Did you check my comment?
https://github.com/Activiti/Activiti/issues/1975#issuecomment-435258495

[2019-01-08 12:11] salaboy commented on #1745
@erdemedeiros can you please create a new issue for this one .. to be clear on what is missing

[2019-01-08 12:11] ffazzini commented on #1982
@salaboy this pr should be merged too https://github.com/Activiti/activiti-core-common/pull/2/files
It was about removed commits.

[2019-01-08 12:15] salaboy commented on #1679
@erdemedeiros @ryandawsonuk I am closing this one because now we have variables definition checks when we have variables defined.

[2019-01-08 12:15] #1679 closed

[2019-01-08 12:19] salaboy commented on #1578
@balsarori I am closing this because we already solved this

[2019-01-08 12:19] #1578 closed

[2019-01-08 13:16] daisuke-yoshimoto commented on #2324
@salaboy
Hi. Let me check a little about process modeler issue. https://github.com/Activiti/Activiti/issues/2324

When this issue is completed, will we basically use modeler's frontend and backend as one container? Do we leave use cases treated as separate containers?

[2019-01-08 14:04] salaboy commented on #2333
@ryandawsonuk yes.. this is just about unifying internal and community helm charts to avoid overlapping. We can do this as soon as we enough confidence on the internal ones that are being published by the pipelines.

[2019-01-08 14:08] salaboy commented on #2333
depends on https://github.com/Activiti/Activiti/issues/2347

[2019-01-08 14:16] salaboy commented on #2333
these ones can be done as part of this issue:
- https://github.com/Activiti/Activiti/issues/2335
- https://github.com/Activiti/Activiti/issues/2332

[2019-01-08 14:18] salaboy commented on #2144
This might be solved also by @CTI777 changes in Query where we now store process and task variables as separate entities.

[2019-01-08 14:33] salaboy commented on #1982
also this one:
https://github.com/Activiti/Activiti/pull/2062/files

[2019-01-08 14:34] daisuke-yoshimoto commented on #1975
@salaboy
If you think that BPMN without graphic information is important, we need to focus on the issue.

[2019-01-08 16:37] mauriziovitale commented on #1991
The bug is fixed with Beta5. I was able to update the `desc` and `priority` properties of a task but wasn't able to update the `name` value. Should it be possible? @salaboy

[2019-01-08 16:45] ryandawsonuk commented on #2347
Tests passing under [activiti-cloud-example-chart-security-policies](https://github.com/Activiti/activiti-cloud-example-chart-security-policies/), updatebot from [activiti-cloud-application-chart](https://github.com/Activiti/activiti-cloud-application-chart/blob/master/.updatebot.yml) and [activiti-cloud-infrastructure-chart](https://github.com/Activiti/activiti-cloud-infrastructure-chart/blob/mas

[2019-01-08 19:58] CTI777 commented on #1901
@salaboy
Some questions to clarify
**Given:**
For subprocesses we have endpoint:  /v1/process-instances/{processInstanceId}/subprocesses
For get subtasks we have endpoint: /v1/tasks/{taskId}/subtasks
For createSubtask we have endpoint: /v1/tasks/{taskId}/subtask

**Questions**
1. Do we need to rename subtasks to sub-tasks (see subprocesses to compare)?
2. Do we need the end point to create subtask

[2019-01-08 19:59] salaboy commented on #1901
@CTI777 great questions
1) subtasks should be fine. so we keep it plural but without the -
2) no need for endpoint to create subtasks because we can create a task with a parentId

[2019-01-08 20:01] CTI777 commented on #1901
@salaboy
So I may remove endpoint: /v1/tasks/{taskId}/subtask and correct tests?

[2019-01-09 07:55] almerico commented on #2347
https://github.com/Activiti/activiti-cloud-example-chart-modeling tests are passed as part of pipeline for now

[2019-01-09 10:33] #2330 closed

[2019-01-09 11:50] salaboy commented on #1901
merged in develop

[2019-01-09 11:50] #1901 closed

[2019-01-09 12:09] CTI777 commented on #1964
@salaboy
To clarify
**Given**
We have: /v1/tasks/{taskId}/variables
To set variable we have:ResponseEntity<Void> setVariables(@PathVariable String taskId,
                                      @RequestBody SetTaskVariablesPayload setTaskVariablesPayload);

**To do**
We have to set: **setTaskVariablesPayload.setTaskId(taskId)** always, not depending on taskId value currently present in  setTaskVari

[2019-01-09 12:44] DestinyWang opened #2349 "PersistenceException occurred when delete a processInstance"
activiti version is `6.0.0`

java code is

`runtimeService.deleteProcessInstance(String processInstanceId, String deleteReason)`

Sometimes the following error will occur, and sometimes it will be normal.

I want to know what happened?

Exception in thread "pool-10-thread-4" org.apache.ibatis.exceptions.PersistenceException:
### Error updating database.  Cause: java.sql.SQLIntegrityConstraintViola

[2019-01-09 17:17] daisuke-yoshimoto opened #2351 "Wrapping activiti-modeling-app with Electron"
Make [activiti-modeling-app](https://github.com/Activiti/activiti-modeling-app) work as a standalone client application like [Camunda Modeler](https://camunda.com/products/modeler/).

[2019-01-09 17:30] daisuke-yoshimoto commented on #2250
@salaboy @igdianov

If managing bpmn and json of extension with git, it may be better to edit with local IDE.
I created the another approach that makes activiti-modeling-app work as a standalone client application like Camunda Modeler by wrapping activiti-modeling-app with Electron
https://github.com/Activiti/Activiti/issues/2351

[2019-01-09 17:44] salaboy commented on #2351
@daisuke-yoshimoto please look and copy my comments from the other issue

[2019-01-09 18:15] daisuke-yoshimoto commented on #2250
@salaboy

In my opinition, it is necessary to implement it as Node.js app.
But, certainly, there is a way to push Java applications in Node.
(ex) https://github.com/nikku/run-camunda

Is it the responsibility of Git to manage this? Does the editor push to Git's remote repository?

My image looks like the following repository.
https://github.com/Activiti/example-runtime-bundle/tree/master/src/main/

[2019-01-09 18:32] daisuke-yoshimoto commented on #2250
@salaboy
By the way, I think that the issues of #2324 and #2351 are different.
First I will move # 2324 as it is. # 2351 is still an idea level.

[2019-01-10 08:00] almerico opened #2353 "remove failure pod wait from core projects"

[2019-01-10 11:12] ryandawsonuk commented on #2347
We should remove application from the activiti-cloud-modeling-example-chart requirements file and remove modeling from the activiti-cloud-example-chart's requirements file. Then we should switch modeling's updatebot file to point to the modeling-example-chart - https://github.com/Activiti/activiti-cloud-modeling/blob/master/.updatebot.yml#L5

[2019-01-10 11:55] almerico commented on #2353
done

[2019-01-10 11:55] #2353 closed

[2019-01-10 13:51] salaboy commented on #2349
@DestinyWang this sounds like you have multiple threads trying to delete the same process instance. It should be harmless if the process instance get deleted by another thread.

[2019-01-10 13:53] salaboy opened #2355 "Update Task Name in the same way as we update priority"
When updating a task we should be able to also update the task name. @mauriziovitale can you please add more details?

[2019-01-10 14:18] CTI777 commented on #2355
@salaboy
In RB and Activiti core  we have this possibility:
https://github.com/Activiti/Activiti/blob/develop/activiti-api-impl/activiti-api-task-runtime-impl/src/main/java/org/activiti/runtime/api/impl/TaskRuntimeImpl.java#L235
Where should we implement this?
In QueryService as a separate endpoint for update?

[2019-01-10 16:06] salaboy commented on #2337
https://github.com/Activiti/Activiti/compare/2337-salaboy-conformance-set5?expand=1

[2019-01-10 16:51] mauriziovitale commented on #2355
Not able to update the `name` value.
[code]
Result
[code]

[2019-01-10 18:01] #2337 closed

[2019-01-10 20:41] CTI777 commented on #2355
@salaboy
I have tested in RB different cases to set task properties... It seems that there no problems...
I have made a PR with extended test to check UpdateTaskPayload with and without taskId.
Maybe the problem appears because of some version conflicts?

[2019-01-11 09:37] salaboy commented on #2250
@daisuke-yoshimoto yep.. that sounds really good.

[2019-01-11 11:06] miguelruizdev commented on #2281
PRs addressing this issue:

- https://github.com/Activiti/activiti-api/pull/67
- https://github.com/Activiti/activiti-cloud-query-service/pull/162

[2019-01-11 13:55] erdemedeiros commented on #2355
@CTI777 @salaboy @mauriziovitale I've just figured out the problem. The name of the property used to update the task name is misleading `taskName` instead of simply `name`. So to get it working right now the payload should be

[code]
However I think it's worth to rename it to `name` to avoid confusion.

[2019-01-11 17:15] miguelruizdev commented on #2281
This are the changes in the acceptance test covering the newly added code: https://github.com/Activiti/activiti-cloud-acceptance-scenarios/commit/9b854f74fd183e05f43a277d5b1abe02799de16a
Only mergeable when the above PRs are merged

[2019-01-11 18:04] ryandawsonuk opened #2360 "upgrade keycloak, postgres and rabbit chart versions"
Want to pick up the latest fixes from these charts, in particular [older versions of the charts ](https://github.com/helm/charts/pull/8736/files)had hard-coded busybox images in the initContainers that are difficult to override to point at private registries for locked down environments

[2019-01-14 04:04] cverdela opened #2362 "BUG：when task Completed，error：Variable assigneeList' is not a Collection"
when `taskService.complete()` , variable assigneeList is not a ArrayList but a ArrayNode,
at org.activiti.engine.impl.bpmn.behavior.MultiInstanceActivityBehavior.resolveAndValidateCollection(MultiInstanceActivityBehavior.java:225)
in Activiti7
ps. <multiInstanceLoopCharacteristics isSequential="false"
     activiti:collection="assigneeList" activiti:elementVariable="assignee" >

[2019-01-14 04:05] cverdela commented on #2362
[code]

[2019-01-14 09:54] #1745 closed

[2019-01-14 09:57] salaboy commented on #1964
done and merged

[2019-01-14 09:57] #1964 closed

[2019-01-14 10:54] salaboy opened #2363 "Refactor Connectors and Cloud Connector to Functions"
Rename Cloud Connectors and Connector interface to ActivitiFunction. Notice that Activiti is in the name to avoid clashes with JDK interfaces.

ActivitiFunction should be a simple functional interface.

ActivitiFunctions should be grouped into ActivitiFunctionGroup. Meaning that each Function should also return the name of the group that it belongs.

This impacts the ConnectorDefinition models whe

[2019-01-14 12:16] ryandawsonuk commented on #2258
Ideally we'd like to include the destination in the autoconfiguration too. But then the events channel would be hard to disable. As discussed on gitter, what we really want is a set of flags to disable features in the RB starter:

activiti.cloud.connector.messaging.enabled
activiti.cloud.events.messaging.enabled
activiti.cloud.rest.enabled
activiti.cloud.keycloak.enabled

Doing that would encompas

[2019-01-14 12:21] ryandawsonuk commented on #2258
The renaming of properties would mean updating other example projects such as TTC, and [quickstarts](https://github.com/Activiti/activiti-cloud-runtime-bundle-quickstart)

[2019-01-14 12:58] ryandawsonuk commented on #1676
Basically we want to be able to scale based on queue depth like in
https://github.com/learnk8s/spring-boot-k8s-hpa
https://skillsmatter.com/skillscasts/12953-scaling-microservices-with-message-queues-spring-boot-and-kubernetes#video

[2019-01-14 14:08] salaboy commented on #2355
merged to develop in all repos

[2019-01-14 14:08] #2355 closed

[2019-01-15 08:09] salaboy commented on #2281
@miguelruizdev the last comment about acceptance tests points to a commit not to a PR.. why is that?

[2019-01-15 08:23] #2347 closed, assigned to almerico, ryandawsonuk

[2019-01-15 09:34] miguelruizdev commented on #2281
@salaboy yep, it's the acceptance test covering the added changes across this issue. Should I open the PR even though I know it will fail anyway?

[2019-01-15 09:37] ryandawsonuk commented on #2184
@nitinkrgoyal has shared example process https://gist.github.com/nitinkrgoyal/0d98ac6c707946a111343fdfad502090#file-multi-instance-bpmn20-xml-L17

With a test like

[code]

and using MultiInstanceActivityBehavior.java
[code]
And hit:
"When i am setting the variables on process, it's being set as Array List which is of type collection. When i am trying to complete the task without passing any varia

[2019-01-15 10:07] ryandawsonuk opened #2364 "mutliinstance with json variables"
@nitinkrgoyal has shared example process https://gist.github.com/nitinkrgoyal/0d98ac6c707946a111343fdfad502090#file-multi-instance-bpmn20-xml-L17

With a test like

[code]

and hitting an error in the engine in [MultiInstanceActivityBehavior.resolveAndValidateCollection](https://github.com/Activiti/Activiti/blob/develop/activiti-engine/src/main/java/org/activiti/engine/impl/bpmn/behavior/MultiInst

[2019-01-15 10:07] ryandawsonuk commented on #2184
Have added related issue https://github.com/Activiti/Activiti/issues/2364

[2019-01-15 10:14] salaboy commented on #2281
@miguelruizdev we need a PR to see if it builds or not (compilation errors)

[2019-01-15 10:54] ryandawsonuk commented on #2258
Looking like some refactoring is going to be needed in order to support the kind of conditional loading we're proposing. I've locally tried removing the `@ComponentScan("org.activiti")` from https://github.com/Activiti/Activiti/blob/develop/activiti-spring-boot-starter/src/main/java/org/activiti/spring/boot/EndpointAutoConfiguration.java#L29 and unfortunately things do break... that was not there

[2019-01-15 12:26] erdemedeiros opened #2366 "Resume process is using the wrong annotation for processInstanceId parameter"
Currently `@RequestBody String processInstanceId`.
It should be `@PathVariable String processInstanceId` instead.

[2019-01-15 12:30] miguelruizdev commented on #2281
PRs addressing this issue:

- https://github.com/Activiti/activiti-api/pull/67
- https://github.com/Activiti/activiti-api/pull/69
- https://github.com/Activiti/activiti-cloud-api/pull/53
- https://github.com/Activiti/activiti-cloud-api/pull/54
- https://github.com/Activiti/activiti-cloud-query-service/pull/162
- https://github.com/Activiti/activiti-cloud-service-common/pull/125
- https://github.co

[2019-01-15 12:45] CTI777 opened #2367 "A query for root tasks should be implemented in a REST way"
As pointed out by @erdemedeiros  v1/tasks?rootTasksOnly=true is more REST way of doing it then v1/tasks/rootTasksOnly

[2019-01-15 14:56] mteodori opened #2368 "Add extraVolumes and extraVolumeMounts to service helm charts"
Support customising the helm install of example services for extra volumes like in the keycloak helm chart with [extraVolumes](https://github.com/helm/charts/blob/master/stable/keycloak/templates/statefulset.yaml#L141) and [extraVolumeMounts](https://github.com/helm/charts/blob/master/stable/keycloak/templates/statefulset.yaml#L94)

Using a values.yaml:

[code]
On the following services:

- [ ] [r

[2019-01-15 16:47] erdemedeiros opened #2369 "Add admin delete process endpoint"
Add endpoint DELETE `admin/v1/process-instances/${processInstanceId}`. Similar to https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-services-runtime-bundle/activiti-cloud-services-rest-api/src/main/java/org/activiti/cloud/services/rest/api/ProcessInstanceController.java#L46

[2019-01-15 19:02] ryandawsonuk commented on #2258
Have created branch `ryan-2258autoconfig` in activiti-core-common, Activiti, activiti-cloud-runtime-bundle-service and example-runtime-bundle but **don't have it working yet**.

[2019-01-16 08:45] salaboy commented on #2182
@erdemedeiros I don't think that we need this one: POST admin/v1/tasks/${id}/claim

we should do that via task update sending the assignee that the admin wants to set. That should work, but we need to check the events. I would expect a TaskUpdated Event only..

[2019-01-16 08:45] salaboy commented on #2182
@erdemedeiros and this one: DELETE admin/v1/tasks/${id} should fail if the task belong to a process.. it should say something like.. delete the process instance and the task will be deleted for you.

[2019-01-16 13:33] CTI777 commented on #2369
@erdemedeiros @salaboy
**Question 1**
Is it good that we do not check status of the process before it is deleted?
Maybe it will have a sense to allow admin to delete process always, other users may delete process only in some states (not running)?
**Question 2**
In the endpoint for process delete we do not have a possibility to set a reason (it can be useful for the end user) and it can be set ins

[2019-01-16 14:41] salaboy commented on #2369
@CTI777 great comments!
For question 1: I would say that not for now.. we need to think about which kind of limitations we will add for normal users
For question 2: you are right.. we need to see if the internal API support a reason for deletion, because if we add it to the payload but we don't store it somewhere (maybe it is enough to store it in query service) .

[2019-01-16 16:42] #2333 closed

[2019-01-16 16:49] #2366 closed

[2019-01-16 20:57] mteodori opened #2370 "Unrecognised UseCGroupMemoryLimitForHeap option for Java 11 in charts"
The option UseCGroupMemoryLimitForHeap should be removed from the default java opts in chart as in OpenJDK 11 it is unrecognised and the JVM doesn't start:
https://bugs.openjdk.java.net/browse/JDK-8194086

[2019-01-17 08:19] #2281 closed

[2019-01-17 08:42] erdemedeiros opened #2371 "Add admin complete task endpoint"
Add endpoint `POST admin/v1/tasks/${id}/complete`

[2019-01-17 09:04] erdemedeiros opened #2372 "Add admin update task endpoint"
Add endpoint `PUT admin/v1/tasks/${taskId}`.

[2019-01-17 09:07] erdemedeiros opened #2373 "Add admin delete task endpoint"
Add endpoint `DELETE admin/v1/tasks/${id}`.

[2019-01-17 11:21] miguelruizdev commented on #2142
**We need to clearly define the usage and presence of this new field.**

@salaboy is the scope of the field `sequenceNumber` attached to the entity it contains?
The same way that `timestamp` scope is the calendar itself, we need a definition to base the `sequenceNumber` upon.
If we get a list of events based on entityId like this:

We get this:
[code]
The intention behind this issue is to have a f

[2019-01-17 11:40] salaboy commented on #2142
@miguelruizdev we need to generate from the producer side.. in the same way that we do with the timestamp.
So sequence should be there.. I am starting to think that we need a unique (transaction/)message identifier as well. Remember that we batch all the events of the transaction together.

[2019-01-17 12:58] #2368 closed

[2019-01-17 13:01] salaboy commented on #2362
closing as it is a duplicate of #2364 ,
thanks for reporting. A work around is to disable the JSON variable serialization. Look at the other issue suggestion

[2019-01-17 13:01] #2362 closed

[2019-01-17 13:03] salaboy commented on #2319
closing this one because it is being solved here: https://github.com/Activiti/Activiti/issues/1893

[2019-01-17 13:03] #2319 closed

[2019-01-17 13:13] #2268 closed

[2019-01-17 13:14] salaboy commented on #2228
closing due inactivity, if this is still a problem after testing @ryandawsonuk suggestion we can reopen

[2019-01-17 13:15] salaboy commented on #2223
@igdianov is this done? can we close this issue?

[2019-01-17 13:23] #1992 closed

[2019-01-17 14:49] daisuke-yoshimoto commented on #2184
@ryandawsonuk
I created pr for this issue. Please review it.
https://github.com/Activiti/Activiti/pull/2374

[2019-01-17 17:38] davidcanonieto opened #2375 "Add a way to filter tasks by name and return all matching results"
As a developer, I would like to have an endpoint that, given a string parameter, return all the tasks that have a name that matches the given parameter.

 Complete library: [Task 1, Task 2, TasO 3]

Call => taskContainingName('Task)
Response => [Task 1, Task 2]

[2019-01-17 17:52] davidcanonieto opened #2376 "Add a way to get tasks from an interval"

[2019-01-17 17:54] #2376 closed

[2019-01-17 17:57] davidcanonieto opened #2377 "Add interval/before/after support for createdDate and dueDate properties of a task."
As a developer, I would like to have an endpoint that returns all the tasks from a certain createDate value to another.

Same for dueDate.

It could be something like from xxxx to xxxx or something like all task created after/before xxxx date.

[2019-01-18 09:55] salaboy commented on #2364
This PR https://github.com/Activiti/Activiti/pull/2374 fix this issue

[2019-01-18 15:14] miguelruizdev commented on #2142
@salaboy we set the timestamp at the moment of instantiation in every event:
https://github.com/Activiti/activiti-api/blob/develop/activiti-api-model-shared-impl/src/main/java/org/activiti/api/runtime/event/impl/RuntimeEventImpl.java#L37
Along the same lines, **what should be best the place for the SequenceNumber to be set**?

The value of sequenceNumber will depend on the existence of other event

[2019-01-18 15:18] miguelruizdev commented on #2142
Regarding the transaction unique identifier, **do we have model for transactions**?
Also, **what is the criteria to start and end one of those batches of events**?

[2019-01-18 15:27] salaboy opened #2381 "Add Service Task Name in connector Integration Request payload"
Add Service Task name to IntegrationRequest to be able to identify which Service Task is calling a connector.
The property might be Client ID, or Requester ID to make sure that it is not specific to a process calling the connector but more to identify who is request the "operation".

[2019-01-18 18:02] erdemedeiros commented on #2381
Current `flowElementId` in `IntegrationContext` is too BPM specific. It could be moved inside a generic key/value map which holds other metadata as well, i.e. `"serviceTask"`.

[2019-01-19 09:08] salaboy commented on #2375
duplicate of #1921

[2019-01-19 09:10] salaboy commented on #2375
duplicate of https://github.com/Activiti/Activiti/issues/1954

[2019-01-19 09:12] salaboy commented on #2142
@miguelruizdev after discussing this with @erdemedeiros and @ryandawsonuk I think that we agreed that we should:
1) pick up the message from the Stream message containing the Event. There are some examples on how to inject the @Header of the message received from a @StreamListener. we can use that as the unique message identifier.
2) We can create and store the sequence of the events based on the

[2019-01-19 09:21] salaboy commented on #2177
done and merged to develop

[2019-01-19 09:21] #2177 closed

[2019-01-19 09:43] salaboy commented on #2367
merged in all repos

[2019-01-19 09:43] #2367 closed

[2019-01-19 09:44] salaboy commented on #2182
@erdemedeiros can you please link the new issues to this issue just for historical purposes..
but also close this one.. so we keep track of the smaller issues only

[2019-01-20 19:37] salaboy commented on #2142
@miguelruizdev you need to start in query.. both of my points were in query service. No need to touch RB

[2019-01-21 03:06] yizhongwei commented on #962
What if you don't want to trigger a compensation event?

[2019-01-21 07:46] almerico opened #2384 "error in javadoc after moving to jdk11 in activiti-api"
[INFO] --- maven-source-plugin:3.0.1:jar (attach-sources) @ activiti-api-runtime-shared ---
[INFO] Building jar: /home/jenkins/workspace/tiviti_activiti-api_develop-2TUDZUYAD4U4GUTSZX72MWCH77S3GCE5D3SY36Q2Z7LTZ6XDGUSA/activiti-api-runtime-shared/target/activiti-api-runtime-shared-7.0.78-sources.jar
[INFO]
[INFO] --- maven-javadoc-plugin:3.0.1:jar (attach-javadocs) @ activiti-api-runtime-shared ---

[2019-01-21 07:52] almerico opened #2385 "jx promote error during examples promote"
jx promote -b --all-auto --helm-repo-url=https://activiti.github.io/activiti-cloud-helm-charts/ --timeout 1h --version 0.0.50 --no-wait
Promoting app activiti-cloud-full-example version 0.0.50 to namespace jx-staging
error: open .gitignore: no such file or directory

[2019-01-21 08:50] almerico opened #2386 "move activiti-examples tp jdk11"
https://github.com/Activiti/activiti-examples

[2019-01-21 09:25] salaboy opened #2387 "Spring Security configuration override clashing with JHipster deps"
Issue caused by overriding bean here: org/activiti/spring/boot/MethodSecurityConfig.class

It feels that we can solve this by removing the class completely and making sure that security is applied.

Reproducer:
https://github.com/rasheedamir/vouchers-service

This project uses JHipster with Spring Boot 2.0.5, so there might be some dependency clashing as well.

It seems a common problem while exte

[2019-01-21 10:12] igdianov opened #2388 "Let's make sure Activiti Cloud Application Helm chart supports HTTPS"
so, that folks could deploy Activiti behind with reverse proxy that terminates HTTPS and then forwards the requests to Keycloak and Activiti Ingresses as pure HTTP. To handle the request, Keycloak container must be told that the incoming HTTP requests from reverse proxy must be handled like they were HTTPS.

To make this work, according to Keycloak documentation, we have to modify Keycloak web con

[2019-01-21 10:22] erdemedeiros opened #2389 "Make BPM model available in query service"
Related to endpoint `GET admin/v1/process-instances/${id}/model`.
Some decisions should be taken for this issue. Currently this endpoint on runtime bundle is capable of returning a SVG image highlighting the active flow nodes for the given process instance. However this requires the list of active flow elements in the process instance, information that we don't have out of the box on query. It nee

[2019-01-21 10:46] erdemedeiros opened #2390 "Create admin delete variables endpoint"
Add endpoint `DELETE admin/v1/process-instances/${id}/variables`

[2019-01-21 10:47] erdemedeiros commented on #2182
Closing this issue to keep track of smaller issues only.

[2019-01-21 10:47] #2182 closed

[2019-01-21 11:48] salaboy commented on #2387
The problem is caused by multiple classed being annotated with @EnableGlobalMethodSecurity .
This annotation seems to be very aggressive and cannot appear twice.

https://stackoverflow.com/questions/54059222/the-bean-metadatasourceadvisor-defined-in-null-could-not-be-registered

We need to find a way to provide an optional configuration so people can disable it if the annotation is already present

[2019-01-21 12:12] ryandawsonuk opened #2391 "tracking of external documentation of examples"
We've got pages like https://community.alfresco.com/community/bpm/blog/2018/12/10/activiti-7-deep-dive-series-using-the-core-libraries and others on activiti 7. I say 'external' because this isn't about an example repo under the Activiti org. Should we add them to https://github.com/Activiti/Activiti/wiki/Articles-and-Blogs-on-Activiti ? It is useful to have a single place so that we can easily fi

[2019-01-21 12:20] ryandawsonuk opened #2392 "activiti-examples data dependencies"
One of the examples requires documents to be in the /tmp/ directory and another requires a POST request to be made in order to get the data. This is not stated in the README or in the gitbook or in https://community.alfresco.com/community/bpm/blog/2018/08/13/getting-started-with-activiti-core-700beta1 (which btw now has broken links as we moved branches). I'd prefer if we provided sample files in

[2019-01-21 14:52] rgherghelas opened #2393 "Start Process - inconsistency of parameter name in request/response for process name"
Steps to reproduce the issue:
Start a process and check the request and response.

Current behaviour:
Different parameter names for the the process name*.* Please see attached pictures.

<img width="641" alt="screen shot 2019-01-21 at 11 14 27 am" src="https://user-images.githubusercontent.com/39947234/51481559-d2305f80-1d9c-11e9-9b5d-5aee54f5d3b6.png">

![screen shot 2019-01-21 at 11 18 04 am](ht

[2019-01-21 18:45] salaboy commented on #2142
@miguelruizdev it is totally right as soon as we decorate the data that we are getting. So it is ok to do it there.

[2019-01-22 08:02] daisuke-yoshimoto commented on #2324
@salaboy @mteodori

### interim report

* I'm working on this issue by creating 3rd repository.
  * https://github.com/daisuke-yoshimoto/activiti-cloud-modeling-standalone
* I excluded KeyCloack and are trying to authenticate with Spring Security OAuth2.
  * However, since activiti-modeling-app requires OpenID specification not simple OAuth2, I am struggling.
  * In addition to using Spring Securi

[2019-01-22 09:03] salaboy opened #2394 "RabbitMQ properties is getting in the middle when Kafka is used as binder"
There seems to be something referencing: org.springframework.cloud.stream.binder.rabbit.properties.RabbitProducerProperties from the connector or RuntimeBundle starter projects.

[code]

[2019-01-22 09:08] salaboy commented on #2394
The issue is in the class: CloudConnectorsAutoConfiguration where we are using a @ConditionalOnClass(RabbitProducerProperties.class), which should be changed to use the class FQN string instead of the reference to class itself.

Also this code

[code]
needs to be moved to a rabbitmq specific auto configuration

[2019-01-22 09:58] erdemedeiros opened #2395 "Reenable code coverage on cloud projects"
Reenable code coverage for cloud projects. In order to do so, you need to update `activiti-cloud-build` and include the same configuration we have for jacoco plugin in activiti-build. See [here](https://github.com/Activiti/activiti-build/blob/develop/pom.xml#L295..L299) and [here](https://github.com/Activiti/activiti-build/blob/develop/pom.xml#L438..L473).

*Note*: you will also need to update [Su

[2019-01-22 11:21] mteodori commented on #2324
that is the reason why I was pushing for a simple disable for a desktop install, checked with @eromano and on the front-end app the login component can be skipped by pointing to /application/dashboard as entry point as the front-end is driven by the API return code so everything should work

[2019-01-22 11:57] davidcanonieto commented on #2377
We need interval support for the following properties of a task:

* createdDate
* dueDate
* claimedDate
* completedDate (available on beta 6)

This behavior can be already found in the lastModified property of a task, i.e:

* "lastModified": 1547952416162,
* "lastModifiedTo": null,
* "lastModifiedFrom": null,

[2019-01-22 12:11] daisuke-yoshimoto commented on #2324
@mteodori Thanks 😄  I will check that endpoint.

[2019-01-22 12:21] salaboy commented on #2394
@igdianov this is a priority 1 issue.. can you help us with this one ? it looks like it is related with the routingKey.. but we can add this as conditional on class, using a string as shown but then we need to also set the binder as optional in the pom.

[2019-01-22 12:26] salaboy opened #2396 "Query Service Task Entity contains fields for filters that shouldn't be returned"
We currently have:

[code]

that are use by query DSL to do filtering with from and to dates. The problem is that these fields shouldn't be returned as part of the response body of the requests. These are always null.

Also there is

[code]

that is not being used and it should be removed. This is legacy.

[2019-01-22 12:40] ryandawsonuk commented on #2228
@prajwal11 reports on gitter "@salaboy I tried enabling spring.activiti.historyLevel=full but this dint create history tables in activiti 7 database.I also tried enabling spring.activiti.isDbHistoryUsed=true and even that dint create any database.Is there anything else that should be enabled?"

[2019-01-22 12:50] prajwal11 commented on #2228
I am using Activiti 7 core in my spring boot application and I tried enabling spring.activiti.historyLevel=full but this dint create history tables in activiti 7 database.I also tried enabling spring.activiti.isDbHistoryUsed=true and even that dint create any database.Is there anything else that should be enabled?

[2019-01-22 12:54] daisuke-yoshimoto commented on #2324
@mteodori
Sorry. I tried the endpoint /application/dashboard. But I got same state 😢
activiti-modeling-app tries to access the openid endpoint (.well-known/openid-configuration).

[2019-01-22 14:53] daisuke-yoshimoto commented on #2324
@salaboy

I checked your proposal. But here is the explanation of OpenID's client side.
Also @EnableOAuth2Sso is about OpenID's client side.

So, I'm considering using [another library](https://github.com/mitreid-connect/OpenID-Connect-Java-Spring-Server) with Spring Security.

[2019-01-22 15:54] mteodori commented on #2324
@daisuke-yoshimoto /application/dashboard should resolve to the front-end index.html in order to be equivalent to the front-end docker image behaviour and actually any URL which is not API URL should resolve to that

[2019-01-22 20:08] salaboy commented on #2324
@daisuke-yoshimoto what do you mean that is only client side? -> https://spring.io/guides/tutorials/spring-boot-oauth2/#_social_login_authserver

That points to this one: @EnableAuthorizationServer which is an embedded authorization server

[2019-01-23 07:11] BMunier opened #2399 "Activiti 7 - DB2 script does not work"
Hi,

In a previous project we used Activiti 6.x and it worked fine with DB2.

In a new project based on Spring Boot 2, we wanted to continue with Activiti but we have an issue when we try to create the tables.

Activi version: 7.0.0.Beta5

The reason is this character at the begining of the script [activiti.db2.create.engine.sql:](https://github.com/Activiti/Activiti/blob/develop/activiti-engine/s

[2019-01-23 08:32] salaboy commented on #2228
@prajwal11 thanks a lot for confirming that the proposed work around doesn't work .. we will look into it and fix it before GA

[2019-01-23 08:34] salaboy commented on #2399
@BMunier thanks for reporting this, let me fix that and you can try again when the fix is applied.

[2019-01-23 08:36] salaboy commented on #2399
@BMunier can you please share which dependencies of Activiti are you using? meaning which artifacts?

[2019-01-23 08:36] salaboy commented on #2399
reopening until the fix is confirmed

[2019-01-23 08:44] salaboy commented on #2364
closing due the PR mentioned above solve this issue.

[2019-01-23 08:44] #2364 closed

[2019-01-23 08:50] salaboy commented on #2076
merged in all repos

[2019-01-23 08:50] #2076 closed

[2019-01-23 08:51] salaboy commented on #2384
@almerico do we still have this issue?

[2019-01-23 08:52] almerico commented on #2384
Unfortunately yes

On Wed, Jan 23, 2019 at 10:51 salaboy <notifications@github.com> wrote:

--
Thanks,
Oleksandr Merkulov

[2019-01-23 08:53] almerico commented on #2384
Yes I will handle it today

[2019-01-23 09:12] salaboy commented on #2384
thanks a lot.. it sounds like a project is not being compiled with JDK 11 ..

[2019-01-23 09:23] oussemagabtni opened #2400 "Unable to read repository at https://www.activiti.org/designer/update/content.xml"
Unable to install Activiti BPMN maven plugin.

[2019-01-23 09:31] almerico commented on #2384
No it is compiled looks like javadoc plugin version needs to be updated

[2019-01-23 09:32] oussemagabtni commented on #2400
Could you please verify if the file content.xml is available ?
Many thanks

[2019-01-23 09:39] daisuke-yoshimoto commented on #2400
@oussemagabtni
Could you try the following URL?
https://5b37647402ed837e3a0e2198--activiti.netlify.com/designer/update/

[2019-01-23 12:39] salaboy commented on #2399
@BMunier can you try with version: 7.0.116

that version should work if you have not used the BOM (dependency-management) approach.
You might need to add alfresco nexus repo to your project to download that version which is not published to maven central
[code]

[2019-01-23 12:41] salaboy commented on #2399
@BMunier can you please get back to us after checking with that version?

[2019-01-23 12:52] almerico commented on #2386
Done

[2019-01-23 12:52] #2386 closed

[2019-01-23 12:53] salaboy commented on #2400
@oussemagabtni you can downloaded from the url provided https://www.activiti.org/designer/update/

[2019-01-23 12:53] almerico commented on #2385
maven11 iso updated

[2019-01-23 12:53] #2385 closed

[2019-01-23 12:55] salaboy commented on #2400
the files are hosted here: https://github.com/Activiti/activiti.github.io/tree/master/designer/update

[2019-01-23 13:00] ryandawsonuk commented on #2384
Issue matches https://stackoverflow.com/questions/25135456/how-to-specify-a-different-version-of-the-standard-doclet-in-maven In our case we are able to run `mvn javadoc:javadoc` with no troubles locally. It only fails in JX maven-java11 build pod. I suggest we treat this as low priority as when we release to maven central it won't be from the JX build pod anyway.

[2019-01-23 13:17] almerico commented on #2384
Travis works ok so looks like issue in maven11 builder

[2019-01-23 13:23] miguelruizdev commented on #2144
Issue solved: https://github.com/Activiti/activiti-cloud-acceptance-scenarios/pull/121

[2019-01-23 13:23] #2144 closed

[2019-01-23 13:28] ryandawsonuk opened #2402 "timed out waiting for a condition"
We see this intermittently on helm installs in pipelines e.g.

http://jenkins.jx.35.228.195.195.nip.io/blue/organizations/jenkins/Activiti%2Factiviti-cloud-example-chart-security-policies/detail/PR-10/2/pipeline

We could try running with a larger `--timeout` but the default 300s should be enough. We could try `--no-hooks` but we're not intentionally using any hooks anyway. For now we're just retr

[2019-01-23 14:23] ryandawsonuk opened #2403 "build failing in bamboo after jdk11 port"
Executed a build of all projects using build-all.sh from https://github.com/Activiti/activiti-scripts/ It builds activiti-build and then fails on activiti-api. The error we see in bamboo is:

`Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.0:compile (default-compile) on project activiti-api-model-shared: Fatal error compiling: invalid flag: --release`

The same script ex

[2019-01-23 14:32] ryandawsonuk commented on #2403
Scratch this, bamboo is using java 1.8 currently. Need to figure out how to change it.

[2019-01-23 14:33] doug4j opened #2404 "Ensure activiti-cloud-charts uses correct Keycloak version"
Beta 5 uses Keycloak 4.1 for activiti-cloud-charts (https://github.com/Activiti/activiti-cloud-charts). This keycloak version has a known bug and cause ADF not to work with Activiit 7 (because of Keycloak). Minimum version supported must be 4.5 for this bug to go away. Please upgrade to at least 4.5.

[2019-01-23 15:05] ryandawsonuk commented on #2403
Managed to set bamboo to use jdk11 and this failure no longer present

[2019-01-23 15:05] #2403 closed

[2019-01-23 15:31] ryandawsonuk commented on #2384
For the record, if you drill into the checks on https://github.com/Activiti/activiti-api/pull/76#partial-pull-merging then you can see the output in travis vs the output in jenkins-x build pod

[2019-01-23 15:40] davidcanonieto opened #2405 "Task missing Candidate properties"
In order to know if a task is claimable by a user the task details must provide these flags that were present before on APS 1.

    managerOfCandidateGroup: boolean;
    memberOfCandidateGroup: boolean;
    memberOfCandidateUsers: boolean;

managerOfCandidateGroup  = current user is the manager of a Candidate Group
memberOfCandidateGroup  = current user is part of a Candidate Group
memberOfCandida

[2019-01-23 17:38] ryandawsonuk commented on #2384
Another possibility - could this be related to mavendind configuration? Perhaps the JAVA_HOME isn't getting set in there?

[2019-01-23 17:40] mteodori commented on #2324
@salaboy still OAuth2 only the OIDC part would still be missing, I have the fear you have to embed a full keycloak in or similar like the one @daisuke-yoshimoto posted

on removing the auth instead I have the URLs working as expected but still a config on the front-end to jump the login should be added by @popovicsandras to make it work, going to the deep link /dashboard/applications still trigger

[2019-01-23 19:48] CTI777 commented on #2393
@salaboy @erdemedeiros
StartProcessPayload and UpdateProcessPayload have:
processInstanceName
In response we have name because it is a property of ProcessInstance
What should I change: response or Payload?
I think that changes in StartProcessPayload and UpdateProcessPayload will be less expensive...

[2019-01-23 20:06] CTI777 commented on #2396
@salaboy @erdemedeiros
ProcessInstanceEntity and TaskEntity both have
    @DateTimeFormat(iso = DateTimeFormat.ISO.DATE)
    private Date lastModifiedTo;

    @DateTimeFormat(iso = DateTimeFormat.ISO.DATE)
    private Date lastModifiedFrom;

Should I apply changes only for  TaskEntity (or ProcessInstanceEntity should also be changed)

[2019-01-24 01:38] mteodori opened #2406 "Allow using https in acceptance tests"
The acceptance tests currently use the following variables:
* SSO_HOST
* GATEWAY_HOST
and hardcode the protocol scheme to http

In order to support https add SSO_PROTOCOL and GATEWAY_PROTOCOL with default to http and SSO_URL and GATEWAY_URL to just specify the URL in one go
SSO_URL should also include /auth in the SSO_URL as that is where keycloak is mounted

[2019-01-24 04:05] doug4j commented on #2404
This may be related to #2360

[2019-01-24 07:14] almerico commented on #2384
As far as I remember dind is used only for repos which produce docker images.

[2019-01-24 07:46] ryandawsonuk commented on #2384
@almerico good point. I'm now thinking what we can do is follow the suggestion from the jx slack. If we start the build pod container with 'docker run -it' then we can run commands in there. We can clone the repo and run 'mvn javadoc:javadoc' from inside container on local machine to see if it reproduces issue. If it does the. Maybe we can reproduce using an official Spring boot sample project too

[2019-01-24 07:47] yizhongwei opened #2407 "The multi-instance process failed"
Hello, I used the Inclusive gateway in the multi-instance process, but the task behind the Inclusive  gateway did not generate multiple instances, how should I solve it?thank you

[2019-01-24 07:49] yizhongwei commented on #2407
![snipaste_2019-01-24_15-48-41](https://user-images.githubusercontent.com/37920809/51662702-9e00ad00-1fef-11e9-85b2-182c7e1a13c0.png)

[2019-01-24 07:51] yizhongwei commented on #2407
![snipaste_2019-01-24_15-51-36](https://user-images.githubusercontent.com/37920809/51662803-f59f1880-1fef-11e9-9e7e-875805875d2b.png)

[2019-01-24 08:13] salaboy commented on #2336
I will close this issue.. if something new appears let's track it separately

[2019-01-24 08:13] #2336 closed

[2019-01-24 08:15] salaboy commented on #2407
@yizhongwei can you please share with us which version of activiti are you using.
Also can you clarify why are you using the Inclusive gateway? what do you want to achieve with it?

[2019-01-24 08:20] almerico commented on #2384
docker run -it jenkinsxio/builder-maven-java11:0.1.207 bash give the same error results

[2019-01-24 08:21] yizhongwei commented on #2407
Thank you very much for your reply. I use version 6.0.
The two lines of W and K are uncertain. If both are needed, they can only be continued with full consent.

[2019-01-24 08:33] almerico commented on #2384
0.1.211 also same failure

[2019-01-24 08:53] erdemedeiros commented on #2393
@CTI777 let's change the properties of Payloads to `name` to keep consistent with a similar change done for tasks https://github.com/Activiti/Activiti/issues/2355.

[2019-01-24 09:38] salaboy commented on #2363
This depends on this API PR: https://github.com/Activiti/activiti-api/pull/77

[2019-01-24 09:59] daisuke-yoshimoto commented on #2324
@mteodori @salaboy
It seems that @mkawczynski 07 has encountered a similar problem.
https://github.com/Activiti/activiti-modeling-app/issues/23

[2019-01-24 09:59] daisuke-yoshimoto commented on #2324
@mteodori @salaboy
It seems that @mkawczynski07 has encountered a similar problem.
https://github.com/Activiti/activiti-modeling-app/issues/23

[2019-01-24 12:03] mteodori commented on #2324
I checked with @popovicsandras and required changes are larger than I thought so as a quick win it doesn't work, another option would be to use plain spring security and set on the Alfresco JS API the APS 1.x authentication mode rather than OAUTH which is BASIC: https://github.com/Alfresco/alfresco-js-api#authentication-js-api

[2019-01-24 12:11] daisuke-yoshimoto commented on #2324
@mteodri

Could you change app to set the endpoint for basic auth in app.config.json? Not aps endpoint.

[2019-01-24 14:38] #2363 closed

[2019-01-24 15:10] daisuke-yoshimoto commented on #2324
## [Note] Basic Auth

### Setting

* app.config.json/authType -> BASIC

### Auth Endpoint

* [POST] alfresco/api/-default-/public/authentication/versions/1
  * Request
[code]

  * Response
[code]

* Reference
  * https://community.alfresco.com/community/ecm/blog/2017/05/02/v1-rest-api-10-things-you-should-know

[2019-01-24 17:14] #2394 closed

[2019-01-24 17:57] mteodori opened #2411 "Update doc to split infrastructure from application helm install"

[2019-01-25 10:11] ryandawsonuk opened #2413 "[Core]Move jaxb-api dependency to the engine level"
Shouldn't have to do this in the RBs as we'll always need XML:

https://github.com/Activiti/example-runtime-bundle/blob/944beea6b7544fc4022a8db66fbbba62234afff2/pom.xml#L49

[Jaxb-api](https://github.com/Activiti/Activiti/blob/develop/pom.xml#L202..L207) was added in `test` scope. However it's needed in compile scope otherwise Runtime bundle fails to start.
Actions:
- remove `test` scope from Acti

[2019-01-25 10:16] salaboy commented on #2411
@mteodori is someone going to work on this?

[2019-01-25 10:17] salaboy opened #2414 "Remove RabbitMQ binder from starters and move to example projects"
The RabbitMQ binder shouldn't be added to our Spring Boot starters, it is up to the applications to add their binder of choice.

[2019-01-25 10:19] salaboy commented on #2414
Reference:

https://github.com/spring-cloud/spring-cloud-stream-binder-rabbit

and

https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-starter-runtime-bundle/pom.xml#L73

[2019-01-25 10:19] ryandawsonuk opened #2415 "ttc aggregate chart gets docker image updates but not chart updates"
To avoid creating more repos or chart packages it uses the example-cloud-connector and example-runtime-bundle charts:

https://github.com/Activiti/ttc-charts/blob/master/charts/ttc-example/requirements.yaml#L3

This is because those charts get published to activiti-cloud-helm-charts and the individual ttc charts we don't currently publish. The TTC aggregate chart just overrides the image in those

[2019-01-25 10:20] salaboy commented on #2363
Initial work was done to have the Connector interface as a Functional interface.
Now we need to refactor ConnectorDefinition and Actions to Functions.

[2019-01-25 10:21] salaboy commented on #2363
name refactoring was not done

[2019-01-25 10:26] salaboy opened #2416 "[Core] Refactor Connectors names and related types"
Continuation from #2363
Now we need to do the type refactoring:
- ConnectorDefintion to ConnectorsGroup
- Action to ConnectorDefinition
- Connector is a functional interface

All the documentation needs to be updated to match these new names

[2019-01-25 10:55] erdemedeiros opened #2417 "Add RB admin get task by id endpoint"
Add endpoint to get task by id as admin in runtime bundle (`GET /admin/v1/tasks/{taskId}`). Currently this endpoint is available only on query.

[2019-01-25 11:13] almerico opened #2418 "Fix staging ingress names for activiti-cloud-example chart"

[2019-01-25 11:32] erdemedeiros commented on #2182
All the links are already in the description of this issue (see unchecked ones).

[2019-01-25 12:02] salaboy commented on #2387
@igdianov @ryandawsonuk guys.. if you have time to look at this one.. it is quite a tricky one..
The idea is to decide if we provide these security configuration or not.. or how we can make it easier for people to provide their own. The annotation @EnableGlobalMethodSecurity  is the one cause the problem.. if a spring boot app contains two classes defining @EnableGlobalMethodSecurity  we should be

[2019-01-25 12:44] mteodori opened #2419 "Standardise modeling service path"
For backend:
  ${gatewayUrl}/activiti-cloud-modeling-backend
should become:
  ${gatewayUrl}/modeling-service

and for front-end:
  ${gatewayUrl}/activiti-cloud-modeling
should become:
  ${gatewayUrl}/modeling

and API_URL should be the only var passed to front-end with /modeling-service as prefix as agreed with @popovicsandras

[2019-01-25 13:14] ryandawsonuk commented on #2419
You'll need to change the chart to support that as `-backend` is hardcoded into the way it works https://github.com/Activiti/activiti-cloud-charts/blob/master/activiti-cloud-modeling/templates/service-backend.yaml#L5

[2019-01-25 13:34] salaboy commented on #2393
merged and it will be included in RC1

[2019-01-25 13:34] #2393 closed

[2019-01-25 15:12] mteodori commented on #2411
probably myself if I have time just enough to get @rallegre going as we need to have this done by release

[2019-01-25 16:21] BMunier commented on #2399
Sorry for the delay.

I tried this version but I have the following error:

`Error:(5, 48) java: cannot access org.activiti.core.common.spring.identity.ActivitiUserGroupManagerImpl
  bad class file: D:\maven-local-repository\org\activiti\core\common\activiti-spring-identity\7.0.43\activiti-spring-identity-7.0.43.jar(org/activiti/core/common/spring/identity/ActivitiUserGroupManagerImpl.class)
    c

[2019-01-25 16:22] #2373 closed

[2019-01-25 16:24] #2372 closed

[2019-01-25 16:25] #2371 closed

[2019-01-25 16:26] #2369 closed, assigned to CTI777

[2019-01-25 16:26] erdemedeiros opened #2420 "Add acceptance tests to new admin REST endpoints"
Should cover:
- https://github.com/Activiti/Activiti/issues/2373
- https://github.com/Activiti/Activiti/issues/2372
- https://github.com/Activiti/Activiti/issues/2371
- https://github.com/Activiti/Activiti/issues/2369

[2019-01-25 17:53] ryandawsonuk opened #2421 "UIs are using different build commands"
activiti-modeling-app UI [now uses](https://github.com/Activiti/activiti-modeling-app/blob/master/package.json#L21) `npm run build:prod`
but[ ttc-dashboard-ui ](https://github.com/Activiti/ttc-dashboard-ui/blob/master/package.json) doesn't

The release script either needs to deal with this or they need to be aligned - https://github.com/Activiti/activiti-scripts/blob/master/dockerpush.sh#L21

[2019-01-26 09:09] salaboy commented on #2418
@almerico are you working on this? what is this affecting now?

[2019-01-26 16:00] mteodori opened #2424 "Add support to pull images from a private registry in charts"
Add a registryPullSecrets variable to charts to allow specifying a secret to authenticate o private registries.

[2019-01-26 18:45] mteodori opened #2425 "Add default labels to charts"

[2019-01-26 18:48] #2406 closed

[2019-01-27 09:01] salaboy commented on #2425
@mteodori are these Ingress related labels?

[2019-01-27 10:58] mteodori commented on #2425
No the standard ones of an helm scaffold that are used to search everything installed by a release, they shouldn’t have been removed unless there are reasons I am not aware of

On 27 Jan 2019, at 09:02, salaboy <notifications@github.com<mailto:notifications@github.com>> wrote:

@mteodori<https://github.com/mteodori> are these Ingress related labels?

—
You are receiving this because you were menti

[2019-01-28 03:27] mteodori opened #2426 "Add missing extraEnv to modeling chart"

[2019-01-28 07:22] almerico commented on #2418
yes PR is created https://github.com/Activiti/Activiti/issues/2418. The issue is that ingress names for services in staging environment was wrong after jx  promote.

[2019-01-28 08:26] almerico opened #2427 "decrease size of docker images"

[2019-01-28 08:45] daisuke-yoshimoto commented on #2228
I created pr for fixing thie issue.
https://github.com/Activiti/Activiti/pull/2423

[2019-01-28 08:51] daisuke-yoshimoto commented on #2184
@ryandawsonuk
Can I close this issue by following PR?
https://github.com/Activiti/Activiti/pull/2374

[2019-01-28 09:17] c14s opened #2428 "jdk 8 support ?"
We're using Activiti in a container that is running with jdk 8 (IBM WebSphere classic 9).
We were using Activiti 7.0.0.Beta5 before and noticed that RC1 was upgraded to jdk 11.

Is there a release line with jdk 8 support?
Do we have to switch back to Activiti 6 ?

[2019-01-28 09:20] prajwal11 commented on #2228
Thanks a lot for fixing the issue.Adding spring.activiti.dbHistoryUsed = true and spring.activiti.historyLevel=audit will create history tables and is storing all the data is proper format.

[2019-01-28 09:34] salaboy commented on #2324
@daisuke-yoshimoto let's discuss about this.. I would like to reproduce the issue that you are hitting with your configuration to understand where the problem is. I think that @mteodori is confusing priorities here regarding what is needed for the community project. Can you send me an email on how to reproduce the error that you are having?

[2019-01-28 09:34] salaboy commented on #2228
This fix will be included in the GA release.

[2019-01-28 10:33] balsarori commented on #2400
@oussemagabtni can you try installing locally via zip attached here https://github.com/Activiti/Activiti/issues/1918#issuecomment-400995566

[2019-01-28 11:19] almerico commented on #2427
https://github.com/Activiti/activiti-cloud-modeling/pull/56
https://github.com/Activiti/example-cloud-connector/pull/91
https://github.com/Activiti/activiti-cloud-audit/pull/115
https://github.com/Activiti/activiti-cloud-gateway/pull/5
https://github.com/Activiti/activiti-cloud-query/pull/115

[2019-01-29 07:47] salaboy opened #2429 "[k8s configurations] on services check memory and cpu limits"
Are they set?
Are we stopping the services to start faster?

[2019-01-29 07:48] almerico commented on #2429
@salaboy can you please add more details

[2019-01-29 07:49] salaboy opened #2430 "[k8s configurations] liveness and readiness probes"
Liveness probe shouldn't kill the container, they should allow to keep retrying if another service is down.
This means that we should change the configuration of our existing services and make sure that the pods are not killed unless the JVM is OOM or crashed.

[2019-01-29 08:24] salaboy opened #2431 "Core services to use PostgreSQL inside community charts by default"
Each service should connect to a different schema into PostgreSQL in order to support enable/disable notification service which require access to the DB instance of the query service.

Each service should create a schema based on the service name and version.

We should run our acceptance tests against the services configured against PostgreSQL

[2019-01-29 09:54] c14s commented on #2428
@salaboy Thanks for your reply.

We have the situation, that the AppServer is provided by an existing installation at customer side
(my wording "container" was misleading; I just wanted to mention, that we're running on an ApplicationServer; WebSphere is *not* installed in a (docker) container; we cannot change the runtime).

If you're not using any Java 11 features, it would be an option to compi

[2019-01-29 10:10] salaboy commented on #2428
@c14s let's find a way around it.. we want to start leveraging JDK 9, 10 and 11 features without the need to backport any of those to JDK 8, that is also a blocker. But as today, we should be able to do our release processes with both targets.. @almerico do you know if we can include that in our pipelines?

[2019-01-30 08:24] salaboy opened #2432 "Modeller Running and Persistence"
Enable a single docker image that can store files to the file system on save/export
@daisuke-yoshimoto already started with merging BE and FE into a single docker image and security configurations with basic auth. This will extend this work with FS persistence implementation of the modelling layers

@daisuke-yoshimoto can you please link your issue here.

[2019-01-30 08:26] salaboy opened #2433 "Process Variables Mappings"
following #2213 we need to improve this code and test it in our acceptance tests end to end from modeller to cloud.
We also need the modeller UI for mappings in community.

[2019-01-30 08:35] daisuke-yoshimoto commented on #2432
@salaboy
Is it okay if I am in charge of this issue too?

[2019-01-30 09:04] salaboy commented on #2304
After syncing with the team and @igdianov we all agree that not having a single swagger json file to interactively call the services. Having postman collections is not sustainable and we are hurting users that want to start testing the services.

[2019-01-30 09:12] salaboy opened #2434 "JSon Type store for serialised json objects into PostgreSQL"
We need to change from BLOB/LOB type to use JSON Object type to make sure that we use the right type of the database.

[2019-01-30 09:15] salaboy opened #2435 "Clean up DDL and announce PostgreSQL first"
We need to separate the DDLs and scripts related to other DBs to have a separate community process to keep support for other DBs.
Related to #2107

[2019-01-30 09:18] salaboy commented on #2432
@daisuke-yoshimoto that will be great.. we have quite tight deadlines..
We need to get a new implementation of the modeling APIs on the FileSystem.. do you know where to start that?
We can ask @constantin-ciobotaru to give you some directions to understand which implementations to provide first.

[2019-01-30 09:20] salaboy commented on #2432
@constantin-ciobotaru if we want to store projects (for example) in the FileSystem should we provide another implementation for this interface right -> https://github.com/Activiti/activiti-cloud-org-service/blob/develop/activiti-cloud-services-org/activiti-cloud-services-org-repository/src/main/java/org/activiti/cloud/organization/repository/ProjectRepository.java#L28 ?

[2019-01-30 09:47] constantin-ciobotaru commented on #2432
@salaboy @daisuke-yoshimoto Yes, we should provide implementations of [ProjectRepository](https://github.com/Activiti/activiti-cloud-org-service/blob/develop/activiti-cloud-services-org/activiti-cloud-services-org-repository/src/main/java/org/activiti/cloud/organization/repository/ProjectRepository.java) and [ModelRepository](https://github.com/Activiti/activiti-cloud-org-service/blob/develop/acti

[2019-01-30 09:50] salaboy commented on #2429
We need to review this values:
https://github.com/Activiti/example-runtime-bundle/blob/master/charts/example-runtime-bundle/values.yaml#L58

I can see that we are not setting CPU limits.. but CPU 400 means that it will allocate 0.4 cpu resources by default to this container, which is why the spring boot app takes forever to start.

We also need to change the liveness probe to not use the actuator

[2019-01-30 09:51] almerico commented on #2428
@salaboy I can add one more compilation with ``mvn  -Djava.version=1.8  clean install`` which will produce classes data version 5.2  to test java8 compatibility to all pipelines

[2019-01-30 09:51] salaboy commented on #2432
@constantin-ciobotaru can you point us also to the interfaces in process-model-service as well?
Also.. which maven modules with the new implementation should we create?

[2019-01-30 10:01] constantin-ciobotaru commented on #2432
@salaboy process-model-service doesn't implement any interface, we did this "magic" only in organization. About the org module probably the activiti-cloud-services-org-filesystem (sibling with activiti-cloud-services-org-jpa) should be the module to contain the new repository implementations (something like FilesystemProjectRepository and FilesystemModelRepository)

[2019-01-30 10:09] almerico commented on #2428
@salaboy adding and supporting parallel pipeline sounds bit complicated to support, but creating of java8 jars with different names and deploying them during pipeline is not so complicated.

[2019-01-30 10:56] salaboy commented on #2142
merged

[2019-01-30 10:56] #2142 closed

[2019-01-30 10:57] salaboy commented on #2432
@constantin-ciobotaru great.. so @daisuke-yoshimoto the requirement is clear now for me.. if you want to get started with that after finishing the other issue that will be great..

[2019-01-30 11:47] constantin-ciobotaru commented on #2432
@salaboy @daisuke-yoshimoto The switch between jpa and filesystem should be done with an application property and @ConditionalOnProperty on the beans? Eventually, the property can be "spring.datasource.url" with filesystem implementation as default.

[2019-01-30 15:04] erdemedeiros opened #2436 "Change jaxb-api scope"
[Jaxb-api](https://github.com/Activiti/Activiti/blob/develop/pom.xml#L202..L207) was added in `test` scope. However it's needed in compile scope otherwise Runtime bundle fails to start.
Actions:
- remove `test` scope from Activiti core: [root pom](https://github.com/Activiti/Activiti/blob/develop/pom.xml#L206), [activiti-engine](https://github.com/Activiti/Activiti/blob/develop/activiti-engine/pom

[2019-01-30 15:34] constantin-ciobotaru opened #2437 "Add support for connectors model type in modeling back-end endpoints"

[2019-01-30 15:35] constantin-ciobotaru opened #2438 "Add support for process variable mappings in process models extensions"

[2019-01-30 19:06] CTI777 opened #2439 "Add filter for standalone tasks"
A special filter standalone=true should be added in Query Service to handle standalone tasks

[2019-01-31 09:03] salaboy opened #2440 "Add warning in RB if your process has the async=true property in a bpmn element"
This needs to be done at the runtime bundle level starter.

Using async=true in ServiceTasks inside the runtime bundle will cause the default behaviour not being picked up so Cloud Connectors will not work. We need to at least warn the users that is happening.

[2019-01-31 09:03] salaboy commented on #2440
@daisuke-yoshimoto this might be one for you..but after the other ones

[2019-01-31 09:07] daisuke-yoshimoto commented on #2440
@salaboy
Is it OK to target only ServiceTask? The async option itself is useful.

[2019-01-31 09:09] daisuke-yoshimoto commented on #2440
@salaboy
Should I output this log at startup?
Also, should I output the log at the timing of calling the deploy API after starting?

[2019-01-31 10:01] salaboy opened #2441 "Modeler UI Variables definition JSON not visible"
@popovicsandras I've noticed this in RC1 release. We can create variables but we cannot see the json in the json tab.

[2019-01-31 10:02] salaboy commented on #2441
<img width="1002" alt="screenshot 2019-01-31 at 10 01 54" src="https://user-images.githubusercontent.com/271966/52046725-532aec00-253f-11e9-8b4f-c693c91e2cc8.png">
<img width="1002" alt="screenshot 2019-01-31 at 10 02 01" src="https://user-images.githubusercontent.com/271966/52046726-532aec00-253f-11e9-904a-deb8d4c75861.png">

[2019-01-31 10:04] salaboy opened #2442 "Modeler Services: Wrong file format for process extensions when export"
Process extensions should follow the format of "name of the process"-extensions.json and that it is currently not the case.

<img width="450" alt="screenshot 2019-01-31 at 10 04 29" src="https://user-images.githubusercontent.com/271966/52046830-9c7b3b80-253f-11e9-98f2-7499369246ec.png">

[2019-01-31 10:05] salaboy commented on #2442
@popovicsandras can we make sure that we follow that convention.. I think that we started with that.. due all the development of the backend was doing following such convention.

[2019-01-31 10:15] constantin-ciobotaru commented on #2442
@salaboy This is part of the BE side, so the fix is export endpoint. We should agree on the same convention also on aps side: https://issues.alfresco.com/jira/browse/ACTIVITI-2359.

[2019-01-31 10:42] erdemedeiros commented on #2390
@daisuke-yoshimoto we are planning to move this endpoint and the create variables one to admin only (remove the non-admin ones). Is that ok for you?

[2019-01-31 10:44] salaboy commented on #2442
@constantin-ciobotaru yes.. I will change the title.. we did all the coding (@balsarori did) with that -extensions.json format.. so there is an out of sync between what the modeler is generating and what the runtime is expecting.

[2019-01-31 11:08] salaboy commented on #2440
@daisuke-yoshimoto we need to do this in the runtime bundle starter.. in such environment we cannot use Async=true for anything because by default the job executor is disabled. So let's start with ServiceTask first.

[2019-01-31 11:31] daisuke-yoshimoto commented on #2440
I see. Basically, if we want to use asynchronous processing, is it to use connectors?

It does not matter to do with all elements.

Ok. I will modify it so that a warning log is outputed when the deployment process at startup and the deploy API are called.

[2019-01-31 12:21] almerico commented on #2427
@salaboy After several tries finally I selected smallest available working Docker image openjdk:11.0.1-jre-slim-stretch all masters are updated,  all three acceptance scenarios passed.

[2019-01-31 12:21] #2427 closed

[2019-01-31 12:22] salaboy commented on #2440
@daisuke-yoshimoto 👍

[2019-01-31 12:23] salaboy commented on #2427
@almerico you rock!

[2019-01-31 18:39] salaboy commented on #2429
wow!!!!! great news!! @ryandawsonuk @erdemedeiros @miguelruizdev ^^^^^

[2019-01-31 18:51] miguelruizdev commented on #2429
That's amazing!!!
Thanks @almerico

[2019-02-01 04:04] daisuke-yoshimoto commented on #2440
@salaboy

How about checking the process engine configuration and outputing warning log only if job executor is disabled?

[2019-02-01 07:30] salaboy commented on #2440
@daisuke-yoshimoto yes.. that sounds like a good idea.. we want to avoid service tasks being scheduled but not actioned by any mechanism.

[2019-02-01 07:34] salaboy commented on #2429
let's close this one then

[2019-02-01 07:34] #2429 closed

[2019-02-01 17:35] qiudaoke opened #2443 "Where is activiti7.0.0.RC1 modeler?"
When I was using activiti7.0.0.RC1, I couldn't find how to draw the process.

[2019-02-01 19:51] daisuke-yoshimoto commented on #2324
@salaboy @mteodori

Although org-service calls process-model-service via feign, since it is both in the same application in the standalone version, I will replace the implementation class so that org-service calls process-model-service directly in Java layer.

[2019-02-02 12:46] daisuke-yoshimoto commented on #2324
### Note

When the following issues are completed, I will add fix for endpoint of connector to the standalone version.
https://github.com/Activiti/Activiti/issues/2437

[2019-02-03 14:20] daisuke-yoshimoto commented on #2324
@salaboy @mteodori
The standalone modeler is almost complete. However, since the build of activiti-modeling-app is broken, now it can not be checked.
https://github.com/daisuke-yoshimoto/activiti-cloud-modeling-standalone

[2019-02-04 08:03] cristianflorescu opened #2444 "GET admin/v1/process-instances/${id}/model return type"
Which return type is expected to be used in the front end for this endpoint, is it image/svg+xml? (see https://github.com/Activiti/Activiti/issues/2389)

[2019-02-04 08:04] cristianflorescu opened #2445 "Do we need POST admin/v1/process-instances/${id}/variables?"

[2019-02-04 08:17] cristianflorescu commented on #2445
In initial request https://issues.alfresco.com/jira/browse/ACTIVITI-2413
only GET and DEL are requested

[2019-02-04 09:14] salaboy commented on #2390
@daisuke-yoshimoto we remembered that you created this endpoint.. but we are not sure what kind of use cases were covered.. in general removing process variables might cause issues unless you know what you are doing.. for that reason we will leave the endpoint as admin only.