[2019-04-03 14:37] #2672 closed

[2019-04-03 19:08] CTI777 commented on #2589
https://github.com/Activiti/activiti-examples/search?q=MoviesId&unscoped_q=MoviesId

This is fixed now here: https://github.com/Activiti/activiti-examples/pull/89

[2019-04-04 08:32] miguelruizdev opened #2673 "[Infrastructure / Docs ]Generate Postman Collection from Swagger spec"
Right now, the current state of the Activiti Postman Collection is this:
https://github.com/Activiti/activiti-cloud-examples/blob/af09c29f7f4fea7b06360475ab342ecd4c166d4d/Activiti%20v7%20REST%20API.postman_collection.json

Thus, this manual maintenance leads to an almost ever-outdated collection, that cannot catch up with the updates of our APIs.

Thanks to our swagger specs, we can maintain this

[2019-04-04 14:38] NicolaF opened #2674 "Model : Some elements are not parsed and sub-process' ioSpecification is wrongly attached to the parent process."
Hi,

I made two PRs for the following issues:
- SubProcess IO specification is wrongly set on active process instead of active *sub*process (#2648)
- According to BPMN 2.0 schema, all elements can have a documentation (#2649)
- documentation of `dataInput` and `dataOutput` is not parsed (#2649)
- `isCollection` attribute of `dataInput` and `dataOutput` is not parsed (#2649)

I made the PRs against

[2019-04-04 14:43] igdianov opened #2675 "[Documentation]Let's update Developers Guide to add common troubleshooting section"
Q: ELK setup is working now after using <ip>.nip.io instead of long hostname. question: how did you identify that this was due to long host?

The problem with using AWS NLB DNS name to install Activiti Helm chart in EKS is that it is not a wildcard DNS name. By resolving NLB DNS name to one of the IP addresses and using <IP>.nip.io wildcard DNS service does the trick, because Activiti Helm chart e

[2019-04-04 18:41] CTI777 commented on #2644
@igdianov @erdemedeiros
To clarify steps to be done:

- Changes should be made in cloud-query-service (and if needed added to other modules, like audit services…).

- A new filed will be added to TaskEntity:
 ```private Integer processDefinitionVersion;```

- This filed will be applied in ```TaskCreatedEventHandler``` (we set already here ```proocessInstance``` for not standalone tasks)

- A test

[2019-04-05 07:53] igdianov commented on #2670
@slamkalukas Thank you for your question. Based on my understanding of the current behavior, the second task should have the variable propagated from the previous task completion into the scope of the next task. This is reflected in the posted snapshot from GraphQL query, i.e. both tasks have `completedWithStatus` variable value set to `rejected`.

But you are saying that `When we check again the

[2019-04-05 07:56] igdianov commented on #2669
@slamkalukas This sounds like a bug. Could you, please, post the BPMN model and your test case code if possible. We will look into it.

@erdemedeiros Let's put this on the appropriate milestone to fix in the next release?

[2019-04-05 08:15] slamkalukas commented on #2670
@igdianov you understand that correctly, unfortunately this is not good behaviour for us - when we complete task with some variables, we don't want propagate them to the scope of next task (understood this is good for some use-cases) - is this something which can be configured in process?

[2019-04-05 08:55] erdemedeiros opened #2676 "[Claim task] Not able to claim a process task which has no assignee/candidate user or candidate group"
1. Start a process (please see the attached process definition)
1. Try to claim related task.

Current behavior: 404 Error loaded when trying to claim a task without assignee/candidate user/candidate group. 

"Unable to find task for the given id: c8df92aa-50a2-11e9-aceb-0a5864600243 for user: admin.adf (with groups: null & with roles: [ACTIVITI_ADMIN, ACTIVITI_MODELER, APS_ADMIN, APS_MODELER, ACT

[2019-04-05 09:16] erdemedeiros commented on #2644
@CTI777 you can start by query, but we'll also need to at this information to runtime bundle as well so that the response from runtime bundle and query don't get out of sync. You'll need to add an extra field in the API as well.

[2019-04-05 09:50] erdemedeiros commented on #2644
@CTI777 in any case you need to have it in the API because [query controller](https://github.com/Activiti/activiti-cloud-query-service/blob/develop/activiti-cloud-services-query/activiti-cloud-services-query-rest/src/main/java/org/activiti/cloud/services/query/rest/TaskController.java#L130) is returning a `CloudTask`.

[2019-04-05 12:41] magemello commented on #2670
You can set variables at task level with setVariableLocal(…) and setVariable(…) for process scope?
https://www.activiti.org/javadocs/6.latest/org/activiti/engine/delegate/variablescope

[2019-04-05 14:44] pancudaniel7 opened #2677 "The TaskVariableController was modified to set task variable per call"
The old implementation of creating task variables with one call was modified to create one task variable per call.

[2019-04-05 17:46] magemello commented on #2677
This seams to be a breaking change introduced in this task:
https://github.com/Activiti/Activiti/issues/2515

Can we reenable the ability to set multiple variables with a single call? This breaking change has broken the logic of one of the enterprise services.

[2019-04-05 18:43] magemello commented on #2677
Also I'm not sure about this strict logic between create and update. Let's suppose I have a task with 100 variables and I do the save of 50 of them......then a second time I save  all 100 am'I suppose to know which one are new and which one were already saved? Also am'I suppose to do 2 calls? One to update the previous 50 and another to create the new 50? Isn't to much complicate?

[2019-04-05 19:14] CTI777 commented on #2644
@erdemedeiros If we need this info also in runtime bundle we have to do much more changes.
For example in activiti core we have TaskConverter:
```https://github.com/Activiti/Activiti/blob/5fdfdc3888f454359c5b809a0c90ad561a331270/activiti-api-impl/activiti-api-task-runtime-impl/src/main/java/org/activiti/runtime/api/model/impl/APITaskConverter.java#L31```
It will not work proper for `processDefinit

[2019-04-05 19:27] magemello commented on #2677
I would suggest to add also
[code]

[2019-04-08 01:15] #2660 closed

[2019-04-08 02:17] headays commented on #2654
I think it is a very good idea. When I did this, I had a little trouble.
Use this process diagram
![image](https://user-images.githubusercontent.com/16751135/55693722-2b468180-59e3-11e9-91f1-3b4d4a51ccf1.png)
[code]
Start with these parameters：  {"taskMap":{"taskName":"baoan","taskUser":"user1"}}
complete task of baoan with these parameters : {"taskMapList":[{"taskName":"task1","taskUser":"user1"}

[2019-04-08 10:13] salaboy commented on #2658
@almerico @igdianov this is related to this PR right? -> https://github.com/Activiti/activiti-cloud-examples/pull/97

[2019-04-08 10:15] almerico commented on #2658
Yes

[2019-04-08 10:26] salaboy commented on #2329
@popovicsandras is this merged into the community repo as well?

[2019-04-08 10:40] erdemedeiros commented on #2644
@CTI777 I've just checked with @salaboy. Let's cover only query for now. Runtime bundle will have the field as it's part of the API, but it will be always null (at least for this iteration).

[2019-04-08 11:50] salaboy commented on #2255
@constantin-ciobotaru 👍

[2019-04-08 11:52] popovicsandras commented on #2329
@salaboy, yes this was merged into the community repo. (enterprise inherits it).

[2019-04-08 12:09] #2255 closed

[2019-04-08 13:56] #2658 closed

[2019-04-09 07:52] salaboy commented on #2305
Some comments about this approach that makes me think that we shouldn't use **swagger-maven-plugin**:
- Not maintained by an org.. it is an individual project
- No relationship with Spring Fox, which we are using extensively
- The swagger.json generated is completely different from the one provided by spring fox

Alternative solution:
- Use the approach suggested by : https://github.com/springfox/

[2019-04-09 08:10] salaboy commented on #2305
@almerico For the Pipelines we should add: https://blog.arnoldgalovics.com/introducing-swagger-brake/

[2019-04-09 09:44] salaboy commented on #2305
Objective is to generate a client with https://github.com/swagger-api/swagger-codegen for java

[2019-04-09 09:48] mteodori commented on #2305
I am fine with whatever approach provides json/yaml to maven as the swagger-maven-plugin does, but against creating a custom plugin when there is one that already works, springfox is not maintained as it looks like, last release 2018 plus adds runtime libraries that are not needed so removing it would make the application leaner, so I still advocate for the swagger-maven-plugin approach that alrea

[2019-04-09 10:04] erdemedeiros commented on #2305
@mteodori current problem with `swagger-maven-plugin` is that unlikely `SpringFox` it doesn't seem to support java generics for substitutes. Currently we were not able to find an equivalent to this customisation https://github.com/Activiti/activiti-cloud-service-common/blob/develop/activiti-cloud-services-swagger/src/main/java/org/activiti/cloud/common/swagger/SwaggerDocketBuilder.java#L92-L95 (We

[2019-04-09 10:37] mteodori commented on #2305
if it 6 dummy one line classes similar to the mixin ones for a solution which is closer to swagger-core, it looks better to me and not tied to springfox

[2019-04-09 11:28] salaboy commented on #2305
@miguelruizdev @almerico so: json and yaml files are required to be released.. @miguelruizdev is going to add the yaml generation in his PR as well. Once we solved it for json (generate and release) we can solve it for yaml as well in the same way

[2019-04-09 11:32] miguelruizdev opened #2679 "Incorrect error status when creating a Task with no name"
Related to:
https://github.com/Activiti/Activiti/pull/2455

![image](https://user-images.githubusercontent.com/32025234/55797058-661fe680-5ac3-11e9-87af-2c5783d1a285.png)

The correct error status should be **400**

[2019-04-09 11:36] constantin-ciobotaru opened #2680 "No default behavior for writing the "implementation" attribute of the "serviceTask" xml element"
We set a default behavior for reading service task "implementation" from xml. The commit change is here: https://github.com/Activiti/Activiti/commit/6eddc90262f75060b412a736422caf952c919f08#diff-6800c437acd17076d0fe75f2ead36a70R61.
But we don't do the same for writing into xml. See  https://github.com/Activiti/Activiti/blob/develop/activiti-bpmn-converter/src/main/java/org/activiti/bpmn/converter/

[2019-04-09 11:41] salaboy commented on #2669
yeah.. the candidateGroup information is not there yet.. We can add these structures, but that will mean to expand the information that we send in our events. We are analysing how and when we can add this feature. In query you will find the runtime state of the task, not the task definition (at least not now, that is the principle that we used so far, but we understand the limitations).

[2019-04-09 11:46] erdemedeiros commented on #2305
@mteodori just keep a record of our conversation:
Actually there are 6 classes to cover, but number of classes to be created is a combination of it as you need to have one class per type: `ProcessDefinitionResource`, `ProcessDefinitionResources`, `PagedProcessDefinitionResources`, `ProcessDefinitionListResponse`, `ProcessDefinitionEntryResponse`. Then the same for process instance, task, variables

[2019-04-09 12:45] #2329 closed

[2019-04-09 12:49] salaboy commented on #2305
@erdemedeiros totally agree.. hence my previous proposal.. we should stick with springfox and try to imitate what the other plugin is doing to make sure that we don't adopt/inherit all the maintenance burden. At the end of the day, we need to maintain the project

[2019-04-09 13:02] salaboy commented on #2475
@sheac good thread! I am just catching up after my holidays.. so sorry for the delayed response.

There are several things that I would like to point out based on your comments and proposed design, some of them align quite good with the Activiti Cloud direction and some of them goes in the opposite direction. As soon is it is clear to you, you can make your own choices.. we will try only to sugges

[2019-04-09 15:54] igdianov commented on #2661
The Modeler does not support persistence right now because it uses `h2` in memory database persistence provider included as dependency in Maven. To enable persistence, we will need to add Postgres driver dependency and modifye Helm chart to inject Spring Boot configuration as environment variables in the Modeler backend pod configuration to be able to switch between in-memory and Postgres persiste

[2019-04-09 18:16] CTI777 commented on #2643
@salaboy @erdemedeiros
Just to summarize what should be done:
We need that processDefinitionVersion  is added to messages related to the connector...
After discussion with @erdemedeiros it seems that we have it already:
**The message is sent here:**
[code]
**The message itself contains a header with processDefinitionVersion**
[code]
**A test is here:**
[code]

[2019-04-10 09:01] salaboy commented on #2643
@CTI777 I see what you mean.. so we have all the fields inside entity.* but not in the payload itself.
We might have a problem there.. because I can see that all the things inside payload.* besides the entity are null.. I wonder why we have those fields there.. and they are all null.

[2019-04-10 09:16] salaboy commented on #2462
@erdemedeiros can you think of a solution for this?
@miguelruizdev can you do a search for when and how we use Task.TaskStatus.DELETED?
if that is the only place where we use it.. we might want to use CANCELLED even for when the user do a DELETION. I remember that we created that DELETED state to make sure that we can differentiate a DELETE from the user and an automatic CANCELATION triggered by t

[2019-04-10 09:59] miguelruizdev commented on #2462
More code that reflects the ambiguity of this two states:
https://github.com/Activiti/Activiti/blob/5fdfdc3888f454359c5b809a0c90ad561a331270/activiti-api-impl/activiti-api-task-runtime-impl/src/main/java/org/activiti/runtime/api/model/impl/APITaskConverter.java#L52

There is no Deletion Event present in runtime bundle for Tasks:
https://github.com/Activiti/activiti-cloud-acceptance-tests/blob/f1fb

[2019-04-10 13:10] DestinyWang opened #2686 "How should I complete the process jump sequenceFlow"
When I listen for events from the SequenceFlow,  and try to jump to a new UserTask, the new UserTask is generated, but the currentFlowElement of the execution is still on the same flow. How do I set the currentFlowElement to be the correct jump node?

[2019-04-10 14:18] CTI777 commented on #2644
@erdemedeiros @salaboy
I have updated **query-service** and test to handle processDefinitionVersion from event, not task entity as before

[2019-04-10 14:24] slamkalukas commented on #2670
@magemello We are using REST API from Activiti 7 to set these variables (when we are closing the task)```{
  "variables": {
    "completedWithStatus": "approved"
  },
  "payloadType":"CompleteTaskPayload"
}```

[2019-04-10 14:53] salaboy commented on #2643
I am closing this issue, as there is nothing that we need to fix there. The data is in the right place and what we need to test this features is a more complex example where the bindings for the streams use a partition key. We don't have such example right now, but there is no issue here. We might find issues when we create such example and we should link back to this at that point.

[2019-04-10 14:53] #2643 closed

[2019-04-10 16:59] rvaldeolmillos commented on #2666
Having the same problem, using Activiti 6 and DefaultAsyncJobExecutor.
Some asynchronous continuations get delayed 5 minutes until the lock expires for no apparent reason.

[2019-04-11 08:11] salaboy commented on #2607
@mathieubodin great that you sort it out.. It will be great for documentation purposes if you can contribute with a short text on why you needed to do that, and which files from our HELM charts / Kubernetes resources (Ingress) in this case you needed to change for your particular setup. This might help a lot of users. We can create a FAQ section into our getting started guides where we can include

[2019-04-11 08:23] miguelruizdev commented on #2462
Presence of the status **DELETED** in tests:
https://github.com/Activiti/Activiti/blob/714e5a89efa4e813e68d576c1bb1791c47936095/activiti-spring-boot-starter/src/test/java/org/activiti/spring/boot/tasks/TaskRuntimeDeleteTaskTest.java#L66

https://github.com/Activiti/Activiti/blob/5e5601192d731bcca5d0b1c8113f15a28ddb391c/activiti-spring-boot-starter/src/test/java/org/activiti/spring/boot/tasks/TaskR

[2019-04-11 08:35] salaboy commented on #2654
@yangpancode @headays this is a wonderful thread.. I love when these things are suggested in Open Source communities.
In general I will be against of having universal solutions, due they add an abstraction layer that will add a lot of confusion and visibility problems.

When you implement something like this solution you will then need to check at runtime if the call activity elements has a valid

[2019-04-11 08:38] salaboy commented on #2655
@almerico what is the status of this one?

[2019-04-11 08:40] salaboy commented on #2647
@squillopas which version of Activiti are you using?
Can you please provider a reproducer of your issue?
It will be great to understand how does the process definition that is causing the issue looks like.

[2019-04-11 08:41] salaboy commented on #2640
Closing due no action required

[2019-04-11 08:41] #2640 closed

[2019-04-11 08:41] almerico commented on #2655
looks like this it can't be fixed, because we are working from different repos and rarely this can cause sync problems and they are can't be fixed easily.

[2019-04-11 08:42] salaboy commented on #2639
@roxanaspatariu @constantin-ciobotaru is this fixed already?
I can see a PR merged.. @constantin-ciobotaru can you please closed if this is validated already?

[2019-04-11 08:42] salaboy commented on #2659
@igdianov @almerico was this implemented? Just checking to see in which milestone we should add it.

[2019-04-11 08:45] salaboy commented on #2675
We need a FAQ section for sure.. there are too many of these questions and answers that we keep repeating in the gitter channel..

Let's split the questions into Core, Cloud, Infrastructure to start with and then refine as needed.

[2019-04-11 08:46] constantin-ciobotaru commented on #2639
Done by https://github.com/Activiti/activiti-cloud-org-service/pull/199

[2019-04-11 08:46] #2639 closed

[2019-04-11 08:59] ggrnd0 opened #2687 "Coolest code ever >_<"
https://github.com/Activiti/Activiti/blob/35be47101f5450df20d9c7c3d74524c31788dbc6/activiti-engine/src/main/java/org/activiti/engine/impl/persistence/entity/ExecutionEntityImpl.java#L476-L482

[2019-04-11 09:02] salaboy commented on #2655
@almerico should we close this as no action? or. if you can add your findings here.. that will be great.

[2019-04-11 09:07] salaboy commented on #2687
@ggrnd0 you can use BLAME in github to see who the author is :)

https://github.com/Activiti/Activiti/blame/35be47101f5450df20d9c7c3d74524c31788dbc6/activiti-engine/src/main/java/org/activiti/engine/impl/persistence/entity/ExecutionEntityImpl.java#L476-L482

Usually, we recommend of trying to solve the problem and improve things for everyone instead of just complaining.. but complaining is the fir

[2019-04-11 09:07] #2687 closed

[2019-04-11 09:11] salaboy commented on #2664
@ggrnd0 can you please try to explain what are you trying to achieve?
Which version are you using? and how is it failing?
Which is the element that is failing to behave as you expect?

[2019-04-11 09:13] salaboy commented on #2657
@igdianov totally agree..
As the result of this issue, our quickstarts should have unit tests mocking the right services to work.
@erdemedeiros we should have one for our runtime bundle quickstart as well.. I think that with the investigation that you did for running the swagger file generation, we can also achieve creating some unit tests that doesn't require docker to test our processes inside r

[2019-04-11 09:16] salaboy commented on #2666
Ok, so this is not a problem in Activiti 7, because by default we are not using the AsyncJobExecutor.
It will be great if we can create a reproducer that we can use to investigate and solve the problem.

[2019-04-11 09:18] salaboy commented on #2680
merged for M1

[2019-04-11 09:18] #2680 closed

[2019-04-11 09:19] salaboy commented on #2674
@NicolaF Hi Nicola,
Thanks a lot for these contributions. We will definitely prefer the PRs to be pointed at develop to be able to review and merge them. If we decide to backport them (to 7.0.x) we can do that after having them in Develop.
Can you please write a message here when the PRs are updated?

Thanks a lot.

[2019-04-11 09:23] salaboy commented on #2686
@DestinyWang we need more information about this issue, if it is an issue.
Can you please add a more detailed description of what the problem is?
Why are you looking at the internal execution object of the engine? How are you listening the events?
What are you trying to achieve?

[2019-04-11 09:23] salaboy commented on #2652
@AnhND35 Hi there.. sorry for the late reply. Can you please give more information about what you tried to do?
Under the github.com/Activiti/ organization we have 88 repositories, so you will need to be more specific.

[2019-04-11 09:25] ggrnd0 commented on #2664
@salaboy, throwSignalEvent fire event and wait until triggered flow chain stopped.

i did it. Yahoo! there is a code
with some additional improvement

IntermediateThrowSignalEventActivityBehavior.execute
[code]

[2019-04-11 09:28] salaboy commented on #2664
@ggrnd0 this might be the right solution.. but without a test and an example showing what is fixing and how it is almost impossible for us to add to the code. This might be the right solution, but we need to make sure that this solution doesn't break something else, and the only way to make sure that this is the case is by providing a PR with a test to run along all the other engine tests.
Can you

[2019-04-11 09:33] ggrnd0 commented on #2664
not sure about effects for already implemented processes.
We did not test our processes yet.

Example in first post.
I will try create PR later...

[2019-04-11 09:42] ggrnd0 commented on #2664
Walking throuht process tree can and will definitely break something...

[2019-04-11 09:58] mteodori commented on #2305
can you make a plan on when this is going to be available for platform services? changing the classes in swagger however boring is no more than a day's work, if this is gong to take longer I will still push for the swagger-maven-plugin

[2019-04-11 10:02] salaboy commented on #2305
@mteodori this is work in progress ..and the alternative with the swagger-maven-plugin is not viable.
I think that we are almost done.. just adding the generation to the pipelines and when M1 is released we should have that in maven central, for me that is the success criteria.

[2019-04-11 10:06] mteodori commented on #2305
that's great news, can you keep platform updated on which snapshot they can start testing? thanks

[2019-04-11 10:07] salaboy commented on #2305
@erdemedeiros @almerico as soon as the files start hitting nexus.. please update here with some links so we can notify the other teams.

[2019-04-11 10:21] almerico commented on #2655
this related to concurrent call of github API can't fix it

[2019-04-11 10:21] #2655 closed

[2019-04-11 10:36] ggrnd0 commented on #2686
regular way to do it
[code]

All activiti node behaviours do it correctly, and nothing must go wrong...

In similar with https://github.com/Activiti/Activiti/issues/2291
you must create new ExecutionEntity and currectly initiate it.

id_ will be generated
rev_1
proc_inst_id_ parent_id_  root_proc_inst_id_ copy from current execution
set your ACT_ID_ and PROC_DEF_ID_  -- currentFlowElement will be

[2019-04-11 10:43] mteodori commented on #2305
you need to upgrade the version of guava to one without vuln https://cve.mitre.org/cgi-bin/cvename.cgi?name=2018-10237

[2019-04-11 11:44] NicolaF commented on #2674
Hi @salaboy,
I cherry-picked all the commits in a new PR, please see #2688,

Best regards,
Nicolas

[2019-04-11 12:58] #2662 closed

[2019-04-11 13:13] fcorti opened #2689 "The twoTaskProcess process definition comes with a null value into the property 'name'"
Into the following Getting Started example, the twoTaskProcess process definition comes with a null value into the property 'name'.

https://github.com/Activiti/activiti-cloud-charts

This is an issue for an ADF application built on top of the Activiti BPM Engine.

The request is to give a value to the property 'name', as it is happening for all the others process definitions in the examples.

[2019-04-11 13:26] paulhh commented on #2687
You can also use blame to see who wrote most of the engine.

[2019-04-11 13:27] salaboy commented on #2689
@fcorti did you created also the ADF issue to deal with those situations? Can you please link it here?

As part of this issue we will add an acceptance test to check that the name is null. We will not change the process, due we will need a process with the name property in null to validate that we are getting the right data in the acceptance test.

Thanks for reporting.

[2019-04-11 13:29] salaboy commented on #2687
@paulhh you can use blame for all sort of fun things!

[2019-04-11 14:25] fcorti commented on #2689
Below the link to the ADF issue to face this.
https://issues.alfresco.com/jira/browse/ADF-4389

[2019-04-11 15:01] salaboy commented on #2547
@almerico can you close this if this is done?

[2019-04-11 15:04] salaboy commented on #2663
done

[2019-04-11 15:04] #2663 closed

[2019-04-11 15:05] salaboy commented on #2620
@almerico I will close this.. but please feel free to re-open if this is still an issue

[2019-04-11 15:05] #2620 closed

[2019-04-11 15:08] #2594 closed

[2019-04-11 15:10] almerico commented on #2547
Done

[2019-04-11 15:10] #2547 closed

[2019-04-11 15:55] miguelruizdev commented on #2305
Current state of things after merging this PR: https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/287
Need for changes in the following services:
- [x] Runtime-bundle
- [ ] Query
- [ ] Audit
- [ ] Modelling

Scope of the changes:

- Adding SwaggerITSupport test
- Modifying pom configuration
- Add changes to pipelines

[2019-04-11 16:16] erdemedeiros opened #2690 "[Vulnerability - CVE-2018-10237] Upgrade guava version"
Fix vulnerability https://cve.mitre.org/cgi-bin/cvename.cgi?name=2018-10237.

[2019-04-11 16:17] erdemedeiros commented on #2305
@mteodori I created an issue to upgrade guava https://github.com/Activiti/Activiti/issues/2690. Thanks for the reminder.

[2019-04-11 17:17] magemello commented on #2529
If we do this, are we going also to avoid to look up in the connector definitions for the mapping?

[2019-04-12 07:29] ggrnd0 commented on #2664
I have cleaner idea!

push/pop Agenda for reused CommandContext in interceptor.

[2019-04-12 07:37] ggrnd0 commented on #2664
In that way any commandExecutor invocations will have separate agenda and where will no unexpected effects with concurrent commands executions...

Debugging will be so easy! XD

[2019-04-12 08:07] erdemedeiros opened #2691 "[Core] Create acceptance test to cover signal events"
Currently signal events are only covered in `multiple-runtime-acceptance-tests`, but those are not executed in the pipeline. We need to cover them in `runtime-acceptance-tests` as well. Scenario could be:
Same signal caught by:
- start signal event
- intermediate catch signal
- boundary signal event

1. start process with intermediate catch signal
1. start process with boundary signal event
1. sta

[2019-04-12 08:16] ggrnd0 commented on #2664
and i think there must be some changes in intercepting/execution chain...
Where can i post that?

[2019-04-12 08:16] constantin-ciobotaru commented on #2254
@salaboy the issue is still reproducible with the current spring-cloud Greenwich.RELEASE and spring-boot 2.1.2.RELEASE. So, I just kept the workaround but without using hardcoded values. Is that ok from you point of view?

[2019-04-12 08:27] salaboy commented on #2462
I have two options in my head right now:
1) Return CANCELLED status when the user manually delete a task and change to cancel() instead of delete the method in the API

2) Use the "reason" property to, in query also set the task status to DELETED when the user executed the delete operation. This will require that process engine cancellation of tasks modify the reason to make sure that we can disti

[2019-04-12 08:41] salaboy commented on #2254
@constantin-ciobotaru I think that it is.. as soon as we can parameterise those values.. we should be fine for now..

[2019-04-12 08:47] erdemedeiros commented on #2462
@salaboy @miguelruizdev, I think we can go with the first option, but maybe instead of renaming `delete` to `cancel`, just add `cancel` and mark `delete` as deprecated (to avoid breaking change in the API). Then `delete` implementation (deprecated method) will delegate its execution to `cancel` (new method).
**Note:** I think the REST API should be kept unchanged, I mean we should keep using `DELE

[2019-04-12 08:49] salaboy commented on #2664
@ggrnd0 I am ok with ideas.. but we need to have PRs with tests in order to evaluate the ideas and the impact in other places of the execution. If you create a branch with your changes and your tests you can easily then send a PR

[2019-04-12 08:51] salaboy commented on #2462
@erdemedeiros my only fear with option 1 is that we cannot differentiate anymore if the task was deleted by the "delete()" method or automatically by the process engine on process cancellation.

So even if we go for the first option as you suggested (which is the smaller change) we should make sure that we add a sensitive reason to be able to differentiate between the two cases.

[2019-04-12 08:53] salaboy commented on #2462
@erdemedeiros I would add the flag release notes required for this one.. not sure if it makes sense to keep a deprecated method at this point, as soon as we correctly document it.

[2019-04-12 09:05] salaboy commented on #2305
@erdemedeiros @almerico are all things merged for Runtime Bundle? if we have a link to a deployed swagger.json file in nexus please paste it here..
@almerico please also update the pipelines to not have the DinD included .. as we don't need it anymore.

[2019-04-12 09:07] almerico commented on #2305
@salaboy sure

[2019-04-12 09:11] erdemedeiros commented on #2529
Currently we are using connector input variables as entry point https://github.com/Activiti/Activiti/blob/develop/activiti-api-impl/activiti-api-process-runtime-impl/src/main/java/org/activiti/runtime/api/connector/InboundVariablesProvider.java#L41, https://github.com/Activiti/Activiti/blob/develop/activiti-api-impl/activiti-api-process-runtime-impl/src/main/java/org/activiti/runtime/api/connector

[2019-04-12 09:13] magemello commented on #2529
Understood, so we still need to look in the connector definition for the filtering...

[2019-04-12 09:14] ggrnd0 commented on #2664
@salaboy , i will try at weekend.

I have another idea. Too big for thai issue. Where i can post that?

[2019-04-12 09:49] salaboy commented on #2664
@ggrnd0 try to create an issue with a summary of the idea and use the label "feature request"

[2019-04-12 09:51] ggrnd0 commented on #2664
ok

[2019-04-12 12:05] salaboy commented on #2677
I think that we need to evaluate what are the use cases that we want to cover.
@balsarori @pancudaniel7 can you please clarify how the internal form service is using these endpoint and when?

In my opinion we should have a save(SaveTaskPayload) Task operation similar to complete() which uses this payload:
https://github.com/Activiti/activiti-api/blob/develop/activiti-api-task-model/src/main/java/o

[2019-04-12 12:52] CTI777 commented on #2677
Maybe we can simply add a method setTaskVariables
Then we will have a clean and straightforward create / update methods with checking of everything for one variable.
But additionally, there will be a method to setTaskVariables (multiple variables) which will create variable if needed or update it if it exists... Maybe it is possible to configure that this method will be available not always and no

[2019-04-12 13:11] salaboy commented on #2677
@CTI777 I really want to avoid having a "variable manipulation method" that is too low level and it doesn't map to an operation that the user is performing. Our new APIs needs to be extremely clear in the behaviour.
This cannot be admin only because it is going to be executed by our forms mechanism which is a user operation

[2019-04-12 13:15] CTI777 commented on #2677
@salaboy I am also completely against multiple variable manipulation method. And the proposal was for the case there is no way to avoid this...

[2019-04-12 13:43] salaboy commented on #2677
Going back to my proposal:
[code]

Where SaveTaskPayload will have like complete a Map of variables.

[2019-04-12 14:08] erdemedeiros commented on #2305
@salaboy

[2019-04-12 14:13] salaboy commented on #2305
@erdemedeiros @almerico AWESOME!!!
I think that now @miguelruizdev can replicate to the other projects with @almerico help for the pipelines

[2019-04-12 14:31] almerico commented on #2305
I tested latest build and looks like during ``mvn deploy`` json and jaml files are created successfully.
But during compilation of generated sources I got errors related to java11

- First one is
[code]
Easily fixed by adding
[code]

- second one is javadoc related

[code]
can be fixed by adding dummy’s configuration to the maven-javadoc-plugin
[code]

[2019-04-12 15:05] #2254 closed

[2019-04-12 16:03] #2494 closed

[2019-04-12 16:55] magemello opened #2694 "Static values in the service task mapping"
As a developer I want to be able to define in my process a task scope value, without have to define it in the connector definition.

[code]

[2019-04-12 17:29] magemello commented on #2694
As part of this we need also to change the extension validator to accept static-value as type

[2019-04-12 17:55] magemello commented on #2694
https://github.com/Activiti/activiti-cloud-org-service/pull/216

[2019-04-14 08:01] ggrnd0 opened #2695 "Event based GW with single catchEvent"
That method do not check is eventActivityIds empty or not:
https://github.com/Activiti/Activiti/blob/c8666252c669d89f2c6d7063e4a89aadf6b73175/activiti-engine/src/main/java/org/activiti/engine/impl/bpmn/behavior/IntermediateCatchEventActivityBehavior.java#L86

And query to db fails
https://github.com/Activiti/Activiti/blob/35be47101f5450df20d9c7c3d74524c31788dbc6/activiti-engine/src/main/resources/

[2019-04-14 17:34] igdianov opened #2697 "Broken Pictures in Jx Quickstart Guide in Gitbook"
The Jx Quickstart guide appears to be broken: https://activiti.gitbook.io/activiti-7-developers-guide/getting-started/getting-started-activiti-cloud/getting-started-activiti-cloud-jx. There was a commit 11 days ago which removed all Jx Quickstart pictures from .gitbook/assets folder: https://github.com/Activiti/activiti-7-developers-guide/commit/616462e42aed650766d146e9ca5f0c86140fedc9#diff-0c2b1d

[2019-04-14 18:37] CTI777 commented on #2645
@salaboy @erdemedeiros
I have made a PR with a simple test to show possible solution to store process extensions inside deployment (with some changes, as discussed with @erdemedeiros).
Questions:
1.	How will we store process extensions and connector definitions in a deployment (as a resource) or bytes?
2.	How will we separate what resource is what?
Maybe we will store resource and add a correspond

[2019-04-15 08:51] salaboy commented on #2677
As mentioned by @igdianov we should add a flag to see which variables are local and which are not.

[2019-04-15 11:21] miguelruizdev commented on #2530
There is a workaround to this.
The same information (is standalone?) can get inferred by checking if **the processInstanceId field has a null value**.

[2019-04-15 11:46] erdemedeiros commented on #2305
@salaboy no changes are require in the pipeline as the profile to generate swagger files is enabled by default.

[2019-04-15 12:34] salaboy commented on #2305
@erdemedeiros awesome!
All done then..

@mteodori all artefacts published as part of our fixed version(internal) releases. These artefacts can be found here:
[code]

@mteodori can you let me know who do we need to notify about that?

[2019-04-15 12:41] salaboy commented on #2644
done in develop

[2019-04-15 12:41] #2644 closed

[2019-04-15 13:06] mteodori commented on #2305
the above URLs are 404 for me, is there some typo?

[2019-04-15 13:08] mteodori commented on #2305
this is related to https://github.com/Activiti/Activiti/issues/2588 please verify with @rpopa and @zanatyk it fixes what is required once they switch to REST client java generation to the new URLs thanks

[2019-04-15 13:13] erdemedeiros commented on #2305
@mteodori I think @salaboy "templated" the path. You need to replace `7.1.x`, by an actual version, i.e. https://artifacts.alfresco.com/nexus/content/repositories/activiti-releases/org/activiti/cloud/modeling/activiti-cloud-starter-org/7.1.44/activiti-cloud-starter-org-7.1.44-api-docs.json

[2019-04-15 13:27] mteodori commented on #2305
thanks @erdemedeiros so latest as of today are:

|service|swagger json url|
|---|---|
|runtime-bundle|https://artifacts.alfresco.com/nexus/content/repositories/activiti-releases/org/activiti/cloud/rb/activiti-cloud-starter-runtime-bundle/7.1.35/activiti-cloud-starter-runtime-bundle-7.1.35-api-docs.json|
|audit|https://artifacts.alfresco.com/nexus/content/repositories/activiti-releases/org/activiti

[2019-04-15 13:28] mteodori commented on #2305
also you might want to validate against https://editor.swagger.io as the type names with << don't seem to be ok for the spec but maybe it's not a problem for UI and client generation so we might ignore

[2019-04-15 13:32] slamkalukas opened #2700 "Application slowness/not processing new requests"
Hello team,

we got running Activiti 7 Cloud Full example with custom runtime bundle, cloud connectors and query service.

We observe an application slowness and issue with closing tasks with OOTB REST APi after 6/7 days of running our pods. In logs we see issue - RabbitMQ broken pipe error.

This is second time we observe this problem, last time application was slow (long waiting for REST APIs) b

[2019-04-15 16:20] igdianov commented on #2697
fixed.

[2019-04-15 16:20] #2697 closed

[2019-04-15 16:54] salaboy commented on #2644
@CTI777 can you please this one if it is done?

[2019-04-15 17:03] CTI777 commented on #2644
@salaboy   it is done. What should I do? It is closed...

[2019-04-16 02:26] ouyangshixiong commented on #2620
@ryandawsonuk  Thank you for your had work.
There are much much more problems using Jenkin X with activiti cloud, anyway it can work.
Because Jenkins X always made the k8s cluster running in high IO situation. So I had to fall back to use activiti core + springboot to build my applications. Until now, All applications works file :)

[2019-04-16 07:57] salaboy commented on #2620
@ouyangshixiong thanks a lot for your feedback. Some of this would be very valuable for the JenkinsX project. I believe that they have built something that is pluggable, so most of the issues you mention can be fixed (custom docker registry, other git providers, etc).
We are currently working hard to improve the modeler experience, at this stage is early access, so feedback is more than welcome.

[2019-04-16 07:57] salaboy commented on #2620
@ouyangshixiong feel free to get in touch and share what you use case is if you want to join the community and help other people with common problems on kubernetes will be highly appreciated.

[2019-04-16 08:09] erdemedeiros opened #2701 "Add swagger artefacts to BOM"
New swagger artefacts added by https://github.com/Activiti/Activiti/issues/2305 should be added in the Bill of Materials (BOM) so that clients don't need to specify the version: it will be inferred directly from `activiti-cloud-dependencies`.

[2019-04-16 08:52] #2653 closed

[2019-04-16 08:52] #2638 closed

[2019-04-16 08:54] salaboy commented on #2679
closing this because it will be done by https://github.com/Activiti/activiti-cloud-service-common/pull/165

[2019-04-16 08:54] #2679 closed

[2019-04-16 08:55] salaboy commented on #2607
closing due require feedback and we can create a different documentation issue.

[2019-04-16 08:55] #2607 closed

[2019-04-16 12:23] erdemedeiros opened #2702 "NPE while generating client from modeling swagger specification"
NPE occurs while generating client from modeling swagger specification
[code]

[2019-04-16 14:01] salaboy commented on #2510
done .. we need to validate the acceptance tests validations

[2019-04-16 14:01] #2510 closed

[2019-04-16 14:15] salaboy commented on #2702
done

[2019-04-16 14:15] #2702 closed

[2019-04-16 14:15] #2701 closed

[2019-04-16 14:16] salaboy commented on #2305
added in bom

[2019-04-16 14:16] #2305 closed

[2019-04-16 16:27] miguelruizdev commented on #1847
Done

[2019-04-16 16:27] #1847 closed

[2019-04-17 04:36] igdianov opened #2703 "Breaking configuration changes in activiti-modeling-app"
There was a breaking change that removed api prefix from Dockerfile in https://github.com/Activiti/activiti-modeling-app/commit/9a4f746cf99f63ecc0761a0da7cbdf0e005e8669#diff-60713fb19f6c50a2473835df63ff17f9

This makes currently published charts in activiti-cloud-charts repository not compatible with new Modeling App Docker image.

[2019-04-17 06:04] almerico opened #2704 "activiti-modeling-app doesn't work correctly with activiti-cloud-modelilng backend"

[2019-04-17 06:37] almerico commented on #2704
Configuration of activiti cloud modeling is changed. Fix ix
https://github.com/Activiti/activiti-cloud-example-chart/commit/2304de235e9738c741cb9a2989a0cf9d913a1cff#diff-6d6e925f665da3abf326a9aaa0e48e7e

[2019-04-17 08:31] salaboy commented on #2677
@igdianov no admin for now.. we can add that later.

[2019-04-17 09:31] salaboy commented on #2677
Ok so more refinements:
- Let's use the save method to store local task variables
- Let's use complete() and the Payload to in the backend check the content of the variables map and do
  - If the variable exist in the process scope propagate it
  - If it doesn't exist in the task level create it
  - if it exist in the task level update

By following this logic there are no two maps in the Complete

[2019-04-17 12:36] igdianov commented on #2677
@Salaboy when user completes the task form,  he will need to inject form outcome variable, i. FormResult with values Approve or Reject into process scope. Based on the logic you propose,  the FormResult variable will not be propagated because it does not exist yet.

[2019-04-17 12:41] igdianov commented on #2677
I think complete task paylod should have single responsibility to complete the task with provided variables propagated into process.

[2019-04-17 14:00] salaboy commented on #2700
@slamkalukas thanks a lot for reporting this.
When you say: OOTB REST APi  does that mean RuntimeBundle/v1/tasks/complete ?

[2019-04-17 14:12] slamkalukas commented on #2700
@salaboy yes, runtimeBundle/v1/tasks/taskId/complete and also in our customRuntimeBundle with our new processes

[2019-04-17 14:24] salaboy commented on #2700
Also.. which database are you using? and are you using Rabbit with any other configuration?
Rabbit is not setup for HA.. so you might want to tweak the full example to have a more robust setup

[2019-04-17 14:26] salaboy commented on #2700
@slamkalukas and if you do query/v1/tasks how many tasks do you have?

[2019-04-17 14:27] salaboy commented on #2700
or even your GET runtimebundle/v1/tasks/ how many tasks do you have?

[2019-04-17 14:36] slamkalukas commented on #2700
We are using Microsoft SQL, we got maximum 20 process instances running with maximum 40 tasks

[2019-04-17 15:04] pancudaniel7 commented on #2677
Right now on my side on form-service, when I am trying to save a form first of the step is to set the task variables. This is the current implementation:
[code]

[code]

[2019-04-18 07:28] salaboy commented on #2700
@slamkalukas can you use MSSQL admin console to evaluate the query speeds? Or is it clear in your environment that RabbitMQ is the problem?

[2019-04-18 10:35] salaboy commented on #2700
@slamkalukas I would recommend you to take a look at: https://github.com/helm/charts/tree/master/stable/rabbitmq-ha
and please report back about your findings, we will start some work around the topic but from the community perspective there is much that we can do.. so for example testing with MSSQL Server is not going to happen soon.

[2019-04-18 12:51] salaboy commented on #2630
The name of the signal elements is missing, making it impossible to use for a real example. We need to add the name property to the signal xml tag and enable the user to change the name as they wish

[2019-04-18 16:57] magemello commented on #2643
I'm using the following "integrationContext.processDefinitionVersion" from the IntegrationRequest object. Is it correct?

[2019-04-18 23:27] magemello commented on #2643
ok the solution at the end was to use:
[code]
also this would work if you have a property in the app config
[code]

[2019-04-19 06:32] LeoQuote opened #2708 "error accours when applying the quickstart heml chart: error: unable to decode"
errors when trying to apply the quickstart helm chart
[code]

according to the https://activiti.gitbook.io/activiti-7-developers-guide/getting-started/getting-started-activiti-cloud/getting-started-activiti-cloud-jx/google-cloud-gke-jx doc , I set up a jx cluster and started a quickstart , but these error appears when jx trying to apply the staging environment.

It seems to be the problem of keycl

[2019-04-19 07:29] igdianov commented on #2677
@pancudaniel7 See the following PR with proposed implementation: https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/296

[2019-04-19 11:31] salaboy commented on #2643
@magemello we discussed about doing that and we agreed that is that not the way to go. You can inject the header in the method signature and then check inside. I would recommend evaluating that approach to not promote something that we don't want.

[2019-04-19 11:35] salaboy commented on #2643
@magemello
[code]

[2019-04-19 16:57] VAEAZE opened #2709 "Can I use two datasource for Activiti in a Spring Boot app?"
Now I have two database called db1 and db2,which both have the save process flow diagram.I want to execute the activiti process according according the parameter. For example,if I pass the para which value is 1,I want to execute the activiti process using db1.if I pass the para which value is 2,I want to execute the activiti process using db2.Can I use two datasource for Activiti in a Spring Boot

[2019-04-19 21:19] CTI777 commented on #2645
@salaboy @erdemedeiros @igdianov
Currently we have decided to load all resources to deployment and then resources should be parsed as process extension or connector...
To separate process extensions a filter '-extension.json' can be used for the file names of resources.
For connectors we have only '.json', which is not very flexible...
The best way would be to have something like '-connector.json'

[2019-04-20 09:57] alaksmana opened #2710 "Getting Variables from graphql"
Sirs
I have tried searching in the forum for my kinda error. Sorry if this is a repeat.

I'm using 7.0.0.SR1 Runtime Bundle. With latest activiti/activiti-cloud-notifications-graphql:7.1.58.

Here is my query:
[code]
I managed to get:
[code]

How can I get the variables values and names from graphql?
Using the JPA query service REST API, I managed to get all of them. But I have to iterate per proc

[2019-04-20 15:41] igdianov commented on #2708
@LeoQuote What is the output of `jx version` command? What type of Jenkins-X installation do you have: Static or Serverless?

[2019-04-20 15:47] igdianov commented on #2710
@alaksmana Thank you for your question. I can help you to troubleshoot. Can you provide more details below?

1. How do you start the process?

2. What is the payload?

[2019-04-20 23:23] alaksmana commented on #2710
@igdianov Thank you for helping.

1. I started by :
[code]

2. The payload is:
[code]

Currently I use REST API `/v1/process-instances/{uuid}/variables/` to get the variables and managed to get all variables and their values nicely.

But I really love to use the graphql for performance and simplification of our queries (filter, sorting, etc).

Regards

[2019-04-21 00:51] igdianov commented on #2708
@LeoQuote New Jenkins-X version has enabled tiller-less Helm as default option, but there is a bug in `jx step helm apply` command that corrupts templates if there is an empty template generated.

I have fixed `activiti-ingress.yaml` in `activiti-keycloak` chart to workaround this problem. You will need to update `infrastructure` chart to version `1.1.7` in your `charts/activiti-cloud-platform/req

[2019-04-21 00:51] #2708 closed

[2019-04-21 01:19] igdianov commented on #2710
@alaksmana Thank you for providing details. I have tested GraphQL query with both `activiti/activiti-cloud-notifications-graphql:7.0.0.SR1` and `activiti/activiti-cloud-notifications-graphql:7.1.58`.

If I start the process with POST to `http://{{activiti-cloud-gateway}}/{{rb-my-app}}/v1/process-instances` and the following payload:

[code]
If I run your query from GraphiQL App `http://activiti-cl

[2019-04-21 02:19] LeoQuote commented on #2708
Thanks for your work! I'll try it on monday!

[2019-04-21 02:30] alaksmana commented on #2710
@igdianov. Thanks for your reply.

1. I did not convert org.bson.Document to Map because Document implements Map<String,Object> interface. I can try convert this.

2. Another difference is I use the Activiti RuntimeProcess object to start my process when you use the API of the runtime bundle instead of the RuntimeProcess. I can try that as well.

Why I use the above ways of invoking the process st

[2019-04-21 02:51] igdianov commented on #2710
@alaksmana Try to convert your Bson Document to Map first.

Also, you are using Rb Rest Api to get variables from running process instance. But GraphQL uses Query service Posgresql database to get the aggregated data optimized for queries. The Query service aggregates the events from Rb and updates the Postgres query data entities to provide eventual consistency for queries.

Can you check Query s

[2019-04-21 05:06] alaksmana commented on #2710
@igdianov. Thank you for your reply.

I had put the results from query service.
https://github.com/Activiti/Activiti/issues/2710#issuecomment-485195331

[2019-04-21 05:43] igdianov commented on #2710
@alaksmana I had used runtimeService to start a process with variables and then query them via graphql. My guts feeling is that Bson Document is the problem. Try to start the process via Rest Api to see if it helps

[2019-04-21 23:20] qiudaoke opened #2711 "Activiti-cloud-modeling does not work properly"
I launch and access the activiti-cloud-modeling project at http://127.0.0.1/activiti-cloud-modeling/dashboard/projects
![image](https://user-images.githubusercontent.com/17612111/56476697-b426e800-64ce-11e9-9a87-cc89da24af30.png)
![image](https://user-images.githubusercontent.com/17612111/56476699-c012aa00-64ce-11e9-9265-94b3dd753788.png)
![image](https://user-images.githubusercontent.com/17612111

[2019-04-22 07:09] alaksmana commented on #2710
@igdianov I have tried changing from Document to Map. It has the same result.

I use the runtimeService to start the process with Map<String,Object> successfully. And querying them via graphql still returns []. Below is the query and result from graphql:

Query
[code]
Result
[code]

If I use the Query service it returns all variables nicely. Below is the result from Query Service:
[code]

[2019-04-22 07:46] alaksmana commented on #2710
@igdianov I just tested using the RB API to start process with below payload:

[code]

It starts the process instance nicely.

However, when I query with graphql, it still returns [] variables:
[code]

and I can successfully query variables using Query Service:

[code]

[2019-04-22 07:54] alaksmana commented on #2710
@igdianov So the conclusion:

1. Using the Map still have the problem.
2. Starting the process with RB API results in the same problem.

Can you help test using below payload?

[code]

[2019-04-22 23:19] igdianov commented on #2710
@alaksmana  I am using Activiti 7.0.0.SR1. I can start the process with your payload:

![image](https://user-images.githubusercontent.com/20428629/56539126-ce39e800-6519-11e9-8afd-8f3bdad9d643.png)

And query variables via GraphQL:

![image](https://user-images.githubusercontent.com/20428629/56539174-ef9ad400-6519-11e9-9847-1197d4136b5b.png)

What is your K8s environment and what are your versions

[2019-04-23 06:50] almerico commented on #2703
Fixed

[2019-04-23 06:50] #2703 closed

[2019-04-23 06:55] almerico commented on #2704
fixed

[2019-04-23 06:55] #2704 closed

[2019-04-23 07:53] salaboy opened #2712 "[BPMN/Core] Business Exception Handlers [Cloud connectors]"
We should implement a mechanism to report back errors at the connector level.
This mechanism should provide a simple way to deal with exceptions and report back to the Runtime Bundles.

Some references:
- https://github.com/spring-cloud/spring-cloud-stream-binder-rabbit#spring-cloud-stream-overview-error-handling
- https://github.com/Activiti/activiti-cloud-connector-quickstart/pull/8

The flow in

[2019-04-23 08:05] salaboy commented on #2711
@qiudaoke it sounds like a Single Sign On / Keycloak configuration problem. Which version are you using?

[2019-04-23 10:07] alaksmana commented on #2710
@igdianov Thanks for your help. Your graphql looks nice.

Ok here it is. Im using simple Docker, not kubernetes. Below are the docker-compose related to Activiti:

[code]

[2019-04-23 10:23] alaksmana commented on #2710
Below is my approval-service POM:

[code]

And my XML for the approval process workflow:

[code]

[2019-04-23 12:29] proth1 commented on #2712
@salaboy might it make sense to wire up the DLQ reporting mechanism to the BPMN 'error' constructs including 'Start error event', 'End error event' and 'Boundary error event'.

[2019-04-23 12:31] salaboy commented on #2712
@proth1 that is the last point "We should have DLQ consumer to report business exceptions to business processes" The missing bit is a component that translate "technical exception" to "business exceptions"

[2019-04-23 13:33] ggrnd0 commented on #2709
See ProcessEngineConfigurationImpl.getSessionFactories()
Create your own SessionFactory for org.activiti.engine.impl.db.DbSqlSession class.
which used in CommandContext.getDbSqlSession()

Simple way to store param is CommanContext.addAttribute()/getAttribute(key)
currentCommandContext will passed into factory...

Context.getCommandContext() exist only inside commandExecutor.execute call

you can o

[2019-04-23 14:08] almerico opened #2713 "[Infrastructure] Avoid HELM chart duplication"
For now we have two sets of helm charts: User faced charts(https://github.com/Activiti/activiti-cloud-charts) and pipeline charts like (https://github.com/Activiti/activiti-cloud-query/tree/master/charts/activiti-cloud-query and https://github.com/Activiti/activiti-cloud-modeling/tree/master/charts/activiti-cloud-modeling ) .
The task is
1)avoid two sets of charts and leave only different values f

[2019-04-23 18:04] sheac commented on #2475
@salaboy thanks for your responses!

Right now I'm working on understanding what the extension would look like. This is my first time working with Spring, so when the Activiti team uses terms like "starter", it's difficult for me to make the conceptual leap from what's demonstrated in the online tutorials to what's required in this particular scenario.

I'll put something together soon, but I susp

[2019-04-23 20:59] igdianov commented on #2712
![image](https://user-images.githubusercontent.com/20428629/56615459-f126d380-65cf-11e9-9679-7db53d355957.png)

[2019-04-23 21:12] igdianov commented on #2710
@alaksmana Ok, I have looked at your Docker Compose and spotted a few things that need correction:

1. Make sure that you use 7.0.0.SR1 same tags for Query, Audit and Notifications Graphq Docker images. The tags should be consistent with activiti-cloud-dependencies version 7.0.0.SR1

2. In ` activiti-cloud-notifications-graphql`

[code]

[2019-04-24 07:41] salaboy commented on #2712
@igdianov we should use that diagram in the docs :) because that is explaining exactly how it should work.. the only trick there is that I want to make sure that the "Dead Message Monitor Consumer" does the technical to business translation of the exceptions.

[2019-04-24 07:41] salaboy commented on #2475
@sheac hi there.. thanks a lot for the detailed question :) what we are asking is exactly that "a Spring Boot starter is essentially a bundle of dependencies and configuration”
it is a maven module (jar) that you can attach to an existing spring boot application
if you look at the shape of the repos activiti-cloud-audit-service, activiti-cloud-query-service and activiti-cloud-runtime-bundle-servic

[2019-04-24 07:45] alaksmana commented on #2710
@igdianov  Thanks you very much! It works now! Thank you for your patience!

[code]

[2019-04-24 07:45] #2710 closed

[2019-04-24 08:01] salaboy commented on #2630
The image shows a process with a start signal with a generated ID, which doesn't make any business sense.

<img width="1357" alt="Screenshot 2019-04-24 at 08 59 30" src="https://user-images.githubusercontent.com/271966/56642440-554ca480-666f-11e9-9596-c3a600fc6d9a.png">

And in the XML the ID and the Name are the same:

<img width="951" alt="Screenshot 2019-04-24 at 09 00 18" src="https://user-ima

[2019-04-24 08:16] ggrnd0 commented on #2686
@DestinyWang ?

[2019-04-24 08:34] erdemedeiros commented on #2173
Delete endpoint is available in audit and query.

[2019-04-24 08:34] #2173 closed

[2019-04-24 09:39] DestinyWang commented on #2686
@ggrnd0  I think I found the problem these days
As I do this, there are two transactions.
I made changes to ExecutionEntry in transaction1 and tried to jump in the other(transaction2), but couldn't get the first transaction's modified ExecutionEntry when it jumped, so  when transaction2 finished, ExecutionEntry changes will still not be perceived, so that's my guess

[2019-04-24 09:50] erdemedeiros commented on #2694
Done.

[2019-04-24 09:50] #2694 closed

[2019-04-24 09:58] CTI777 commented on #2645
After talk with @erdemedeiros we have agreed that process extension resources will be filtered like '-connector.json'. Connector resources can be filtered like '\\connectors\\': everything which is inside connectors folder

[2019-04-24 10:03] erdemedeiros commented on #2589
Done.

[2019-04-24 10:03] #2589 closed

[2019-04-24 10:15] #2654 closed

[2019-04-24 12:38] erdemedeiros commented on #2462
Final solution was:
1. keep method signature (`delete`)
1. change status to Cancel
1. add delete reason

[2019-04-24 12:38] #2462 closed

[2019-04-24 12:52] miguelruizdev opened #2715 "[Core] Refactor return type in acc. tests libraries"
The current state of the **return type** of the methods in the services of our [acceptance tests libraries](https://github.com/Activiti/activiti-cloud-acceptance-tests) is this:
``PagedResources<CloudRuntimeEvent> getEvents();``

The aim of this issue is to refactor that to:
``Resources<Resource<CloudRuntimeEvent>> deleteEvents();``

This way we will deal with the Resource type of our domain objec

[2019-04-24 14:31] popovicsandras commented on #2630
Thanks for the feedback, we are on it.

[2019-04-25 11:18] miguelruizdev opened #2716 "[Modeling] Variable type validation in modeling backend"
The type of the 4 supported variable types needs to be validated at export time, to prevent type mismatch on the user side.
Currently, an extension such as this one can be exported:
[code]

Where the value of the **variableDate** is not parseable to a date object, causing this error when starting a process using this extension:
[code]

[2019-04-25 13:31] salaboy commented on #2405
@davidcanonieto can you elaborate the use case for this one?
Currently we are not providing this data due as a user you can see or not see a task. That means that a false in any of those properties will make the task invisible for you, hence you will not be able to claim it.

[2019-04-25 15:14] igdianov commented on #2554
@CTI777 Here are the implementation details to replace `@Lob` annotation: 5ab3a8c6dacb47bdc27e2b514b45ddddb5d0cc6b

[2019-04-26 01:06] igdianov commented on #2596
@slamkalukas You can use GraphQL query to retrieve task variables with associated task/process entities via /graphql Api endpoint, i.e.

You can start a process with `POST http://{{activiti-cloud-gateway}}/{{rb-my-app}}/v1/process-instances ` and the following payload:
[code]

Then execute GraphQL query via `POST http://activiti-cloud-gateway/graphql`
[code]

You should get the result json:

[code

[2019-04-26 02:44] sheac commented on #2475
Here's my first crack at the extension: https://github.com/parsable/rb-definition-deployer-extension

As far as I can tell there are a couple places I'll need to update based on your feedback:
1. module naming and namespacing conventions
2. Making it more difficult to use the starter incorrectly

What I mean by 2. is that the way things are written now, the user needs to know how to decorate the `

[2019-04-26 07:41] salaboy commented on #2475
@sheac awesome stuff! let me take a look and comment more in detail

[2019-04-26 07:47] salaboy commented on #2475
@sheac ok.. so yeah.. about 2 and the @RestController.. you need to provide the endpoints themselves, so when your starter is in the classpath the endpoints can be loaded..
so for example:

https://github.com/parsable/rb-definition-deployer-extension/blob/master/definition-deployer-starter/src/main/java/org/activiti/cloud/definitiondeployer/behavior/DefinitionDeployer.java#L20

That instead of bei

[2019-04-26 09:07] salaboy opened #2717 "[Infrastructure]Liquibase integration in audit and query"
https://www.baeldung.com/database-migrations-with-flyway

We need to add Flyway or Liquibase into the mix for migration of the schemas of audit and query and evaluate the impact and flow between releases.

[2019-04-26 13:56] igdianov opened #2718 "error: NPE in RabbitCloudConnectorsAutoConfiguration"
in case of running unit tests with Spring Cloud Stream Test Binder support.

The problem is traced to https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/f0cb4a6095d7810e72056053271359ccc1dd9775/activiti-cloud-services-runtime-bundle/activiti-cloud-services-connectors/src/main/java/org/conf/activiti/services/connectors/RabbitCloudConnectorsAutoConfiguration.java#L31 being `null`

[2019-04-26 14:08] #2718 closed

[2019-04-26 15:33] salaboy commented on #2630
signal with names done and merged in master

[2019-04-26 15:33] #2630 closed

[2019-04-26 19:38] sheac commented on #2475
Thanks very much, @salaboy. I agree that the way things are right now with line 20 of `DefinitionDeployer.java` is not acceptable.

Unfortunately, I'm still not clear on what the solution looks like. I'm sorry that my understanding of Spring Boot isn't up to snuff. I'm more than happy to read any tutorials or documentation that apply directly to my questions below: I don't see it as your job to be

[2019-04-27 07:44] salaboy commented on #2475
@sheac don't worry about the questions.. we are all here learning..
My gut feeling is that you are getting confused by the "starter" term.. which is basically a sub set of code that can be loaded as part of a spring boot app. When you create a spring boot app you will usually do:

1) Create your core logic (Spring @Service/@Component) -> which in your case uses the Spring beans of Activiti Core
2)

[2019-04-29 07:50] salaboy commented on #2677
all merged now

[2019-04-29 07:50] #2677 closed

[2019-04-29 17:33] igdianov opened #2720 "Expose Notifications Service ingress on /notifications"
The Notifications service will need to be exposed on `/notifications` base path to be able to provide its own `/actuator` endpoint.

[2019-04-30 04:47] igdianov opened #2721 "[BPMN] Signals -> Add support for PROCESS_DEPLOYED and SIGNAL_RECEIVED notifications"
engine events in Notifications GraphQL service.

[2019-04-30 05:00] igdianov commented on #2720
@salaboy All the PRs for this issue have been merged: Activiti/Activiti#2720. The acceptance tests also passed in http://jenkins.jx.35.228.195.195.nip.io/blue/organizations/jenkins/Activiti%2Factiviti-cloud-example-chart/detail/PR-235/7/pipeline

[2019-04-30 07:26] salaboy commented on #2720
all merged

[2019-04-30 07:26] #2720 closed

[2019-04-30 12:03] constantin-ciobotaru opened #2722 "[Modeling] When the process is created, create also the extensions (by default, no variables, no mappings) with the process id inside"
By default, empty extensions (with no variables, no mappings, but with id) should be created for any new process model.

[2019-04-30 13:40] mteodori commented on #2690
version tested working 24.1.1-jre

[2019-04-30 13:45] erdemedeiros commented on #2588
For release notes: classes from dpb-rest has been renamed. See conversation of https://github.com/Activiti/activiti-cloud-service-common/pull/154

[2019-04-30 16:20] #2473 closed

[2019-04-30 16:22] salaboy commented on #2645
moving this to M2 because this is not ready to be merged without a larger work and including the release concept into the APIs

[2019-04-30 17:40] sheac commented on #2475
@salaboy that does make sense, thanks. I think I may have gotten it right with this commit:
https://github.com/parsable/rb-definition-deployer-extension/commit/f601df6c8d2a0bd2dc97029e227529faf2078da9

[2019-05-02 08:22] almerico commented on #2713
https://github.com/Activiti/activiti-cloud-common-chart/pull/1

[2019-05-02 19:04] CTI777 commented on #2676
@erdemedeiros @salaboy
It would be nice to discuss once:
1. View task (with task candidates user/group and without them)
If task has User/Group candidates - everything looks straight forward
If task has no candidates at all - maybe allow to view task for all users having role ACTIVITI_USER

2. Claim task (task with candidates user/group and without them)
If task has User/Group candidates - everyth

[2019-05-03 12:50] CTI777 opened #2724 "[Core] Task variables should not be removed after completion of the task"
We have to ensure that task variables are not deleted after completion of the task
Should be done in the same way like here: https://github.com/Activiti/Activiti/issues/2669

[2019-05-03 19:07] sheac commented on #2475
Just bumping my previous comment, @salaboy and @igdianov

[2019-05-03 19:40] igdianov commented on #2475
@sheac It is a good starter but needs a few tweaks.

1. The DefinitionDeployerController needs to be added to DefinitionDeployerAutoConfiguration. Otherwise, it will not be added into Spring Context by Auto Configuration. It is also a good idea to add `@Conditional` properties for disabling auto-configuration.

2. The starter module should include `activiti-cloud-starter-runtime-bundle` with `<opt

[2019-05-07 08:48] miguelruizdev opened #2725 "[DevOps] Automation of version retrieval - Activiti Scripts"
Currently, we need to **manually** retrieve the versions present in these text files:

- https://github.com/Activiti/activiti-scripts/blob/master/repos-activiti.txt
- https://github.com/Activiti/activiti-scripts/blob/master/repos-activiti-cloud.txt
- https://github.com/Activiti/activiti-scripts/blob/master/repos-activiti-cloud-modeling.txt

The **[activiti-scripts](https://github.com/Activiti/acti

[2019-05-07 08:58] salaboy opened #2726 "[DevOps] Modeling App support for tag version in Release Activiti-scripts"
In the release scripts, we should support to add the GitHub.com/activiti-modeling-app tag version to be released. Right now is fetching from master.

[2019-05-07 09:01] salaboy opened #2727 "[Infrastructure] Run e2e tests for activiti-modeling-app in our JX pipelines"
Point to JX staging runtime environment, to run e2e tests as we are doing for travis here:
https://github.com/Activiti/activiti-modeling-app/blob/master/.travis.yml#L23

Look into travis job configuration for credentials and env variables.

[2019-05-07 11:34] miguelruizdev opened #2728 "[Documentation]Move the conformance documentation to Gitbook"
All the behaviour described in the conformance [doc](https://docs.google.com/document/d/1-3ek-02fYteHURdQYDwUeVxqODmhZP0DwtyXNweGkOc/edit#) needs to be present in the [Gitbook](https://activiti.gitbook.io/activiti-7-developers-guide/).

[2019-05-07 11:41] miguelruizdev opened #2729 "[Documentation] Expand Query and Audit documentation"
In a sort of **specification** of our own services, we need to further describe the behaviour of Query and Audit services in regards to the operations they perform with the events described in the conformance doc: https://docs.google.com/document/d/1-3ek-02fYteHURdQYDwUeVxqODmhZP0DwtyXNweGkOc/edit#

[2019-05-07 13:51] miguelruizdev opened #2730 "[Documentation] Documentation alignment"
We need to establish a single source of truth that will rely on the combination of these different elements in Activiti 7:

- Acceptance tests libraries: https://github.com/Activiti/activiti-cloud-acceptance-tests
- Acceptance tests scenarios: https://github.com/Activiti/activiti-cloud-acceptance-scenarios
- Conformance document: https://docs.google.com/document/d/1-3ek-02fYteHURdQYDwUeVxqODmhZP0D

[2019-05-08 05:06] almerico opened #2731 "add postgress support to docker-compose"

[2019-05-08 08:44] erdemedeiros opened #2732 "[DevOps] Separate Maven Central release steps from Docker Hub release steps"
Split the Bamboo release job into two steps:
- first step build Maven artifacts and publish them to Nexus staging. This step should run on static agent, so that artifacts can be properly signed.
- second step build docker images and push them to Docker hub. This step should run in an elastic agent for Docker Daemon compatibility.

[2019-05-08 15:43] salaboy opened #2733 "[Infrastructure] Refactor Full Example Services names to follow temporary convention"
The idea is to make sure that the services deployed by our full example helm chat will be exposed under the following URLs.

Service |  New Community URL for full example
-- |  --
Audit |  /audit
Query |  /query
Runtime Bundle |  /rb
Notifications |  /notifications
Modeling Service |  /modeling-service
Modeling UI |  /modeling
KeyCloak | identity.{domain}/auth
Gateway |  gateway.{domain}/

The ide

[2019-05-08 16:01] salaboy commented on #2645
Related to https://github.com/Activiti/Activiti/issues/2482
I will be renaming this issue to represent the exact nature of the work that needs to be done

[2019-05-08 16:15] salaboy opened #2734 "[Core] Acceptance Test Step Library in a consumable artifact"
We need to provide the steps required for:
1) Scenario Testing
2) Conformance Testing

Which should be divided into separate libraries:
0) Shared: Authentication, cross cutting concerns
1) Core for RB, Audit, Query and Connectors
2) Modeling Services

The libraries should be able to be extended to add extra assertions.
The main objective for the library is to enable the testing of the execution of

[2019-05-08 16:18] salaboy opened #2735 "[BPMN] SubProcess Embedded support"
Add support for BPMN Embedded Subprocess Cloud Events into RB, Query and Audit

[2019-05-08 16:21] salaboy commented on #2269
closing as it is a duplicate from: https://github.com/Activiti/Activiti/issues/2713

[2019-05-08 16:21] #2269 closed

[2019-05-08 16:22] salaboy commented on #2419
closing as it is a duplicate of: https://github.com/Activiti/Activiti/issues/2733

[2019-05-08 16:22] #2419 closed

[2019-05-08 16:23] salaboy commented on #2486
Closing as it is being solved by: https://github.com/Activiti/Activiti/issues/2713

[2019-05-08 16:23] #2486 closed

[2019-05-08 16:29] erdemedeiros commented on #2734
@salaboy do you have any example in mind about what we expect from this library?

[2019-05-08 16:46] salaboy commented on #2734
Yes. The idea is to have generic steps that can be configured to create different scenarios.
So the steps should be like:
- Start Process which inside it should check that a call to RB start a process and generate a certain set of events in Audit and a Process Instance in Query
- Complete a task, the same events in audit and query state change
- Signal, the same.

The library should only provide t

[2019-05-08 18:55] sheac commented on #2475
Thanks for the feedback, @igdianov . I created [a commit to address points 1. and 2.](https://github.com/parsable/rb-definition-deployer-extension/commit/c75c1422904fb4384737cb6f0b88b58961fed3ba). I'm still working on addressing point 3.

[2019-05-09 06:47] almerico commented on #2727
for travis exists chrome addon https://github.com/Activiti/activiti-modeling-app/blob/5609a4492cab7b38216ec72ce709310bc13fc363/.travis.yml#L7 for jenkins in the JX installation clusterwide installation needs to be changed and  how stable  this change will be

[2019-05-09 07:40] salaboy commented on #2727
@almerico can we check with the jenkinsx guys.. I will assume that the node build agent will have some way to add extra plugins for such things.. having a chrome engine to run the tests sounds like a very basic thing to have.

[2019-05-09 09:03] salaboy commented on #2689
@fcorti can we close this one?

[2019-05-09 13:28] Claireedenton commented on #2689
I created https://issues.alfresco.com/jira/browse/ACTIVITI-3070 to mirror this in JIRA against the Activti 7.1.0 M2 release.

[2019-05-09 13:36] Claireedenton commented on #2715
Created linked JIRA issue https://issues.alfresco.com/jira/browse/ACTIVITI-3071

[2019-05-09 13:39] Claireedenton commented on #2725
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3072

[2019-05-09 13:43] erdemedeiros commented on #2735
@salaboy should we cover only "simple" Subprocesses or event subprocesses as well?
- example of subprocess: https://github.com/Activiti/Activiti/blob/develop/activiti-engine/src/test/resources/org/activiti/engine/test/api/oneSubProcess.bpmn20.xml#L11
- example of event subprocess: https://github.com/Activiti/Activiti/blob/develop/activiti-engine/src/test/resources/org/activiti/engine/test/api/even

[2019-05-09 13:45] Claireedenton commented on #2730
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3074

[2019-05-09 13:46] Claireedenton commented on #2724
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3073

[2019-05-09 13:47] Claireedenton commented on #2725
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3072

[2019-05-09 13:49] Claireedenton commented on #2729
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3075

[2019-05-09 13:52] Claireedenton commented on #2728
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3076

[2019-05-09 13:55] Claireedenton commented on #2735
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3077

[2019-05-09 13:58] Claireedenton commented on #2735
linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3077

[2019-05-09 14:00] Claireedenton commented on #2734
Linked in JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3078

[2019-05-09 14:08] Claireedenton commented on #2733
linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3080

[2019-05-09 14:11] Claireedenton commented on #2732
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3081

[2019-05-09 14:14] Claireedenton commented on #2727
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3082

[2019-05-09 14:17] Claireedenton commented on #2726
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3083

[2019-05-09 14:19] Claireedenton commented on #2721
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3084

[2019-05-09 14:24] Claireedenton commented on #2645
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3085

[2019-05-09 14:27] Claireedenton commented on #2722
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3086

[2019-05-09 14:33] Claireedenton commented on #2713
Linked in JIRA to https://issues.alfresco.com/jira/browse/ACTIVITI-3087

[2019-05-09 14:37] Claireedenton commented on #2716
linked in JIRA to https://issues.alfresco.com/jira/browse/ACTIVITI-3088

[2019-05-09 14:40] Claireedenton commented on #2691
Linked in JIRA to https://issues.alfresco.com/jira/browse/ACTIVITI-3089

[2019-05-09 14:45] Claireedenton commented on #2675
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3090

[2019-05-09 14:52] Claireedenton commented on #2659
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3091

[2019-05-09 14:54] Claireedenton commented on #2673
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3092

[2019-05-09 14:55] almerico commented on #2731
https://github.com/Activiti/activiti-cloud-examples/pull/100

[2019-05-09 14:55] #2731 closed

[2019-05-09 14:56] Claireedenton commented on #2616
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3093

[2019-05-09 14:58] Claireedenton commented on #2605
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3094

[2019-05-09 15:00] Claireedenton commented on #2463
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3095

[2019-05-09 15:02] Claireedenton commented on #2482
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3096

[2019-05-09 15:04] Claireedenton commented on #2414
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3097

[2019-05-09 15:07] Claireedenton commented on #2535
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3098

[2019-05-09 15:09] Claireedenton commented on #2534
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3099

[2019-05-09 15:10] Claireedenton commented on #2119
Linked to JIRA https://issues.alfresco.com/jira/browse/ACTIVITI-3100

[2019-05-09 16:30] erdemedeiros opened #2736 "[Core] Process definition version not set for integration request"
Process definition version is not set (in the header and inside IntegrationContext object) when the connector is not the first step of the process.

How to reproduce:
1. Create a process: UserTask -> ServiceTask -> UserTask
2. Start the process and execute the user task
3. Inside the connector check the header `processDefinitionVersion` (it's missing) and integrationRequest.getIntegrationContext()

[2019-05-09 21:37] CTI777 commented on #2735
@salaboy @erdemedeiros
I have created a test to check what we have currently for embedded sub processes
It seems that the best way will be to have special embedded subProcess events, somehing like:
SubProcessStartedEvent
SubProcessCompletedEvent
Maybe
SubProcessCancelledEvent
What do you think?

[2019-05-10 00:49] igdianov commented on #2736
![image](https://user-images.githubusercontent.com/20428629/57495400-c8b30080-7282-11e9-8e01-c22cf82ed30c.png)

[2019-05-10 02:19] igdianov commented on #2736
We also need to add acceptance scenarios for this use case.

[2019-05-10 07:46] salaboy commented on #2735
@CTI777 exactly that is what we need :)

[2019-05-10 07:49] salaboy commented on #2735
@erdemedeiros hmm the triggerByEvent property is not coming from the BPMN spec as far as I remember.. so that kinda sucks.. but I think that we can cover that scenario as well.
I will be more inclined to cover this one first: https://github.com/Activiti/Activiti/blob/develop/activiti-engine/src/test/resources/org/activiti/engine/test/api/oneSubProcess.bpmn20.xml#L11

[2019-05-10 08:25] erdemedeiros commented on #2735
@salaboy, @CTI777, before adding `SubProcessStartedEvent`, `SubProcessCompletedEvent`, I'd rather check which are the internal events triggered by the engine. In similar way we are already doing to for call activities I think we can reuse `ProcessStartedEvent`, `ProcessCompletedEvent`, `ProcessCancelledEvent`. Then a subprocess can be identified because it has parent process instance set (and proc

[2019-05-10 08:42] salaboy commented on #2735
@erdemedeiros awesome! I cannot keep every property in my head, thanks for checking..
@erdemedeiros @CTI777 totally agree.. about using the internal events, but I think that we definitely need to send new types (higher level) to make sure that the API is clear and the events are consistent.
Usually this is the layer where we translate from low-level to high-level concepts that can be easily unders

[2019-05-10 09:21] knowings commented on #2479
For the record, I tried a naive approche by simply changing the database name in SPRING_DATASOURCE_URL env variable within my Kubernetes deployment file. It fails to start then, complaining about the missing database.

[2019-05-10 09:50] erdemedeiros commented on #2735
@salaboy I'm more concerned about APIs retrieving subprocess instances. I guess they will be retrieved by the same endpoints as "normal" process instances (at least in RB). And in query they will be probably stored in the same table as other process instances. I'm just wondering if it's worth the create new types if they are going to be handled in the same way by the consumer (query). If we go on

[2019-05-10 09:55] salaboy commented on #2735
@erdemedeiros that is a good concern.. I was not thinking to remove the Start/Complete Process, but more to have the new types as decorators. In query as you mention we will have the parent child relationship (not even sure if there is a new process instance for the embedded subprocess). What I want to make sure is:
1) In audit there is an event when we go into a sub process
2) In query we can qui

[2019-05-10 10:23] erdemedeiros commented on #2735
@salaboy that's why I wanted to see which are the internal events produced when we reach a subprocess and how the subprocess instance is stored in activiti core. Maybe the related ActivityStartedEvent (if there is one) can be mapped to SubProcessStarted to be handled by audit.

Concerning tasks we need to figure out if tasks from subprocess instance should be returned or not when we ask for for ta

[2019-05-10 12:08] CTI777 commented on #2735
@salaboy @erdemedeiros
Just to clarify what we have now:
When embedded subProcess is started we get **ACTIVITY_STARTED** event, and inside the event we have Entity, having getActivityType: **subProcess**
The problem we have now is coming from task (inside subProcess): it is not clear exactly currently, that task is coming from subProcess. So, for sure we will need changes here...

[2019-05-10 13:53] knowings commented on #2479
I managed to get it working from within a Kubernetes deployment file. I simply add an `initContainer` like the following `wait-for-postgresql-database`:

[code]
Note, I'm not sure how it behaves after a deletion of the pod.

[2019-05-10 14:21] knowings commented on #2479
Ok, now it should work with an `initContainer` like the following:

[code]
It's not the most elegant way to do the trick, but it seems to work even when pod is reinitializing.

[2019-05-10 14:46] CTI777 commented on #2735
For events related to tasks inside subProcess we have event.processInstanceId not same like evant.entity.processInstanceId

[2019-05-11 01:16] lw5885799 opened #2738 "Parameter 0 of method transactionManager in org.activiti.spring.boot.JpaProcessEngineAutoConfiguration$JpaConfiguration required a bean of type 'javax.persistence.EntityManagerFactory' that could not be found."
When I start up my project with mybaits + tkmybaits + activiti in springboot2,x, it shows the error.
` * Spring Boot Version: 2.0.6.RELEASE
 */

2019-05-11 09:07:04,706 [ INFO] - com.aiqin.bms.slcs.api.MainBootApplication - Starting MainBootApplication on DESKTOP-4B0QMM2 with PID 21620 (started by 耿耿 in C:\Users\耿耿\git\slcs-api)
2019-05-11 09:07:04,708 [ INFO] - com.aiqin.bms.slcs.api.MainBootAppl

[2019-05-11 08:01] salaboy commented on #2738
@lw5885799 which version of activiti are you using?
We moved Activiti 7.x to work with Spring Boot 2.1.x, unfortunately, as far as I remember there were some problems with spring boot 2.0.x

[2019-05-11 21:39] CTI777 commented on #2735
@salaboy @erdemedeiros
I have added a test to have subProcess with CallActivity process inside.
It seems that for events related to the tasks from CallActivity process (which is inside subprocess) we have a behavior like for the CallActivity tasks outside subProcess. Maybe we have to decide also what to do in these cases...

[2019-05-13 07:04] lw5885799 commented on #2738
@salaboy I use 5.22.0 version.   Lots of people said it is a conflict with tymybaits. They said activiti would judge if you are using JPA. If not, then activiti would use mybaits. But, tkMybaits would mislead activiti to active JPA condition. Is it possible problem?

[2019-05-13 07:10] salaboy commented on #2738
@lw5885799 JPA is used for variables only. This might be a problem of using 5.x with Spring Boot 2.x Also if you have spring-data in the classpath it will bring JPA with it as far as I remember.

[2019-05-13 07:22] lw5885799 commented on #2738
@salaboy Is there a way to choose my ORM framework in activiti5?

[2019-05-13 07:28] salaboy commented on #2738
@lw5885799 for performance reasons, I believe that there is no way to do that. MyBatis is the ORM that is used by the engine with some specific tuning to perform correctly. You can use JPA for storing JPA entities in process variables, but that is where the integration ends. Right now, if the problem is that JPA is failing to be configured by spring boot, that is a different problem. If you are us

[2019-05-13 07:38] lw5885799 commented on #2738
Thank you for replying. I would try add JPA implement  in my project.

[2019-05-13 09:15] miguelruizdev opened #2739 "[BPMN] Inclusive Gateway Support"
Add support for BPMN Inclusive Gateway into RB, and Audit.

[2019-05-13 12:30] erdemedeiros opened #2740 "[Core] Use shared listeners for conformance tests"
Currently, every set of conformance tests is using its own listeners to watch events. I.e. https://github.com/Activiti/Activiti/blob/develop/activiti-spring-conformance-tests/activiti-spring-conformance-set0/src/test/java/org/activiti/spring/conformance/set0/Set0RuntimeTestConfiguration.java#L30-L94; https://github.com/Activiti/Activiti/blob/develop/activiti-spring-conformance-tests/activiti-sprin

[2019-05-13 13:06] salaboy commented on #2727
@popovicsandras @almerico is finding some issues with the Chrome Driver.. have you seen this before:
https://gist.github.com/almerico/c30673f0a3cc8ea7d7e37eeeb2f8ef68

[2019-05-13 13:43] salaboy commented on #2717
We need to evaluate liquibase as we are already using this in the engine. We need to find out a unified way of dealing with DB schemas and migration

[2019-05-13 15:14] CTI777 commented on #2735
@salaboy @erdemedeiros
We have to remember also that there is already API for subProcesses, which are CallActivity processes
[code]

[2019-05-13 16:25] miguelruizdev commented on #2673
Main issues when importing a swagger spec right into Postman:
- The path is not parameterized:
![image](https://user-images.githubusercontent.com/32025234/57637403-3e7cdc00-75a3-11e9-8635-40700266cca7.png)
- The body of the request is incomplete
![image](https://user-images.githubusercontent.com/32025234/57637520-8ac81c00-75a3-11e9-972c-a7485694b166.png)

It is worth mentioning that in the Swagger

[2019-05-14 06:52] fcorti commented on #2689
Yes

[2019-05-14 06:52] #2689 closed

[2019-05-14 06:55] igdianov commented on #2636
There is already PR https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/188 that enables Async Executor in Rb and configures Message Based Job Manager to distribute jobs execution. I wlll start adding tests with timers.

We also need to create and implement Timer Events in activiti-api and activiti-cloud-api to be able to emit timer and job events from Rb.

[2019-05-14 08:35] salaboy commented on #2461
@igdianov can you update this one?

[2019-05-14 08:43] salaboy commented on #1871
We need to do the infrastructure work of adding the HELM charts and the routing

[2019-05-14 08:44] almerico commented on #2452
it is already fixed

[2019-05-14 08:44] #2452 closed

[2019-05-14 08:54] salaboy commented on #2474
Closing as duplicate from this: https://github.com/Activiti/Activiti/issues/2689

[2019-05-14 09:05] salaboy commented on #2690
See if that gets fixed with new Spring Boot Version before hardcoding a guava version

[2019-05-14 09:08] salaboy commented on #2513
@popovicsandras this might be fixed already, can you please confirm?

[2019-05-14 09:10] salaboy commented on #2450
@almerico please wait for more instructions on this one..

[2019-05-14 09:11] salaboy commented on #2448
@igdianov how are we doing with this one? Any idea?
I have the feeling that we closed this one already. If so.. can you please close.

[2019-05-14 09:13] salaboy commented on #1887
closing due the initial work was done. It needs to be refreshed after we add APP Service to HELM charts

[2019-05-14 09:16] salaboy opened #2742 "[Infrastructure] Use Version Streams for Applications"
Initial implementation following:

https://jenkins-x.io/docs/concepts/version-stream/

[2019-05-14 09:17] salaboy opened #2743 "[BPMN] Add support to Error events"
Add support to BMPN Error events

[2019-05-14 09:20] davidcanonieto commented on #2405
This (standalone) task has no assignee. Therefore it should not be visible but it is.  Call: .../simpleapp/query/v1/tasks/f98bd154-7628-11e9-86ab-0a5864600524

[2019-05-14 09:20] salaboy opened #2744 "[Infrastructure] Add Tracing and Monitoring to HELM Charts"
Enabling Zipkin to for tracing and kibana/elasticseach/logstash for monitoring
Or evaluate adding Istio/Solo.io which brings all by default

[2019-05-14 09:22] salaboy commented on #2405
@davidcanonieto that is not clarifying much..
It looks like the owner is being used for that -> owner: "admin.adf"
Are you logged in with "admin.adf" ?

[2019-05-14 09:29] davidcanonieto commented on #2405
That is correct @salaboy I'm logged in with admin.adf. I believe that task should not be visible but i might be mistaken, should it?

[2019-05-14 09:29] salaboy opened #2745 "[UI] ADF Application Demo + Tutorial"
We should have a Demo application hosted inside the github.com/Activiti organization.
We must have a section in the gitbook covering the basic steps required to create an ADF application on top of our example charts.

[2019-05-14 09:30] salaboy commented on #2405
It is not visible from anyone else besides the one that creates it and ADMINs. If you log in with another user can you see it?

[2019-05-14 09:30] salaboy commented on #2405
@davidcanonieto also.. how is this now related with the original title and description of the issue?

[2019-05-14 10:24] popovicsandras commented on #2513
@salaboy, No, unfortunately this hasn't been fixed yet this way. The temporary solution what we have atm:
"If the application is not used for few minutes, the active session expires and the user is notified, with a snackbar error message that operations can no longer be performed."

We created an issue for that now, please follow this thread:
https://issues.alfresco.com/jira/browse/APM-1033

[2019-05-14 12:16] CTI777 commented on #2735
@salaboy @erdemedeiros
After double checking of handling subProcess behavior we have following:

- When embedded subProcess is started we get an event: `ACTIVITY_STARTED` with `event.getEntity().getActivityType() == subProcess`
- When embedded subProcess is completed we get an event: `ACTIVITY_COMPLETED` with `event.getEntity().getActivityType() == subProcess`
- When task is executed, which is ins

[2019-05-14 15:29] erdemedeiros commented on #2735
@CTI777 thanks for the detailed explanation. @salaboy to summarize, no process instance will be created to represent embedded subprocess: elements declared inside the embedded subprocess will reuse the "parent" process instance.

[2019-05-14 17:21] salaboy commented on #2735
@CTI777 @erdemedeiros cool.. that is what I was expecting.. so for this case there is no subprocess itself.. (the element is called embedded subprocess but there is no sub process instance to be specific).
This means, that we need a way to "Demarcate that we are inside a sub process (logical one), and I think that we can do that by just having the right "extra" events"

How much do we need?

[2019-05-14 17:35] CTI777 commented on #2735
@salaboy @erdemedeiros We may create extra events to know that subProcess is started, ended... But how we may use this for identifying that task is inside a subProcess? Internally, this is not supported, so we will need to create something special...

[2019-05-15 08:57] erdemedeiros opened #2746 "[Core] Investigate random failure on CommandEndpointIT"
Logs from latest failure

[code]

[2019-05-15 09:08] erdemedeiros commented on #2746
Note: a lot of exception can also be noticed when the test succeeds:
[code]

[2019-05-15 09:52] erdemedeiros commented on #2746
Another case of failure. Note that status is different than in the first failure. Here the actual status is `CREATED`. This case of failure is probably alredy addressed by this PR https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/297.
[code]

[2019-05-15 10:25] erdemedeiros opened #2747 "NeverFailAutoDeploymentStrategy is not showing the resource name with problems"
Logs from `NeverFailAutoDeploymentStrategy` are not showing the name of the resource with problems. I.e:
[code]

**How to reproduce:**
- add a process with a validation error in the path to be auto-deployed. For instance, [ParsingError.bpmn](https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-starter-runtime-bundle/src/test/resources/processes/ParsingError

[2019-05-15 11:09] salaboy commented on #2734
More information about how we should get this done:
- We should refactor our core conformance tests to understand what the shape of the steps should be
- We should have the basic operations/steps/assertions into our gitbook
- We need to move out the core conformance tests to a separate repository that can be used as a gate for Activiti Dependencies. This means that before releasing Activiti Depend

[2019-05-15 13:03] constantin-ciobotaru opened #2748 "[Modeler]Add DNS constraint validation for connector names"
As the connector names are used to create pods on kubernetes, these names need to be validates (accordingly to https://docs.oracle.com/cd/E52668_01/E88884/html/kubectl-basics.html) against DNS-1123 conventions.

The regex used in the kubernetes UI itself is "[a-z0-9]([-a-z0-9]*[a-z0-9])?" (https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/validation/vali

[2019-05-15 13:07] constantin-ciobotaru opened #2749 "Make process variable default value not mandatory in json schema validator."

[2019-05-16 07:18] igdianov opened #2750 "[Core] Let's generate process diagram in Query service via Rest Api"
We need to provide Rest Api in Query service to generate SVG image diagram for any running or completed process instance showing completed and active activities.

There is an existing diagram render api in Activiti Core that uses BPMN model to render SVG images with provided list of historical activities. The Rb uses diagram render  to generate the diagram via Rest endpoints with the following lim

[2019-05-16 11:53] almerico commented on #2504
fixed

[2019-05-16 11:53] #2504 closed

[2019-05-16 16:07] miguelruizdev commented on #2732
Docker side of things can be managed by Jenkins-X, with specific jobs that get triggered once the created tag pattern matches: `7.1.0.*`
It can be configured in Jenkins-X UI:
![image](https://user-images.githubusercontent.com/32025234/57869203-72067300-77fc-11e9-91e7-a7b31a39fefd.png)
The rest can be boiled down to Bamboo config not calling the docker-release scripts: https://github.com/Activiti/a

[2019-05-17 06:56] #2749 closed

[2019-05-17 08:54] CTI777 commented on #2636
@salaboy @erdemedeiros @igdianov
I have prepared a test version for handling TIMER_FIRED and TIMER_SCHEDULED events...
Only API and activiti-core modules are affected currently
Please take a look once...
If this is more or less OK I can do Cloud part as well...

[2019-05-17 09:16] #2748 closed

[2019-05-17 10:49] sayakadead opened #2754 "Task complete variable cannot overwrite existed variable"
activiti version:7.1.0.M1

Process like:
start─>node1─(if varEntity.go>0)─>node2a ─>end
&emsp;&emsp;&emsp;&emsp;└──  (if varEntity.go<=0)─>node2b──┘

I start the process instance with variables map:
`{"varEntityType":"test.entity.type","varEntity":{"id":"13", "go":1}}`
use method `org.activiti.engine.runtime.ProcessInstanceBuilder.variables(variables).start()`

And complete node1 with variables ma

[2019-05-20 07:43] erdemedeiros commented on #2748
For release notes: mention new restrictions on connector name.

[2019-05-20 12:47] almerico opened #2755 "docker-compose issue with version 7.1.0.M1"
modeler backend doesn't reachable

[2019-05-20 13:17] almerico commented on #2755
doc file is updated 127.0.0.1 doesn't work for docker-compose

[2019-05-20 13:17] #2755 closed

[2019-05-21 08:28] erdemedeiros opened #2756 "Missing processInstanceId on Task returned by TaskRuntime.complete(...)"
The field `processInstanceId` is not set for the `Task` returned by `TaskRuntime.complete(...)`.

**How to reproduce:**
- complete a task that belongs to a process (not stand alone task)
- check the content of `processInstanceId` field on that task

**Problem:**
[Returned data](https://github.com/Activiti/Activiti/blob/develop/activiti-api-impl/activiti-api-task-runtime-impl/src/main/java/org/acti

[2019-05-21 09:43] salaboy commented on #2754
@sayakadead thanks for reporting.. can you share your process model?
How is this condition: "(if varEntity.go>0)" being written and where?

[2019-05-21 10:13] almerico commented on #2713
Fixed

[2019-05-21 10:13] #2713 closed

[2019-05-21 10:57] salaboy opened #2757 "[Core/API] introduce metadata for core types"
We are currently adding more and more fields such as business key into our API types such as Task and ProcessInstance instead of keep adding these fields we need to support a metadata/labels/annotations map.

[2019-05-21 14:27] salaboy commented on #2733
This is a temporary change until we get the AppService into our example which will provide the following paths:
gateway.host/apps/<app-name>/rb/<rb service name>
gateway.host/apps/<app-name>/audit/<audit service name>
gateway.host/apps/<app-name>/query/<query service name>
gateway.host/apps/<app-name>/notifications/

Also..
GET gateway.host/apps/
should return the list of available apps with their

[2019-05-22 03:27] sayakadead commented on #2754
@salaboy The process model look like this:
![activiti-2754](https://user-images.githubusercontent.com/31909053/58145406-8cb96b80-7c84-11e9-878c-6fa0cbb8a6fc.png)

And this is the xml:
[code]

[2019-05-22 07:25] salaboy commented on #2754
@sayakadead now.. the million dollar question: does the VarEntity class exist in your classpath?
If you send a json content that cannot be marshalled into an actual class you will need to handle that as a json payload.. meaning that the expression itself will probably fail silently, causing the expression always to evaluate to false or true.

[2019-05-22 07:32] salaboy opened #2761 "[Modeling] BPMN Embedded subprocess support"
Modeling side of : https://github.com/Activiti/Activiti/issues/2735

[2019-05-22 08:03] salaboy commented on #2756
merged

[2019-05-22 08:03] #2756 closed

[2019-05-22 08:25] sayakadead commented on #2754
@salaboy varEntity is a json. Actually it's a com.fasterxml.jackson.databind.JsonNode instance in the variables map param when I call the ProcessInstanceBuilder.variables and TaskService.complete method. And the data store in DB look like this:
![datasample](https://user-images.githubusercontent.com/31909053/58158502-26950e80-7cad-11e9-87c0-43598299818f.png)

I have tried to change the varEntity v

[2019-05-22 08:31] erdemedeiros commented on #2761
The only property to be set for an embedded subprocess is the name. In addition, inside the embedded subprocess box, the only start event type allowed for now is the none start event.

[2019-05-22 09:21] erdemedeiros opened #2762 "[BPMN] Add ITs covering events emitted by Parallel gateway"
Create `ParallelGatewayAuditProducerIT` checking events sent by the runtime bundle when a parallel gateway is executed.
Expecting:
- `ACTIVITY_STARTED` with activityType `parallelGateway`
- `ACITIVITY_COMPLETED` with actvityType `parallelGateway`

[2019-05-22 09:23] erdemedeiros opened #2763 "[BPMN] Add ITs covering events emitted by exclusive gateway"
Create `ExclusiveGatewayAuditProducerIT` checking events sent by the runtime bundle when an exclusive gateway is executed.
Expecting:
- `ACTIVITY_STARTED` with activityType `exclusiveGateway`
- `ACITIVITY_COMPLETED` with actvityType `exclusiveGateway`

[2019-05-22 11:04] salaboy commented on #2754
@sayakadead yeah.. but you see what I mean.. because it is a JSON node, it is not a bean.. so the expression evaluator might be failing to understand what JsonNode.getGo() means.. even if in some way is working.. you will need to debug that expression to understand why sometimes it returns false and why sometimes it returns true.

Also.., if you changed and the process goes to different nodes.. wh

[2019-05-22 13:11] salaboy commented on #1970
done

[2019-05-22 13:11] #1970 closed

[2019-05-22 13:11] salaboy commented on #2747
merged

[2019-05-22 13:11] #2747 closed

[2019-05-23 03:48] sayakadead commented on #2754
@salaboy This is the debug info when I call TaskService.complete method:
![activiti-expression](https://user-images.githubusercontent.com/31909053/58223690-54ca2b00-7d4d-11e9-9f7b-af359dc5ebad.png)
Steps:

1. Start a process instance with variables map `{"varEntityType":"test.entity.type","varEntity":{"id":"30", "go":1}}`
2. Add a breakpoint at line 68 (first line of method eval) in class de.odyss

[2019-05-23 07:51] salaboy commented on #2754
@sayakadead did you debug for the complete task scenario?
I know that we have some json support but I also know that it is not perfect. Ok so the problem might be the complete task variable propagation. Can you share how are you completing the task?

[2019-05-23 08:42] sayakadead commented on #2754
@salaboy start the process instance:
[code]
objectMapper is a com.fasterxml.jackson.databind.ObjectMapper instance.
varEntityJson is a json String, such as `{"id":"30", "go":1}}`.
varEntityType, businessKey, tenantId, processDefinitionId is String.
runtimeService is a org.activiti.engine.RuntimeService instance.

complete the node1 task:
[code]
taskId is the node1 task id.
varEntityJson is a json

[2019-05-23 09:22] salaboy opened #2764 "Use KIND to automate testing on the starter level instead of docker compose."

[2019-05-23 10:11] salaboy commented on #2764
[GitHub - kubernetes-sigs/kind: Kubernetes IN Docker - local clusters for testing Kubernetes](https://github.com/kubernetes-sigs/kind)

[2019-05-24 04:11] igdianov opened #2765 "Redundant Keycloak Realm Api call to resolve user groups in Rb, Query and Audit"
Query service uses Keycloak realm to resolve user groups via Rest for every task list request using https://github.com/Activiti/activiti-cloud-service-common/blob/448c871049dcececd7df279c4613e32966f3f22f/activiti-cloud-services-common-identity-keycloak/src/main/java/org/activiti/cloud/services/identity/keycloak/KeycloakUserGroupManager.java#L87 .

Because JWT access token does not contain the list

[2019-05-24 04:48] igdianov commented on #2765
After investigating this further, it appears that we will need to configure Keycloak to include group membership in access token:

![image](https://user-images.githubusercontent.com/20428629/58303207-fbd9b180-7da3-11e9-908c-b05867afce47.png)

After that, JWT token will contain a list of groups:

[code]

Then, we will need to configure KeycloakAuthenticationProvider to map groups into Spring Securi

[2019-05-24 09:17] CTI777 opened #2766 "Add support for taskDefinitionKey in the Task model"
In our Task model we do not have taskDefinitionKey which represents task Id from BPMN model:
https://github.com/Activiti/activiti-api/blob/develop/activiti-api-task-model/src/main/java/org/activiti/api/task/model/Task.java
Internal TaskInfo from Activiti does have this field:
https://github.com/Activiti/Activiti/blob/develop/activiti-engine/src/main/java/org/activiti/engine/task/TaskInfo.java#L75

[2019-05-24 10:45] salaboy commented on #2754
@igdianov is this what you fixed ?

[2019-05-24 11:57] salaboy commented on #2736
@igdianov is there any acc tests addition to test the PRs in the examples?

[2019-05-24 12:32] vulcan opened #2767 "processRuntime API don't support multi-tenant?"
7.0.0.SR1
when create processInstance, tenant info is not set

[code]

[2019-05-24 12:54] salaboy commented on #2750
@igdianov my suggestion is not to generate the SVG in the backend.. we just need to have the right data for the BPMN.io widget to render the state.. query shouldn't generate images in the backend. This was already checked with some other contributors that raised some problems with backend generation. Query should have the right data, enough for a widget to consume and render an SVG or a more dynam

[2019-05-27 09:36] erdemedeiros commented on #2414
Release notes and documentation: mention that from now you need to add the binder manually.

[2019-05-27 20:24] igdianov commented on #2765
After further thought and experiment, it is not a good idea to map user groups from custom `groups` claim into Spring GrantedAuthority. The best place to implement group extraction from Keycloak claim is inside KeycloakSecurityManagerImpl by introducing `List<String> getAuthenticatedUserGroups()` interface method and extract groups list using `IDToken.getOtherClaims`, i.e.

[code]

[2019-05-28 01:51] igdianov commented on #2765
This is the Activiti client protocolMapper configuration:

[code]

[2019-05-28 02:15] igdianov commented on #2750
@salaboy I think it makes sense to support both server and client rendering of the BPMN diagram to accommodate different use cases, i.e. if someone wants to simply embed SVG image in their app via , it is a simple Rest GET call without bringing any BPMN.io dependencies on the client.

[2019-05-28 07:02] mujumdarprachi opened #2769 "Cloud Connector breaking with version 7.1.0.M1"
Attached are two sample projects
- sample-activiti7-runtime-bundle
- sample-activiti7-cloud-connector

Helm charts to deploy these are available at [](https://github.com/mujumdarprachi/activiti7-helm-repo)

after deployment sample-activiti7-runtime-bundle is up and running. but sample-activiti7-cloud-connector gives following error

`org.springframework.amqp.rabbit.listener.BlockingQueueConsumer$D

[2019-05-28 11:10] almerico opened #2770 "skaffold stops working after nodejs image update"

[2019-05-28 13:01] #2725 closed

[2019-05-29 05:09] igdianov commented on #2750
@salaboy @magemello I have completed the first cut of the ProcessInstanceDiagramController Rest Api. See ITs in the PR https://github.com/Activiti/activiti-cloud-query-service/pull/238.

In the next step, I will add acceptance scenarios to be able to release the preview.

I also need some guidance on the access permissions policies for the process diagram generator Api.

[2019-05-29 05:18] igdianov commented on #2414
@salaboy So, we will keep RabbitMQ binder in the starter test scope and explicitly add it to each micro-service in the examples. Is it correct?

[2019-05-29 05:39] igdianov commented on #2754
@salaboy I have not touched any part of complete task variables payload. As I remember, the TaskRuntime uses TaskService.complete(taskId, variables, false) to not propagate complete variables payload in the process scope. After that, it relies on the CompleteTaskCmd.execute behavior to copy all task variables into process scope.

I suspect that JsonNode variable causes the problem, should I take a

[2019-05-29 15:19] igdianov commented on #2750
We will also need admin endpoint as well.

[2019-05-29 16:36] erdemedeiros opened #2772 "[Core]Make cloud events inherit from core events"
For instance `CloudProcessCreatedEvent` should inherit from `ProcessCreatedEvent`

[2019-05-30 06:24] almerico commented on #2770
https://github.com/Activiti/activiti-modeling-app/pull/164

[2019-05-30 06:24] #2770 closed

[2019-05-30 06:40] salaboy commented on #2722
@constantin-ciobotaru any progress on this?

[2019-05-30 06:43] salaboy commented on #2761
@popovicsandras can you please let us know if this was scheduled in an AMA sprint?

[2019-05-30 06:47] almerico commented on #2450
Done

[2019-05-30 06:47] #2450 closed

[2019-05-30 06:51] salaboy commented on #2450
@almerico should we close all the open PRs from @ryandawsonuk then? Can you please do that if this is done already?

[2019-05-30 06:54] almerico commented on #2450
@salaboy yes they are out of date now

[2019-05-30 08:10] rdiacenco opened #2773 "Get model content for Connectors returns XML instead of JSON"
**Steps to replicate the issue:**
1. Create a new connector with name/description
2. Retrieve connector content: GET /vi1/models/<modelId>/content
**Expected result:** The response returned is in JSON format
**Actual result:** The response returned is in XML format

[2019-05-30 09:16] miguelruizdev commented on #2673
For the moment, instead of generating a postman collection out of the swagger definition, the main intention is to provide a full integration between the swagger UI and keycloak, so that our services can be tried out in the UI directly (with examples on how the body a of request should look like, and the correct payload types)

The authorization option is given, redirecting the user to the keycloa

[2019-05-30 10:48] miguelruizdev commented on #2673
Useful links to the gateway aggregation under swagger UI:

- https://github.com/jhipster/jhipster-sample-app-gateway/blob/master/pom.xml#L154
- https://github.com/jhipster/jhipster-sample-app-gateway/blob/master/src/main/java/io/github/jhipster/sample/config/apidoc/GatewaySwaggerResourcesProvider.java

[2019-05-30 13:52] miguelruizdev opened #2774 "Reason of cancellation of task needs to be exposed"
Given the fact that both canceled and deleted tasks have the same CANCELLED status, and the only way to tell them apart is by the reason of cancellation ([stated here](https://github.com/Activiti/Activiti/issues/2462#issuecomment-486210174)), we should expose this reason field that for now is internal to the engine.

[2019-05-30 13:58] miguelruizdev commented on #2774
Point where the reason for cancellation is set:
https://github.com/Activiti/Activiti/blob/82e2b2cd2083b2f734ca0efc7815389c0f2517d9/activiti-api-impl/activiti-api-task-runtime-impl/src/main/java/org/activiti/runtime/api/impl/TaskRuntimeImpl.java#L240

[2019-05-30 21:28] CTI777 commented on #2414
@salaboy @igdianov
I have made a pair of PR's related to runtime-bundle. Is this what we need? If this is OK I will add same logic for query, Audit and Notifications

[2019-05-31 08:20] vulcan opened #2775 "multi-instance task assigneeList cann't deserialize from variables"
hello, I checkout the code, and find that there is a cast to collection, but when you save assigneeList it stored as a JSON Array, when jackson do the deserialization, it get ArrayNode , so the cast will be fail.

MultiinstanceActivityBehavior.java
[code]

[2019-05-31 08:29] vulcan commented on #2775
when use with bpmn:loopDataInputRef
<bpmn:loopDataInputRef>assigneeList</bpmn:loopDataInputRef>

[2019-05-31 09:16] almerico opened #2776 "run unit tests and e2e tests in parallels for acticiti-modeling-app"

[2019-05-31 09:20] salaboy commented on #2414
@CTI777 this needs to be done for Query and Audit right?
the changes looks good to me

[2019-05-31 10:04] CTI777 commented on #2414
@salaboy Thank you for the comment.
I have checked query service and have found that `spring-cloud-starter-stream-rabbit` is not in starter `activiti-cloud-starter-query`, as I have expected, but in `activiti-cloud-services-query-rest`:
https://github.com/Activiti/activiti-cloud-query-service/blob/develop/activiti-cloud-services-query/activiti-cloud-services-query-rest/pom.xml#L140
Should I move i

[2019-05-31 10:04] salaboy commented on #2414
@CTI777 yes please.. let's unify and align

[2019-05-31 11:51] almerico commented on #2727
done

[2019-05-31 11:51] #2727 closed

[2019-05-31 11:54] almerico opened #2777 "parallel execution for tests modeling-app"

[2019-05-31 11:54] almerico commented on #2777
Activiti/activiti-modeling-app#168

[2019-06-03 05:47] constantin-ciobotaru opened #2778 "[Modeling] Don't allow projects with the same name"
When create or update a project, if an existing name is used then 409 Conflict is expected.

Additional: if the name is not specified in update payload, then the name remains unchanged.

[2019-06-03 07:46] salaboy commented on #2414
Audit and query (Examples are failing due this dependencies were removed) -> https://travis-ci.org/Activiti/activiti-cloud-query/builds/540615383?utm_source=github_status&utm_medium=notification

@CTI777 can you please add the dependencies at the example level and link the PRs here? Thanks!

[2019-06-03 07:52] johnzhang521 commented on #1437
@stonesingsong  我打算 spring boot + activiti 6.0 集成流程设计器到自己的项目中, 并支持汉化, 请问你这边有在做或者做好了的项目吗?

[2019-06-03 10:24] CTI777 commented on #2414
@salaboy @igdianov
Do we need the same for
https://github.com/Activiti/activiti-cloud-notifications-service-graphql
https://github.com/Activiti/activiti-cloud-notifications-graphql

[2019-06-03 10:26] salaboy commented on #2414
@CTI777 can you please check.. I guess that we should do the same for notifications.

[2019-06-03 12:21] salaboy commented on #2728
initial iteration done.. needs to refine links and add images for process defintions
https://activiti.gitbook.io/activiti-7-developers-guide/overview/comformance

[2019-06-03 12:21] #2728 closed

[2019-06-03 12:45] erdemedeiros opened #2779 "Audit GET /admin/v1/events doesn't support filtering"
The current implementation of [GET /admin/v1/events](https://github.com/Activiti/activiti-cloud-audit-service/blob/develop/activiti-cloud-services-audit-api/src/main/java/org/activiti/cloud/services/audit/api/controllers/AuditEventsAdminController.java#L35) endpoint doesn't support filtering as [GET /v1/events](https://github.com/Activiti/activiti-cloud-audit-service/blob/develop/activiti-cloud-se

[2019-06-03 18:41] igdianov commented on #2414
@CTI777 We need to check Connector Starter and Example as well.

[2019-06-04 05:41] constantin-ciobotaru opened #2780 "Add project release API"
Releases API:

  GET /v1/projects/{projectId}/releases -> Get the releases of the project
  POST /v1/projects/{projectId}/releases -> Create a new release of a project
  GET /v1/projects/{projectId}/releases/{version} -> Get a release of a project
  GET /v1/projects/releases -> Get the latest releases of all released projects
  GET /v1/projects/releases/{releaseId}/export -> Export a release of a

[2019-06-04 06:15] #2776 closed

[2019-06-04 06:15] almerico commented on #2776
done

[2019-06-04 15:02] almerico opened #2781 "ttc cluster rabbit connector"

[2019-06-05 10:18] almerico commented on #2781
fixed

[2019-06-06 05:34] #2781 closed

[2019-06-06 08:50] erdemedeiros opened #2782 "[Modeling] enable BPMN Inclusive gateways"
Enable inclusive gateways in the modeling app.

Properties to be specified:
- id
- name
- default (a reference to an outgoing sequence flow)

` <inclusiveGateway id="inclusiveGw" name="Inclusive Gateway" default="flow3" />`

Related to https://github.com/Activiti/Activiti/issues/2739

[2019-06-06 11:05] miguelruizdev commented on #2732
**DOCKER MOCK RELEASE VALIDATION:**

- export `MAVEN_ARGS="clean install -DskipTests"`
- export `DOCKER_PUSH=true`
- export `DOCKER_USER=miguelruiz`
- export `RELEASE_VERSION=DOCKER_TEST`
- export `CHECK_VERSIONS=true`
- `PROJECTS=activiti,activiti-cloud,activiti-cloud-modeling,activiti-examples,activiti-cloud-examples,activiti-cloud-modeling-examples ./remove-all.sh`
- `PROJECTS=activiti,activiti

[2019-06-06 14:53] #2735 closed

[2019-06-06 14:59] #2740 closed

[2019-06-07 04:08] igdianov commented on #2736
@salaboy I have added https://github.com/Activiti/activiti-cloud-acceptance-scenarios/pull/367

[2019-06-07 04:25] igdianov commented on #2754
@salaboy The IT test created by @CTI777 passes with green colors. The problem is likely to be related to the implementation of the `CompeteTaskCmd` command invoked from `TaskService.complete` via `TaskRuntime.complete` method to complete task variables in local scope:

https://github.com/Activiti/Activiti/blob/b6339df6a1ba10b18ca5ebabc13ba0b87cfb594a/activiti-api-impl/activiti-api-task-runtime-imp

[2019-06-07 07:30] salaboy commented on #2736
done and all merged with acc tests

[2019-06-07 07:30] #2736 closed

[2019-06-07 07:47] CTI777 commented on #2529
This is what we have now:
[code]

This is what we want to have:

[code]

[2019-06-07 12:54] erdemedeiros commented on #2320
Duplicate of https://github.com/Activiti/Activiti/issues/2691.

[2019-06-07 12:54] #2320 closed

[2019-06-07 14:11] salaboy commented on #2739
@CTI777
PR #312 is good.. but we still need to have comformance tests (in activiti core) and acceptance tests in cloud. Can you guys please create an issue for that?

[2019-06-07 14:19] salaboy commented on #2761
This was notified to be done.. but requires validation by the core team to be closed.

[2019-06-07 14:37] CTI777 commented on #2529
@salaboy @erdemedeiros
I hope that this set of PR's cover all cases... When modeler will be ready (as I understand - soon) we may add any other test cases...

[2019-06-07 14:41] CTI777 opened #2785 "[Core] We need comformance tests (in activiti core) and acceptance tests in cloud to cover inclusive Gateways"
Related to the issue https://github.com/Activiti/Activiti/issues/2739
@erdemedeiros @salaboy Please define a milestone for this...

[2019-06-07 17:23] popovicsandras commented on #2761
This was added to v0.0.90, 4 days ago, but agree, haven't been validated yet.

[2019-06-10 08:55] salaboy commented on #2724
This looks like it is done.. @CTI777 if there is something missing here please add a link and reopen the issue.

[2019-06-10 08:55] #2724 closed

[2019-06-10 09:16] salaboy commented on #2730
initial work done in gitbook

[2019-06-10 09:16] #2730 closed

[2019-06-10 09:18] salaboy commented on #2534
Initial work done here: https://activiti.gitbook.io/activiti-7-developers-guide/overview/bpmn
It will be nice to have some kind of table with all the available elements in the spec and checks for the ones that are covered.

[2019-06-10 09:18] #2534 closed

[2019-06-10 10:20] miguelruizdev commented on #2715
We hit a wall when dealing with resources instead of plain objects since the **getId** method of an object is overridden by the **getId** method of the Resource that is wrapped around it, ending up in failing contexts like this one:

![image](https://user-images.githubusercontent.com/32025234/59189034-000e1900-8b71-11e9-81ec-03736faa0eac.png)
The assertion made by the test is not comparing the sam

[2019-06-10 10:20] #2715 closed

[2019-06-10 14:14] igdianov commented on #2414
@salaboy We also need to review and merge PRs for Notifications

[2019-06-11 08:16] almerico opened #2786 "modelling image name is not propagated from values file"
@almerico have you ever double checked that the modelling docker images (both backend and front) don't get overridden by changing the values.yaml?
I'm describing all pods in my deployment, and every image seems to be overridden but modeling ones
I wonder if this is just my case (cause I might be overriding them in the wrong way) or it is happening in all of our deployments

`activiti-cloud-modelin

[2019-06-11 08:20] almerico commented on #2733
https://github.com/Activiti/activiti-cloud-full-chart/pull/42

[2019-06-11 08:33] almerico commented on #2786
https://github.com/Activiti/activiti-cloud-full-chart/pull/43

[2019-06-11 09:33] asaadhoussam opened #2787 "can i use ldap user informations to login ?"

[2019-06-11 10:49] salaboy commented on #2675
done

[2019-06-11 10:49] #2675 closed

[2019-06-11 12:44] salaboy commented on #2750
@igdianov can you report progress on this? are the acc tests ready?

[2019-06-11 13:24] miguelruizdev commented on #2732
Conclusion:
In order to work around the fact of an old version of Docker in Bamboo, we will have two cloned jobs with the following configuration, run in the following order:

**Activiti 7 Release:** (original one)

- With no docker related steps (basically the original last one: _./dockerpush-all.sh_)
- No example release (it will be done in the new Docker job)
- No elastic agent (it will keep th

[2019-06-11 14:20] salaboy commented on #2750
waiting for acc tests

[2019-06-11 14:24] igdianov commented on #2750
We will also need Swagger documentation as well.

[2019-06-11 14:44] constantin-ciobotaru commented on #2780
This is available in enterprise side only, for now.

[2019-06-11 14:44] #2780 closed

[2019-06-11 14:47] constantin-ciobotaru opened #2789 "[Modeling] Making modeling BE working with postgres requires use @Transactional on @Lob fields"

[2019-06-11 15:59] igdianov commented on #2750
@salaboy I have added admin endpoint and canRead security polices check in the PR build: 7.1.0-SNAPSHOT-PR-238-15

[2019-06-12 06:13] almerico opened #2790 "staging environments does not updated"
Error: UPGRADE FAILED: no Release with the name "activiti-cloud-notifications-graphql-7.1.92" found'

[2019-06-12 08:11] salaboy commented on #2414
done all merged

[2019-06-12 08:11] #2414 closed

[2019-06-12 08:33] salaboy commented on #2535
diagram updated

[2019-06-12 08:33] #2535 closed

[2019-06-12 08:35] salaboy commented on #2778
merged

[2019-06-12 08:35] #2778 closed

[2019-06-12 08:36] salaboy commented on #2763
merged

[2019-06-12 08:36] #2763 closed

[2019-06-12 08:36] salaboy commented on #2762
done

[2019-06-12 08:36] #2762 closed

[2019-06-12 09:29] almerico commented on #2786
https://github.com/Activiti/activiti-cloud-full-chart/pull/46

[2019-06-12 10:16] salaboy commented on #2733
done

[2019-06-12 10:16] #2733 closed

[2019-06-12 10:46] CTI777 commented on #2785
Acc. tests are ready, comformance tests are in progress...

[2019-06-12 14:08] almerico commented on #2786
fixed

[2019-06-12 14:08] #2786 closed

[2019-06-12 15:06] CTI777 commented on #2785
@erdemedeiros @salaboy
Conformance test is ready now

[2019-06-12 16:42] #2529 closed

[2019-06-13 07:17] almerico opened #2792 "staging helm repo issue"
error: failed to add chart repositories: failed to add Helm repository 'https://chartmuseum.build.cd.jenkins-x.io': failed to add the repository 'repo5' with URL 'https://chartmuseum.build.cd.jenkins-x.io': failed to run 'helm repo add repo5 https://chartmuseum.build.cd.jenkins-x.io' command in directory '.', output: 'Error: Looks like "https://chartmuseum.build.cd.jenkins-x.io" is not a valid cha

[2019-06-13 09:15] salaboy commented on #2722
merged

[2019-06-13 09:32] constantin-ciobotaru opened #2793 "Add postgreSQL datasource instead H2 to modeling service"

[2019-06-13 10:17] salaboy commented on #2789
merged

[2019-06-13 10:17] #2789 closed

[2019-06-13 10:27] igdianov commented on #2721
@salaboy This ready for review

[2019-06-13 10:28] igdianov commented on #2750
@salaboy All PRs are created. It is ready for review.

[2019-06-13 10:48] #2726 closed

[2019-06-13 11:19] almerico opened #2795 "add more resources for identity service"

[2019-06-13 12:29] almerico commented on #2793
https://github.com/Activiti/activiti-cloud-modeling/pull/262

[2019-06-13 15:32] #2721 closed

[2019-06-14 08:47] salaboy commented on #2729
Initial work on Query done, more work on audit is required.

[2019-06-14 08:47] #2729 closed

[2019-06-14 11:03] #2739 closed

[2019-06-14 12:06] erdemedeiros commented on #2605
Covered here https://github.com/Activiti/activiti-cloud-modeling/commit/e62ac9cf539b3ef9ea25d4346986359bead456b9

[2019-06-14 12:06] #2605 closed

[2019-06-14 12:20] #2716 closed

[2019-06-14 12:34] #2722 closed

[2019-06-14 12:37] almerico commented on #2790
done

[2019-06-14 12:37] #2790 closed

[2019-06-14 12:39] #2772 closed

[2019-06-14 12:44] #2750 closed

[2019-06-14 19:44] #2761 closed

[2019-06-14 19:44] #2732 closed

[2019-06-14 19:45] #2734 closed

[2019-06-17 04:43] constantin-ciobotaru opened #2798 "[Modeling] Create project/model with id will try to update"

[2019-06-17 14:14] almerico opened #2799 "postman collection update to correspond release 7.1.0.M2"

[2019-06-17 14:14] almerico opened #2800 "docker-compose update to correspond release 7.1.0.M2"

[2019-06-17 14:36] almerico commented on #2800
https://github.com/Activiti/activiti-cloud-examples/pull/102

[2019-06-18 05:01] almerico opened #2801 "create script for releasing helm charts"

[2019-06-18 10:28] miguelruizdev opened #2802 "[Modeling] Acceptance test for Variable Type Validation in Modeling"
Acceptance test covering this feature: https://github.com/Activiti/Activiti/issues/2716

[2019-06-18 11:09] constantin-ciobotaru opened #2803 "[Modeling] The model name should be unique by project and type"
Because the model names are used to build the file names inside the project zip, the model names should be unique in database grouped by project_id and type.

[2019-06-19 07:15] constantin-ciobotaru opened #2804 "[Modeling] Empty extensions object is created for all models not only for process models"

[2019-06-19 11:47] almerico commented on #2801
done

[2019-06-19 11:47] #2801 closed

[2019-06-19 11:47] #2792 closed

[2019-06-19 11:48] almerico commented on #2793
done

[2019-06-19 11:48] #2793 closed

[2019-06-19 11:48] almerico commented on #2777
done

[2019-06-19 11:48] #2777 closed

[2019-06-20 06:35] almerico commented on #2800
done

[2019-06-20 06:35] #2800 closed

[2019-06-20 08:32] LouisRenWeiWei opened #2805 "activiti 序列化"
我在使用activiti的时候遇到一个问题，类似https://www.wuyanlin.cn/?p=721
举个例子，写了一个Student的类 （有个name字段，age字段），给流程设置变量的时候把学生列表(List<Student> students)设置进去了(execution.setVariable("students", students);)，现在学生类加了一个字段(String address)，然后重新部署代码，运行原有的审批操作，activiti在反序列化的时候报错了，根据研究发现是activiti使用的对象序列化
SerializableType
public byte[] serialize(Object value, ValueFields valueFields) {
    if (value == null) {
      return null;

[2019-06-23 12:10] Sohnny0 commented on #2428
jdk8 is free... @salaboy

[2019-06-23 14:52] salaboy commented on #2428
@sohnny0 it is not about being free or not free.. it is already EOL, you shouldn’t be running stuff in production with a platform that ia not longer supported and it will
Not receive patches to newly found issues

[2019-06-24 06:31] almerico opened #2806 "incorrect report of readiness"
some our services like runtime, audit , query reporting that they ready after star of helm chart  not when they are really ready

[2019-06-25 05:51] almerico opened #2807 "extra variable passed to example connector during helm templating"

[2019-06-25 08:05] CarloNA opened #2808 "problem for bean 'processEngine'"
Description:
The bean 'processEngine', defined in class path resource [org/activiti/spring/boot/ProcessEngineAutoConfiguration.class], could not be registered. A bean with that name has already been defined in class path resource [com/example/activiti/activitidemo/ActConfig.class] and overriding is disabled.

Process finished with exit code 1

when i create bean 'processEngine' , it throws a excep

[2019-06-25 12:04] almerico opened #2809 "update of gitbook to use latest helm chart"

[2019-06-25 13:18] DebugSy opened #2810 "Deadlock occur during startup and cleanup processes"
Hi,
We are currently using Activiti 6.0.0, activiti-spring and database Mysql 5.6

There are two threads here, one for cleaning up the historical data of the completed task and the other for starting the new task.

Bpmn info:
note: SubProcess activiti:async="true"
[code]

Error message in mysql:

[code]

[2019-06-26 06:23] DebugSy commented on #2810
Additional explanation: use `deleteDeployment(String deploymentId, boolean cascade)` and `startProcessInstanceByKey(String processDefinitionKey)` method

[2019-06-26 11:06] yanjianjia commented on #2775
i found this, too.
so i use this:
`  <userTask id="f_landing_policy" name="xxxx" default="sid-B793D4FB-72F5-4A93-B02B-274A13561A26">
            <extensionElements>
                <activiti:taskListener event="create" delegateExpression="${carPolicyTaskListener}"></activiti:taskListener>
            </extensionElements>
            <multiInstanceLoopCharacteristics isSequential="false">

[2019-06-27 03:50] igdianov commented on #2659
Fixed. See the following:

https://github.com/Activiti/activiti-cloud-environments/releases
https://github.com/Activiti/activiti-cloud-platform-quickstart/releases
https://github.com/Activiti/activiti-cloud-runtime-bundle-quickstart/releases
https://github.com/Activiti/activiti-cloud-connector-quickstart/releases

[2019-06-27 03:50] #2659 closed

[2019-06-27 08:15] almerico commented on #2809
done

[2019-06-27 08:15] #2809 closed

[2019-07-01 06:34] almerico commented on #2806
done

[2019-07-01 06:34] #2806 closed

[2019-07-01 06:35] almerico commented on #2807
done

[2019-07-01 06:35] #2807 closed

[2019-07-01 07:56] almerico opened #2812 "https://github.com/Activiti/activiti-cloud-charts/ deprication"
Check through all projects if it used also update readme to point to new one

[2019-07-02 09:51] aenciso commented on #2711
@salaboy Same here I'm on 7.1.0.M2

[2019-07-02 10:08] salaboy commented on #2711
@aenciso unfortunately, I do not work anymore for the project, neither I am responsible for 7.1.0.M2 release.

[2019-07-03 06:59] promise06 commented on #2711
@aenciso turn off the firewall works for me

[2019-07-03 08:07] aenciso commented on #2711
It turned out I was using 127.0.0.1 which is wrong, it started working when I used my local IP 192.168.... instead

[2019-07-03 12:48] #2711 closed

[2019-07-04 07:09] yangpancode opened #2818 "activiti how to specify the process or task generation time"
Because the project has to do historical data migration. old projects do not use activiti , so I want
to let old historical data migrate to the activit by starting new processing template，but time is the current time not historical time, activiti how to specify the process or task generation time by using some interface？

[2019-07-08 12:49] obiasutti opened #2819 "Null for IntegrationContext.getProcessDefinitionKey() when serviceTask has the activity:async attribute set to true"
Hi everyone,

I've currently experienced a problem with the ProcessEngine running with the asyncExecutor activated.

**Problem**
Inside the connector implementation the integrationContext.getProcessDefinitionKey() call return null.

This is not the case if the async attribute is removed from the serviceTask.

Unfortunately I can't post neither code nor the models I'm currently working with, but I

[2019-07-08 12:55] erdemedeiros commented on #2819
Possibly already fixed by https://github.com/Activiti/Activiti/issues/2736.

[2019-07-10 08:37] Marco-Sulla opened #2822 "[QUESTION] How can I generate wars for Activiti 7?"
In the [official site](https://www.activiti.org/get-started), you can download the dockers of Activiti Cloud, which editor seems to me very limited. You can download the wars of Activiti 6.

I would compile the wars for Activiti 7. How can I do?

[2019-07-11 13:20] Marco-Sulla commented on #2822
Well, I discovered there's no "classic" war for Activiti 7, only the cloud ones.

[2019-07-11 13:20] #2822 closed

[2019-07-11 14:22] Marco-Sulla opened #2824 "Unknown libraries: activiti-dmn-rest and activiti-secure-tasks"
I found on maven these packages:

https://mvnrepository.com/artifact/org.activiti/activiti-dmn-rest/6.0.0
https://mvnrepository.com/artifact/org.activiti/activiti-secure-tasks/6.0.0

They seems they are not used nor by `spring activiti`: I included in my project `activiti-spring-boot-starter-basic` and `activiti-spring-boot-starter-rest-api`, and they are not present in the dependencies. Furthermo

[2019-07-12 01:09] headays commented on #2818
I also encountered the same problem, how to migrate historical data to Activit, the old system does not use Activit. No solution has been found yet.

[2019-07-12 02:19] proth1 commented on #2818
Can you elaborate on what it is you are both trying to do and what the issue is?  I may be the only one but I just don't understand.

[2019-07-12 02:55] yangpancode commented on #2818
I have already run a project on production. This project did not use activiti, now want to optimize the original project by using activiti，but old project have generated many historical data，how to move the historical data? Now I am programming to re-run the data by using activiti process template，But  the generated data is using the current time. How to replace with old time?

[2019-07-12 03:46] proth1 commented on #2818
@yangpancode, what product was used for the prior production project?  It seems like it would be doable but pretty tricky to essentially extract transform and load (ETL) the old history data format into the Activiti History Tables. I am suspicious that it would not be worth the effort and if the new optimized solution based on Activiti will need access to the old history data there may be a better

[2019-07-12 03:48] proth1 commented on #2818
@yangpancode I'm also thinking that this discussion might be better served in the [Alfresco Community Forum](https://community.alfresco.com/) vs. discussing this topic as an issue in Git.

[2019-07-12 10:49] Marco-Sulla opened #2825 "[Question] Claims of Activiti 6 vs Camunda"
Hello all. I'm testing both Activiti and Camunda for the possible future use in substituition of our actual workflow engine.

I read this [claims](https://blog.camunda.com/post/2016/10/camunda-engine-since-activiti-fork/) about Camunda pros over Activiti 6.

The parts that most interest me are full BPMN compliance and deadlock prevention. The author claims Activiti 6 is not full BPMN compliant. Fu

[2019-07-14 00:34] xfxmcy commented on #1180
I get this question too.But I really resolve it. Please to edit file named app-cfg.js  and correct `contextRoot`.

[2019-07-15 08:01] Marco-Sulla commented on #2825
(ಠ_ಠ)

[2019-07-15 11:26] pancudaniel7 opened #2828 "Added obligatory user task validation field for assignee, candidate user, candidate groups"
we should make obligatory one between assagnee and candidate user, candidate group in the process definition

[2019-07-16 08:30] pancudaniel7 opened #2829 "A process xml definition should have a valid connector definition name"
Check if connector model is exists for the current service task

[2019-07-16 11:19] constantin-ciobotaru opened #2830 "Validate project structure - process extension"
Validations:

A process extension file should have a valid variable mapping
A process extension file should have a valid task mapping
A process extension file should have a valid decision table name

[2019-07-17 08:32] erdemedeiros commented on #2746
New failure:
[code]

[2019-07-17 11:42] erdemedeiros commented on #2746
Failure with suspended status:

[code]

[2019-07-17 15:25] Marco-Sulla commented on #2825
Well, since you not commented anything, I choose Camunda in the end.
You are yet in time to try to change my opinion.

[2019-07-18 11:17] pancudaniel7 opened #2832 "Validate connector name and action"
A process xml definition should have a valid connector definition name and action

[2019-07-18 14:35] jesperdj commented on #2666
I have a problem that sounds the same as what's described above. I am using Activiti 6.0.0. with activiti-spring.

I took the time to dive into the source code and logging to find out exactly what is happening, and I have discovered what I believe is a bug - I'll try to explain it in detail below.

Activiti 6 has a pipeline of command interceptors to execute commands. This pipeline is built in Pro

[2019-07-18 14:41] jesperdj commented on #2666
[activiti.log](https://github.com/Activiti/Activiti/files/3407034/activiti.log)

[2019-07-19 06:50] jesperdj commented on #2666
Possible workarounds and solutions:

1. set transaction isolation level to dirty-read, so that the thread that executes the new job can see the job in the database even though the other thread has not yet committed its transaction => but using dirty-read is almost always a bad idea

2. do not use AsyncJobAddedNotification; just insert the new job in the database and let the job acquire thread find

[2019-07-22 15:16] cirodev commented on #1685
I tried the first solution I'm using the version 7 of activiti integrated in spring

`<dependency>
			<groupId>org.activiti</groupId>
			<artifactId>activiti-spring-boot-starter</artifactId>
			<version>7.1.43</version>
			<exclusions>
				<exclusion>
					<groupId>commons-io</groupId>
					<artifactId>commons-io</artifactId>
				</exclusion>

				<exclusion>
					<groupId>de.odysseus.juel</groupI

[2019-07-23 08:02] pancudaniel7 opened #2833 "A process xml definition should have a valid form id"
Validate process form id to be the same as the one in form model

[2019-07-23 10:05] cirodev commented on #1685
I juste remove only juel-spi. Now it's work

[2019-07-24 09:08] cverdela opened #2835 "tenantId"

[2019-07-24 09:29] cverdela commented on #2835
I want to use ProcessRuntime but not RuntimeService

[2019-07-25 15:29] mteodori commented on #2108
duplicated in #2717

[2019-07-25 15:29] #2108 closed

[2019-07-25 16:29] mteodori commented on #2717
checked with @balsarori and the engine has its own custom implementation of database migrations in order to be lightweight https://github.com/Activiti/Activiti/tree/master/activiti-engine/src/main/java/org/activiti/engine/impl/db

[2019-07-26 01:55] VigCat opened #2839 "base on mysql 5.7& activti.7.1.0.M2，“managementService.getTableCount()” get wrong table ”actor“"
base on **mysql 5.7 & activti.7.1.0.M2**，
I use  “**managementService.getTableCount()**” to get tableCount，but got  wrong list of activiti`s tables： 25 tables expected，but I got 26 with table "**Actor**".
but  the "**Actor**" is defined  in  schema "sakila".

[2019-07-26 02:01] VigCat commented on #2839
GOD!! the method org.activiti.engine.impl.persistence.entity.TableDataManagerImpl.getTablesPresentInDatabase() dosen`t define the schema  about mysql...

[2019-07-26 02:22] VigCat commented on #2839
and  the  define:
**String tableNameFilter = databaseTablePrefix + "ACT_%"**
may run without expected   ,because the char "\_" is used to match a anychar instead of the original '\_'  in T-SQL

[2019-07-28 21:13] charlie39 commented on #1677
https://medium.com/@davembush/adding-css-and-javascript-to-an-angular-cli-project-2b843a8283f3

[2019-07-29 10:11] wanglonglog opened #2840 "pageable order field does not work when call taskRuntime.tasks"
pageable order field does not work when call  taskRuntime.tasks

[2019-08-01 10:24] tlzjff opened #2845 "How to disable security in Activiti 7"
We have another authentication system. So i want to disable activiti security, I tried something but it didn't work. For example,  I want to use the following code
@SpringBootApplication(exclude ={SecurityAutoConfiguration.class, org.activiti.spring.boot.SecurityAutoConfiguration.class} )
But the org.activiti.spring.boot.SecurityAutoConfiguration.class not exists in the activiti 7.
So is there ano

[2019-08-01 10:43] #2785 closed

[2019-08-02 16:00] igdianov commented on #2765
Increasing the size of the pool is not going to solve the problem. It does not make sense to add more threads because Rb pod has limited CPU resources and the number of concurrent connections in the pool will always be a bottleneck causing thread starvation under load.

Adding the list of groups in JWT will slightly increase the size of the token, but requires Keycloak realm reconfiguration.

[2019-08-07 05:37] igdianov opened #2849 "Travis CI build takes a long time"
Looks like it takes a long time for each Travis build to download Maven artifacts from Spring, Maven Central and Alfresco Nexus repositories. I think we can try to improve Travis build time by configuring cache for $HOME/.m2 directory: https://docs.travis-ci.com/user/caching/

[code]

I have tested Travis build duration with .m2 cache. The improvement for subsequent Travis build for the same branc

[2019-08-08 14:35] miguelruizdev commented on #2849
this is how the ADF guys set cache directories in Travis:
https://github.com/Alfresco/alfresco-ng2-components/blob/development/.travis.yml#L89
We can just replicate it

[2019-08-08 15:40] igdianov commented on #2849
Yep, it makes sense to split the build into stages, so the cache stage warm up and update artifacts for running IT tests.

[2019-08-09 08:21] robfrank commented on #2849
I approved your pr, closing

[2019-08-10 16:36] kayhu opened #2852 "getting-started-docker-compose does not work, Error when sending request to retrieve realm keys"
I'm trying to setup the docker compose example by following [guide](https://activiti.gitbook.io/activiti-7-developers-guide/getting-started/getting-started-activiti-cloud/getting-started-docker-compose)

1. git clone https://github.com/Activiti/activiti-cloud-examples
2. git checkout v7.1.0.M2
3. cd activiti-cloud-examples/docker-compose
4. edit DOCKER_IP in .env
5. make modeler
6. visit http://$D

[2019-08-11 06:48] igdianov commented on #2852
@kayhu My best guess is that you need to make sure that IP routing is working properly in your Docker environment. The following error indicates network problem:

[code]

You need to be able to reach Keycloak from inside Modeling backend container.

[2019-08-11 12:15] kayhu commented on #2852
thanks

[2019-08-11 12:15] #2852 closed

[2019-08-13 07:35] oswulf75 commented on #2666
I encountered the same problem in my application. In my deployments, i have my own application.ear and activiti-app.war running on the same wildfly instance. I have 2 questions:
1) How do i disable the async-executor in activiti-app as i am just using it as a modelling and deployment tool for my process definitions?
2) Can you elaborate a bit more on point 2 and 3 on the AsyncJobAddedNotification.

[2019-08-13 07:52] jesperdj commented on #2666
Hello @oswulf75

1. I don't think you can disable the async executor in Activiti 6, since in Activiti 6 it is the only executor implementation that is provided.
2. My suggestions were possible ways to fix it in the Activiti source code; these are not things you can easily do in your own application.

I have my own workaround which I came up with after studying the Activiti source code, but this wo

[2019-08-13 09:07] campa opened #2855 "Sources as maven artifacts"
Hi guys,
I'm using activiti libs as maven dependencies, i'd like to navigate activiti sources during my development, but they are not published along with maven activiti artifacts.

I'm wrong or they are not available on maven repos ?
If it is the situation, why they are not there, it seems there is a built-in way with maven...

It is really useful for developer, as me, having inline sources in th

[2019-08-13 11:39] dengcq2 opened #2856 "IdentityLinkEntity NullPointerException"
springmvc response List<ProcessDefinition>  invoke getIdentityLinks ，this getCommandContext()

is null , so  org.springframework.http.converter.HttpMessageNotWritableException: Could not write
JSON: (was java.lang.NullPointerException); nested exception is
com.fasterxml.jackson.databind.JsonMappingException: (was java.lang.NullPointerException) (through reference

[2019-08-13 13:55] praveennarayanan234 opened #2858 "Async Executor does not execute jobs"
**Async Executor which we have configured does process jobs.**

We are using 'SharedExecutorServiceAsyncExecutor' implementation as the Async Executor.

Activiti version - 5.22.0

This is what we could observe from ACT_RU_JOB table for a job

ID_: 43725070-bdc6-11e9-abf6-000d3af0b4d2
REV_: 11
TYPE_: message
LOCK_EXP_TIME_: 2019-08-13 09:26:33.457
LOCK_OWNER_: NULL
EXCLUSIVE_: 1
EXECUTION_ID_: 13ce

[2019-08-14 03:03] ngocthat012 commented on #2666
I also had the same problem, but when I debug it, I came to the newly created step and stood there waiting until 15p after it ran again and after 5p, there was another thread taken up and processed. I have seen the source but there is no solution.

Log:
2019-08-12 12:58:05,248 [pool-1-thread-3] DEBUG org.springframework.jdbc.datasource.DataSourceTransactionManager  - Creating new transaction with

[2019-08-14 07:12] igdianov opened #2859 "startProcessInstanceByMessage does not assign businessKey for process instance"
I am using Activiti 7.0.0.SR1, and when I use startProcessInstanceByMessage it seems that the businessKey is doesn't stored in ACT_RU_EXECUTION table, as when i use startProcessInstanceByKey.

[2019-08-14 07:13] igdianov commented on #2859
The businessKey is not propagated because of a bug in RuntimeService.startProcessInstanceByMessage implementation.

[2019-08-14 07:44] pancudaniel7 opened #2860 "Add Model name validation functionality"
- Delete Connector validator
- Refactor Generic validator to contain validation for every model name
- refactor testing

[2019-08-14 08:01] dimipapadeas commented on #2859
@igdianov
Thanks for informing me!

Until now I have found that in org.activiti.engine.impl.cmd.StartProcessInstanceByMessageCmd,  despite the fact that businessKey is a constructor argument and a global variable, it isn't used in method call:

[code]
I think that may help in bugfixing.

[2019-08-14 09:31] campa opened #2861 "ProcessExtensionService.processExtensionModelMap -> NPE in hasExtensionsFor(String processDefinitionKey)"
using with spring boot embedded , activiti release 7.1.58
with this proc def
[code]
running:

[code]
NPE here

[code]
In the method of ProcessExtensionService below the processExtensionModelMap is null, here:

[code]

Any suggestion so solve ?

[2019-08-14 10:20] campa commented on #2861
Solved calling processExtensionService.readProcessExtensions() before using it :

[code]

[2019-08-14 10:20] #2861 closed

[2019-08-14 10:32] #2803 closed

[2019-08-14 10:33] #2828 closed

[2019-08-14 12:50] #2782 closed

[2019-08-14 13:05] erdemedeiros commented on #2461
@igdianov what is the status of this one?

[2019-08-14 13:16] erdemedeiros commented on #2311
I'm closing this for now. Please, re-open it if necessary.

[2019-08-14 13:16] #2311 closed

[2019-08-14 13:24] erdemedeiros commented on #2468
@igdianov is this problem still present in the latest version of the notifications service

[2019-08-14 13:36] #2500 closed

[2019-08-14 13:47] miguelruizdev commented on #2530
Solved here: https://issues.alfresco.com/jira/browse/ACTIVITI-2849

[2019-08-14 13:47] #2530 closed

[2019-08-14 13:51] #2669 closed

[2019-08-14 14:20] #2633 closed

[2019-08-14 14:22] #2636 closed

[2019-08-14 14:22] #2631 closed

[2019-08-14 14:28] erdemedeiros opened #2863 "Spring Cloud Stream Message Based Job Executor Implementation"
MessageBasedJobExecutor uses Spring Cloud Stream to emit scheduled jobs as messages into job manager producer channel. Job message payload contains scheduled job id;

The job manager producer channel destination is scoped by runtime bundle's service name in order to restrict handling of job messages within the same group its of instances.

Job message producer uses transaction listener to synchron

[2019-08-14 14:29] #2863 closed

[2019-08-14 15:04] erdemedeiros commented on #2118
Latest status from https://issues.alfresco.com/jira/browse/ACTIVITI-3288:

As part of this epic, we decided also to do the following changes:

**1. Remove the need to look up in the definition files to apply the mappings at runtime**

From now on the definition files will be used only to create the mappings inside the modeling app and not used for the mapping at runtime, the mapping will be fully

[2019-08-14 15:04] #2118 closed

[2019-08-15 16:38] igdianov commented on #2858
@praveennarayanan234 How did you configure `SharedExecutorServiceAsyncExecutor`? What are the configuration values? Can you paste a code snippet?

[2019-08-15 16:41] igdianov commented on #2855
@campa Yes, the intermediate versions of Activiti sources are not published in Alfresco Nexus repository. We will discuss how to make it available for users and ourselves.

[2019-08-15 17:23] igdianov opened #2864 "Helm Install of activiti-cloud-full-example chart with Helm 2.14.3 fails"
to create Identity Postgresql volume claim.

[2019-08-16 04:23] igdianov commented on #2864
The problem  is caused by Helm 2.14.3 regression that fails to override `null` value for existingClaim in https://github.com/Activiti/activiti-cloud-identity-chart/blob/c77449e66f6ec970d2e68eaa581046e5e1bf9d5e/charts/activiti-cloud-identity/values.yaml#L17

[2019-08-16 05:02] igdianov commented on #2864
It appears that Helm 2.14+ does not remove keys when the value is set to `null`. The workaround should be to set the existingClaim to empty string `""` instead of `null`, i.e. :

[code]

When using Helm 2.14 to install any previously published `activiti-cloud full-example` chart, the fix is to add additional key `activiti-cloud-identity.alfresco-identity- service.keycloak.postgresql.persistence.ex

[2019-08-16 05:29] igdianov opened #2865 "Add example unit test for running Activiti 7 process"
with Cloud Connectors in order to test process with service tasks as part of https://github.com/Activiti/example-runtime-bundle

[2019-08-16 10:30] #2864 closed

[2019-08-17 03:40] rock007 commented on #2845
me to

[2019-08-19 06:58] campa commented on #2855
If can help I have done it by myself and published that in our local maven repo, it is easy, it works out of box  only put this [plugin declaration](https://maven.apache.org/plugins/maven-source-plugin/usage.html)  in your parent pom  as below:

[code]
Invoking maven install it puts your sources along with bytecode jars.

Bye

[2019-08-19 07:28] LuomingXu commented on #2845
me too

[2019-08-21 10:23] ngocthat012 commented on #2666
Hi jesperdj,

Please provide the source code you fixed so that I can learn the source code?

[2019-08-21 11:02] jesperdj commented on #2666
Hi @ngocthat012 , here is my source code with a workaround.

The main idea here is that we add another command interceptor in the chain, which is outside the Spring transaction interceptor. The custom job manager, in its hintAsyncExecutor() method, registers a CustomAsyncJobAddedNotification to the context of the custom command interceptor. This will be called outside of the Spring transaction, by

[2019-08-21 18:35] kayhu opened #2867 "Question about new ACTIVITI_USER Runtime API"
Hello there,

private List<IdentityLink> getIdentityLinks(String taskId) {
        String authenticatedUserId = securityManager.getAuthenticatedUserId();
        if (authenticatedUserId != null && !authenticatedUserId.isEmpty()) {
            List<String> userRoles = userGroupManager.getUserRoles(authenticatedUserId);
            List<String> userGroups = userGroupManager.getUserGroups(authenticat

[2019-08-22 03:03] gebilaoman commented on #2856
me too

[2019-08-22 03:29] gebilaoman commented on #1948
Is the problem finally solved?

[2019-08-22 07:56] ngocthat012 commented on #2666
Thank @jesperdj

[2019-08-22 09:43] jiandanfeng commented on #2686
hi, how do you fix this problem?
@DestinyWang

[2019-08-22 12:08] sergiojoker11 opened #2868 "Broken link in docs"
Here https://activiti.gitbook.io/activiti-7-developers-guide/components/activiti-cloud-infrastructure/gateway
This [link](https://cloud.docker.com/u/activiti/repository/docker/activiti/activiti-cloud-gateway) leads to 404

[2019-08-26 07:52] CTI777 opened #2869 "Not possible to update process/task variables having type date"
Updating a date variable (process) with any value (including original) causes the following error:

["class java.lang.String is not assignable from class java.util.Date"]

Example URL:
/rb/admin/v1/process-instances/a9563ac3-c27a-11e9-9fa5-c24cb3cc3829/variables

Example payload:
{"processInstanceId":"a9563ac3-c27a-11e9-9fa5-c24cb3cc3829","variables":

{"today":"2019-08-18T23:00:00.000Z"}
,"payloa

[2019-08-26 09:50] erdemedeiros commented on #2855
Setting `performRealease` property (`-DperformRelease -Dgpg.skip`) when we are deploying the artifacts (https://github.com/Activiti/Activiti/blob/develop/Jenkinsfile#L51) should be enough. This will publish both sources and Javadoc jars.

[2019-08-26 09:53] almerico commented on #2855
For what repos we want to do this?

[2019-08-26 09:53] igdianov commented on #2855
I think we can set these properties globally in Jenkins via `MAVEN_OPTS` environment configuration.

@almerico Can you give it a spin?

[2019-08-26 09:54] igdianov commented on #2855
Let try Activiti Core first

[2019-08-26 09:57] almerico commented on #2855
Ok will do

[2019-08-26 16:04] almerico commented on #2855
have to check if all propagated and sources uploaded

[2019-08-27 09:53] LiWeiWei233 opened #2872 "UserTask sets assignee to variable ${employeeGroup} when calling startProcessInstanceByKey method error"
My problem is that I can't set assignee as a variable when creating a dynamic process,
I am using activit6.0 now.
fix:
I didn't describe the problem clearly. I constructed the process myself, and then verified the deployment success by calling the runtimeService.startProcessInstanceByKey("") method. Then I got the error. I think the startProcessInstanceByKey("") method is set to variable in assign

[2019-08-27 11:09] rockjl commented on #2845
me too

[2019-08-27 13:19] ggrnd0 commented on #2872
Process do not have variable with name 'employeeGroup'

try `${execution.getVariable('employeeGroup')}` for avoid exception and get null instead.

[2019-08-27 13:24] ggrnd0 commented on #2845
Whick packages you use?
we plan to update 6->7 someday...

[2019-08-27 17:21] stefan-tabakov opened #2873 "Unable to end a process if UserTask is completed twice"
I'm testing a Process with a User Task and an Exclusive Gateway. The gateway has two possible outgoing Flows depending on a transient variable 'approved'. The first Flow ends the Process and the second Flow brings the Execution back to the User Task.
My test case is doing the following:
1. Start an instance from the process
2. Complete the User Task with 'approved' set to false, leading the execut

[2019-08-28 01:59] LiWeiWei233 commented on #2872
I didn't describe the problem clearly. I constructed the process myself, and then verified the deployment success by calling the runtimeService.startProcessInstanceByKey("") method. Then I got the error. I think the startProcessInstanceByKey("") method is set to variable in assignee. When the call is a problem

[2019-08-28 02:22] LiWeiWei233 commented on #2872
I have solved this problem, I forgot to pass in the variable when starting the process instance.
`// 4. Start a process instance
        Map<String, Object> variableMap = new HashMap<String, Object>();
        variableMap.put("employeeGroup", "groupA");
        ProcessInstance processInstance = processEngine.getRuntimeService().startProcessInstanceByKey(processDefinitionKey,variableMap);`

[2019-08-28 03:47] rockjl commented on #2845
<dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>org.activiti.dependencies</groupId>
                <artifactId>activiti-dependencies</artifactId>
                <version>7.1.0.M3.1</version>
                <scope>import</scope>
                <type>pom</type>
            </dependency>
        </dependencies>
    </dependencyManagement>
<dependenc

[2019-08-28 03:47] rockjl commented on #2845
`<dependency>
            <groupId>org.activiti</groupId>
            <artifactId>activiti-spring-boot-starter</artifactId>
        </dependency>
        <dependency>
            <groupId>org.activiti</groupId>
            <artifactId>activiti-image-generator</artifactId>
        </dependency>
        <dependency>
            <groupId>org.activiti</groupId>
            <artifactId>activiti-json-co

[2019-08-28 03:48] rockjl commented on #2845
`
<dependencyManagement>
        <dependencies>
            <dependency>
                <groupId>org.activiti.dependencies</groupId>
                <artifactId>activiti-dependencies</artifactId>
                <version>7.1.0.M3.1</version>
                <scope>import</scope>
                <type>pom</type>
            </dependency>
        </dependencies>
    </dependencyManagement>
<depende

[2019-08-28 06:33] rockjl commented on #2845
springboot 2.1.7 RELEASE

[2019-08-28 06:43] sinanasiriamirbande opened #2874 "Activiti-app (UI) customization"
Hello,
I hope all is going well.

We have an integrated angular js and spring boot project. Our purpose is customizing the UI of Activiti-app in our project. Our customization in detail is some localization and Make project Rtl and call rest API to our spring boot back end(XML file). due to getting this goal we have copied web-app of Activiti-app to our project but we got some errors as you can fi

[2019-08-28 09:46] CTI777 opened #2876 "Implement support for setting task Date/Time variables"
Related to https://github.com/Activiti/Activiti/issues/2869.
We have to implement a support for taskVariables with a `date` type.

- [x] We have to implement a following logic in Runtime Bundle: try to handle incoming stings from task variables as date/time. If converting fails, store task variable as a string... Format of the date/time string should be: "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'" or "yyyy-MM-

[2019-08-29 07:03] trinaldirizki opened #2877 "Deploy BPMN file on the fly"
Hi,
We are currently developing a workflow engine and we plan to use Activiti as its library. We want to provide a feature where we can deploy _.bpmn20.xml_ file on the fly. We don't want to restart the engine every time we deploy a new BPMN.

So far, what we have learned is that deployment can only be done when the BPMN is stored in _/resources_ folder. We have tried to use **RepositoryService**,

[2019-09-02 08:26] nichuanfang commented on #2845
you can config '@SpringbootApplication(exclusion={SecurityAutoConfiguration.class})' upon your main class.

[2019-09-02 11:39] ggrnd0 commented on #2877
There is no better way. Only
`RepositoryService.createDeployment().{add processes}.deploy()`

Where did you find @Internal?

[2019-09-02 14:55] ggrnd0 commented on #2825
Good choice!
But

Activiti use optimistic locking by default (only?).
That means what with non-concurrent access activiti has minimal locking overhead.
But with concurrent access only one transaction will be committed. All other will fail.

Is it issue for you?  We use com.google.common.util.concurrent.Striped for lock on rootProcessId in single app instance.
In multi server deployments that can b

[2019-09-02 15:24] ggrnd0 opened #2882 "Async events & processes interaction"
Related to https://github.com/Activiti/Activiti/issues/2664

All (or node configuration based) signal/message throws must be asynchronous.

![](https://user-images.githubusercontent.com/5565134/55082287-7773f680-50b2-11e9-9bed-5670409d863e.png)

After message received all Signal triggers go to queue and execute in sequence only after top end event completed.

1) message received
2) ev1 queued
3) e

[2019-09-02 18:59] CTI777 commented on #2876
@erdemedeiros @ffazzini
Question:
In admin and non admin area we have some kind of inconsistency:
CreateNewTask (not present in admin):
https://github.com/Activiti/activiti-cloud-runtime-bundle-service/blob/develop/activiti-cloud-services-runtime-bundle/activiti-cloud-services-rest-api/src/main/java/org/activiti/cloud/services/rest/api/TaskController.java#L49

SaveTask (not present in admin):
http

[2019-09-02 21:15] Marco-Sulla commented on #2825
Well, this seems to me a big problem and I don't understand why. You said you use a lock, so why discard the other transactions?

And what about BPMN compliance? It seems to me that Activiti 7 adopted the bpmn.io editor, the same Camunda uses. This means that Activiti 7 now is fully BPMN compliant?

Anyway I tried both Activiti 6 and 7. Camunda seems much simpler to use than Activity 6, and has th

[2019-09-03 03:07] trinaldirizki commented on #2877
![image](https://user-images.githubusercontent.com/25634544/64140735-a9db0a00-ce2f-11e9-949a-fe6f03584762.png)
We found this in `org.activiti.engine.RepositoryService` from the latest version of Activiti (**7.1.0.M3.1**)

We are aware that using classes marked as @Internal is discouraged.
Is there any future plan in making this service external/public or maybe creating an API for this?

[2019-09-03 06:34] ggrnd0 commented on #2825
discard only without lock. With lock all fine...

Are u sure camunda 100.0000% BPMN2 compliant?
bpmn.io demo do not have pools and lanes... and camunda do not execute them in scenario if they exists... activiti have same...

[2019-09-03 06:45] ggrnd0 commented on #2877
Anyway there is no other api now...
that api did not change at all for 4 years...

[2019-09-03 06:49] trinaldirizki commented on #2877
Ah okay. Really thanks!

[2019-09-03 09:16] ggrnd0 commented on #2664
i cannot understand...
now test do not fail...

[2019-09-03 13:08] roxanaspatariu opened #2883 "[Modeling] Change default Spring error messages into ModelValidationError"

[2019-09-04 09:38] liwenbao opened #2885 "Error when complete task: UserTask should not be signalled before complete"
I'm using 6.0.0 version. I had  an error when complete user task. Error infomation like:
org.activiti.engine.ActivitiException: UserTask should not be signalled before complete

The error occurr sometimes，no rule, and can't reproduce. Is this is a bug?

When this error occurred, there are two rows in table act_ru_task in the process instance. My process is simple，should not exists more than one ru

[2019-09-04 13:56] erdemedeiros commented on #2616
- Spring boot: 2.1.6.RELEASE
- Spring cloud: Greenwich.SR2

[2019-09-04 14:10] CTI777 opened #2886 "We need to move the DateTimeProvider to a common place in activiti"
Related to https://github.com/Activiti/Activiti/issues/2869

[2019-09-05 09:16] constantin-ciobotaru opened #2889 "Process extensions validation: connector parameter names"
The input property names have to be valid connector input parameters names.

The output property values have to be a valid connector output names

Acceptance criteria:
An error message should be displayed if the input property names don't have valid connector input parameters names. The errors should be displayed in the Log History Panel.
An error message should be displayed if the out property na

[2019-09-05 14:12] roxanaspatariu opened #2890 "Process extensions validation: validate mappings that contain a StartEvent reference id"

[2019-09-05 14:16] roxanaspatariu commented on #2890
Given a process extension in this form, where StartEvent_1 is a reference to a startEvent should not be validated correctly and not throw exceptions
[code]

[2019-09-06 09:12] #2664 closed

[2019-09-06 09:20] ggrnd0 commented on #2882
Ok, that looks like asyncExecution on signalThrow will solve problem.

but only if there will be only one asyncExecutor thread...
if events will processed in parallel in different threads second event will be missed...

but synchronized processInstance access solve this...

but i cannot to write correct test for it.
Why that test do not work?

[code]

[2019-09-06 10:47] roxanaspatariu opened #2891 "Process validation: Validate process name from bpmn file"

[2019-09-06 10:50] roxanaspatariu commented on #2891
This includes validation for the process name inside the bpmn xml file
[code]
Name must:
- be defined
- not be empty
- length must not exceed 26 characters
- match regex
[code]

[2019-09-06 11:25] constantin-ciobotaru opened #2892 "Variable mapping - missing validation when are deleted input/output parameters for a connector"
Steps to reproduce:
1. Create a project.
2. Create a connector "conn1" with an action "action1" with on input parameter ('inputString', type: string) and output parameter ('outputString', type: string).
3. Design the process: Start Event -> Service Task (with conn1, action1) ->End Event
4. Create two Process Variables: 'processVar1: string', 'processVar2: string'
5. Select Service Task -> Mapping

[2019-09-06 18:58] ramunask commented on #2867
I also noticed, that user details service is called quite often and it increases response times in runtime-bundle application. I was thinking about custom wrapper around UserDetailsService which checks if user is already in SecurityContextHolder and skips sending request to original UserDetailsService. But I am not sure if it's good approach. Maybe there are cases, when Activiti runtime engine cal

[2019-09-09 14:24] #2859 closed

[2019-09-09 14:24] roxanaspatariu opened #2896 "Process model content validation: validate call activities"

[2019-09-09 14:28] roxanaspatariu commented on #2896
Make sure that the calledElement inside a process model references a valid process found inside a project.
[code]

[2019-09-10 09:23] ggrnd0 commented on #2882
Not sure, but...

EventThrow (intermidiate/end) nodes behavior must use `commandExecutor.execute(cmd)` for trigger events.

In case of async execution, org.activiti.engine.impl.interceptor.CommandExecutor must convert cmd to AsyncJob and *there default async job execution logic*

[2019-09-10 09:52] ggrnd0 commented on #2882
@salaboy, i think that all...

Shortly
1) all triggers `message/signal/error/etc` and RuntimeService.startProcess* must  use `commandExecutor.execute(cmd)` (RuntimeService.startProcess already use)
2) at least for those commands commandExecutor must handle async=true
3) event subscription discovering must be done inside `cmd.execute()`
4) so long, so far
https://github.com/Activiti/Activiti/blob/c

[2019-09-10 10:06] ggrnd0 opened #2900 "Add configuration parameter for DefaultJobManager.triggerExecutorIfNeeded"
https://github.com/Activiti/Activiti/blob/c8666252c669d89f2c6d7063e4a89aadf6b73175/activiti-engine/src/main/java/org/activiti/engine/impl/asyncexecutor/DefaultJobManager.java#L81-L87

That is not so bad, but in case of load balancing in multi instance deployments that must be disabled...

Just because `DefaultAsyncJobExecutor` do not have any limits for planned jobs inside executorService

[2019-09-10 10:12] #2900 closed

[2019-09-11 09:52] stefan-tabakov commented on #2873
Any ideas what's wrong with this use case?

[2019-09-12 07:21] Mility opened #2905 "The sql for activti 6.0 takes too long"
Query time increase as the amount of data of ACT_RU_TASK increases，look below with 243,747 datas：
[13492,13492ms]org.activiti.engine.impl.persistence.entity.TaskEntityManagerImpl:findTasksByParentTaskId

Suggested optimization！

[2019-09-12 12:46] constantin-ciobotaru opened #2906 "process extensions input and output parameters for tasks should be validated only if the implementation exists"

[2019-09-13 13:49] #2616 closed

[2019-09-14 11:58] rudykh-yaroslav opened #2911 "FailedJobRetryTimeCycle value is not respected for most Activities in v.7?"
Hello!

I am currently using Activiti 7.0.0.Beta1. I have tried to change the default FailedJobRetryTimeCycle value property in my async Subprocess and have discovered it did not work: the default value of 3 retries have never changed. Then I have tried the same with an async ScriptTask. The result was the same. I have confirmed that the explicit FailedJobRetryTimeCycle value I was trying to use w

[2019-09-14 17:09] igdianov commented on #2554
Modeling Service JPA Entity Models also use `@Lob` annotation to store content: https://github.com/Activiti/activiti-cloud-org-service/blob/b00bacba455ba6b8cfd4bbc26883de22a80e22bb/activiti-cloud-services-org/activiti-cloud-services-org-jpa/src/main/java/org/activiti/cloud/services/organization/entity/ModelVersionEntity.java#L58

[2019-09-16 03:30] gitouyoung commented on #2845
Same problem, and `exclude = SecurityAutoConfiguration.class` does not work.
Any suggestion is appreciated.

[2019-09-18 02:51] cverdela opened #2914 "How to add Commets with activiti7"
How to add Commets with activiti7

CommentEntity is Deprecated.

[2019-09-18 07:18] constantin-ciobotaru opened #2915 "Import Project - Can not import a project with an invalid name"
We should allow importing projects with invalid name, but not exporting them.

[2019-09-19 14:10] #2554 closed

[2019-09-19 14:12] rkforevers opened #2916 "Query : How the transaction commit in ACTIVITI"
I have created one application with Hibernate + Spring + Activiti + oracle database. I am building the process engine with spring based configuration.

We have process definition with following structure:

[code]
When i do execute task from userTask1 it enters in userTask2 as i configured Handler it started executing, but create call (op 1) is success but get call (op 2) is fail saying can not fin

[2019-09-20 05:23] roxanaspatariu opened #2917 "Process validation: Service task validation fix"

[2019-09-20 05:23] roxanaspatariu commented on #2917
Current behaviour:
Unexpected error is displayed when no implementation value is defined.

[2019-09-20 18:41] igdianov opened #2921 "Review processInstanceId resolution for event entity inside event aggregator"
That's not the scope of this PR, but we need to review this in the future. This big `if/else` block is really ugly.

_Originally posted by @erdemedeiros in https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/371_

[2019-09-20 20:56] igdianov commented on #2921
@erdemedeiros I agree, We need to address this in the near future, so each concrete event provides its processInstanceId via RuntimeEvent.getEntityProcessInstanceId interface method. It should happen automatically, so each event class implementation provides this method implementation via interface.

[2019-09-20 21:03] igdianov opened #2922 "Runtime error when sending start message to interrupting event subprocess"
@erdemedeiros  There was another problem with run-time error when sending start message to interrupting event subprocess, which we need to address in the near future.

_Originally posted by @igdianov in https://github.com/Activiti/activiti-cloud-runtime-bundle-service/pull/371#issuecomment-533708031_

[2019-09-25 05:10] igdianov opened #2926 "Enforcing strict task=>process variable mapping behavior"
Currently, the variable mapping behavior allows to skip mapping task variables for non-existing process variables. This is not a good idea to skip explicitly defined mapping because some downstream activities may rely on the process instance variable value to be present when the task is completed.

As a result, the missing mapping problem is propagated downstream causing more problems. It will mak

[2019-09-26 08:56] #2922 closed

[2019-09-27 09:01] albans commented on #1475
Hello,

Almost same settings than @EduFrazao, same remark. We have duplicated process variables (same process instance, same execution identifier). We are also in a situation where the process instance raises several user tasks,  but the user-tasks themselves are not multi-instance. Instead they are part of a multi-instance embedded sub-process.

If I retry the failed job, it fails again for the s

[2019-09-27 10:02] 4codingHu commented on #1475
Got it.

Thx

[2019-09-30 01:02] syl1212 opened #2928 "BaseBpmnXMLConverter FailedJobRetryCountExport should check didWriteExtensionStartElement"
FailedJobRetryCountExport.writeFailedJobRetryCount(activity, xtw);
I think this should check if has write start element, because the xml defined that
<extensionElements>
       <activiti:failedJobRetryTimeCycle>R5/PT1M</activiti:failedJobRetryTimeCycle>
</extensionElements>
so,  I think it shold be like below Right?
didWriteExtensionStartElement =  FailedJobRetryCountExport.writeFailedJobRetryCoun

[2019-10-01 10:19] #2637 closed

[2019-10-01 16:16] #2743 closed

[2019-10-01 16:17] #2886 closed

[2019-10-01 16:31] #2855 closed

[2019-10-02 09:26] mohghin opened #2929 "Activiti engine mysql script not in sync"
starting from version 7.1.0.M3, there is a bug introduced when using mysql as db.
I think  activiti.mysql.create.engine.sql is not updated to reflect the last changes in data model.

Query is: insert into ACT_RE_DEPLOYMENT(ID_, NAME_, CATEGORY_, KEY_, TENANT_ID_, DEPLOY_TIME_, ENGINE_VERSION_, VERSION_, PROJECT_RELEASE_VERSION_)
    values(?, ?, ?, ?, ?, ?, ?, ?, ?), parameters ['5bf8c11b-e4f5-11e

[2019-10-02 09:36] #2258 closed

[2019-10-02 11:34] erdemedeiros commented on #2491
Unable to reproduce it in 7.1.0.M4

[2019-10-02 11:34] #2491 closed

[2019-10-02 12:05] #2746 closed

[2019-10-02 14:03] #2691 closed

[2019-10-02 14:05] erdemedeiros opened #2930 "[BPMN] Support for Error Event and Event Sub-Process"
Enable Error Event and Event Sub-process:
- modeling app
- cloud events

[2019-10-02 14:08] erdemedeiros opened #2931 "[BPMN] Add support to Terminate Event"
Enable BPMN Terminate event:

- modeling app
- cloud events

[2019-10-02 14:16] #2931 closed

[2019-10-02 14:17] #2930 closed

[2019-10-02 14:35] #2876 closed

[2019-10-03 11:01] ggrnd0 commented on #2916
command call inside commandContext will reuse ctx & transaction with default settings.

behaviour managed by processengineConfiguration.defaultCommandConfig

commandCOntext also contains entity cache.? so you can try to find P1,K1 there instead of DB
Activiti EntityManagers supports that cache.

[2019-10-03 11:40] ggrnd0 commented on #2905
`  <select id="selectTasksByParentTaskId" parameterType="org.activiti.engine.impl.db.ListQueryParameterObject" resultMap="taskResultMap">
    select * from ${prefix}ACT_RU_TASK where PARENT_TASK_ID_ = #{parameter}
  </select>`

you might add index on PARENT_TASK_ID_ ...

[2019-10-03 18:30] igdianov commented on #1399
The component scan problem primarily affects how the different modules are discovered and configured in the Spring Boot application context. It causes same beans to accidentally override each other with unpredictable effects, i.e. globally named beans like security, scheduling, datasource, etc. It used to be common practice until SB 2.1 has disabled bean overriding behavior to make people aware of

[2019-10-07 09:19] #2717 closed

[2019-10-07 15:05] miguelruizdev commented on #2929
Issue tracked in Jira: https://issues.alfresco.com/jira/browse/AAE-531

[2019-10-07 15:17] #1399 closed

[2019-10-08 17:22] openwave11 opened #2936 "Hello.When actiBPM is updated, on IntelliJ IDEA？"
Hello.
When actiBPM is updated, on IntelliJ IDEA？
The current version is 3.E-8, updated on November 11, 2014.
Unable to display tasklistener。
how can i do?

[2019-10-09 03:23] hfye commented on #2929
Is there any support for mariadb as well?

[2019-10-09 08:54] igdianov opened #2937 "The Activiti `Authentication` uses `ThreadLocal` to set authenticated user name from"
`KeycloakActivitiAuthenticationProvider`. The problem is that `ThreadLocal` never gets to clear by calling `remove()`, so it is possible the previously authenticated user name may get hijacked by another thread in the thread pool. It may also cause memory leaks

https://github.com/Activiti/Activiti/blob/1942b955549ce67698c9df44c256817c9593f974/activiti-engine/src/main/java/org/activiti/engine/impl

[2019-10-11 00:03] #2845 closed

[2019-10-11 10:25] bikabdel opened #2944 "404 path":"/modeling-service/modeling-service/v1/projects""
![toto](https://user-images.githubusercontent.com/38707032/66644847-da297b80-ec19-11e9-98bc-1250c819edfb.png)

[2019-10-12 10:03] bhushanshelke commented on #2152
Any update on this, ETA?

Thanks

[2019-10-12 10:23] salaboy commented on #2152
@bhushanshelke I don't work in the project anymore, but as you can see this was reported 12 Nov 2018 and marked with "risk" so ...

[2019-10-12 10:28] bhushanshelke commented on #2152
@salaboy thanks for quick response. @daisuke-yoshimoto is there any alternative/workaround to this in v7.0.0.SR1? like suspend resume combination?

[2019-10-12 11:34] mkawczynski07 commented on #2152
@bhushanshelke we found a solution. :)

First, in the diagram, you have to use e.g. **IntermediateCatchEvent**:
[code]

Then from the code, you can send signal like this:
[code]

Where:
- **messageName** in this example will be **callback.test-1**
- runtimeService is an instance of **org.activiti.engine.RuntimeService**. If you use spring then you will be able to inject this service.

[2019-10-13 08:31] bhushanshelke commented on #2152
@marek thank you for looking in this, I did explore the option of
intermediatecachedevent, however perhaps my understanding was not correct
about runtimeservice, the examples I have seen so far for activiti 7, none
of them show that we can use runtimeservice directly. There are other
methods in runtimeservice as well which seems to fit the bill, I think
“trigger” is one of’em, where we can pass ex

[2019-10-13 17:26] bhushanshelke commented on #2152
@mkawczynski07 I have been thinking about solution you guys found, glad it worked for you guys, but from little understanding I have about v7 changes, it doesn't seem correct, especially use of RuntimeService as mentioned above. Have Activiti contributers agreed/confirmed that this is indeed is correct way to achieve this?

[2019-10-14 05:16] mkawczynski07 commented on #2152
It is a workaround but it works. We have to use it because we have to fulfill our requirements.

[2019-10-15 11:06] miguelruizdev commented on #2929
No, currently there is no support for MariaDB.
We support MySQL though, so maybe you can work around this if we don't hit any incompatibilities between the two: https://mariadb.com/kb/en/library/mariadb-vs-mysql-compatibility/

[2019-10-17 11:54] qin commented on #2944
change to use version "7.1.M3" for now

[2019-10-17 12:04] bikabdel commented on #2944
@qin thank you so much, but i can't find the installer for it

[2019-10-17 12:16] bikabdel commented on #2944
Thank you @qin

[2019-10-17 12:16] #2944 closed

[2019-10-18 17:55] lchiesa2000 opened #2948 "Unknown error happened during the loading of projects."
![Cattura](https://user-images.githubusercontent.com/5500504/67116321-79351100-f1e0-11e9-9406-b159a063e901.PNG)

I installed activiti with docker toolbox to evaluate activiti for my project but I have the following error

I try to change the version to 7.1.0.M3 but the problem persists

Can you help me ?

Thanks
Luca Chiesa

[2019-10-18 18:18] lchiesa2000 commented on #2948
The problem will seem the rest path /modeling-service/modeling-service/v1/projects?maxItems=25&page=0&size=25
If I remove the double modeling-service in the path /modeling-service/v1/projects?maxItems=25&page=0&size=25 the rest answers

[2019-10-18 18:33] lchiesa2000 commented on #2948
Solved removing   modeling-service from
 APP_CONFIG_BPM_HOST: "http://${DOCKER_IP}/modeling-service"
Therefore now I have
 APP_CONFIG_BPM_HOST: "http://${DOCKER_IP}"

[2019-10-20 06:26] j209 opened #2949 "Kotlin support?"
Can we use activity with kotlin lang?

[2019-10-21 11:35] bikabdel commented on #2948
change proxy_pass value in nginx.conf like this

 location ~ ^/modeling-service/?(.*)$ {
            resolver 127.0.0.11 ipv6=off;
            set $upstream activiti-cloud-modeling-backend:8080;

            proxy_pass         http://$upstream/$1?$args;
            proxy_redirect     off;
            proxy_set_header   Host $host;
            proxy_set_header   X-Real-IP $remote_addr;

[2019-10-21 12:38] paksboda commented on #1537
@salaboy @daisuke-yoshimoto
Do you have any idea if this issue is fixed or not in last release i.e. v5.23.0 (Aug-2019). I am facing simillar issue but not sure if it is because of this or some configuration problem from my side. Please update status if you have any update.

[2019-10-21 12:42] salaboy commented on #1537
@paksboda I do not work on the project anymore .. so don't expect any status update from my side.. also check the activity of the 5.x branch.. you might get an idea if things are progressing there or not. HTH

[2019-10-23 10:07] paksboda commented on #1537
@daisuke-yoshimoto
I tried latest release i.e. v5.23.0 (Aug-2019) of Activiti 5.x and it works perfectly fine with multiple tenants if you have proper implementation of TenantAwareDataSource and TenantInfoHolder. It is creating activiti schema on different tenant schema and I am using single ProcessEngine with MultiSchemaMultiTenantProcessEngineConfiguration. I tried it on oracle and it works fine

[2019-10-28 20:22] moskiteau commented on #2885
+1

[2019-11-01 22:22] #2802 closed

[2019-11-05 03:35] 123lwq commented on #2929
请问一下activiti7版本的数据库多数据源怎么设置？

[2019-11-05 08:18] jonny-jiang opened #2962 "I found a problem"
When I complete a task with variables, then got an exception as follow:
org.apache.ibatis.exceptions.PersistenceException:
### Error updating database.  Cause: java.sql.SQLException: 违反引用约束[ACT_FK_VAR_EXE]
### The error may involve org.activiti.engine.impl.persistence.entity.ExecutionEntityImpl.deleteExecution-Inline
### The error occurred while setting parameters
### SQL: delete from ACT_RU_EXECU

[2019-11-05 08:51] jonny-jiang commented on #2962
the next flow element is end event

[2019-11-05 09:17] jonny-jiang commented on #2962
completing with transient variables

[2019-11-07 04:14] nicholasKC commented on #2944
I also have this problem. I solve it.
1. find nginx.conf file
cd <your path>/activiti/activiti-cloud-examples/docker-compose
2. open nginx.conf and find the configuration of modeling-service
change 'proxy_pass         http://$upstream/modeling-service/$1?$args;'
to 'proxy_pass         http://$upstream/$1?$args;'
3. make down
4. make modeler
access modeler again, there are no mistakes

[2019-11-07 15:59] erdemedeiros opened #2966 "Change task, processes, messages payloads to contain application version field"
As a developer
I want the task/process/message api payload to contain the application version
So that other services consuming the api are aware of the application version

AC's

Introduce new application version field, it will be needed to be retrievable from query service api, runtime bundle api and messaging, the entities process definition, process instance and task instance should contain thi

[2019-11-07 16:44] miguelruizdev commented on #2929
Ni ne provizas tiun funkcion el la skatolo, rigardu ĉi tiun gvidilon pri kiel arkitekturi ĉi tiun solvon: https://www.javadevjournal.com/spring-boot/multiple-data-sources-with-spring-boot/

[2019-11-11 05:15] dhrn opened #2969 "[Multi Instance] Tasks are not updated in query service once cancelled because the completion condition has been reached"
**Component:-**
Multi-Instance

Runtime Bundle is not sending the event once completion condition expression passed

**Current Behaviour:-**
When this expression evaluates to true, Still tasks are available in the pending list for query service, while they have been cancelled in the runtime-bundle due to the complication condition.

**Expected Behaviour:-**
When this expression evaluates to true,

[2019-11-12 07:10] dhrn opened #2972 "[Multi instance] The audit log 'ACTIVITY_COMPLETED' for Service-task is not logged"
The audit log 'ACTIVITY_COMPLETED' for Service-task is not logged
**Steps to reproduce the issue:**

Create a process with service-task in it (multiple-instance - parallel, with cardinality=3), in the modeling-app.
Deploy the app
Trigger the process-instance for the above process-definition.
The service-task is executed and the process instance is in 'Completed' status.
Check the audit logs using

[2019-11-13 20:50] rgauss commented on #2765
Apologies, I've only seen this particular issue today.

We're looking to standardize on the realm being used and we'd prefer to not require that the groups be included in the Alfresco Identity Management Service JWT for a number of reasons including:
* Size of the JWT (which you mentioned above) since users could easily be a member of 100s of groups (we have some cases where that is in the 1000s)

[2019-11-13 22:58] igdianov commented on #2765
@rgauss The UserGroupManager implementation makes 2 REST calls to Keycloak because it does not have subject UUID associated with the preferred user name used in Activiti. There is no easy way around it, so that SecurityManager implementation had been redesigned to use a chain of user group providers that can try to resolve groups from different sources, i.e. JWT token or fall back to Keycloak REST

[2019-11-13 23:00] rtenhove opened #2979 "Security vulnerabilities in Activiti 6.0.0 dependencies"
Activiti 6.0.0 (using the spring-boot-starter-basic module) brings in a number of dependencies that have known security vulnerabilities. These can be addressed by upgrading to more recent versions.

Vulnerable artifact(s) | Updated version* | CVE(s) addressed
------------------- | --------------- | ------
commons-email:1.4 | 1.4.1 | CVE-2017-9801  and CVE-2018-1294
tomcat-*:8.5.31 | 8.5.35-atlassi

[2019-11-13 23:06] igdianov commented on #2765
In summary, the refactoring of SecurityManager to resolve user groups is not opinionated. The first provider in the chain will try to resolve groups from JWT token. If the groups claim is not present, the fallback provider will use Keycloak client to make REST call using subject UUID. It is up to the user to configure the client in the realm to provide custom groups claim based on the preference f

[2019-11-13 23:57] rgauss commented on #2765
Right, it did not previously have the UUID. It could (perhaps should) have had access to it in addition to or even instead of the username via the security manager, but my point is that with your refactoring it is now much easier to get that UUID from the access token instead of a separate REST call.

I don't doubt there's significant improvement when packing the groups into the JWT vs the previou

[2019-11-14 00:16] igdianov commented on #2765
What are these means? The simplest solution is usually the most effective because there are less moving pieces that could break, IMO.

It is the best practice to limit TTL of the access token to under 60 seconds to mitigate any security risk. The TTL should be fine tuned to allow to perform complex business operation by calling several Rest Apis, i.e. Send command to Rb, and then request to Query

[2019-11-14 02:29] igdianov commented on #2765
To add more food for thought, we should consider removing Keycloak Admin Client wrapper from Rb at some point, because it represents security backdoor into Keycloak Realm via Rest Api using admin user credentials in the Rb configuration.

Using access token to provide authenticated user groups and roles is much more secure and does not require leaking Keycloak admin user credentials via configurat

[2019-11-14 06:54] dhrn opened #2980 "[AAE-94] Tasks cancelled by Start Message Event are not updated in query service"
Tasks cancelled by an interrupting Message Start Event Subprocess are not updated in the query service, where they remain in the running status.

**Current Behaviour:**

Trigger the receiveMessage API call: the task in the event subprocess is instantiated as expected, but the task in the main process is still running instead of getting cancelled in the query service.

**Expected Behaviour:**

As i

[2019-11-14 12:11] rgauss commented on #2765
We've discussed that as well and may change the default lifespan in the future, and ADF based apps will actually check for an active Keycloak session every 30 seconds to ensure no logout has occurred, but we may encounter use cases where even 1 min is too long.

Looks great, thanks.

That would be very helpful, thanks.

We definitely don't want to expose 'super' admin credentials, though we will l

[2019-11-14 20:10] igdianov commented on #2765
The custom group claim can be applied for realm's client configuration as needed, so it is possible to accommodate clients with large number of groups where token size is going to be an issue.

[2019-11-14 20:30] rgauss commented on #2765
Yes, that comment was in response to 'removing Keycloak Admin Client wrapper from Rb at some point'.

[2019-11-15 08:05] anryHan opened #2983 "ProcessDefinitionUtil.getProcess NullPointerException"
version ： activiti-engine-7.1.0.M3.1
ProcessDefinitionUtil.java Line 54,
![image](https://user-images.githubusercontent.com/13831076/68926993-b5e52f80-07c1-11ea-81b9-447c1a88fd6d.png)

[2019-11-15 11:30] ggrnd0 commented on #2983
You must not call any *Utils in any way.

try `reposituryService.getBpmnModel(...).getProcessById(...) // or getMainProcess()`

[2019-11-15 15:42] balsarori commented on #2983
ProcessDefinitionUtil can be only called in an active context. You try what @ggrnd0 suggested.

[2019-11-15 17:23] mteodori commented on #2765
@igdianov @rgauss let's try to have some results of embedded vs. non embedded groups performance first, I will organise a meeting for monday so we can take a decision on this thanks

[2019-11-15 17:31] igdianov commented on #2765
Sounds good. I will have the results in ELK for Monday.

[2019-11-16 17:38] mksrepo opened #2987 "Starting a process instance by a message event doesn't store the business key"
I'm trying to initiate a process-instance using below code with the expectation of business key will be stored.
ProcessInstance processInstance = runtimeService.startProcessInstanceByMessage(
				// Message name
				"proposalPostback",
				// Business key
				proposalId,
				// Proposal map
				Map.of("proposal", proposal));

But, I'm getting null with below code.
processInstance.getBusinessKey();

[2019-11-17 07:13] mksrepo opened #2988 "How to override table name that has been created by Activiti?"
I want to give my customise table name as per our project standard that has been already created by Activiti. Is there any way to achieve that?

[2019-11-17 09:21] #2983 closed

[2019-11-18 06:35] loraclaa commented on #1685
Any update about this subject?We encounter the same question, and I deleted juel-spi, tomcat works.But I am not sure whether this lack jar will effect the main course of the Activiti6.0.0. Since this has  been marked as bug, which branch of 6.X will this be settled @daisuke-yoshimoto

[2019-11-18 08:32] dhrn opened #2989 "Subprocess ACTIVITY_COMPLETED event is not emitting"
**Steps to reproduce**
 1. Create a process with embedded subprocess
 2. Deploy the app and start process
 3. go through the defined flow and completed it
 4. check audits for subprocess element id.

**Current behavior**
No ACTIVITY_COMPLETED event found

**Expected behavior**
we should get one ACTIVITY_COMPLETED for subprocess element

[2019-11-18 14:50] zoltanpalfi opened #2991 "Update Spring Bood and Spring Cloud to 2.1.10.RELEASE and Greenwich.SR3"
This is in order to fix a polymorphic typing issue that was discovered in FasterXML jackson-databind before 2.9.10 (CVE-2019-16335)
To fix it, we need to update spring-boot to 2.1.10 and spring-cloud to Greenwich.SR3

[2019-11-18 22:17] igdianov commented on #2765
For the record, here is the captured response time metrics for access token without groups (left) and with groups (right) claim in milliseconds:

**Complete Task**
![image](https://user-images.githubusercontent.com/20428629/69097621-c38df580-0a0b-11ea-8432-084522a0af87.png)

**Claim Task**
![image](https://user-images.githubusercontent.com/20428629/69098702-f20cd000-0a0d-11ea-804e-e151c29e5498.png

[2019-11-19 09:06] #2969 closed

[2019-11-19 10:19] banuidp opened #2992 "it's conflict with mybatis-plus"
Description:

An attempt was made to call a method that does not exist. The attempt was made from the following location:

    com.baomidou.mybatisplus.core.MybatisMapperAnnotationBuilder.getLanguageDriver(MybatisMapperAnnotationBuilder.java:369)

The following method did not exist:

    com.baomidou.mybatisplus.core.MybatisConfiguration.getLanguageDriver(Ljava/lang/Class;)Lorg/apache/ibatis/scrip

[2019-11-19 10:41] jjava commented on #2666
The method that start async job can not be transactional. You can change the spring transaction config ,for example ,remove the annotation @Transactional from the method.

[2019-11-19 12:13] rgauss commented on #2765
Excellent work!

Do you happen to have the numbers for the previous code which included the additional REST call to Keycloak to search by username?  I think on the call you said on the claim task was previously taking 1400 - 2000 ms?

[2019-11-19 14:09] erdemedeiros commented on #1691
Release notes: mention new starter.

[2019-11-19 15:56] igdianov commented on #2765
Yes, here is the capture of the Claim Task operation that made additional Search by user name Rest Api call to resolve subject UUID:

![image](https://user-images.githubusercontent.com/20428629/69162795-08fd0200-0aa2-11ea-9773-933c99a2c06f.png)

[2019-11-20 10:00] brunommarques commented on #2010
I got this NPE in activiti 6. Are you able to provide a patch?

[2019-11-20 10:01] brunommarques commented on #2010
I got activiti 6 jars from maven.

[2019-11-21 10:55] 6671246 commented on #2387
I have this problem when integrating into springcloud.greenwich.sr2. Is there any solution

The bean 'methodSecurityInterceptor', defined in class path resource [org/activiti/spring/boot/MethodSecurityConfig.class], could not be registered. A bean with that name has already been defined in class path resource [org/springframework/security/config/annotation/method/configuration/GlobalMethodSecurity

[2019-11-21 23:33] magemello opened #2997 "All Deployment strategy are ignored when no file is present"
The property ```spring.activiti.deploymentMode``` allows configuring the deploymentmode, but the parameter is ignored when no definition file is present.

To avoid to ignore it and allow the developer to choose the deployment strategy, the check that controls if resource ara available before loading the strategy should be removed in order to leave the choice to the developer.

https://github.com/A

[2019-11-22 14:05] #2997 closed

[2019-11-22 14:24] #2980 closed

[2019-11-25 15:03] erdemedeiros opened #3000 "Remove activiti-cloud-app-service from releases"
This is an experimental project that is not priority now.

[2019-11-26 15:38] #2765 closed

[2019-11-26 15:40] #2991 closed

[2019-11-26 15:41] #1691 closed

[2019-11-26 15:41] #3000 closed

[2019-11-27 09:09] erdemedeiros opened #3002 "Add support for BPMN multi-instances"
Add support for multi-instantiated activities.
- modeling app
- cloud events

[2019-11-27 09:10] #3002 closed

[2019-11-27 10:40] ZoolYe opened #3003 "I need to modify the source code of activiti-engine5.22.0. After modifying the source code, Maven: package (skiptests), the project cannot be started"
Activiti engine can't support DM database. I need to modify `ProcessEngineConfigurationImpl.java` to add `databaseTypeMappings.setProperty ("DM DBMS", database_type_oracle)`; but Maven: package unit test can't pass. I add `< skiptests > true < / skiptests >` in pom.xml. After successful packaging, I start it in the project and report an error:

`org.springframework.beans.factory.UnsatisfiedDepende

[2019-11-27 10:53] erdemedeiros opened #3004 "[Modelling App] sort the list of projects by: creation date, last modified date, owner, etc..."
Currently, the list of projects cannot be sorted/filtered.
As a modeler, I need to be able to easily sort the list of projects by: creation date, last modified date, creator, last modified by me, etc...

[2019-11-27 10:54] #3004 closed

[2019-11-27 10:56] erdemedeiros opened #3005 "DateTime type variables in the Extensions Editor"
As a modeler i would like to have the ability of creating datetime process variables so that i can used them for timers, due date properties and so on.

The front end part has been already implemented but it's lacking the BE part, probably this is only the schema preventing the usage of unrecognized types.

The BE Validator is raising the following error:

#/extensions/properties/9bfde6a1-8f82-499

[2019-11-27 10:57] #3005 closed

[2019-11-27 11:03] erdemedeiros opened #3006 "Error events are lost on process import"
Steps to replicate the issue:
1. In Modeling app, define a new process with `Start Event` and `End Event`
2. On the `End Event`, set the type to `Error End Event`
3. Define a new error (Select the End Event and click on `+` from the Properties panel)
4. Save and export the process
5. Import the process

Expected result: Error element is available in the XML
Actual result: Error element is removed

[2019-11-27 11:04] #3006 closed

[2019-11-27 11:11] erdemedeiros opened #3007 "Import/Export a project with Call Activiti lost called process"
How to reproduce it:

Create a project with one process, in this process use the call activiti to call another process in the project.
Export the project
Import the project**
Actual behaviour:

The imported project lost the name of the called process in the call activiti task.

Expected behaviour:

Once imported the project should still have a correct called activiti calling another process.

[2019-11-27 11:11] #3007 closed

[2019-11-27 12:06] erdemedeiros opened #3008 "Import of a process intermediateThrowEvent, intermediateCatchEvent lost incoming, outgoing elements"
1. By import of a process intermediateThrowEvent, intermediateCatchEvent lost incoming, outgoing elements

Source:
[code]
After Import
[code]
2. intermediateCatchEvent has a prefix for id: "IntermediateThrowEvent_" which can be misleading

[2019-11-27 12:08] #3008 closed

[2019-11-27 12:21] erdemedeiros opened #3009 "Support expressions on input variable mapping"
Input variables mapping should support expressions:

[code]
`${name}`, `${age}` and `${resident}` should be replaced by the related process variable values.

[2019-11-27 12:23] #3009 closed

[2019-11-27 15:04] pitesta opened #3011 "ORA-00904: "PROJECT_RELEASE_VERSION_": invalid identifier"
Error using Activiti Engine 7.1.0.M5 version

### Error updating database.  Cause: java.sql.SQLSyntaxErrorException: ORA-00904: "PROJECT_RELEASE_VERSION_": invalid identifier

### The error may exist in org/activiti/db/mapping/entity/Deployment.xml
### The error may involve org.activiti.engine.impl.persistence.entity.DeploymentEntityImpl.insertDeployment-Inline
### The error occurred while setting

[2019-11-27 15:23] pitesta commented on #3011
The field **PROJECT_RELEASE_VERSION_**is defined only in the create script of activiti.h2.create.engine.sql and not in others database script!

[2019-11-27 16:23] ggrnd0 opened #3012 "Some 6.0.0.4 to 7.0.0.0/7.0.0.0 to 7.1.0.0 missed"
For db2 h2 hsql mssql mysql mysql55 oracle
But not for postgres...

That is new development model?

[2019-11-28 10:20] ggrnd0 opened #3013 "7.0 dependencies conflict"
javax.el:el-api:2.2 > javax.el.BeanELResolver conflicts with de.odysseus.juel:juel-api:2.2.7  > javax.el.BeanELResolver

in javax.el:el-api:2.2 javax.el.BeanELResolver.invokeMethod has the distinctive feature
[code]

[2019-11-29 10:47] miguelruizdev opened #3015 "Updates to engine database scripts"
The create SQL scripts should reflect the latest state of all the applied update scripts.
Currently, it's missing the latest changes adding the columns VERSION_ and PROJECT_RELEASE_VERSION_ to the ACT_RE_DEPLOYMENT table.